force-app/main/default/flows/Build_Carrier_Orders_from_Benefit_Order.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>addCarrierOrderToSet</name>
        <label>addCarrierOrderToSet</label>
        <locationX>330</locationX>
        <locationY>634</locationY>
        <assignmentItems>
            <assignToReference>carrierOrders</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>carrierOrder</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>forPolicies</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>createCarrierOrder</name>
        <label>createCarrierOrder</label>
        <locationX>331</locationX>
        <locationY>400</locationY>
        <assignmentItems>
            <assignToReference>carrierOrder.Carrier__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>policy.Carrier__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>carrierOrder.Benefit_Order__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>benefitOrder.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>isCarrierOrderInSet</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>doPoliciesExist</name>
        <label>doPoliciesExist?</label>
        <locationX>84</locationX>
        <locationY>269</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>policiesExist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>policies</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>forPolicies</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>isCarrierOrderInSet</name>
        <label>isCarrierOrderInSet</label>
        <locationX>330</locationX>
        <locationY>512</locationY>
        <defaultConnector>
            <targetReference>addCarrierOrderToSet</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>no</defaultConnectorLabel>
        <rules>
            <name>yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>carrierOrders</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>carrierOrder</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>forPolicies</targetReference>
            </connector>
            <label>yes</label>
        </rules>
    </decisions>
    <interviewLabel>Build Carrier Orders from Benefit Order {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Build Carrier Orders from Benefit Order</label>
    <loops>
        <name>forPolicies</name>
        <label>forPolicies</label>
        <locationX>83</locationX>
        <locationY>401</locationY>
        <assignNextValueToReference>policy</assignNextValueToReference>
        <collectionReference>policies</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>createCarrierOrder</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>insertCarrierOrders</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>insertCarrierOrders</name>
        <label>insertCarrierOrders</label>
        <locationX>80</locationX>
        <locationY>640</locationY>
        <inputReference>carrierOrders</inputReference>
    </recordCreates>
    <recordLookups>
        <name>getBenefitOrder</name>
        <label>getBenefitOrder</label>
        <locationX>80</locationX>
        <locationY>53</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getPolicies</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>benefitOrderId</elementReference>
            </value>
        </filters>
        <object>Benefit_Order__c</object>
        <outputReference>benefitOrder</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Opportunity__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>getPolicies</name>
        <label>getPolicies</label>
        <locationX>82</locationX>
        <locationY>157</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>doPoliciesExist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Carrier_Order__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Is_Selected__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>benefitOrder.Opportunity__c</elementReference>
            </value>
        </filters>
        <object>Policy__c</object>
        <outputReference>policies</outputReference>
        <queriedFields>Carrier__c</queriedFields>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <startElementReference>getBenefitOrder</startElementReference>
    <status>Active</status>
    <variables>
        <name>benefitOrder</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Benefit_Order__c</objectType>
    </variables>
    <variables>
        <name>benefitOrderId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>carrierOrder</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Carrier_Order__c</objectType>
    </variables>
    <variables>
        <name>carrierOrders</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Carrier_Order__c</objectType>
    </variables>
    <variables>
        <name>policies</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Policy__c</objectType>
    </variables>
    <variables>
        <name>policy</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Policy__c</objectType>
    </variables>
</Flow>
