force-app/main/default/flows/Build_Carrier_Order_from_Policy.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>createCarrierOrder</name>
        <label>createCarrierOrder</label>
        <locationX>86</locationX>
        <locationY>590</locationY>
        <assignmentItems>
            <assignToReference>carrierOrder.Benefit_Order__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>benefitOrder.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>carrierOrder.Carrier__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>policy.Carrier__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>insertCarrierOrder</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>doesBenefitOrderExist</name>
        <label>doesBenefitOrderExist?</label>
        <locationX>93</locationX>
        <locationY>266</locationY>
        <defaultConnectorLabel>no</defaultConnectorLabel>
        <rules>
            <name>benefitOrderYes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>benefitOrder</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getCarrierOrder</targetReference>
            </connector>
            <label>yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>doesCarrierOrderExist</name>
        <label>doesCarrierOrderExist?</label>
        <locationX>92</locationX>
        <locationY>468</locationY>
        <defaultConnectorLabel>yes</defaultConnectorLabel>
        <rules>
            <name>no</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>carrierOrder</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>createCarrierOrder</targetReference>
            </connector>
            <label>no</label>
        </rules>
    </decisions>
    <interviewLabel>Build Carrier Order from Policy {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Build Carrier Order from Policy</label>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>insertCarrierOrder</name>
        <label>insertCarrierOrder</label>
        <locationX>90</locationX>
        <locationY>689</locationY>
        <inputReference>carrierOrder</inputReference>
    </recordCreates>
    <recordLookups>
        <name>getBenefitOrder</name>
        <label>getBenefitOrder</label>
        <locationX>94</locationX>
        <locationY>171</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>doesBenefitOrderExist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Closed__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Fulfilled__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>policy.Opportunity__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Renewal Alignment</stringValue>
            </value>
        </filters>
        <object>Benefit_Order__c</object>
        <outputReference>benefitOrder</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>getCarrierOrder</name>
        <label>getCarrierOrder</label>
        <locationX>91</locationX>
        <locationY>370</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>doesCarrierOrderExist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Benefit_Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>benefitOrder.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Carrier__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>policy.Carrier__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Closed__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Carrier_Order__c</object>
        <outputReference>carrierOrder</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>getPolicy</name>
        <label>getPolicy</label>
        <locationX>93</locationX>
        <locationY>75</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getBenefitOrder</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>policyId</elementReference>
            </value>
        </filters>
        <object>Policy__c</object>
        <outputReference>policy</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Carrier__c</queriedFields>
        <queriedFields>Opportunity__c</queriedFields>
    </recordLookups>
    <startElementReference>getPolicy</startElementReference>
    <status>Draft</status>
    <variables>
        <name>benefitOrder</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Benefit_Order__c</objectType>
    </variables>
    <variables>
        <name>carrierOrder</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Carrier_Order__c</objectType>
    </variables>
    <variables>
        <name>policy</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Policy__c</objectType>
    </variables>
    <variables>
        <name>policyId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
