force-app/main/default/flows/Case_Modern_Bank_SubFlow_Helper.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Send email alert that case was auto solved.</description>
        <name>Notify_customers_40_hours_after_the_case_is_responded</name>
        <label>Notify customers 40 hours after the case is responded</label>
        <locationX>446</locationX>
        <locationY>734</locationY>
        <actionName>Case.Engagement_Notifiy_customers_40_hours_after_the_case_is_responded</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Reset_Automation_Fields</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>objCase.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Engagement_Notifiy_customers_40_hours_after_the_case_is_responded</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Acknowledgement_Email</name>
        <label>Send Acknowledgement Email</label>
        <locationX>314</locationX>
        <locationY>398</locationY>
        <actionName>Case.Engagement_Modern_Bank_Send_Case_Acknowledgement_Email</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Automation_Message_Email_Alert</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>objCase.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Engagement_Modern_Bank_Send_Case_Acknowledgement_Email</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Savings_Email_ACK</name>
        <label>Send Savings Email ACK</label>
        <locationX>50</locationX>
        <locationY>398</locationY>
        <actionName>Case.Engagement_Modern_Bank_Savings_Acknowledgement_Email</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Automation_Message_Email_Alert</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>objCase.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Engagement_Modern_Bank_Savings_Acknowledgement_Email</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_UnAuthorized_Email_Notification</name>
        <label>Send UnAuthorized Email Notification</label>
        <locationX>842</locationX>
        <locationY>398</locationY>
        <actionName>Case.Engagement_Modern_Bank_Send_UnAuthorized_Email_Notification</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Automation_Message_Email_Alert</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>objCase.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Engagement_Modern_Bank_Send_UnAuthorized_Email_Notification</nameSegment>
    </actionCalls>
    <actionCalls>
        <description>This invokable method will skip CaseTriggerHelper class.</description>
        <name>Skip_Trigger</name>
        <label>Skip Trigger</label>
        <locationX>314</locationX>
        <locationY>1190</locationY>
        <actionName>CaseTriggerHelper</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Was_Case_Updated</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Was_Case_Updated</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>booleanList</name>
            <value>
                <elementReference>blnSkipTrigger</elementReference>
            </value>
        </inputParameters>
        <nameSegment>CaseTriggerHelper</nameSegment>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <assignments>
        <description>Add objCase record to Case list for DML update.</description>
        <name>Add_objCase_to_list_Cases</name>
        <label>Add objCase to list_Cases</label>
        <locationX>314</locationX>
        <locationY>1562</locationY>
        <assignmentItems>
            <assignToReference>list_Cases</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>objCase</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_objCase</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Initializing Fault Line details for fault paths in objExceptionLogEvent record.</description>
        <name>Initializing_Fault_Line_Details</name>
        <label>Initializing Fault Line Details (Add Logic below this node)</label>
        <locationX>578</locationX>
        <locationY>158</locationY>
        <assignmentItems>
            <assignToReference>objExceptionLogEvent.Message__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>strExceptionLogMessage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objExceptionLogEvent.EventUuid</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.InterviewGuid</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objExceptionLogEvent.Method_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentStage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objExceptionLogEvent.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Flow</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Modern_Bank_Route</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>After Auto solve email alert was sent reset Automation Message and Automation Status.</description>
        <name>Reset_Automation_Fields</name>
        <label>Reset Automation Fields</label>
        <locationX>446</locationX>
        <locationY>854</locationY>
        <assignmentItems>
            <assignToReference>objCase.Automation_Message__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objCase.Automation_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>blnSkipTrigger</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Skip_Case_Trigger</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Update objExceptionLogMessage with Fault Line details.</description>
        <name>Update_objCase_Failed</name>
        <label>Update objCase Failed</label>
        <locationX>578</locationX>
        <locationY>1802</locationY>
        <assignmentItems>
            <assignToReference>objExceptionLogEvent.Method_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentStage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Exception_Log_Event</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>If Automation Message field on Case is populated for an email alert this decision will rout to the path with the correct email alert. Please add your email alert here if you are using the automation message field.</description>
        <name>Automation_Message_Email_Alert</name>
        <label>Automation Message Email Alert</label>
        <locationX>578</locationX>
        <locationY>614</locationY>
        <defaultConnector>
            <targetReference>Skip_Case_Trigger</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Auto_Solve</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>objCase.Automation_Message__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Auto Solve Email Alert</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>objOldCase.Automation_Message__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>objCase.Automation_Message__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>objCase.Automation_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Started</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>objOldCase.Automation_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>objCase.Automation_Status__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Notify_customers_40_hours_after_the_case_is_responded</targetReference>
            </connector>
            <label>Auto Solve</label>
        </rules>
    </decisions>
    <decisions>
        <name>Modern_Bank_Route</name>
        <label>Modern Bank Route</label>
        <locationX>578</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>Automation_Message_Email_Alert</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Modern_Bank_Savings_Email</name>
            <conditionLogic>1 AND ((2 AND 5) OR (3 AND 8)) AND 6 AND 4 AND 7</conditionLogic>
            <conditions>
                <leftValueReference>objOldCase</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>objCase.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Email</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>objCase.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Gusto</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>objCase.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Savings</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>objCase.Authorized_User__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>No</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>objCase.Skip_Auto_Response__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>objCase.Type</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Modern Bank</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>objCase.Channel__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Email</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Savings_Email_ACK</targetReference>
            </connector>
            <label>Modern Bank Savings - Email</label>
        </rules>
        <rules>
            <name>Modern_Bank_Email_Web_Engagement_Case</name>
            <conditionLogic>1 AND ((2 AND 3) OR (5 AND 7)) AND 4 AND 6</conditionLogic>
            <conditions>
                <leftValueReference>objOldCase</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>objCase.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Email</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>objCase.Authorized_User__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>No</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>objCase.Skip_Auto_Response__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>objCase.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Gusto</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>objCase.Type</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Savings</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>objCase.Channel__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Email</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Acknowledgement_Email</targetReference>
            </connector>
            <label>Modern Bank-Email/Web Engagement Case</label>
        </rules>
        <rules>
            <name>Adverse_Action_Email</name>
            <conditionLogic>1 AND 2 AND (NOT(3) OR 4) AND 5 AND 6 AND (7 OR 8)</conditionLogic>
            <conditions>
                <leftValueReference>objCase.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>objOldCase.Status</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>objCase.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Solved</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>objCase.Additional_Auto_Email_Sent__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Adverse Action</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>objCase.Additional_Auto_Email_Sent__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>objCase.SuppliedEmail</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>support@guideline.com</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>objCase.Confirm_Case_Reason__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>objCase.Confirm_Case_Reason__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>ID Failure AAN</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>objCase.Confirm_Case_Reason__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Bankruptcy AAN</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Financial_Product_Adverse_Action_Email</targetReference>
            </connector>
            <label>Adverse Action Email</label>
        </rules>
        <rules>
            <name>UnAuthorised_Users_Modern_Bank</name>
            <conditionLogic>1 AND 2 AND 3 AND 4 AND 5 AND NOT(6 OR 7) AND 8 AND NOT(9 OR 10) AND 11</conditionLogic>
            <conditions>
                <leftValueReference>objCase.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Email</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>objCase.Authorized_User__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>objCase.Type</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Cobra</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>objCase.Historical_Data__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>objCase.Skip_Auto_Response__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>objCase.Requester_Email__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>guidline.com</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>objCase.Requester_Email__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>apintego.com</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>objCase.Routing_Case_Reason__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Response to NPS Survey</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>objCase.Requester_Email__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>myhrsupportcenter.com</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>objCase.Requester_Email__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>hranswerlink.com</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>objOldCase</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_UnAuthorized_Email_Notification</targetReference>
            </connector>
            <label>UnAuthorised Users Modern Bank</label>
        </rules>
    </decisions>
    <decisions>
        <name>Skip_Case_Trigger</name>
        <label>Skip Case Trigger? (Add Logic above this node)</label>
        <locationX>578</locationX>
        <locationY>1070</locationY>
        <defaultConnector>
            <targetReference>Was_Case_Updated</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>blnSkipTrigger_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>blnSkipTrigger</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Skip_Trigger</targetReference>
            </connector>
            <label>blnSkipTrigger True</label>
        </rules>
    </decisions>
    <decisions>
        <description>If objCase has been updated add to list_Case</description>
        <name>Was_Case_Updated</name>
        <label>Was Case Updated?</label>
        <locationX>578</locationX>
        <locationY>1442</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Updated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>objCase</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>objOldCase</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_objCase_to_list_Cases</targetReference>
            </connector>
            <label>Updated</label>
        </rules>
    </decisions>
    <description>Case Modern Bank SubFlow Helper called from Case After Save Helper.</description>
    <environments>Default</environments>
    <interviewLabel>TEMPLATE: Case Helper Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case Modern Bank SubFlow Helper</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>Create Exception Log event from fault line details in objExceptionLogEvent</description>
        <name>Exception_Log_Event</name>
        <label>Exception Log Event</label>
        <locationX>578</locationX>
        <locationY>1922</locationY>
        <inputReference>objExceptionLogEvent</inputReference>
    </recordCreates>
    <recordUpdates>
        <description>Final DML Update</description>
        <name>Update_objCase</name>
        <label>Update objCase</label>
        <locationX>314</locationX>
        <locationY>1682</locationY>
        <faultConnector>
            <targetReference>Update_objCase_Failed</targetReference>
        </faultConnector>
        <inputReference>list_Cases</inputReference>
    </recordUpdates>
    <sourceTemplate>TEMPLATE_Case_Helper_Flow</sourceTemplate>
    <start>
        <locationX>452</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Initializing_Fault_Line_Details</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Financial_Product_Adverse_Action_Email</name>
        <label>Financial Product - Adverse Action Email</label>
        <locationX>578</locationX>
        <locationY>398</locationY>
        <connector>
            <targetReference>Automation_Message_Email_Alert</targetReference>
        </connector>
        <flowName>Financial_Product_Adverse_Action_Email</flowName>
        <inputAssignments>
            <name>varCase</name>
            <value>
                <elementReference>objCase</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varEmailAlertName</name>
            <value>
                <stringValue>Adverse Action (Flow)</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varEmailSubject</name>
            <value>
                <stringValue>[Gusto] Information about your Cashout loan request</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varFromEmailAddress</name>
            <value>
                <stringValue>wallet@gusto.com</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <textTemplates>
        <description>Exception Log Message containing flow details in a fault path.</description>
        <name>strExceptionLogMessage</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Fault Message: {!$Flow.FaultMessage}
----
Interview Guid: {!$Flow.InterviewGuid}
----
Current Record: {!$Flow.CurrentRecord}
----
You can find failed flow interviews with the link below. The link below is for Production failed interviews, but if you would like to find them in another environment in Setup, simply search for ‘Paused and Failed Flow Interviews’ in Setup’s Quick Find bar, and switch to the All Failed Flow Interviews List View. You can use the interview &quot;Interview Guid&quot; above to locate this specific failures.  
https://gusto.lightning.force.com/lightning/setup/Pausedflows/home</text>
    </textTemplates>
    <variables>
        <description>Boolean for skipping Case Trigger</description>
        <name>blnSkipTrigger</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>Case Record List.</description>
        <name>list_Cases</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <description>Case Object passed from Case Handler Flow.</description>
        <name>objCase</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <description>Exception Log Event Object to capture fault path details.</description>
        <name>objExceptionLogEvent</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Exception_Log_Event__e</objectType>
    </variables>
    <variables>
        <description>Input variable coming from Case After Save Handler flow. Prior Values.</description>
        <name>objOldCase</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
</Flow>
