force-app/main/default/flows/Case_Flow_On_Record_Creation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Complete_Case_Slack_Message</name>
        <label>Send Complete Case Slack Message</label>
        <locationX>352</locationX>
        <locationY>864</locationY>
        <actionName>slackv2__invokePostMessage</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>message</name>
            <value>
                <elementReference>CustomerCareEscalationsMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>messageDestinationId</name>
            <value>
                <elementReference>MessageDestinationId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>slackv2__invokePostMessage</nameSegment>
    </actionCalls>
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Assign_Message_Destination_Ids_Customer_Care_Escalations</name>
        <label>Assign Message Destination Ids - Customer Care Escalations</label>
        <locationX>440</locationX>
        <locationY>648</locationY>
        <assignmentItems>
            <assignToReference>MessageDestinationId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Customer_Care_Escalations_Loop.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Customer_Care_Escalations_Loop</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>Get_Customer_Care_Escalations_Slack_Channel</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Get Customer Care Escalations Slack Channel</label>
        <locationX>352</locationX>
        <locationY>408</locationY>
        <assignNextValueToReference>currentItem_Get_Customer_Care_Escalations_Slack_Channel</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Salesforce_Message_Destination</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Get_Customer_Care_Escalations_Slack_Channel.Name</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>Customer Care Escalations</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Customer_Care_Escalations_Loop</targetReference>
        </connector>
    </collectionProcessors>
    <environments>Default</environments>
    <interviewLabel>Case Flow On Record Creation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case Flow On Record Creation</label>
    <loops>
        <name>Customer_Care_Escalations_Loop</name>
        <label>Customer Care Escalations Loop</label>
        <locationX>352</locationX>
        <locationY>528</locationY>
        <collectionReference>Get_Customer_Care_Escalations_Slack_Channel</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Message_Destination_Ids_Customer_Care_Escalations</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Send_Complete_Case_Slack_Message</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Salesforce_Message_Destination</name>
        <label>Get Salesforce Message Destination</label>
        <locationX>352</locationX>
        <locationY>288</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Customer_Care_Escalations_Slack_Channel</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>slackv2__Message_Destination__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Origin</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Escalation</stringValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>Create</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>Get_Salesforce_Message_Destination</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <textTemplates>
        <name>CustomerCareEscalationsMessage</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>New Escalation Case created:
Created By: {!$Record.CreatedBy.FirstName} {!$Record.CreatedBy.LastName}</text>
    </textTemplates>
    <variables>
        <name>currentItem_Get_Customer_Care_Escalations_Slack_Channel</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>slackv2__Message_Destination__c</objectType>
    </variables>
    <variables>
        <name>MessageDestinationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
