force-app/main/default/flows/Case_Payroll_Care_SubFlow_Helper.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Send email alert that case was auto solved.</description>
        <name>Notify_customers_40_hours_after_the_case_is_responded</name>
        <label>Notify customers 40 hours after the case is responded</label>
        <locationX>710</locationX>
        <locationY>854</locationY>
        <actionName>Case.Engagement_Notifiy_customers_40_hours_after_the_case_is_responded</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Reset_Automation_Fields</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>objCase.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Engagement_Notifiy_customers_40_hours_after_the_case_is_responded</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Acknowledgement_Email</name>
        <label>Send Acknowledgement Email</label>
        <locationX>578</locationX>
        <locationY>398</locationY>
        <actionName>Case.Engagement_Send_Case_Acknowledgement_Email</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Automation_Message_Email_Alert</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>objCase.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Engagement_Send_Case_Acknowledgement_Email</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Suspension_Email</name>
        <label>Send Suspension Email</label>
        <locationX>1370</locationX>
        <locationY>398</locationY>
        <actionName>Case.Send_Suspension_Email</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Automation_Message_Email_Alert</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>objCase.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Send_Suspension_Email</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <description>This is to send an authorized user email when it is transferred from Fulfillment to Care</description>
        <name>Send_Unauthorized_Email</name>
        <label>Send Unauthorized Email</label>
        <locationX>1106</locationX>
        <locationY>398</locationY>
        <actionName>Case.Unauthorized_Email</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Update_Automated_Email_Sent_field</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>objCase.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Unauthorized_Email</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <description>This invokable method will skip CaseTriggerHelper class.</description>
        <name>Skip_Trigger</name>
        <label>Skip Trigger</label>
        <locationX>578</locationX>
        <locationY>1310</locationY>
        <actionName>CaseTriggerHelper</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Was_objCase_Updated</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Update_objCase_Failed</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>booleanList</name>
            <value>
                <elementReference>blnSkipTrigger</elementReference>
            </value>
        </inputParameters>
        <nameSegment>CaseTriggerHelper</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <assignments>
        <description>Add objCase record to Case list for DML update.</description>
        <name>Add_objCase_to_list_Cases</name>
        <label>Add objCase to list_Cases</label>
        <locationX>578</locationX>
        <locationY>1682</locationY>
        <assignmentItems>
            <assignToReference>list_Cases</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>objCase</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_list_Cases</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Initializing Fault Line details for fault paths in objExceptionLogEvent record.</description>
        <name>Initializing_Fault_Line_Details</name>
        <label>Initializing Fault Line Details (Add Logic below this node)</label>
        <locationX>842</locationX>
        <locationY>158</locationY>
        <assignmentItems>
            <assignToReference>objExceptionLogEvent.Message__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>strExceptionLogMessage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objExceptionLogEvent.EventUuid</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.InterviewGuid</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objExceptionLogEvent.Method_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentStage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objExceptionLogEvent.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Flow</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Payroll_Care_Route</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>After Auto solve email alert was sent reset Automation Message and Automation Status.</description>
        <name>Reset_Automation_Fields</name>
        <label>Reset Automation Fields</label>
        <locationX>710</locationX>
        <locationY>974</locationY>
        <assignmentItems>
            <assignToReference>objCase.Automation_Message__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objCase.Automation_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>blnSkipTrigger</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Skip_Case_Trigger</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Automated_Email_Sent_field</name>
        <label>Update Automated Email Sent field</label>
        <locationX>1106</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>objCase.Automated_Email_Sent__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Fulfillment to Care Auto Response - Unauthorized (Flow)</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Automation_Message_Email_Alert</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Update objExceptionLogMessage with Fault Line details.</description>
        <name>Update_objCase_Failed</name>
        <label>Update objCase Failed</label>
        <locationX>842</locationX>
        <locationY>1922</locationY>
        <assignmentItems>
            <assignToReference>objExceptionLogEvent.Method_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentStage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Exception_Log_Event</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>If Automation Message field on Case is populated for an email alert this decision will rout to the path with the correct email alert. Please add your email alert here if you are using the automation message field.</description>
        <name>Automation_Message_Email_Alert</name>
        <label>Automation Message Email Alert</label>
        <locationX>842</locationX>
        <locationY>734</locationY>
        <defaultConnector>
            <targetReference>Skip_Case_Trigger</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Auto_Solve</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>objCase.Automation_Message__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Auto Solve Email Alert</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>objOldCase.Automation_Message__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>objCase.Automation_Message__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>objCase.Automation_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Started</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>objOldCase.Automation_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>objCase.Automation_Status__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Notify_customers_40_hours_after_the_case_is_responded</targetReference>
            </connector>
            <label>Auto Solve</label>
        </rules>
    </decisions>
    <decisions>
        <name>Payroll_Care_Route</name>
        <label>Payroll Care - Route</label>
        <locationX>842</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>Automation_Message_Email_Alert</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Routing_Case_Reason_set_Met_Confidence_Threshold</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varRoutingReasonSet</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Email_Alert</targetReference>
            </connector>
            <label>Routing Case Reason set/Met Confidence Threshold</label>
        </rules>
        <rules>
            <name>Case_Skip_History</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>objCase.OwnerId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>objOldCase.OwnerId</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>objCase.Last_Skipped_By__r.Id</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>objOldCase.OwnerId</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>objCase.OwnerId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>00G</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>objCase.Origin</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Phone</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$User.Data_Migration_Validation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Case_Skip_Record</targetReference>
            </connector>
            <label>Case Skip History</label>
        </rules>
        <rules>
            <name>Payroll_Email_Web_Case</name>
            <conditionLogic>1 AND ((2 AND 4) OR (3 AND 14)) AND 5 AND 6 AND 7 AND 8 AND NOT(9 OR 10) AND 11 AND NOT(12 OR 13)</conditionLogic>
            <conditions>
                <leftValueReference>objOldCase</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>objCase.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Email</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>objCase.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Gusto</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>objCase.Authorized_User__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>No</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>objCase.Type</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Otter Case</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>objCase.Type</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>EOY Spot Check</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>objCase.Historical_Data__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>objCase.Skip_Auto_Response__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>objCase.Requester_Email__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>apintego.com</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>objCase.Requester_Email__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>guideline.com</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>objCase.Routing_Case_Reason__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Response to NPS Survey</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>objCase.Requester_Email__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>hranswerlink.com</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>objCase.Requester_Email__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>myhrsupportcenter.com</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>objCase.Channel__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Email</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Acknowledgement_Email</targetReference>
            </connector>
            <label>Payroll Email/Web Case</label>
        </rules>
        <rules>
            <name>APIntego_Status_Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>objCase.Shared_With__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ApIntego</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>objCase.Partner_Record_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>objOldCase.Partner_Record_Status__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$User.Data_Migration_Validation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Post_Partner_Status_Change_to_Feed</targetReference>
            </connector>
            <label>APIntego Status Changed</label>
        </rules>
        <rules>
            <name>Fulfillment_to_Care_Auto_Response_Unauthorized</name>
            <conditionLogic>1 AND 2 AND 3 AND 4 AND (5 OR 6)</conditionLogic>
            <conditions>
                <leftValueReference>objCase.RecordTypeId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>objOldCase.RecordTypeId</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>objCase.Automated_Email_Sent__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>objCase.Authorized_User__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>objCase.CreatedDate</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <dateTimeValue>2019-01-23T07:59:00.000Z</dateTimeValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>objCase.ContactEmail</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>objCase.SuppliedEmail</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Unauthorized_Email</targetReference>
            </connector>
            <label>Fulfillment to Care Auto Response - Unauthorized</label>
        </rules>
        <rules>
            <name>Payroll_Suspension_Creation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>objCase.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Payroll Suspension</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>objCase.Suspension_Call_Scheduled_Date_Time__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>objOldCase.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Suspension_Email</targetReference>
            </connector>
            <label>Payroll Suspension Creation</label>
        </rules>
    </decisions>
    <decisions>
        <name>Skip_Case_Trigger</name>
        <label>Skip Case Trigger? (Add Logic above this node)</label>
        <locationX>842</locationX>
        <locationY>1190</locationY>
        <defaultConnector>
            <targetReference>Was_objCase_Updated</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>blnSkipTrigger_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>blnSkipTrigger</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Skip_Trigger</targetReference>
            </connector>
            <label>blnSkipTrigger True</label>
        </rules>
    </decisions>
    <decisions>
        <description>If objCase has been updated add to list_Case</description>
        <name>Was_objCase_Updated</name>
        <label>Was objCase Updated?</label>
        <locationX>842</locationX>
        <locationY>1562</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Updated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>objCase</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>objOldCase</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_objCase_to_list_Cases</targetReference>
            </connector>
            <label>Updated</label>
        </rules>
    </decisions>
    <description>Payroll Care RecordType Subflow that contains business logic.</description>
    <environments>Default</environments>
    <formulas>
        <name>varAPIntegoStatus</name>
        <dataType>String</dataType>
        <expression>&apos;APIntego ticket status is changed to &apos; + {!objCase.Partner_Record_Status__c}</expression>
    </formulas>
    <formulas>
        <name>varRoutingReasonSet</name>
        <dataType>Boolean</dataType>
        <expression>AND(
    NOT(CONTAINS({!$UserRole.Name}, &apos;LiveOps&apos;)),
    NOT(CONTAINS({!$UserRole.Name}, &apos;Task Us&apos;)),
    NOT(ISBLANK({!objCase.Routing_Case_Reason_Classification__c})),  
    ISBLANK({!objCase.Last_out_bound_email__c}), 
    BEGINS(TEXT({!objCase.Auto_Email_Behavior__c}), &apos;Send&apos;),  	
    ISPICKVAL({!objCase.Routing_Case_Reason_Classification__r.Auto_Email_Behavior__c}, &apos;Send&apos;),	
    OR(
        ISPICKVAL({!objCase.Origin},&apos;Gusto&apos;),        
        ISPICKVAL({!objCase.Origin}, &apos;Email&apos;)
    ),
    OR(
        AND(
            NOT({!$User.Is_Api_Integration__c}), 
            {!objCase.Routing_Case_Reason_Classification__c} != {!objOldCase.Routing_Case_Reason_Classification__c}
        ), 
        {!objCase.Agatha_Confidence__c}  &gt;= 100 * {!objCase.Routing_Case_Reason_Classification__r.Confidence_Threshold__c}
    ),
    NOT({!objCase.Auto_Response_Email_Sent__c})
)</expression>
    </formulas>
    <interviewLabel>TEMPLATE: Case Helper Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case Payroll Care SubFlow Helper</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Case_Skip_Record</name>
        <label>Create Case Skip Record</label>
        <locationX>314</locationX>
        <locationY>398</locationY>
        <connector>
            <targetReference>Automation_Message_Email_Alert</targetReference>
        </connector>
        <inputAssignments>
            <field>Assigned_to__c</field>
            <value>
                <elementReference>objCase.Owner:Group.DeveloperName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case__c</field>
            <value>
                <elementReference>objCase.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CreatedById</field>
            <value>
                <elementReference>objCase.LastModifiedBy.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Skip_Comment__c</field>
            <value>
                <stringValue>Case Reassigned</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>User__c</field>
            <value>
                <elementReference>objCase.LastModifiedBy.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Case_Skip_History__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>Create Exception Log event from fault line details in objExceptionLogEvent</description>
        <name>Exception_Log_Event</name>
        <label>Exception Log Event</label>
        <locationX>842</locationX>
        <locationY>2042</locationY>
        <inputReference>objExceptionLogEvent</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Post_Partner_Status_Change_to_Feed</name>
        <label>Post Partner Status Change to Feed</label>
        <locationX>842</locationX>
        <locationY>398</locationY>
        <connector>
            <targetReference>Automation_Message_Email_Alert</targetReference>
        </connector>
        <inputAssignments>
            <field>Body</field>
            <value>
                <elementReference>varAPIntegoStatus</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsRichText</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>objCase.Id</elementReference>
            </value>
        </inputAssignments>
        <object>FeedItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordUpdates>
        <description>Final DML Update</description>
        <name>Update_list_Cases</name>
        <label>Update list_Cases</label>
        <locationX>578</locationX>
        <locationY>1802</locationY>
        <faultConnector>
            <targetReference>Update_objCase_Failed</targetReference>
        </faultConnector>
        <inputReference>list_Cases</inputReference>
    </recordUpdates>
    <sourceTemplate>TEMPLATE_Case_Helper_Flow</sourceTemplate>
    <start>
        <locationX>716</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Initializing_Fault_Line_Details</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Send_Email_Alert</name>
        <label>Send Email Alert</label>
        <locationX>50</locationX>
        <locationY>398</locationY>
        <connector>
            <targetReference>Automation_Message_Email_Alert</targetReference>
        </connector>
        <flowName>Auto_Send_Email_Alert</flowName>
        <inputAssignments>
            <name>Case</name>
            <value>
                <elementReference>objCase</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>FromAddress</name>
            <value>
                <stringValue>support@gusto.com</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <textTemplates>
        <description>Exception Log Message containing flow details in a fault path.</description>
        <name>strExceptionLogMessage</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Fault Message: {!$Flow.FaultMessage}
----
Interview Guid: {!$Flow.InterviewGuid}
----
Current Record: {!$Flow.CurrentRecord}
----
You can find failed flow interviews with the link below. The link below is for Production failed interviews, but if you would like to find them in another environment in Setup, simply search for ‘Paused and Failed Flow Interviews’ in Setup’s Quick Find bar, and switch to the All Failed Flow Interviews List View. You can use the interview &quot;Interview Guid&quot; above to locate this specific failures.  
https://gusto.lightning.force.com/lightning/setup/Pausedflows/home</text>
    </textTemplates>
    <variables>
        <description>Boolean for skipping Case Trigger</description>
        <name>blnSkipTrigger</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>Case Record List.</description>
        <name>list_Cases</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <description>Case Object passed from Case Handler Flow.</description>
        <name>objCase</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <description>Exception Log Event Object to capture fault path details.</description>
        <name>objExceptionLogEvent</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Exception_Log_Event__e</objectType>
    </variables>
    <variables>
        <description>Input variable coming from Case After Save Handler flow. Prior Values.</description>
        <name>objOldCase</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
</Flow>
