force-app/main/default/flows/Case_Quality_Assurance.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>50.0</apiVersion>
    <choices>
        <name>Case_QA_Feedback</name>
        <choiceText>{!CaseQAFeedback}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>CaseQAFeedback</elementReference>
        </value>
    </choices>
    <choices>
        <name>None</name>
        <choiceText>--None--</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue></stringValue>
        </value>
    </choices>
    <choices>
        <name>PE_Captain_Feedback</name>
        <choiceText>{!PECaptainFeedback}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>PECaptainFeedback</elementReference>
        </value>
    </choices>
    <constants>
        <description>Text value for Case QA Feedback</description>
        <name>CaseQAFeedback</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Case QA Feedback</stringValue>
        </value>
    </constants>
    <constants>
        <name>PECaptainFeedback</name>
        <dataType>String</dataType>
        <value>
            <stringValue>PE &amp; Captain Feedback</stringValue>
        </value>
    </constants>
    <decisions>
        <description>Check if its PE Feedback or Cse QA Feedback</description>
        <name>Check_Type_of_Feedback</name>
        <label>Check Type of Feedback</label>
        <locationX>270</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>Get_Case_QA_Feedback_Rec_Type_ID</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IsPEFeedback</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Type_of_Feedback</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>PECaptainFeedback</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_PE_Captain_Feedback_RT_ID</targetReference>
            </connector>
            <label>IsPEFeedback</label>
        </rules>
        <rules>
            <name>IsCaseQAFeedback</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Type_of_Feedback</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>CaseQAFeedback</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Case_QA_Feedback_Rec_Type_ID</targetReference>
            </connector>
            <label>IsCaseQAFeedback</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>PEFeedbackType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>PE_Feedback_Type__c</picklistField>
        <picklistObject>Case_Quality_Assurance__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>QAchoiceset</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Communication__c</picklistField>
        <picklistObject>Case_Quality_Assurance__c</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>Case Quality Assurance {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case Quality Assurance</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>CaseQARecord</name>
        <label>CaseQARecord</label>
        <locationX>270</locationX>
        <locationY>1094</locationY>
        <connector>
            <targetReference>CaseQArecordinserted</targetReference>
        </connector>
        <inputAssignments>
            <field>Case__c</field>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Communication_Notes__c</field>
            <value>
                <elementReference>Communication_Notes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Communication__c</field>
            <value>
                <elementReference>How_well_did_the_1advocate_communicate_during_the_interaction</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Confidence_Notes__c</field>
            <value>
                <elementReference>Confidence_Notes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Confidence__c</field>
            <value>
                <elementReference>How_well_did_the_adsvocate_show_confidence_during_the_interaction</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Deliberately_hangs_up_ondoes_not_reply__c</field>
            <value>
                <elementReference>Deliberately_hangs_up_on_caller_does_not_reply_to_emails_or_chats_without_warnin</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Did_not_solve_under_appropriate_reason__c</field>
            <value>
                <elementReference>Advocate_did_not_solve_close_the_case_under_the_appropriate_case_reason</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Issue_Diagnosis_Notes__c</field>
            <value>
                <elementReference>Issue_Diagnosis_Notes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Issue_Diagnosis__c</field>
            <value>
                <elementReference>How_well_did_the_advocate_diagnose_the_issue1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Issue_Resolution_Notes__c</field>
            <value>
                <elementReference>Issue_Resolution_Notes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Issue_Resolution__c</field>
            <value>
                <elementReference>How_well_did_the_advocate_work_to_resolve_the_issue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Next_Issue_Avoidance_Notes__c</field>
            <value>
                <elementReference>Next_Issue_Avoidance_Notes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Next_Issue_Avoidance__c</field>
            <value>
                <elementReference>How_well_did_t1he_advocate_proactively_troubleshoot_downstream_issues</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>recordId.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_Knowledge_Notes__c</field>
            <value>
                <elementReference>Product_Knowledge_Notes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_Knowledge__c</field>
            <value>
                <elementReference>How_well_did_the_advocate_demonstrate_product_knowledge1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Case_QA_Feedback_Rec_Type_ID.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Unauthorized_Release_of_PII__c</field>
            <value>
                <elementReference>Release_of_PII_PHI_to_unauthorized_individuals</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Use_of_disparaging_or_belittling_remarks__c</field>
            <value>
                <elementReference>Use_of_disparaging_or_belittling_remarks_profanity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Verification_Steps_not_Followed__c</field>
            <value>
                <elementReference>Advocate_did_not_follow_Gusto_verification_procedures_all_4_pieces_of_info_shoul</elementReference>
            </value>
        </inputAssignments>
        <object>Case_Quality_Assurance__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>Create Case Quality Assurance records for PE Feedback</description>
        <name>Create_PE_Feedback_Record_0</name>
        <label>Create PE Feedback Record</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <connector>
            <targetReference>Success_Page</targetReference>
        </connector>
        <inputAssignments>
            <field>Case__c</field>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>recordId.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PE_Feedback_Notes__c</field>
            <value>
                <elementReference>PE_Feedback_Notes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PE_Feedback_Type__c</field>
            <value>
                <elementReference>PE_Feedback_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PE_Feedback__c</field>
            <value>
                <elementReference>PE_Feedback</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_PE_Captain_Feedback_RT_ID.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Case_Quality_Assurance__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>CaseQArecordinserted</name>
        <label>CaseQArecordinserted</label>
        <locationX>270</locationX>
        <locationY>1214</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Scorefinal</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseQARecord</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case_Quality_Assurance__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Fetch the RecordType ID for Case QA Feedback.</description>
        <name>Get_Case_QA_Feedback_Rec_Type_ID</name>
        <label>Get Case QA Feedback Rec Type ID</label>
        <locationX>270</locationX>
        <locationY>974</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CaseQARecord</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseQAFeedback</elementReference>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case_Quality_Assurance__c</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get the RecordType Id for PE Captain Feedback on Case Quality Assurance object.</description>
        <name>Get_PE_Captain_Feedback_RT_ID</name>
        <label>Get PE Captain Feedback RT ID</label>
        <locationX>50</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_PE_Feedback_Record_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PECaptainFeedback</elementReference>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case_Quality_Assurance__c</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Case_as_QA_complete</name>
        <label>Update Case as QA complete</label>
        <locationX>270</locationX>
        <locationY>1454</locationY>
        <connector>
            <targetReference>Case_QA_Success_Page</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>QA_Complete__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <screens>
        <name>Case_QA_Success_Page</name>
        <label>Case QA Success Page</label>
        <locationX>270</locationX>
        <locationY>1574</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>QA_Success_Message</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b&gt;Case QA Feedback Submitted Successfully&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Scorefinal</name>
        <label>Score</label>
        <locationX>270</locationX>
        <locationY>1334</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_Case_as_QA_complete</targetReference>
        </connector>
        <fields>
            <name>Score</name>
            <fieldText>&lt;p&gt;QA Score: {!CaseQArecordinserted.QA_Score__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen1</name>
        <label>Screen1</label>
        <locationX>270</locationX>
        <locationY>158</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Check_Type_of_Feedback</targetReference>
        </connector>
        <fields>
            <name>CaseQualityAssurance</name>
            <fieldText>&lt;p&gt;Case Quality Assurance&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>QA_details</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;Date Opened: {!recordId.CreatedDate}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;Case Origin: {!recordId.Origin}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;Case Record Type: &lt;/span&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);&quot;&gt; {!recordId.RecordType.Name}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Purecloudlink</name>
            <fieldText>&lt;p&gt;&lt;a href=&quot;https://na1.nice-incontact.com/player/#/cxone-player/acd-contacts/{!recordId.Genesys_Call_Id__c}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;Phone Recording Link&lt;/a&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>recordId.Genesys_Call_Id__c</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue></stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Type_of_Feedback</name>
            <choiceReferences>None</choiceReferences>
            <choiceReferences>Case_QA_Feedback</choiceReferences>
            <choiceReferences>PE_Captain_Feedback</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>None</defaultSelectedChoiceReference>
            <fieldText>Type of Feedback</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>PE_Feedback</name>
            <dataType>Boolean</dataType>
            <fieldText>PE Feedback</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Type_of_Feedback</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>PECaptainFeedback</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>PE_Feedback_Type</name>
            <choiceReferences>PEFeedbackType</choiceReferences>
            <dataType>String</dataType>
            <fieldText>PE Feedback Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Type_of_Feedback</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>PECaptainFeedback</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>PE_Feedback_Notes</name>
            <fieldText>PE Feedback Notes</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Type_of_Feedback</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>PECaptainFeedback</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>How_well_did_the_advocate_demonstrate_product_knowledge1</name>
            <choiceReferences>QAchoiceset</choiceReferences>
            <dataType>String</dataType>
            <fieldText>How well did the advocate demonstrate product knowledge?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Type_of_Feedback</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>CaseQAFeedback</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Product_Knowledge_Notes</name>
            <fieldText>Product Knowledge Notes</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Type_of_Feedback</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>CaseQAFeedback</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>How_well_did_the_advocate_diagnose_the_issue1</name>
            <choiceReferences>QAchoiceset</choiceReferences>
            <dataType>String</dataType>
            <fieldText>How well did the advocate diagnose the issue?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Type_of_Feedback</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>CaseQAFeedback</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Issue_Diagnosis_Notes</name>
            <fieldText>Issue Diagnosis Notes</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Type_of_Feedback</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>CaseQAFeedback</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>How_well_did_the_advocate_work_to_resolve_the_issue</name>
            <choiceReferences>QAchoiceset</choiceReferences>
            <dataType>String</dataType>
            <fieldText>How well did the advocate work to resolve the issue?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Type_of_Feedback</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>CaseQAFeedback</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Issue_Resolution_Notes</name>
            <fieldText>Issue Resolution Notes</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Type_of_Feedback</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>CaseQAFeedback</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>How_well_did_t1he_advocate_proactively_troubleshoot_downstream_issues</name>
            <choiceReferences>QAchoiceset</choiceReferences>
            <dataType>String</dataType>
            <fieldText>How well did the advocate proactively troubleshoot downstream issues?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Type_of_Feedback</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>CaseQAFeedback</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Next_Issue_Avoidance_Notes</name>
            <fieldText>Next Issue Avoidance Notes</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Type_of_Feedback</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>CaseQAFeedback</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>How_well_did_the_1advocate_communicate_during_the_interaction</name>
            <choiceReferences>QAchoiceset</choiceReferences>
            <dataType>String</dataType>
            <fieldText>How well did the advocate communicate during the interaction?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Type_of_Feedback</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>CaseQAFeedback</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Communication_Notes</name>
            <fieldText>Communication Notes</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Type_of_Feedback</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>CaseQAFeedback</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>How_well_did_the_adsvocate_show_confidence_during_the_interaction</name>
            <choiceReferences>QAchoiceset</choiceReferences>
            <dataType>String</dataType>
            <fieldText>How well did the advocate show confidence during the interaction?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Type_of_Feedback</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>CaseQAFeedback</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Confidence_Notes</name>
            <fieldText>Confidence Notes</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Type_of_Feedback</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>CaseQAFeedback</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Advocate_did_not_follow_Gusto_verification_procedures_all_4_pieces_of_info_shoul</name>
            <dataType>Boolean</dataType>
            <fieldText>Advocate did not follow Gusto verification procedures (all 4 pieces of info should come from Customer for calls</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Type_of_Feedback</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>CaseQAFeedback</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Release_of_PII_PHI_to_unauthorized_individuals</name>
            <dataType>Boolean</dataType>
            <fieldText>Release of PII/PHI to unauthorized individuals</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Type_of_Feedback</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>CaseQAFeedback</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Use_of_disparaging_or_belittling_remarks_profanity</name>
            <dataType>Boolean</dataType>
            <fieldText>Use of disparaging or belittling remarks, profanity</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Type_of_Feedback</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>CaseQAFeedback</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Deliberately_hangs_up_on_caller_does_not_reply_to_emails_or_chats_without_warnin</name>
            <dataType>Boolean</dataType>
            <fieldText>Deliberately hangs up on caller/does not reply to emails or chats without warning (out of anger, frustration)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Type_of_Feedback</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>CaseQAFeedback</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Advocate_did_not_solve_close_the_case_under_the_appropriate_case_reason</name>
            <dataType>Boolean</dataType>
            <fieldText>Advocate did not solve/close the case under the appropriate case reason.</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Type_of_Feedback</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>CaseQAFeedback</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Success_Page</name>
        <label>Success Page</label>
        <locationX>50</locationX>
        <locationY>638</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Success_Message</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b&gt;PE &amp;amp; Captain Feedback Submitted Successfully&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>144</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Screen1</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
</Flow>
