force-app/main/default/flows/Case_Engagement_SubFlow_Helper.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Acknowledgement_Email</name>
        <label>Send Acknowledgement Email</label>
        <locationX>578</locationX>
        <locationY>350</locationY>
        <actionName>Case.Engagement_Send_Case_Acknowledgement_Email</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Skip_Case_Trigger</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>objCase.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Engagement_Send_Case_Acknowledgement_Email</nameSegment>
    </actionCalls>
    <actionCalls>
        <description>Email alert for COBRA Cases.</description>
        <name>Send_COBRA_Ack_Email</name>
        <label>Send COBRA Ack Email</label>
        <locationX>842</locationX>
        <locationY>350</locationY>
        <actionName>Case.Notify_Cobra_Customer</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Skip_Case_Trigger</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>objCase.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Notify_Cobra_Customer</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Suspension_Email</name>
        <label>Send Suspension Email</label>
        <locationX>1634</locationX>
        <locationY>350</locationY>
        <actionName>Case.Send_Suspension_Email</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Skip_Case_Trigger</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>objCase.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Send_Suspension_Email</nameSegment>
    </actionCalls>
    <actionCalls>
        <description>This is to send an authorized user email when it is transferred from Fulfillment to Care</description>
        <name>Send_Unauthorized_Email</name>
        <label>Send Unauthorized Email</label>
        <locationX>1370</locationX>
        <locationY>350</locationY>
        <actionName>Case.Unauthorized_Email</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Update_Automated_Email_Sent_field</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>objCase.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Unauthorized_Email</nameSegment>
    </actionCalls>
    <actionCalls>
        <description>This invokable method will skip CaseTriggerHelper class.</description>
        <name>Skip_Trigger</name>
        <label>Skip Trigger</label>
        <locationX>710</locationX>
        <locationY>758</locationY>
        <actionName>CaseTriggerHelper</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Was_objCase_Updated</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Update_objCase_Failed</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>booleanList</name>
            <value>
                <elementReference>blnSkipTrigger</elementReference>
            </value>
        </inputParameters>
        <nameSegment>CaseTriggerHelper</nameSegment>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <assignments>
        <description>Add objCase record to Case list for DML update.</description>
        <name>Add_objCase_to_list_Cases</name>
        <label>Add objCase to list_Cases</label>
        <locationX>710</locationX>
        <locationY>1106</locationY>
        <assignmentItems>
            <assignToReference>list_Cases</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>objCase</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_list_Cases</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Initializing Fault Line details for fault paths in objExceptionLogEvent record.</description>
        <name>Initializing_Fault_Line_Details</name>
        <label>Initializing Fault Line Details (Add Logic below this node)</label>
        <locationX>974</locationX>
        <locationY>134</locationY>
        <assignmentItems>
            <assignToReference>objExceptionLogEvent.Message__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>strExceptionLogMessage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objExceptionLogEvent.EventUuid</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.InterviewGuid</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objExceptionLogEvent.Method_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentStage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objExceptionLogEvent.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Flow</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Engagement_Route</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Automated_Email_Sent_field</name>
        <label>Update Automated Email Sent field</label>
        <locationX>1370</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>objCase.Automated_Email_Sent__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Fulfillment to Care Auto Response - Unauthorized (Flow)</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>blnObjCaseUpdated</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Skip_Case_Trigger</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Update objExceptionLogMessage with Fault Line details.</description>
        <name>Update_objCase_Failed</name>
        <label>Update objCase Failed</label>
        <locationX>974</locationX>
        <locationY>1322</locationY>
        <assignmentItems>
            <assignToReference>objExceptionLogEvent.Method_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentStage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Exception_Log_Event</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Engagement_Route</name>
        <label>Engagement Route</label>
        <locationX>974</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Skip_Case_Trigger</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Routing_Case_Reason_set_Met_Confidence_Threshold</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varRoutingReasonSet</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Email_Alert</targetReference>
            </connector>
            <label>Routing Case Reason set/Met Confidence Threshold</label>
        </rules>
        <rules>
            <name>Case_Skip_History</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>objCase.OwnerId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>objOldCase.OwnerId</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>objCase.Last_Skipped_By__r.Id</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>objOldCase.OwnerId</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>objCase.OwnerId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>00G</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>objCase.Origin</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Phone</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$User.Data_Migration_Validation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Case_Skip_Record</targetReference>
            </connector>
            <label>Case Skip History</label>
        </rules>
        <rules>
            <name>Engagement_Email_Web_Case</name>
            <conditionLogic>1 AND ((2 AND 4) OR (3 AND 14)) AND 5 AND 6 AND 7 AND 8 AND NOT(9 OR 10) AND 11 AND NOT(12 OR 13) AND 15 AND 16</conditionLogic>
            <conditions>
                <leftValueReference>objOldCase</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>objCase.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Email</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>objCase.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Gusto</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>objCase.Authorized_User__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>No</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>objCase.Type</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Otter Case</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>objCase.Type</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>EOY Spot Check</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>objCase.Historical_Data__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>objCase.Skip_Auto_Response__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>objCase.Requester_Email__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>apintego.com</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>objCase.Requester_Email__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>guideline.com</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>objCase.Routing_Case_Reason__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Response to NPS Survey</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>objCase.Requester_Email__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>hranswerlink.com</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>objCase.Requester_Email__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>myhrsupportcenter.com</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>objCase.Channel__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Email</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Label.Manual_Case_Email_Exempt</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>objCase.CreatedBy.Id</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>objCase.Specialization__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>COBRA</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Acknowledgement_Email</targetReference>
            </connector>
            <label>Engagement Email/Web Case</label>
        </rules>
        <rules>
            <name>COBRA_Email</name>
            <conditionLogic>1 AND 2 AND 3 AND 4 AND 5 AND 6 AND 7 AND 8 AND 9 AND 10 AND NOT(11 OR 12 OR 13 OR 14)</conditionLogic>
            <conditions>
                <leftValueReference>objOldCase</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>objCase.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Email</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>objCase.Specialization__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>COBRA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>objCase.Type</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Suspension Audit</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>objCase.Type</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>EE Status Audit</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>objCase.Type</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Shareholder Audit</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>objCase.Type</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Company Taxability Audit</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>objCase.Type</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Owner Status audit</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>objCase.Skip_Auto_Response__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>objCase.Routing_Case_Reason__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Response to NPS Survey</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>objCase.Requester_Email__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>apintego.com</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>objCase.Requester_Email__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>guideline.com</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>objCase.Requester_Email__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>myhrsupportcenter.com</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>objCase.Requester_Email__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>hranswerlink.com</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_COBRA_Ack_Email</targetReference>
            </connector>
            <label>COBRA Email</label>
        </rules>
        <rules>
            <name>APIntego_Status_Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>objCase.Shared_With__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ApIntego</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>objCase.Partner_Record_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>objOldCase.Partner_Record_Status__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$User.Data_Migration_Validation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Post_Partner_Status_Change_to_Feed</targetReference>
            </connector>
            <label>APIntego Status Changed</label>
        </rules>
        <rules>
            <name>Fulfillment_to_Care_Auto_Response_Unauthorized</name>
            <conditionLogic>1 AND 2 AND 3 AND 4 AND (5 OR 6)</conditionLogic>
            <conditions>
                <leftValueReference>objCase.RecordTypeId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>objOldCase.RecordTypeId</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>objCase.Automated_Email_Sent__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>objCase.Authorized_User__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>objCase.CreatedDate</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <dateTimeValue>2019-01-23T07:59:00.000Z</dateTimeValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>objCase.ContactEmail</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>objCase.SuppliedEmail</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Unauthorized_Email</targetReference>
            </connector>
            <label>Fulfillment to Care Auto Response - Unauthorized</label>
        </rules>
        <rules>
            <name>Engagement_Suspension_Creation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>objCase.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Payroll Suspension</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>objCase.Suspension_Call_Scheduled_Date_Time__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>objOldCase.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Suspension_Email</targetReference>
            </connector>
            <label>Engagement Suspension Creation</label>
        </rules>
    </decisions>
    <decisions>
        <name>Skip_Case_Trigger</name>
        <label>Skip Case Trigger? (Add Logic above this node)</label>
        <locationX>974</locationX>
        <locationY>650</locationY>
        <defaultConnector>
            <targetReference>Was_objCase_Updated</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>blnSkipTrigger_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>blnSkipTrigger</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Skip_Trigger</targetReference>
            </connector>
            <label>blnSkipTrigger True</label>
        </rules>
    </decisions>
    <decisions>
        <description>If objCase has been updated add to list_Case</description>
        <name>Was_objCase_Updated</name>
        <label>Was objCase Updated?</label>
        <locationX>974</locationX>
        <locationY>998</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Updated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>objCase</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>objOldCase</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>blnObjCaseUpdated</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_objCase_to_list_Cases</targetReference>
            </connector>
            <label>Updated</label>
        </rules>
    </decisions>
    <description>SubFlow Helper for Engagement Cases
- included boolean variable identifying the case was updated.</description>
    <environments>Default</environments>
    <formulas>
        <name>varAPIntegoStatus</name>
        <dataType>String</dataType>
        <expression>&apos;APIntego ticket status is changed to &apos; + {!objCase.Partner_Record_Status__c}</expression>
    </formulas>
    <formulas>
        <name>varRoutingReasonSet</name>
        <dataType>Boolean</dataType>
        <expression>AND(
    NOT(CONTAINS({!$UserRole.Name}, &apos;LiveOps&apos;)),
    NOT(CONTAINS({!$UserRole.Name}, &apos;Task Us&apos;)),
    NOT(ISBLANK({!objCase.Routing_Case_Reason_Classification__c})),  
    ISBLANK({!objCase.Last_out_bound_email__c}), 
    BEGINS(TEXT({!objCase.Auto_Email_Behavior__c}), &apos;Send&apos;),  	
    ISPICKVAL({!objCase.Routing_Case_Reason_Classification__r.Auto_Email_Behavior__c}, &apos;Send&apos;),	
    OR(
        ISPICKVAL({!objCase.Origin},&apos;Gusto&apos;),        
        ISPICKVAL({!objCase.Origin}, &apos;Email&apos;)
    ),
    OR(
        AND(
            NOT({!$User.Is_Api_Integration__c}), 
            {!objCase.Routing_Case_Reason_Classification__c} != {!objOldCase.Routing_Case_Reason_Classification__c}
        ),
        AND( 
            {!$User.Is_Api_Integration__c},
            {!objCase.Agatha_Confidence__c}  &gt;= 100 * {!objCase.Routing_Case_Reason_Classification__r.Confidence_Threshold__c}
        )
    ),
    NOT({!objCase.Auto_Response_Email_Sent__c})
)</expression>
    </formulas>
    <interviewLabel>Case Engagement SubFlow Helper {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case Engagement SubFlow Helper</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Case_Skip_Record</name>
        <label>Create Case Skip Record</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <connector>
            <targetReference>Skip_Case_Trigger</targetReference>
        </connector>
        <inputAssignments>
            <field>Assigned_to__c</field>
            <value>
                <elementReference>objCase.Owner:Group.DeveloperName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case__c</field>
            <value>
                <elementReference>objCase.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CreatedById</field>
            <value>
                <elementReference>objCase.LastModifiedBy.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Skip_Comment__c</field>
            <value>
                <stringValue>Case Reassigned</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>User__c</field>
            <value>
                <elementReference>objCase.LastModifiedBy.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Case_Skip_History__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>Create Exception Log event from fault line details in objExceptionLogEvent</description>
        <name>Exception_Log_Event</name>
        <label>Exception Log Event</label>
        <locationX>974</locationX>
        <locationY>1430</locationY>
        <inputReference>objExceptionLogEvent</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Post_Partner_Status_Change_to_Feed</name>
        <label>Post Partner Status Change to Feed</label>
        <locationX>1106</locationX>
        <locationY>350</locationY>
        <connector>
            <targetReference>Skip_Case_Trigger</targetReference>
        </connector>
        <inputAssignments>
            <field>Body</field>
            <value>
                <elementReference>varAPIntegoStatus</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsRichText</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>objCase.Id</elementReference>
            </value>
        </inputAssignments>
        <object>FeedItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordUpdates>
        <description>Final DML Update</description>
        <name>Update_list_Cases</name>
        <label>Update list_Cases</label>
        <locationX>710</locationX>
        <locationY>1214</locationY>
        <faultConnector>
            <targetReference>Update_objCase_Failed</targetReference>
        </faultConnector>
        <inputReference>list_Cases</inputReference>
    </recordUpdates>
    <sourceTemplate>TEMPLATE_Case_Helper_Flow</sourceTemplate>
    <start>
        <locationX>848</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Initializing_Fault_Line_Details</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Send_Email_Alert</name>
        <label>Send Email Alert</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <connector>
            <targetReference>Skip_Case_Trigger</targetReference>
        </connector>
        <flowName>Auto_Send_Email_Alert</flowName>
        <inputAssignments>
            <name>Case</name>
            <value>
                <elementReference>objCase</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>FromAddress</name>
            <value>
                <stringValue>support@gusto.com</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <textTemplates>
        <description>Exception Log Message containing flow details in a fault path.</description>
        <name>strExceptionLogMessage</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Fault Message: {!$Flow.FaultMessage}
----
Interview Guid: {!$Flow.InterviewGuid}
----
Current Record: {!$Flow.CurrentRecord}
----
You can find failed flow interviews with the link below. The link below is for Production failed interviews, but if you would like to find them in another environment in Setup, simply search for ‘Paused and Failed Flow Interviews’ in Setup’s Quick Find bar, and switch to the All Failed Flow Interviews List View. You can use the interview &quot;Interview Guid&quot; above to locate this specific failures.  
https://gusto.lightning.force.com/lightning/setup/Pausedflows/home</text>
    </textTemplates>
    <variables>
        <description>If this flow has update the objCase variable this boolean should be true. this variable will be used to check if we need to do an update on the case and prevent dummy updates.</description>
        <name>blnObjCaseUpdated</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>Boolean for skipping Case Trigger</description>
        <name>blnSkipTrigger</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>Case Record List.</description>
        <name>list_Cases</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <description>Case Object passed from Case Handler Flow.</description>
        <name>objCase</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <description>Exception Log Event Object to capture fault path details.</description>
        <name>objExceptionLogEvent</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Exception_Log_Event__e</objectType>
    </variables>
    <variables>
        <description>Input variable coming from Case After Save Handler flow. Prior Values.</description>
        <name>objOldCase</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
</Flow>
