force-app/main/default/flows/COBRA_Subsidy_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Send Carrier Administered Email</description>
        <name>Send_Carrier_Administered_Email</name>
        <label>Send Carrier Administered Email</label>
        <locationX>314</locationX>
        <locationY>278</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>EmailSent_0</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>CarrierAdministeredEmailBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>varMassEmailID.To_Address__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>varMassEmailID.From_Address__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>varEmailSubject</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
    </actionCalls>
    <actionCalls>
        <description>Send Federal Email</description>
        <name>Send_Federal_Email</name>
        <label>Send Federal Email</label>
        <locationX>50</locationX>
        <locationY>278</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>EmailSent</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>FederalEmailBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>varMassEmailID.To_Address__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>varMassEmailID.From_Address__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>varEmailSubject</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
    </actionCalls>
    <actionCalls>
        <description>Send State Continuation Email</description>
        <name>Send_State_Continuation_Email</name>
        <label>Send State Continuation Email</label>
        <locationX>578</locationX>
        <locationY>278</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>EmailSent_0_0</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>StateContinuationEmailBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>varMassEmailID.To_Address__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>varMassEmailID.From_Address__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>varEmailSubject</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
    </actionCalls>
    <apiVersion>51.0</apiVersion>
    <decisions>
        <name>What_Email_Template_to_Send</name>
        <label>What Email Template to Send</label>
        <locationX>446</locationX>
        <locationY>158</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Federal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varMassEmailID.Template_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Federal</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Federal_Email</targetReference>
            </connector>
            <label>Federal</label>
        </rules>
        <rules>
            <name>Carrier_Administered</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varMassEmailID.Template_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Carrier Administered</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Carrier_Administered_Email</targetReference>
            </connector>
            <label>Carrier Administered</label>
        </rules>
        <rules>
            <name>State_Continuation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varMassEmailID.Template_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>State Continuation</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_State_Continuation_Email</targetReference>
            </connector>
            <label>State Continuation</label>
        </rules>
    </decisions>
    <description>COBRA subsidy- mass comms to customers.</description>
    <formulas>
        <name>varToAddressFormula</name>
        <dataType>String</dataType>
        <expression>IF( 
     AND( ISBLANK( {!varMassEmailID.Benefits_Admin_Email__c}), ISBLANK( {!varMassEmailID.Benefits_Signatory_Email__c} ) )  , {!varMassEmailID.Payroll_Admin_Email__c} ,

IF( AND( ISBLANK( {!varMassEmailID.Benefits_Admin_Email__c}), NOT(ISBLANK( {!varMassEmailID.Benefits_Signatory_Email__c} ) )), {!varMassEmailID.Payroll_Admin_Email__c}+&apos;.&apos;+{!varMassEmailID.Benefits_Signatory_Email__c},

IF(  AND( NOT( ISBLANK({!varMassEmailID.Benefits_Admin_Email__c})), ISBLANK( {!varMassEmailID.Benefits_Signatory_Email__c} ) ), {!varMassEmailID.Payroll_Admin_Email__c}+&apos;.&apos;+{!varMassEmailID.Benefits_Admin_Email__c},

{!varMassEmailID.Payroll_Admin_Email__c}+&apos;.&apos;+{!varMassEmailID.Benefits_Admin_Email__c}+&apos;.&apos;+{!varMassEmailID.Benefits_Signatory_Email__c}

)))</expression>
    </formulas>
    <interviewLabel>COBRA Subsidy Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>COBRA Subsidy Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>Create Email Message Record</description>
        <name>Create_Email_Message_Record</name>
        <label>Create Email Message Record</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <inputAssignments>
            <field>Email_Template_Name__c</field>
            <value>
                <elementReference>varMassEmailID.Template_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FromAddress</field>
            <value>
                <elementReference>varMassEmailID.From_Address__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HtmlBody</field>
            <value>
                <elementReference>FederalEmailBody</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RelatedToId</field>
            <value>
                <elementReference>varMassEmailID.Account__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>3</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>varEmailSubject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ToAddress</field>
            <value>
                <elementReference>varMassEmailID.To_Address__c</elementReference>
            </value>
        </inputAssignments>
        <object>EmailMessage</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>Create Email Message Record</description>
        <name>Create_Email_Message_Record_0</name>
        <label>Create Email Message Record</label>
        <locationX>314</locationX>
        <locationY>518</locationY>
        <inputAssignments>
            <field>Email_Template_Name__c</field>
            <value>
                <elementReference>varMassEmailID.Template_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FromAddress</field>
            <value>
                <elementReference>varMassEmailID.From_Address__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HtmlBody</field>
            <value>
                <elementReference>CarrierAdministeredEmailBody</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RelatedToId</field>
            <value>
                <elementReference>varMassEmailID.Account__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>3</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>varEmailSubject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ToAddress</field>
            <value>
                <elementReference>varMassEmailID.To_Address__c</elementReference>
            </value>
        </inputAssignments>
        <object>EmailMessage</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>Create Email Message Record</description>
        <name>Create_Email_Message_Record_0_0</name>
        <label>Create Email Message Record</label>
        <locationX>578</locationX>
        <locationY>518</locationY>
        <inputAssignments>
            <field>Email_Template_Name__c</field>
            <value>
                <elementReference>varMassEmailID.Template_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FromAddress</field>
            <value>
                <elementReference>varMassEmailID.From_Address__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HtmlBody</field>
            <value>
                <elementReference>StateContinuationEmailBody</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RelatedToId</field>
            <value>
                <elementReference>varMassEmailID.Account__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>3</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>varEmailSubject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ToAddress</field>
            <value>
                <elementReference>varMassEmailID.To_Address__c</elementReference>
            </value>
        </inputAssignments>
        <object>EmailMessage</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordUpdates>
        <description>Mark Mass Email Record that Email was sent.</description>
        <name>EmailSent</name>
        <label>EmailSent</label>
        <locationX>50</locationX>
        <locationY>398</locationY>
        <connector>
            <targetReference>Create_Email_Message_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varMassEmailID.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Sent</stringValue>
            </value>
        </inputAssignments>
        <object>Mass_Email__c</object>
    </recordUpdates>
    <recordUpdates>
        <description>Mark Mass Email Record that Email was sent.</description>
        <name>EmailSent_0</name>
        <label>EmailSent</label>
        <locationX>314</locationX>
        <locationY>398</locationY>
        <connector>
            <targetReference>Create_Email_Message_Record_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varMassEmailID.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Sent</stringValue>
            </value>
        </inputAssignments>
        <object>Mass_Email__c</object>
    </recordUpdates>
    <recordUpdates>
        <description>Mark Mass Email Record that Email was sent.</description>
        <name>EmailSent_0_0</name>
        <label>EmailSent</label>
        <locationX>578</locationX>
        <locationY>398</locationY>
        <connector>
            <targetReference>Create_Email_Message_Record_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varMassEmailID.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Sent</stringValue>
            </value>
        </inputAssignments>
        <object>Mass_Email__c</object>
    </recordUpdates>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>What_Email_Template_to_Send</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <description>Carrier Administered Email Template Body</description>
        <name>CarrierAdministeredEmailBody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Hi {!varMassEmailID.Payroll_Admin_Name__c},&lt;/p&gt;&lt;p&gt;Company name: {!varMassEmailID.Account__r.Name},&lt;/p&gt;&lt;p&gt;We’re reaching out to let you know about some new, temporary COBRA requirements that were recently released in the &lt;a href=&quot;https://www.google.com/url?q=https://support.gusto.com/benefits/managed-by-gusto/benefits-administration/2254609601/COBRA-and-Continuation-subsidy-requirements-under-the-American-Rescue-Plan-Act-ARPA.htm&amp;amp;sa=D&amp;amp;source=editors&amp;amp;ust=1618883662705000&amp;amp;usg=AOvVaw291DLatlXXTgiRsQCujKm0&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;2021 American Rescue Plan Act (ARPA)&lt;/a&gt;.&amp;nbsp;&lt;/p&gt;&lt;p&gt;Based on our records, the company listed above may not be directly impacted as they are in states where the carrier is responsible for state continuation or do not have state continuation requirements. Carriers who have to provide continuation under state law are obligated to meet certain requirements.&amp;nbsp;&lt;/p&gt;&lt;p&gt;&lt;b&gt;How does the ARPA affect my company?&lt;/b&gt;&lt;/p&gt;&lt;p&gt;Under the recently passed 2021 ARPA, employees (and their dependents) who have specific qualifying life events are eligible to have 100% of their COBRA premiums subsidized by the federal government; the reimbursement period applies from April 1 to September 30 of 2021 and employees must be notified. It does not apply to states where there is no existing state continuation requirement.&lt;/p&gt;&lt;p&gt;&lt;b&gt;Heads up&lt;/b&gt;&lt;/p&gt;&lt;p&gt;If your company is located in one of the states listed below and state continuation applies, your insurance carrier may be responsible for the notifications and subsidization of continuation premiums. Contact your carrier directly for more information.&lt;/p&gt;&lt;ul&gt;&lt;li&gt;State(s): &lt;a href=&quot;https://support.gusto.com/1435573001/Cal-COBRA.htm&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;California&lt;/a&gt;, Florida, Georgia, Kansas. Kentucky, Maine, Louisiana, Mississippi, New Hampshire, Oklahoma, Oregon, and West Virginia.&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;If your company is located in and has its plans written out of one of the following states, you’re likely not required to abide by ARPA’s subsidization requirements–likewise, you’re also not likely to be able to receive a tax credit for offering the subsidy because you aren’t subject to the ARPA requirement(s).&lt;/p&gt;&lt;ul&gt;&lt;li&gt;State(s): Alabama, Alaska, Hawaii, Idaho, Indiana, Michigan, Montana, and Nevada.&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;If you have questions, reach out to cobrasubsidy@gusto.com benefits@gusto.com for additional assistance.&lt;/p&gt;&lt;p&gt;Thank you,&amp;nbsp;&lt;/p&gt;&lt;p&gt;The Gusto team&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <description>Federal Email Body</description>
        <name>FederalEmailBody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Hi {!varMassEmailID.Payroll_Admin_Name__c},&lt;/p&gt;&lt;p&gt;Company name: {!varMassEmailID.Account__r.Name}&lt;/p&gt;&lt;p&gt;Gusto wanted to inform you about some new, temporary requirements that were recently released in the &lt;a href=&quot;https://www.google.com/url?q=https://support.gusto.com/benefits/managed-by-gusto/benefits-administration/2254609601/COBRA-and-Continuation-subsidy-requirements-under-the-American-Rescue-Plan-Act-ARPA.htm&amp;amp;sa=D&amp;amp;source=editors&amp;amp;ust=1618883683034000&amp;amp;usg=AOvVaw382q_A5q-b6KEB1OSHjEdh&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;2021 American Rescue Plan Act (ARPA)&lt;/a&gt;.&amp;nbsp;&lt;/p&gt;&lt;p&gt;Based on our records, the company listed above may be impacted, as they are required to abide by federal COBRA. If the company utilizes BASIC Pacific as your COBRA administrator, they have and will continue to send out information in regards to this new requirement. If the company uses a different federal COBRA administrator, they may have already sent you information and we recommend you reach out to them.&amp;nbsp;&lt;/p&gt;&lt;p&gt;&lt;b&gt;How Does ARPA affect my company?&lt;/b&gt;&lt;/p&gt;&lt;p&gt;Under the recently passed American Rescue Plan Act of 2021, employees (and their dependents) who have specific qualifying life events are eligible to have 100% of their COBRA premiums subsidized by the federal government; the reimbursement period will run from April 1, 2021 to September 30, 2021.&lt;/p&gt;&lt;p&gt;&lt;b&gt;Action required&amp;nbsp;&lt;/b&gt;&lt;/p&gt;&lt;p&gt;Employers are responsible for paying for 100% of an assistance eligible individual’s COBRA premium upfront and will receive a tax credit on their quarterly tax returns to subsidize the cost.&amp;nbsp;&lt;/p&gt;&lt;p&gt;To learn more about how to comply with the new law, check out our Help Center article with &lt;a href=&quot;https://www.google.com/url?q=https://support.gusto.com/benefits/managed-by-gusto/benefits-administration/2254609601/COBRA-and-Continuation-subsidy-requirements-under-the-American-Rescue-Plan-Act-ARPA.htm&amp;amp;sa=D&amp;amp;source=editors&amp;amp;ust=1618883673059000&amp;amp;usg=AOvVaw0jjkPUFjPacG_sd1-xwK4A&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;additional information about the ARPA&lt;/a&gt;.&amp;nbsp;&lt;/p&gt;&lt;p&gt;&lt;b&gt;What is Gusto doing to help?&lt;/b&gt;&lt;/p&gt;&lt;p&gt;Our third-party COBRA administrator, BASIC Pacific, will handle the entire enrollment process for those who are eligible, called “assistance eligible individuals.”&amp;nbsp;&lt;/p&gt;&lt;p&gt;They’ll provide employees who are dismissed during the COBRA subsidy eligibility period (Apr 1- Sep 30) with relevant COBRA notices letting them know there’s premium assistance available for COBRA coverage. They’ll also be notified that they can enroll in different coverage (if permitted by the company).&lt;/p&gt;&lt;p&gt;Here’s a summary of what BASIC Pacific will handle:&lt;/p&gt;&lt;ul&gt;&lt;li&gt;COBRA notification compliance requirements&amp;nbsp;&lt;/li&gt;&lt;li&gt;Assisting employers with determining who is an “assistance eligible individual”&amp;nbsp;&lt;ul&gt;&lt;li&gt;Employers will get helpful reports&lt;/li&gt;&lt;/ul&gt;&lt;/li&gt;&lt;li&gt;Billing the client for the 2% admin fee.&lt;ul&gt;&lt;li&gt;During this subsidy period, the employer will pay this fee and it will be reimbursed by the government.&lt;/li&gt;&lt;/ul&gt;&lt;/li&gt;&lt;li&gt;Notifying employees when the period of premium assistance is going to expire&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;If you use a different COBRA administrator, please reach out to them to inquire on how they will be supporting.&lt;/p&gt;&lt;p&gt;For more information or questions about employee eligibility, contact BASIC Pacific directly at&amp;nbsp;&lt;/p&gt;&lt;p&gt;cobra@basicpacific.com or your own COBRA administrator.&lt;/p&gt;&lt;p&gt;Thank you,&amp;nbsp;&lt;/p&gt;&lt;p&gt;The Gusto team&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>StateContinuationEmailBody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Hi {!varMassEmailID.Payroll_Admin_Name__c},&lt;/p&gt;&lt;p&gt;Company name: {!varMassEmailID.Account__r.Name}&lt;/p&gt;&lt;p&gt;We’re reaching out to let you know about some new, temporary COBRA requirements that were recently released in the &lt;a href=&quot;https://support.gusto.com/benefits/managed-by-gusto/benefits-administration/2254609601/COBRA-and-Continuation-subsidy-requirements-under-the-American-Rescue-Plan-Act-ARPA.htm&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;2021 American Rescue Plan Act (ARPA)&lt;/a&gt;.&amp;nbsp;&lt;/p&gt;&lt;p&gt;Based on our records, the company listed above may be impacted as they’re required to abide by state continuation/mini-COBRA requirements. Employers who have to provide continuation under state law are obligated to meet certain requirements.&amp;nbsp;&lt;/p&gt;&lt;p&gt;&lt;b&gt;How does the ARPA affect my company?&lt;/b&gt;&lt;/p&gt;&lt;p&gt;Under the recently passed 2021 ARPA, employees (and their dependents) who have specific qualifying life events are eligible to have 100% of their COBRA premiums subsidized by the federal government; the reimbursement period applies from April 1 to September 30 of 2021 and employees must be notified.&lt;/p&gt;&lt;p&gt;&lt;b&gt;Action required&amp;nbsp;&lt;/b&gt;&lt;/p&gt;&lt;p&gt;Employers are responsible for paying 100% of an assistance-eligible individual’s COBRA premium upfront and will receive a tax credit on their quarterly tax returns to subsidize the cost.&amp;nbsp;&lt;/p&gt;&lt;p&gt;&lt;b&gt;&lt;u&gt;To learn more about how to comply with the new law, including what notifications must be sent to employees and what Gusto is supporting, check out our &lt;/u&gt;&lt;/b&gt;&lt;a href=&quot;https://support.gusto.com/benefits/managed-by-gusto/benefits-administration/2254609601/COBRA-and-Continuation-subsidy-requirements-under-the-American-Rescue-Plan-Act-ARPA.htm&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;&lt;b&gt;&lt;u&gt;Help Center article with additional information about the ARPA&lt;/u&gt;&lt;/b&gt;&lt;/a&gt;&lt;b&gt;&lt;u&gt;.&amp;nbsp;&lt;/u&gt;&lt;/b&gt;&lt;/p&gt;&lt;p&gt;One critical notification must go out to employees (and their dependents) if they had a qualifying life event before April 1, regardless of if they elected continuation coverage–these individuals may be eligible for a special enrollment period and will also have their premiums subsidized.&lt;/p&gt;&lt;p&gt;If a continuation enrollee’s continuation is set to end before September 30, make sure to notify them when the period of premium assistance is going to expire.&lt;/p&gt;&lt;p&gt;Please reach out to cobrasubsidy@gusto.com for more information or if you have additional questions.&amp;nbsp;&lt;/p&gt;&lt;p&gt;Thank you,&amp;nbsp;&lt;/p&gt;&lt;p&gt;The Gusto team&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <description>CC Addresses</description>
        <name>varCCAddress</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Email Subject</description>
        <name>varEmailSubject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>From Address</description>
        <name>varFromAddress</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Mass Email record ID</description>
        <name>varMassEmailID</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Mass_Email__c</objectType>
    </variables>
    <variables>
        <description>Email Template Name</description>
        <name>varTemplateName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>ToAddress</description>
        <name>varToEmailAddress</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
