force-app/main/default/flows/Contact_Trigger_Flows_Main.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Trigger_NPS_Survey</name>
        <label>Trigger_NPS_Survey</label>
        <locationX>578</locationX>
        <locationY>575</locationY>
        <actionName>Contact.Trigger_NPS_Survey</actionName>
        <actionType>outboundMessage</actionType>
        <connector>
            <targetReference>Create_Customer_Survey_Response_0</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <nameSegment>Contact.Trigger_NPS_Survey</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Trigger_NPS_Survey_2</name>
        <label>Trigger_NPS_Survey 2</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <actionName>Contact.Trigger_NPS_Survey</actionName>
        <actionType>outboundMessage</actionType>
        <connector>
            <targetReference>Create_Customer_Survey_Response</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <nameSegment>Contact.Trigger_NPS_Survey</nameSegment>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <decisions>
        <description>Split each Contact Record type into a seperate path.</description>
        <name>Contact_Record_Type_Check</name>
        <label>Contact Record Type Check</label>
        <locationX>644</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Company</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Company</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_NPS_Survey</targetReference>
            </connector>
            <label>Company</label>
        </rules>
        <rules>
            <name>Reseller</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reseller</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_NPS_Survey_0</targetReference>
            </connector>
            <label>Reseller</label>
        </rules>
    </decisions>
    <decisions>
        <description>If the Contact records NPS_Status__c field is in a Queued state and NPS_Survey_Criteria is true we want to trigger an Email alert to send our NPS survey email to customers.</description>
        <name>Send_NPS_Survey</name>
        <label>Send NPS Survey</label>
        <locationX>182</locationX>
        <locationY>455</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Send_Survey</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.NPS_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Queued</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.NPS_Survey_Criteria__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Trigger_NPS_Survey_2</targetReference>
            </connector>
            <label>Send Survey</label>
        </rules>
    </decisions>
    <decisions>
        <description>If the Contact records NPS_Status__c field is in a Queued state and NPS_Survey_Criteria is true we want to trigger an Email alert to send our NPS survey email to customers.</description>
        <name>Send_NPS_Survey_0</name>
        <label>Send NPS Survey</label>
        <locationX>710</locationX>
        <locationY>455</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Send_Survey_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.NPS_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Queued</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.NPS_Survey_Criteria__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Trigger_NPS_Survey</targetReference>
            </connector>
            <label>Send Survey</label>
        </rules>
    </decisions>
    <description>Main record triggered flow calling our sub contact flows/ processes.</description>
    <environments>Default</environments>
    <formulas>
        <name>surveyDateFormat</name>
        <dataType>String</dataType>
        <expression>TEXT({!$Record.NPS_Survey_Date__c})</expression>
    </formulas>
    <interviewLabel>Contact Trigger Flows Main {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Contact After Save Trigger</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>Ceate Customer Survey Response record of Survey being sent to a contact.</description>
        <name>Create_Customer_Survey_Response</name>
        <label>Create Customer Survey Response</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <connector>
            <targetReference>Update_NPS_Status</targetReference>
        </connector>
        <inputAssignments>
            <field>Contact__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NPS_Customer_Category__c</field>
            <value>
                <elementReference>$Record.NPS_Customer_Category_Formula__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NPS_Survey_Sent_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sent_External_Id__c</field>
            <value>
                <stringValue>{!surveyDateFormat};{!surveyId};{!$Record.Contact_Id_18_Digit__c}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Survey_ID__c</field>
            <value>
                <elementReference>surveyId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Survey_Name__c</field>
            <value>
                <stringValue>NPS</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Survey_Status__c</field>
            <value>
                <stringValue>Sent</stringValue>
            </value>
        </inputAssignments>
        <object>Customer_Survey_Response__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>Ceate Customer Survey Response record of Survey being sent to a contact.</description>
        <name>Create_Customer_Survey_Response_0</name>
        <label>Create Customer Survey Response</label>
        <locationX>578</locationX>
        <locationY>695</locationY>
        <connector>
            <targetReference>Update_NPS_Status_0</targetReference>
        </connector>
        <inputAssignments>
            <field>Contact__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NPS_Customer_Category__c</field>
            <value>
                <elementReference>$Record.NPS_Customer_Category_Formula__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NPS_Survey_Sent_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sent_External_Id__c</field>
            <value>
                <stringValue>{!surveyDateFormat};{!surveyId};{!$Record.Contact_Id_18_Digit__c}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Survey_ID__c</field>
            <value>
                <elementReference>surveyId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Survey_Name__c</field>
            <value>
                <stringValue>NPS</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Survey_Status__c</field>
            <value>
                <stringValue>Sent</stringValue>
            </value>
        </inputAssignments>
        <object>Customer_Survey_Response__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordUpdates>
        <description>Update NPS Status to Sent after Outbound Message sent successfully was sent</description>
        <name>Update_NPS_Status</name>
        <label>Update NPS Status</label>
        <locationX>50</locationX>
        <locationY>815</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>NPS_Status__c</field>
            <value>
                <stringValue>Processed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NPS_Survey_Sent_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Update NPS Status to Sent after Outbound Message sent successfully was sent</description>
        <name>Update_NPS_Status_0</name>
        <label>Update NPS Status</label>
        <locationX>578</locationX>
        <locationY>815</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>NPS_Status__c</field>
            <value>
                <stringValue>Processed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NPS_Survey_Sent_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>518</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Contact_Record_Type_Check</targetReference>
        </connector>
        <filterLogic>(1 OR 2) AND 3 AND 4</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>012G0000001BF33IAG</stringValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>01216000000WdT0AAK</stringValue>
            </value>
        </filters>
        <filters>
            <field>NPS_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queued</stringValue>
            </value>
        </filters>
        <filters>
            <field>NPS_Survey_Criteria__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Contact</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>flowPath</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>surveyId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>SV_3O5ytWnSl9C37Ct</stringValue>
        </value>
    </variables>
</Flow>
