force-app/main/default/flows/Create_Client_Relations_Cases.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>Assign_Values_in_Client_Relations_Cases</name>
        <label>Assign Values in Client Relations Cases</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignmentItems>
            <assignToReference>clientRelationCaseToInsert.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Contact__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>clientRelationCaseToInsert.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>clientRelationCaseToInsert.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>caseStatus</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>clientRelationCaseToInsert.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Contact__r.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>clientRelationCaseToInsert.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Label.Client_Relation_Queue_Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>clientRelationCaseToInsert.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Label.Client_Relations_Case_Recordtype_Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>clientRelationCaseToInsert.Customer_Survey_Response__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>clientRelationCaseToInsert.Escalation_Channel__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>NPS Detractor</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Client_Relations_Case</targetReference>
        </connector>
    </assignments>
    <description>This flow is created for BTE-3720 to handle client relation cases when the NPS response is received from the user.
Updated for BTE-4201</description>
    <environments>Default</environments>
    <interviewLabel>Create Client Relations Cases {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Client Relations Cases</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Client_Relations_Case</name>
        <label>Create Client Relations Case</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Create_NPS_Score_Record</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Create_Exception_Log</targetReference>
        </faultConnector>
        <inputReference>clientRelationCaseToInsert</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Exception_Log</name>
        <label>Create Exception Log</label>
        <locationX>440</locationX>
        <locationY>647</locationY>
        <inputAssignments>
            <field>Class_Name__c</field>
            <value>
                <stringValue>Create Client Relations Cases Flow</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Message__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Record_ID__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Exception_Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_NPS_Score_Record</name>
        <label>Create NPS Score Record</label>
        <locationX>176</locationX>
        <locationY>539</locationY>
        <faultConnector>
            <targetReference>Create_Exception_Log</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Case__c</field>
            <value>
                <stringValue>{!clientRelationCaseToInsert.Id}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Customer_Survey_Response__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Escalation_Type__c</field>
            <value>
                <stringValue>NPS Score</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NPS_Score__c</field>
            <value>
                <elementReference>$Record.NPS__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Label.Client_Relation_Queue_Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>$Label.NPS_Score_Client_Relations_Recordtype_Id</elementReference>
            </value>
        </inputAssignments>
        <object>Client_Relations__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Assign_Values_in_Client_Relations_Cases</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Survey_Status__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Survey_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Responded</stringValue>
            </value>
        </filters>
        <filters>
            <field>NPS_Contact_Category__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Employee</stringValue>
            </value>
        </filters>
        <filters>
            <field>NPS__c</field>
            <operator>LessThan</operator>
            <value>
                <numberValue>8.0</numberValue>
            </value>
        </filters>
        <object>Customer_Survey_Response__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>caseStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Gusto Account Feedback</stringValue>
        </value>
    </variables>
    <variables>
        <name>clientRelationCaseToInsert</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
</Flow>
