force-app/main/default/flows/Customer_Verification.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <decisions>
        <name>Which_Button_Clicked</name>
        <label>Which Button Clicked</label>
        <locationX>446</locationX>
        <locationY>350</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Authenticated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LWC.displayAuthenticated</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen1</targetReference>
            </connector>
            <label>Authenticated</label>
        </rules>
        <rules>
            <name>Token_Matched</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LWC.displayTokenMatch</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen2</targetReference>
            </connector>
            <label>Token Matched</label>
        </rules>
        <rules>
            <name>UnAuthenticated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LWC.displayUnauthenticated</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen3</targetReference>
            </connector>
            <label>UnAuthenticated</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Customer Verification {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Customer Verification</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Case_Data</name>
        <label>Get Case Data</label>
        <locationX>446</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Which_Button_Clicked</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>DisplayButton</name>
        <label>DisplayButton</label>
        <locationX>446</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Case_Data</targetReference>
        </connector>
        <fields>
            <name>DisplayScreen</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Select the Below Actions based on the Status&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>LWC</name>
            <extensionName>c:verifyUser</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen1</name>
        <label>Screen1</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>HeaderText</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; color: rgb(68, 70, 73);&quot;&gt;Ask customer to confirm below :&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; color: rgb(68, 70, 73);&quot;&gt; &lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Screen1data</name>
            <fieldText>&lt;p&gt;Full Name : {!Get_Case_Data.Contact.FirstName}{!Get_Case_Data.Contact.LastName}&lt;/p&gt;&lt;p&gt;Company Name : {!Get_Case_Data.Account.Name}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen2</name>
        <label>Screen2</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>HeaderText2</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(68, 70, 73); font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;Ask customer to confirm below :&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>TokenMatchedScreen</name>
            <fieldText>&lt;p&gt;Full Name : {!Get_Case_Data.Contact.FirstName}{!Get_Case_Data.Contact.LastName}&lt;/p&gt;&lt;p&gt;Company Name : {!Get_Case_Data.Account.Name}&lt;/p&gt;&lt;p&gt;Email Address : {!Get_Case_Data.Contact.Email}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen3</name>
        <label>Screen3</label>
        <locationX>578</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>DisplayHeader3</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(68, 70, 73); font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;Ask customer to confirm&amp;nbsp;​below :&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Screen3Text</name>
            <fieldText>&lt;p&gt;Full Name : {!Get_Case_Data.Contact.FirstName}{!Get_Case_Data.Contact.LastName}&lt;/p&gt;&lt;p&gt;Company Name : {!Get_Case_Data.Account.Name}&lt;/p&gt;&lt;p&gt;Email Address : {!Get_Case_Data.Contact.Email}&lt;/p&gt;&lt;p&gt;Last 4 of SSN : Go to Contact to see the details&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;&amp;nbsp;OR&lt;/p&gt;&lt;p&gt;Last 4 of FEIN : {!Get_Case_Data.FEIN_Last_4_digits__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>DisplayButton</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
