force-app/main/default/flows/Email_Booked_By_User_of_Demo_No_Show.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_No_Show_Notification_Contact</name>
        <label>Send No Show Notification (Contact)</label>
        <locationX>440</locationX>
        <locationY>1082</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>Contact_Email_Body</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>Booked_By_User.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>Contact_Email_Subject</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_No_Show_Notification_Default</name>
        <label>Send No Show Notification (Default)</label>
        <locationX>704</locationX>
        <locationY>1082</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>Default_Body_Template</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>Booked_By_User.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>Default_Email_Subject</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_No_Show_Notification_Lead</name>
        <label>Send No Show Notification (Lead)</label>
        <locationX>176</locationX>
        <locationY>1082</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>LeadBodyTemplate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>Booked_By_User.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>Lead_Email_Subject</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <description>Only set No Show to true since status already Canceled</description>
        <name>Set_No_Show_Only</name>
        <label>Set No Show Only</label>
        <locationX>308</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>EventRecord.No_Show_CP__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_the_Event_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set both field values.  It doesn&apos;t matter if the fields are already set.</description>
        <name>Set_Status_and_No_Show</name>
        <label>Set Status and No Show</label>
        <locationX>572</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>EventRecord.No_Show_CP__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EventRecord.Event_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Attempt</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_the_Event_Record</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>Emptystring</name>
        <dataType>String</dataType>
        <value>
            <stringValue></stringValue>
        </value>
    </constants>
    <decisions>
        <name>Check_If_Booked_By_is_Chilipiper</name>
        <label>Check If Booked By is Chilipiper</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Get_Lead_Name</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Booked_by_Chilipiper</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Booked_By_User.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ChiliPiper</stringValue>
                </rightValue>
            </conditions>
            <label>Booked by == (Chilipiper or null)</label>
        </rules>
    </decisions>
    <decisions>
        <description>If for no show appointment the status should be either cancelled or attempted.   If the status is already canceled the flow should stay as canceled.  If not it should ensure the status is set as Attempt.</description>
        <name>Is_Status_Set_to_Canceled</name>
        <label>Is Status Set to Canceled</label>
        <locationX>440</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Set_Status_and_No_Show</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Status &lt;&gt; Canceled</defaultConnectorLabel>
        <rules>
            <name>Status_Canceled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>EventRecord.Event_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Canceled</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_No_Show_Only</targetReference>
            </connector>
            <label>Status = Canceled</label>
        </rules>
    </decisions>
    <decisions>
        <name>Wasaleadoraccountfound</name>
        <label>Was a lead or account found</label>
        <locationX>440</locationX>
        <locationY>974</locationY>
        <defaultConnector>
            <targetReference>Send_No_Show_Notification_Default</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Contact or Lead was Found</defaultConnectorLabel>
        <rules>
            <name>Lead_was_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Lead_Record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_No_Show_Notification_Lead</targetReference>
            </connector>
            <label>Lead was Found</label>
        </rules>
        <rules>
            <name>Contact_was_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Contact_Record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_No_Show_Notification_Contact</targetReference>
            </connector>
            <label>Contact was Found</label>
        </rules>
    </decisions>
    <description>Used to notify the user to reschedule demo appointment.
06-11-20 Updated to Abort if Booked By is null
06-05-23 Check if booked by is Chilipiper</description>
    <environments>Default</environments>
    <formulas>
        <name>Contact_Email_Subject</name>
        <dataType>String</dataType>
        <expression>&quot;Demo for &quot;  &amp; {!Contact_Record.Name}&amp; &quot; was marked as a No Show&quot;</expression>
    </formulas>
    <formulas>
        <name>Default_Email_Subject</name>
        <dataType>String</dataType>
        <expression>&quot;A Demo has been marked as a No Show&quot;</expression>
    </formulas>
    <formulas>
        <name>Lead_Email_Subject</name>
        <dataType>String</dataType>
        <expression>&quot;Demo for &quot;  &amp; {!Lead_Record.Name} &amp; &quot; was marked as a No Show&quot;</expression>
    </formulas>
    <interviewLabel>Email Booked By User of Demo No Show {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Email Booked By User of Demo No Show</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Get user who booked the demo</description>
        <name>Get_Booked_By_User</name>
        <label>Get Booked By User</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_If_Booked_By_is_Chilipiper</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>EventRecord.Booked_By__c</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputReference>Booked_By_User</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Email</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Contact_Name</name>
        <label>Get Contact Name</label>
        <locationX>440</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Status_Set_to_Canceled</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>EventRecord.WhoId</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>Contact_Record</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Lead_Name</name>
        <label>Get Lead Name</label>
        <locationX>440</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Contact_Name</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>EventRecord.WhoId</elementReference>
            </value>
        </filters>
        <object>Lead</object>
        <outputReference>Lead_Record</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_the_Event_Record</name>
        <label>Update the Event Record</label>
        <locationX>440</locationX>
        <locationY>866</locationY>
        <connector>
            <targetReference>Wasaleadoraccountfound</targetReference>
        </connector>
        <inputReference>EventRecord</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Booked_By_User</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <textTemplates>
        <name>Contact_Email_Body</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Hi {!Booked_By_User.Name},&amp;nbsp;The demo that was scheduled with {!Contact_Record.Name} has been marked as a no-show.&amp;nbsp;&amp;nbsp;Please schedule a new demo appointment.&amp;nbsp;Use this link to see the Event.&amp;nbsp;https://gusto.my.salesforce.com/{!EventRecord.Id}&amp;nbsp;&amp;nbsp;NOTE:&amp;nbsp;If the demo has a date and time in the future, it has already been rescheduled through an SMS text from Gusto.&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>Default_Body_Template</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Hi {!Booked_By_User.Name}, A demo that was scheduled has been set as a No Show. Please use the link below to see the Event in Salesforce. https://gusto.my.salesforce.com/{!EventRecord.Id} . NOTE: If the demo has a date and time in the future, it has already been rescheduled through an SMS text from Gusto.&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>LeadBodyTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Hi {!Booked_By_User.Name}, The demo that was scheduled with {!Lead_Record.Name} has been marked as a no-show. Please schedule a new demo appointment. Use this link to see the Event. https://gusto.my.salesforce.com/{!EventRecord.Id} NOTE: If the demo has a date and time in the future, it has already been rescheduled through an SMS text from Gusto.&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>Account_Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <description>User ID of the Booked By user on the Activity</description>
        <name>Booked_By_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Booked_By_User</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>Contact_Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <description>Event that had the no-show</description>
        <name>EventRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Event</objectType>
    </variables>
    <variables>
        <name>Lead_Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <description>Used to test for null</description>
        <name>Var_Booked_By_Count</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <description>Used to test for null</description>
        <name>var_Contacts_Count</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>var_Lead_Count</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
