force-app/main/default/flows/Forethought_Test_Solve_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Email_Message_Action_1</name>
        <label>Send Callout</label>
        <locationX>308</locationX>
        <locationY>384</locationY>
        <actionName>forethought::ForethoughtSolveService.SendEmailMessage</actionName>
        <actionType>externalService</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>ForethoughtRequestBody</elementReference>
            </value>
        </inputParameters>
        <nameSegment>forethought::ForethoughtSolveService.SendEmailMessage</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>fromRecordToRequest</name>
        <label>fromRecordToRequest</label>
        <locationX>308</locationX>
        <locationY>276</locationY>
        <assignmentItems>
            <assignToReference>ForethoughtRequestBody.emailx5fmessagex5fid</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ForethoughtRequestBody.parentx5fid</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ParentId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ForethoughtRequestBody.createdx5fbyx5fid</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CreatedById</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ForethoughtRequestBody.fromx5faddress</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.FromAddress</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ForethoughtRequestBody.incoming</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Incoming</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ForethoughtRequestBody.isx5fexternallyx5fvisible</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.IsExternallyVisible</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ForethoughtRequestBody.textx5fbody</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.TextBody</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ForethoughtRequestBody.validatedx5ffromx5faddress</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ValidatedFromAddress</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ForethoughtRequestBody.subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Subject</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ForethoughtRequestBody.tox5faddress</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ToAddress</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Email_Message_Action_1</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Forethought Test Solve Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Forethought Test Solve Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <object>EmailMessage</object>
        <recordTriggerType>Create</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>fromRecordToRequest</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>ForethoughtRequestBody</name>
        <apexClass>ExternalService__forethought__ForethoughtSolveService_SendEmailMessage_IN_body</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
