force-app/main/default/flows/Freshbook_Lead_Skack_Notification.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Send notification Freshbook lead is created</description>
        <name>New_Lead_Freshbooksales_Notification</name>
        <label>New Lead Freshbooksales Notification</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <actionName>slackv2__invokePostMessage</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>message</name>
            <value>
                <elementReference>PostNewLeadtoSlack</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>messageDestinationId</name>
            <value>
                <elementReference>Slack_Channel_Destination.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>slackv2__invokePostMessage</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>63.0</apiVersion>
    <environments>Default</environments>
    <interviewLabel>Freshbook Lead Skack {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Freshbook Lead Skack Notification</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Slack Channel Destination where all the notifications will be sent</description>
        <name>Slack_Channel_Destination</name>
        <label>Slack Channel Destination</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>New_Lead_Freshbooksales_Notification</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>slackv2__Channel_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>slack-test-biztech</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>slackv2__Message_Destination__c</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Slack_Channel_Destination</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LeadSource</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>freshbooks</stringValue>
            </value>
        </filters>
        <object>Lead</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <description>Post New Lead info to Slack</description>
        <name>PostNewLeadtoSlack</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&gt;New Freshbooks Lead Alert!
Lead Name: {!$Record.Name}
Email: {!$Record.Email}
Company: {!$Record.Company}
Phone: {!$Record.Phone}
Number of Employees: {!$Record.NumberOfEmployees}

@{!$Record.Owner:User.Slack_Id__c} - This lead is owned by you!&lt;/p&gt;</text>
    </textTemplates>
</Flow>
