force-app/main/default/flows/Gather_Prospect_Information.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Update_Account_Information</name>
        <label>Update Account Information</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>getAccountRecord.No_of_Clients__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Total_Business_Clients</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getAccountRecord.No_Clients_Payroll__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Total_Business_Clients_with_Payroll</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getAccountRecord.Total_Business_Clients_Payroll_by_Firm__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Total_Business_Clients_Payroll_by_Firm</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getAccountRecord.Services_Offered__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Services_Offered</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getAccountRecord.Other_Client_Payroll_Providers__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Other_Client_Payroll_Providers</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getAccountRecord.Benefits_Notes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Benefits_Advisor_Notes</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getAccountRecord.Reason_for_Not_Moving_Clients__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Reason_for_Not_Moving_Clients</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getAccountRecord.No_of_Firm_Accountants_SFDC__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>No_of_Firm_Accountants</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getAccountRecord.Accounting_Software__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Accounting_Software</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getAccountRecord.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Description</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getAccountRecord.Practice_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Practice_Type</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getAccountRecord.Offers_Payroll__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Offers_Payroll</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getAccountRecord.Next_Steps__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Next_Steps</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Account</targetReference>
        </connector>
    </assignments>
    <dynamicChoiceSets>
        <name>accountingSoftwareChoice</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Accounting_Software__c</picklistField>
        <picklistObject>Account</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>offersPayrollChoice</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Offers_Payroll__c</picklistField>
        <picklistObject>Account</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>otherClientPayrollProvidersChoice</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Other_Client_Payroll_Providers__c</picklistField>
        <picklistObject>Account</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>practiceTypeChoice</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Practice_Type__c</picklistField>
        <picklistObject>Account</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>reasonForNotMovingClientsChoice</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Reason_for_Not_Moving_Clients__c</picklistField>
        <picklistObject>Account</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>servicesOfferedChoice</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Services_Offered__c</picklistField>
        <picklistObject>Account</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>Gather Prospect Information {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Gather Prospect Information</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>getAccountRecord</name>
        <label>SOQL Account Information</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Gather_Prospect_Information_Screen</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Account</name>
        <label>Update Account</label>
        <locationX>176</locationX>
        <locationY>518</locationY>
        <connector>
            <targetReference>Success_Screen</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <inputReference>getAccountRecord</inputReference>
    </recordUpdates>
    <screens>
        <name>Error_Screen</name>
        <label>Error Screen</label>
        <locationX>704</locationX>
        <locationY>278</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ErrorMsg</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(240, 28, 28);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Close</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Gather_Prospect_Information_Screen</name>
        <label>Gather Prospect Information Screen</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_Account_Information</targetReference>
        </connector>
        <fields>
            <name>Total_Business_Clients</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>getAccountRecord.No_of_Clients__c</elementReference>
            </defaultValue>
            <fieldText>Total Business Clients</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Total_Business_Clients_with_Payroll</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>getAccountRecord.No_Clients_Payroll__c</elementReference>
            </defaultValue>
            <fieldText>Total Business Clients (with Payroll)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Total_Business_Clients_Payroll_by_Firm</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>getAccountRecord.Total_Business_Clients_Payroll_by_Firm__c</elementReference>
            </defaultValue>
            <fieldText>Total Business Clients (Payroll by Firm)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Services_Offered</name>
            <choiceReferences>servicesOfferedChoice</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>getAccountRecord.Services_Offered__c</elementReference>
            </defaultValue>
            <fieldText>Services Offered</fieldText>
            <fieldType>MultiSelectPicklist</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Other_Client_Payroll_Providers</name>
            <choiceReferences>otherClientPayrollProvidersChoice</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>getAccountRecord.Other_Client_Payroll_Providers__c</elementReference>
            </defaultValue>
            <fieldText>Other Client Payroll Providers</fieldText>
            <fieldType>MultiSelectPicklist</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Benefits_Advisor_Notes</name>
            <defaultValue>
                <stringValue>{!getAccountRecord.Benefits_Notes__c}</stringValue>
            </defaultValue>
            <fieldText>Benefits Advisor Notes</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Reason_for_Not_Moving_Clients</name>
            <choiceReferences>reasonForNotMovingClientsChoice</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>getAccountRecord.Reason_for_Not_Moving_Clients__c</elementReference>
            </defaultValue>
            <fieldText>Reason for Not Moving Clients</fieldText>
            <fieldType>MultiSelectPicklist</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>No_of_Firm_Accountants</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>getAccountRecord.No_of_Firm_Accountants_SFDC__c</elementReference>
            </defaultValue>
            <fieldText>No. of Firm Accountants</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Accounting_Software</name>
            <choiceReferences>accountingSoftwareChoice</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>getAccountRecord.Accounting_Software__c</elementReference>
            </defaultValue>
            <fieldText>Accounting Software</fieldText>
            <fieldType>MultiSelectPicklist</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Description</name>
            <defaultValue>
                <stringValue>{!getAccountRecord.Description}</stringValue>
            </defaultValue>
            <fieldText>Description</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Practice_Type</name>
            <choiceReferences>practiceTypeChoice</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>getAccountRecord.Practice_Type__c</elementReference>
            </defaultValue>
            <fieldText>Practice Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Offers_Payroll</name>
            <choiceReferences>offersPayrollChoice</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>getAccountRecord.Offers_Payroll__c</elementReference>
            </defaultValue>
            <fieldText>Offers Payroll</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Next_Steps</name>
            <defaultValue>
                <stringValue>{!getAccountRecord.Next_Steps__c}</stringValue>
            </defaultValue>
            <fieldText>Next Steps</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Update Prospect Information</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Success_Screen</name>
        <label>Success Screen</label>
        <locationX>176</locationX>
        <locationY>638</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>SuccessMsg</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;&lt;em&gt;﻿&lt;/em&gt;&lt;/strong&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68); font-size: 14px;&quot;&gt;&lt;em&gt;Record Successfully Update&lt;/em&gt;&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Close</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getAccountRecord</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
