force-app/main/default/flows/Live_Ops_Case_Investigation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Post_to_Chatter</name>
        <label>Post to Chatter</label>
        <locationX>182</locationX>
        <locationY>974</locationY>
        <actionName>PostToChatterInvocable</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>idRecordToMention</name>
            <value>
                <elementReference>GuidedCaseFlowCreated.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>idTargetRecord</name>
            <value>
                <elementReference>Get_case.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>strText</name>
            <value>
                <stringValue>Case Investigation created: </stringValue>
            </value>
        </inputParameters>
        <nameSegment>PostToChatterInvocable</nameSegment>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <choices>
        <name>Nocheckboxs</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>false</stringValue>
        </value>
    </choices>
    <choices>
        <name>None</name>
        <choiceText>None</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>None</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yescheckboxs</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>true</stringValue>
        </value>
    </choices>
    <constants>
        <name>FlowName</name>
        <dataType>String</dataType>
        <value>
            <stringValue>LiveOps Case Investigation</stringValue>
        </value>
    </constants>
    <constants>
        <name>Yes</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Will_I_work_the_case</name>
        <label>Will I work the case</label>
        <locationX>182</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>guidedcaseflowcreate</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>workcase</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Is_this_case_within_my_scope</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yescheckboxs</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Panda_Resource_Investigation</targetReference>
            </connector>
            <label>workcase</label>
        </rules>
    </decisions>
    <description>This flow is used for vendors to fill out before solving a case.</description>
    <dynamicChoiceSets>
        <name>companytiers</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Company_Tier__c</picklistField>
        <picklistObject>Guided_Case_Flow__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>supportresourcessearched</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Support_Resources_Searched__c</picklistField>
        <picklistObject>Guided_Case_Flow__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>whoisreachingout</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Who_is_reaching_out__c</picklistField>
        <picklistObject>Guided_Case_Flow__c</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>casescopefml</name>
        <dataType>Boolean</dataType>
        <expression>IF({!Is_this_case_within_my_scope} = {!Yes}, true, false)</expression>
    </formulas>
    <formulas>
        <name>clarifyingquestionfml</name>
        <dataType>Boolean</dataType>
        <expression>IF( {!Do_I_need_to_ask_any_clarifying_questions} = &apos;Yes&apos;, True, False)</expression>
    </formulas>
    <formulas>
        <name>istherearesource</name>
        <dataType>Boolean</dataType>
        <expression>IF( {!Is_there_a_resource_IKB_Help_Center_etc_that_will_help} = {!Yes}, true,false)</expression>
    </formulas>
    <interviewLabel>Live Ops Case Investigation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Live Ops Case Investigation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>guidedcaseflowcreate</name>
        <label>guidedcaseflowcreate</label>
        <locationX>182</locationX>
        <locationY>734</locationY>
        <assignRecordIdToReference>GuidedCaseFlowCreated.Id</assignRecordIdToReference>
        <connector>
            <targetReference>Casefield</targetReference>
        </connector>
        <inputAssignments>
            <field>Advocate__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case__c</field>
            <value>
                <elementReference>Get_case.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Company_Tier__c</field>
            <value>
                <elementReference>Company_Tier</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Completed_Date_Time__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Is_there_a_help_resource_available__c</field>
            <value>
                <elementReference>istherearesource</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Is_this_case_within_my_scope__c</field>
            <value>
                <elementReference>casescopefml</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Vendor Case Investigation</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Need_to_ask_any_clarifying_question__c</field>
            <value>
                <elementReference>clarifyingquestionfml</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Start_Date_Time__c</field>
            <value>
                <elementReference>$Flow.InterviewStartTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Support_Resource_Link__c</field>
            <value>
                <elementReference>Resource_Link</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Support_Resources_Searched__c</field>
            <value>
                <elementReference>What_resources_did_you_search</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>What_action_do_I_need_to_take__c</field>
            <value>
                <elementReference>What_action_do_I_need_to_take</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>What_does_customer_need__c</field>
            <value>
                <elementReference>What_does_the_customer_needlong</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>What_does_the_customer_want_from_Gusto__c</field>
            <value>
                <elementReference>What_does_the_customer_want_from_me_Gusto</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>What_is_additional_info_I_need__c</field>
            <value>
                <elementReference>What_is_additional_information_I_need</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Who_is_reaching_out__c</field>
            <value>
                <elementReference>Who_is_reaching_out</elementReference>
            </value>
        </inputAssignments>
        <object>Guided_Case_Flow__c</object>
    </recordCreates>
    <recordLookups>
        <name>Get_case</name>
        <label>Get case</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Customer_Needs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Casefield</name>
        <label>Casefield</label>
        <locationX>182</locationX>
        <locationY>854</locationY>
        <connector>
            <targetReference>Post_to_Chatter</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Case_Investigation_Flow_Completed__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <screens>
        <name>Customer_Needs</name>
        <label>Customer Needs</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Will_I_work_the_case</targetReference>
        </connector>
        <fields>
            <name>CaseInvestigationtitle</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;background-color: transparent; color: rgb(0, 0, 0); font-family: Arial; font-size: 11pt;&quot;&gt;Case Investigation &lt;/b&gt;&lt;span style=&quot;background-color: transparent; color: rgb(255, 0, 0); font-family: Arial; font-size: 11pt;&quot;&gt;(Read all prior case emails and comments before completing)&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>What_does_the_customer_needlong</name>
            <fieldText>What does the customer need?</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>What_does_the_customer_want_from_me_Gusto</name>
            <fieldText>What does the customer want from me/Gusto?</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Do_I_need_to_ask_any_clarifying_questions</name>
            <choiceReferences>Yescheckboxs</choiceReferences>
            <choiceReferences>Nocheckboxs</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Do I need to ask any clarifying questions?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>What_is_additional_information_I_need</name>
            <fieldText>What is the additional information I need?</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>1</conditionLogic>
                <conditions>
                    <leftValueReference>Do_I_need_to_ask_any_clarifying_questions</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Yescheckboxs</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Why_don_t_I_need_to_ask_a_clarifying_questions</name>
            <fieldText>Why don&apos;t I need to ask a clarifying questions?</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>1</conditionLogic>
                <conditions>
                    <leftValueReference>Do_I_need_to_ask_any_clarifying_questions</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Nocheckboxs</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Is_this_case_within_my_scope</name>
            <choiceReferences>Yescheckboxs</choiceReferences>
            <choiceReferences>Nocheckboxs</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Is this case within my scope? Be sure to check with your Team Lead, Captain or SME if you&apos;re unsure.</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>What_action_do_I_need_to_take</name>
            <fieldText>What action do I need to take?</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>1</conditionLogic>
                <conditions>
                    <leftValueReference>Is_this_case_within_my_scope</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Nocheckboxs</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Panda_Resource_Investigation</name>
        <label>Panda/Resource Investigation</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>guidedcaseflowcreate</targetReference>
        </connector>
        <fields>
            <name>screen3</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;background-color: transparent; color: rgb(0, 0, 0); font-family: Arial; font-size: 11pt;&quot;&gt;Panda/Resource Investigation&lt;/b&gt;&lt;span style=&quot;background-color: transparent; color: rgb(0, 0, 0); font-family: Arial; font-size: 11pt;&quot;&gt; &lt;/span&gt;&lt;span style=&quot;background-color: transparent; color: rgb(255, 0, 0); font-family: Arial; font-size: 11pt;&quot;&gt;(If the case is within my Scope, please complete)&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>openpanda</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 12px; background-color: transparent;&quot;&gt;1.Always open Company’s Panda Page&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Who_is_reaching_out</name>
            <choiceReferences>None</choiceReferences>
            <choiceReferences>whoisreachingout</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>None</defaultSelectedChoiceReference>
            <fieldText>Who is reaching out?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Company_Tier</name>
            <choiceReferences>None</choiceReferences>
            <choiceReferences>companytiers</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>None</defaultSelectedChoiceReference>
            <fieldText>Company Tier?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Is_there_a_resource_IKB_Help_Center_etc_that_will_help</name>
            <choiceReferences>Yescheckboxs</choiceReferences>
            <choiceReferences>Nocheckboxs</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Is there a resource (IKB, Help Center, etc.) that will help?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Resource_Link</name>
            <dataType>String</dataType>
            <fieldText>Please link the resource here</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>1</conditionLogic>
                <conditions>
                    <leftValueReference>Is_there_a_resource_IKB_Help_Center_etc_that_will_help</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Yescheckboxs</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>What_resources_did_you_search</name>
            <choiceReferences>supportresourcessearched</choiceReferences>
            <dataType>String</dataType>
            <fieldText>What resources did you search?</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>1</conditionLogic>
                <conditions>
                    <leftValueReference>Is_there_a_resource_IKB_Help_Center_etc_that_will_help</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Nocheckboxs</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_case</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>guidedcaseflow</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Guided_Case_Flow__c</objectType>
    </variables>
    <variables>
        <name>GuidedCaseFlowCreated</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Guided_Case_Flow__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>SupportResourcesused</name>
        <dataType>Multipicklist</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
