force-app/main/default/flows/Messaging_Session_Skill_Assignment.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>Accountant_Persona</name>
        <label>Accountant Persona</label>
        <locationX>50</locationX>
        <locationY>803</locationY>
        <assignmentItems>
            <assignToReference>$Record.Persona__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Accountant</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Company_Size__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Second_Level_populated</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Admin_Persona</name>
        <label>Admin Persona</label>
        <locationX>842</locationX>
        <locationY>803</locationY>
        <assignmentItems>
            <assignToReference>$Record.Persona__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Admin</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Company_Size_Assignment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Contact_Account_to_MessagingSession</name>
        <label>Assign Contact &amp; Account to MessagingSession</label>
        <locationX>842</locationX>
        <locationY>503</locationY>
        <assignmentItems>
            <assignToReference>$Record.EndUserContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Matching_Contact.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.EndUserAccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Matching_Contact.AccountId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Persona_Assignment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Gusto_Global_to_Request_Type</name>
        <label>Assign Gusto Global to Request Type</label>
        <locationX>842</locationX>
        <locationY>1703</locationY>
        <assignmentItems>
            <assignToReference>$Record.Request_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Gusto Global</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Validate_Skill_Related_Fields</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>If we are unable to company size add the default here.</description>
        <name>Default_Company_Size</name>
        <label>Default Company Size</label>
        <locationX>1370</locationX>
        <locationY>1019</locationY>
        <assignmentItems>
            <assignToReference>$Record.Company_Size__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Standard 5-24</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Second_Level_populated</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Default_Persona</name>
        <label>Default Persona</label>
        <locationX>1898</locationX>
        <locationY>803</locationY>
        <assignmentItems>
            <assignToReference>$Record.Persona__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Admin</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Company_Size_Assignment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Grower_25_49_Size</name>
        <label>Grower 25-49 Size</label>
        <locationX>578</locationX>
        <locationY>1019</locationY>
        <assignmentItems>
            <assignToReference>$Record.Company_Size__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Grower 25-49</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Second_Level_populated</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Grower_50_Size</name>
        <label>Grower 50 Size</label>
        <locationX>1106</locationX>
        <locationY>1019</locationY>
        <assignmentItems>
            <assignToReference>$Record.Company_Size__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Grower 50</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Second_Level_populated</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Member_Persona</name>
        <label>Member Persona</label>
        <locationX>1634</locationX>
        <locationY>803</locationY>
        <assignmentItems>
            <assignToReference>$Record.Persona__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Member</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Company_Size__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Second_Level_populated</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Micro_0_4_Size</name>
        <label>Micro 0-4 Size</label>
        <locationX>842</locationX>
        <locationY>1019</locationY>
        <assignmentItems>
            <assignToReference>$Record.Company_Size__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Micro 0-4</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Second_Level_populated</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Update the owner for all the eligible chats to a intermittent queue - Default Chat Routing Queue, which then triggers another omni</description>
        <name>Owner_Assignment</name>
        <label>Owner Assignment</label>
        <locationX>842</locationX>
        <locationY>2111</locationY>
        <assignmentItems>
            <assignToReference>$Record.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Routing_Queue.Id</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Second_Level_to_Request_Type</name>
        <label>Second Level to Request Type</label>
        <locationX>842</locationX>
        <locationY>1403</locationY>
        <assignmentItems>
            <assignToReference>$Record.Request_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Second_Level__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_for_Gusto_Global</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Standard_5_24_Size</name>
        <label>Standard 5-24 Size</label>
        <locationX>314</locationX>
        <locationY>1019</locationY>
        <assignmentItems>
            <assignToReference>$Record.Company_Size__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Standard 5-24</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Second_Level_populated</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_for_Gusto_Global</name>
        <label>Check for Gusto Global</label>
        <locationX>974</locationX>
        <locationY>1595</locationY>
        <defaultConnector>
            <targetReference>Validate_Skill_Related_Fields</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Has_Gusto_Global</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.EndUserAccount.Help_Journey_Routing__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Gusto Global</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Gusto_Global_to_Request_Type</targetReference>
            </connector>
            <label>Has Gusto Global?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Company_Size_Assignment</name>
        <label>Company Size Assignment</label>
        <locationX>842</locationX>
        <locationY>911</locationY>
        <defaultConnector>
            <targetReference>Default_Company_Size</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Standard_5_24</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.EndUserAccount.Number_of_Active_Employees__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>5.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.EndUserAccount.Number_of_Active_Employees__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>24.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Standard_5_24_Size</targetReference>
            </connector>
            <label>Standard 5-24</label>
        </rules>
        <rules>
            <name>Grower_25_49</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.EndUserAccount.Number_of_Active_Employees__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>25.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.EndUserAccount.Number_of_Active_Employees__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>49.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Grower_25_49_Size</targetReference>
            </connector>
            <label>Grower 25-49</label>
        </rules>
        <rules>
            <name>Micro_0_4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.EndUserAccount.Number_of_Active_Employees__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>4.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.EndUserAccount.Number_of_Active_Employees__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Micro_0_4_Size</targetReference>
            </connector>
            <label>Micro 0-4</label>
        </rules>
        <rules>
            <name>Grower_50</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.EndUserAccount.Number_of_Active_Employees__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>50.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Grower_50_Size</targetReference>
            </connector>
            <label>Grower 50</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Contact_blank</name>
        <label>Is Contact blank?</label>
        <locationX>974</locationX>
        <locationY>287</locationY>
        <defaultConnector>
            <targetReference>Persona_Assignment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Blank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.EndUserContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Matching_Contact</targetReference>
            </connector>
            <label>Yes_Blank</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Second_Level_populated</name>
        <label>Is Second Level populated?</label>
        <locationX>974</locationX>
        <locationY>1295</locationY>
        <defaultConnector>
            <targetReference>Check_for_Gusto_Global</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Second_Level__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Second_Level_to_Request_Type</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Persona_Assignment</name>
        <label>Persona Assignment</label>
        <locationX>974</locationX>
        <locationY>695</locationY>
        <defaultConnector>
            <targetReference>Default_Persona</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Persona</defaultConnectorLabel>
        <rules>
            <name>Accountant</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.EndUserContact.ZP_User_Role__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Accountant</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Accountant_Persona</targetReference>
            </connector>
            <label>Accountant</label>
        </rules>
        <rules>
            <name>Admin</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.EndUserContact.ZP_User_Role__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Admin</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.EndUserContact.ZP_User_Role__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Signatory</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Admin_Persona</targetReference>
            </connector>
            <label>Admin</label>
        </rules>
        <rules>
            <name>Member</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.EndUserAccount.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Company</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.EndUserContact.ZP_User_Role__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Contractor</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.EndUserContact.ZP_User_Role__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Employee</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Member_Persona</targetReference>
            </connector>
            <label>Member</label>
        </rules>
    </decisions>
    <decisions>
        <name>Validate_Skill_Related_Fields</name>
        <label>Validate Skill Related Fields</label>
        <locationX>974</locationX>
        <locationY>1895</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Skills_Related_Fields_Populated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Request_Type__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Persona__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Support_Level__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Routing_Queue</targetReference>
            </connector>
            <label>Skills Related Fields Populated</label>
        </rules>
    </decisions>
    <description>- Initial Version</description>
    <environments>Default</environments>
    <interviewLabel>Messaging Session Skill Assignment {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Messaging Session Skill Assignment</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Matching_Contact</name>
        <label>Get Matching Contact</label>
        <locationX>842</locationX>
        <locationY>395</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Contact_Account_to_MessagingSession</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Chat_Visitor_Email__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Unique_Email_Address_Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Chat_Visitor_Email__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Routing_Queue</name>
        <label>Get Routing Queue</label>
        <locationX>842</locationX>
        <locationY>2003</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Owner_Assignment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Default_Chat_Routing_Queue</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>848</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_Contact_blank</targetReference>
        </connector>
        <filterFormula>{!$Record.RecordType.DeveloperName} != &apos;Internal&apos;</filterFormula>
        <object>MessagingSession</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
