force-app/main/default/flows/Omni_Skills_Flow_For_Engagement_Chat.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Add_Company_Skill_Requirement</name>
        <label>Add Company Skill Requirement</label>
        <locationX>1392</locationX>
        <locationY>3026</locationY>
        <actionName>addSkillRequirements</actionName>
        <actionType>addSkillRequirements</actionType>
        <connector>
            <targetReference>Is_Persona_Skill_Empty</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>skillRequirement</name>
            <value>
                <stringValue>[{&quot;id&quot;:&quot;53e72d71&quot;,&quot;skillId&quot;:&quot;{!Skill_Company_Size.Id}&quot;,&quot;skillLabel&quot;:&quot;&quot;,&quot;skillLevel&quot;:&quot;1&quot;,&quot;skillPriority&quot;:&quot;0&quot;,&quot;isAdditionalSkill&quot;:false}]</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillInputType</name>
            <value>
                <stringValue>variable</stringValue>
            </value>
        </inputParameters>
        <nameSegment>addSkillRequirements</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>AggregatedSkillRequirement</assignToReference>
            <name>skillRequirements</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Add_Default_Payroll_Skill_Level_10</name>
        <label>Add Default Payroll Skill - Level 10</label>
        <locationX>578</locationX>
        <locationY>3626</locationY>
        <actionName>addSkillRequirements</actionName>
        <actionType>addSkillRequirements</actionType>
        <connector>
            <targetReference>Add_Support_Level_Skill_Requirement</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>skillRequirement</name>
            <value>
                <stringValue>[{&quot;id&quot;:&quot;3597de9a&quot;,&quot;skillId&quot;:&quot;0C58Y0000010xQPSAY&quot;,&quot;skillLabel&quot;:&quot;Payroll&quot;,&quot;skillLevel&quot;:&quot;10&quot;,&quot;skillPriority&quot;:&quot;0&quot;,&quot;isAdditionalSkill&quot;:false}]</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillRequirementsResourceItem</name>
            <value>
                <elementReference>AggregatedSkillRequirement</elementReference>
            </value>
        </inputParameters>
        <nameSegment>addSkillRequirements</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>AggregatedSkillRequirement</assignToReference>
            <name>skillRequirements</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Add_Gusto_Global_Skill</name>
        <label>Add Gusto Global Skill</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <actionName>addSkillRequirements</actionName>
        <actionType>addSkillRequirements</actionType>
        <connector>
            <targetReference>Route_Chat_Work_to_Agent</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>skillRequirement</name>
            <value>
                <stringValue>[{&quot;id&quot;:&quot;0bfc98ce&quot;,&quot;skillId&quot;:&quot;0C58Y000000sZZ5SAM&quot;,&quot;skillLabel&quot;:&quot;Gusto Global&quot;,&quot;skillLevel&quot;:&quot;1&quot;,&quot;skillPriority&quot;:&quot;0&quot;,&quot;isAdditionalSkill&quot;:false}]</stringValue>
            </value>
        </inputParameters>
        <nameSegment>addSkillRequirements</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>AggregatedSkillRequirement</assignToReference>
            <name>skillRequirements</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Add_Persona_Skill_Requirement</name>
        <label>Add Persona Skill Requirement</label>
        <locationX>1392</locationX>
        <locationY>3326</locationY>
        <actionName>addSkillRequirements</actionName>
        <actionType>addSkillRequirements</actionType>
        <connector>
            <targetReference>Is_Request_Type_Skill_Empty</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>skillRequirement</name>
            <value>
                <stringValue>[{&quot;id&quot;:&quot;53e72d71&quot;,&quot;skillId&quot;:&quot;{!Skill_Persona.Id}&quot;,&quot;skillLabel&quot;:&quot;&quot;,&quot;skillLevel&quot;:&quot;1&quot;,&quot;skillPriority&quot;:&quot;0&quot;,&quot;isAdditionalSkill&quot;:false}]</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillRequirementsResourceItem</name>
            <value>
                <elementReference>AggregatedSkillRequirement</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillInputType</name>
            <value>
                <stringValue>variable</stringValue>
            </value>
        </inputParameters>
        <nameSegment>addSkillRequirements</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>AggregatedSkillRequirement</assignToReference>
            <name>skillRequirements</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Add_Specialization_Skill_Requirement</name>
        <label>Add Specialization Skill Requirement</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <actionName>addSkillRequirements</actionName>
        <actionType>addSkillRequirements</actionType>
        <connector>
            <targetReference>Route_Chat_Work_to_Agent</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>skillRequirement</name>
            <value>
                <stringValue>[{&quot;id&quot;:&quot;25f70bb8&quot;,&quot;skillId&quot;:&quot;{!Skill_Specialization.Id}&quot;,&quot;skillLabel&quot;:&quot;&quot;,&quot;skillLevel&quot;:&quot;1&quot;,&quot;skillPriority&quot;:&quot;0&quot;,&quot;isAdditionalSkill&quot;:false}]</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillRequirementsResourceItem</name>
            <value>
                <elementReference>AggregatedSkillRequirement</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillInputType</name>
            <value>
                <stringValue>variable</stringValue>
            </value>
        </inputParameters>
        <nameSegment>addSkillRequirements</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>AggregatedSkillRequirement</assignToReference>
            <name>skillRequirements</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Add_Support_Level_Skill_Requirement</name>
        <label>Add Support Level Skill Requirement</label>
        <locationX>1304</locationX>
        <locationY>4010</locationY>
        <actionName>addSkillRequirements</actionName>
        <actionType>addSkillRequirements</actionType>
        <connector>
            <targetReference>Route_Chat_Work_to_Agent</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>skillRequirement</name>
            <value>
                <stringValue>[{&quot;id&quot;:&quot;882d6a8c&quot;,&quot;skillId&quot;:&quot;{!Skill_Support_Level.Id}&quot;,&quot;skillLabel&quot;:&quot;&quot;,&quot;skillLevel&quot;:&quot;1&quot;,&quot;skillPriority&quot;:&quot;0&quot;,&quot;isAdditionalSkill&quot;:false}]</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillRequirementsResourceItem</name>
            <value>
                <elementReference>AggregatedSkillRequirement</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillInputType</name>
            <value>
                <stringValue>variable</stringValue>
            </value>
        </inputParameters>
        <nameSegment>addSkillRequirements</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>AggregatedSkillRequirement</assignToReference>
            <name>skillRequirements</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Add_Type_Skill_Level_1</name>
        <label>Add Type Skill - Level 1</label>
        <locationX>842</locationX>
        <locationY>3734</locationY>
        <actionName>addSkillRequirements</actionName>
        <actionType>addSkillRequirements</actionType>
        <connector>
            <targetReference>Add_Support_Level_Skill_Requirement</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>skillRequirement</name>
            <value>
                <stringValue>[{&quot;id&quot;:&quot;53e72d71&quot;,&quot;skillId&quot;:&quot;{!Skill_Request_Type.Id}&quot;,&quot;skillLabel&quot;:&quot;&quot;,&quot;skillLevel&quot;:&quot;1&quot;,&quot;skillPriority&quot;:&quot;0&quot;,&quot;isAdditionalSkill&quot;:false}]</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillRequirementsResourceItem</name>
            <value>
                <elementReference>AggregatedSkillRequirement</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillInputType</name>
            <value>
                <stringValue>variable</stringValue>
            </value>
        </inputParameters>
        <nameSegment>addSkillRequirements</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>AggregatedSkillRequirement</assignToReference>
            <name>skillRequirements</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Add_Type_Skill_Level_10</name>
        <label>Add Type Skill - Level 10</label>
        <locationX>3218</locationX>
        <locationY>3734</locationY>
        <actionName>addSkillRequirements</actionName>
        <actionType>addSkillRequirements</actionType>
        <connector>
            <targetReference>Add_Support_Level_Skill_Requirement</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>skillRequirement</name>
            <value>
                <stringValue>[{&quot;id&quot;:&quot;53e72d71&quot;,&quot;skillId&quot;:&quot;{!Skill_Request_Type.Id}&quot;,&quot;skillLabel&quot;:&quot;&quot;,&quot;skillLevel&quot;:&quot;10&quot;,&quot;skillPriority&quot;:&quot;0&quot;,&quot;isAdditionalSkill&quot;:false}]</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillRequirementsResourceItem</name>
            <value>
                <elementReference>AggregatedSkillRequirement</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillInputType</name>
            <value>
                <stringValue>variable</stringValue>
            </value>
        </inputParameters>
        <nameSegment>addSkillRequirements</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>AggregatedSkillRequirement</assignToReference>
            <name>skillRequirements</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Add_Type_Skill_Level_2</name>
        <label>Add Type Skill - Level 2</label>
        <locationX>1106</locationX>
        <locationY>3734</locationY>
        <actionName>addSkillRequirements</actionName>
        <actionType>addSkillRequirements</actionType>
        <connector>
            <targetReference>Add_Support_Level_Skill_Requirement</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>skillRequirement</name>
            <value>
                <stringValue>[{&quot;id&quot;:&quot;53e72d71&quot;,&quot;skillId&quot;:&quot;{!Skill_Request_Type.Id}&quot;,&quot;skillLabel&quot;:&quot;&quot;,&quot;skillLevel&quot;:&quot;2&quot;,&quot;skillPriority&quot;:&quot;0&quot;,&quot;isAdditionalSkill&quot;:false}]</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillRequirementsResourceItem</name>
            <value>
                <elementReference>AggregatedSkillRequirement</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillInputType</name>
            <value>
                <stringValue>variable</stringValue>
            </value>
        </inputParameters>
        <nameSegment>addSkillRequirements</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>AggregatedSkillRequirement</assignToReference>
            <name>skillRequirements</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Add_Type_Skill_Level_3</name>
        <label>Add Type Skill - Level 3</label>
        <locationX>1370</locationX>
        <locationY>3734</locationY>
        <actionName>addSkillRequirements</actionName>
        <actionType>addSkillRequirements</actionType>
        <connector>
            <targetReference>Add_Support_Level_Skill_Requirement</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>skillRequirement</name>
            <value>
                <stringValue>[{&quot;id&quot;:&quot;53e72d71&quot;,&quot;skillId&quot;:&quot;{!Skill_Request_Type.Id}&quot;,&quot;skillLabel&quot;:&quot;&quot;,&quot;skillLevel&quot;:&quot;3&quot;,&quot;skillPriority&quot;:&quot;0&quot;,&quot;isAdditionalSkill&quot;:false}]</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillRequirementsResourceItem</name>
            <value>
                <elementReference>AggregatedSkillRequirement</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillInputType</name>
            <value>
                <stringValue>variable</stringValue>
            </value>
        </inputParameters>
        <nameSegment>addSkillRequirements</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>AggregatedSkillRequirement</assignToReference>
            <name>skillRequirements</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Add_Type_Skill_Level_4</name>
        <label>Add Type Skill - Level 4</label>
        <locationX>1634</locationX>
        <locationY>3734</locationY>
        <actionName>addSkillRequirements</actionName>
        <actionType>addSkillRequirements</actionType>
        <connector>
            <targetReference>Add_Support_Level_Skill_Requirement</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>skillRequirement</name>
            <value>
                <stringValue>[{&quot;id&quot;:&quot;53e72d71&quot;,&quot;skillId&quot;:&quot;{!Skill_Request_Type.Id}&quot;,&quot;skillLabel&quot;:&quot;&quot;,&quot;skillLevel&quot;:&quot;4&quot;,&quot;skillPriority&quot;:&quot;0&quot;,&quot;isAdditionalSkill&quot;:false}]</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillRequirementsResourceItem</name>
            <value>
                <elementReference>AggregatedSkillRequirement</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillInputType</name>
            <value>
                <stringValue>variable</stringValue>
            </value>
        </inputParameters>
        <nameSegment>addSkillRequirements</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>AggregatedSkillRequirement</assignToReference>
            <name>skillRequirements</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Add_Type_Skill_Level_5</name>
        <label>Add Type Skill - Level 5</label>
        <locationX>1898</locationX>
        <locationY>3734</locationY>
        <actionName>addSkillRequirements</actionName>
        <actionType>addSkillRequirements</actionType>
        <connector>
            <targetReference>Add_Support_Level_Skill_Requirement</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>skillRequirement</name>
            <value>
                <stringValue>[{&quot;id&quot;:&quot;53e72d71&quot;,&quot;skillId&quot;:&quot;{!Skill_Request_Type.Id}&quot;,&quot;skillLabel&quot;:&quot;&quot;,&quot;skillLevel&quot;:&quot;5&quot;,&quot;skillPriority&quot;:&quot;0&quot;,&quot;isAdditionalSkill&quot;:false}]</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillRequirementsResourceItem</name>
            <value>
                <elementReference>AggregatedSkillRequirement</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillInputType</name>
            <value>
                <stringValue>variable</stringValue>
            </value>
        </inputParameters>
        <nameSegment>addSkillRequirements</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>AggregatedSkillRequirement</assignToReference>
            <name>skillRequirements</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Add_Type_Skill_Level_6</name>
        <label>Add Type Skill - Level 6</label>
        <locationX>2162</locationX>
        <locationY>3734</locationY>
        <actionName>addSkillRequirements</actionName>
        <actionType>addSkillRequirements</actionType>
        <connector>
            <targetReference>Add_Support_Level_Skill_Requirement</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>skillRequirement</name>
            <value>
                <stringValue>[{&quot;id&quot;:&quot;53e72d71&quot;,&quot;skillId&quot;:&quot;{!Skill_Request_Type.Id}&quot;,&quot;skillLabel&quot;:&quot;&quot;,&quot;skillLevel&quot;:&quot;6&quot;,&quot;skillPriority&quot;:&quot;0&quot;,&quot;isAdditionalSkill&quot;:false}]</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillRequirementsResourceItem</name>
            <value>
                <elementReference>AggregatedSkillRequirement</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillInputType</name>
            <value>
                <stringValue>variable</stringValue>
            </value>
        </inputParameters>
        <nameSegment>addSkillRequirements</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>AggregatedSkillRequirement</assignToReference>
            <name>skillRequirements</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Add_Type_Skill_Level_7</name>
        <label>Add Type Skill - Level 7</label>
        <locationX>2426</locationX>
        <locationY>3734</locationY>
        <actionName>addSkillRequirements</actionName>
        <actionType>addSkillRequirements</actionType>
        <connector>
            <targetReference>Add_Support_Level_Skill_Requirement</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>skillRequirement</name>
            <value>
                <stringValue>[{&quot;id&quot;:&quot;53e72d71&quot;,&quot;skillId&quot;:&quot;{!Skill_Request_Type.Id}&quot;,&quot;skillLabel&quot;:&quot;&quot;,&quot;skillLevel&quot;:&quot;7&quot;,&quot;skillPriority&quot;:&quot;0&quot;,&quot;isAdditionalSkill&quot;:false}]</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillRequirementsResourceItem</name>
            <value>
                <elementReference>AggregatedSkillRequirement</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillInputType</name>
            <value>
                <stringValue>variable</stringValue>
            </value>
        </inputParameters>
        <nameSegment>addSkillRequirements</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>AggregatedSkillRequirement</assignToReference>
            <name>skillRequirements</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Add_Type_Skill_Level_8</name>
        <label>Add Type Skill - Level 8</label>
        <locationX>2690</locationX>
        <locationY>3734</locationY>
        <actionName>addSkillRequirements</actionName>
        <actionType>addSkillRequirements</actionType>
        <connector>
            <targetReference>Add_Support_Level_Skill_Requirement</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>skillRequirement</name>
            <value>
                <stringValue>[{&quot;id&quot;:&quot;53e72d71&quot;,&quot;skillId&quot;:&quot;{!Skill_Request_Type.Id}&quot;,&quot;skillLabel&quot;:&quot;&quot;,&quot;skillLevel&quot;:&quot;8&quot;,&quot;skillPriority&quot;:&quot;0&quot;,&quot;isAdditionalSkill&quot;:false}]</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillRequirementsResourceItem</name>
            <value>
                <elementReference>AggregatedSkillRequirement</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillInputType</name>
            <value>
                <stringValue>variable</stringValue>
            </value>
        </inputParameters>
        <nameSegment>addSkillRequirements</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>AggregatedSkillRequirement</assignToReference>
            <name>skillRequirements</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Add_Type_Skill_Level_9</name>
        <label>Add Type Skill - Level 9</label>
        <locationX>2954</locationX>
        <locationY>3734</locationY>
        <actionName>addSkillRequirements</actionName>
        <actionType>addSkillRequirements</actionType>
        <connector>
            <targetReference>Add_Support_Level_Skill_Requirement</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>skillRequirement</name>
            <value>
                <stringValue>[{&quot;id&quot;:&quot;53e72d71&quot;,&quot;skillId&quot;:&quot;{!Skill_Request_Type.Id}&quot;,&quot;skillLabel&quot;:&quot;&quot;,&quot;skillLevel&quot;:&quot;9&quot;,&quot;skillPriority&quot;:&quot;0&quot;,&quot;isAdditionalSkill&quot;:false}]</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillRequirementsResourceItem</name>
            <value>
                <elementReference>AggregatedSkillRequirement</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillInputType</name>
            <value>
                <stringValue>variable</stringValue>
            </value>
        </inputParameters>
        <nameSegment>addSkillRequirements</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>AggregatedSkillRequirement</assignToReference>
            <name>skillRequirements</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Route_Chat_Work_to_Agent</name>
        <label>Route Chat Work to Agent</label>
        <locationX>429</locationX>
        <locationY>4286</locationY>
        <actionName>routeWork</actionName>
        <actionType>routeWork</actionType>
        <faultConnector>
            <targetReference>Initialize_Fault_Path_Details</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelId</name>
            <value>
                <stringValue>0N91M0000008OJ8SAM</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelLabel</name>
            <value>
                <stringValue>Chat</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelDevName</name>
            <value>
                <stringValue>sfdc_liveagent</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>routingType</name>
            <value>
                <stringValue>SkillsBased</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>routingConfigId</name>
            <value>
                <elementReference>SkillBasedRoutingConfigId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>routingConfigLabel</name>
        </inputParameters>
        <inputParameters>
            <name>queueId</name>
        </inputParameters>
        <inputParameters>
            <name>agentId</name>
        </inputParameters>
        <inputParameters>
            <name>agentLabel</name>
        </inputParameters>
        <inputParameters>
            <name>queueLabel</name>
        </inputParameters>
        <inputParameters>
            <name>skillOption</name>
            <value>
                <stringValue>DefineSkillRequirements</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillRequirementsResourceItem</name>
            <value>
                <elementReference>AggregatedSkillRequirement</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>botId</name>
        </inputParameters>
        <inputParameters>
            <name>botLabel</name>
        </inputParameters>
        <inputParameters>
            <name>isRoutingConfigVariable</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>routeWork</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <assignments>
        <description>Assign chat priority P5</description>
        <name>Assign_Accountant_Support_Priority</name>
        <label>Assign Accountant Support Priority</label>
        <locationX>1576</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>SkillBasedRoutingConfigId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Setup.Engagement_Flow_Configuration__c.Engagement_Chat_Accountant__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Chat_Skills</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign chat priority P8</description>
        <name>Assign_Benefits_Support_Priority</name>
        <label>Assign Benefits Support Priority</label>
        <locationX>1840</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>SkillBasedRoutingConfigId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Setup.Engagement_Flow_Configuration__c.Engagement_Chat_Benefits__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Chat_Skills</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Company_Size_Skill</name>
        <label>Assign Company Size Skill</label>
        <locationX>1392</locationX>
        <locationY>1742</locationY>
        <assignmentItems>
            <assignToReference>Skill_Company_Size</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Skills_loop</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Request_Type_Check</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign default chat priority P9</description>
        <name>Assign_Default_Engagement_Chat_Priority</name>
        <label>Assign Default Engagement Chat Priority</label>
        <locationX>2368</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>SkillBasedRoutingConfigId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Setup.Engagement_Flow_Configuration__c.Engagement_Chat_Routing__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Chat_Skills</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign default chat priority P3</description>
        <name>Assign_Gold_Silver_Support_Priority</name>
        <label>Assign Gold Silver Support Priority</label>
        <locationX>1048</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>SkillBasedRoutingConfigId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Setup.Engagement_Flow_Configuration__c.Engagement_Chat_Gold_Silver__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Chat_Skills</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign chat priority P7</description>
        <name>Assign_Grower_Support_Priority</name>
        <label>Assign Grower Support Priority</label>
        <locationX>2104</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>SkillBasedRoutingConfigId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Setup.Engagement_Flow_Configuration__c.Engagement_Chat_Grower__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Chat_Skills</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Gusto_Global_Routing_Priority</name>
        <label>Assign Gusto Global Routing Priority</label>
        <locationX>50</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>SkillBasedRoutingConfigId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Setup.Engagement_Flow_Configuration__c.Engagement_Chat_Gusto_Global__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Gusto_Global_Skill</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Persona_Skill</name>
        <label>Assign Persona Skill</label>
        <locationX>1392</locationX>
        <locationY>2342</locationY>
        <assignmentItems>
            <assignToReference>Skill_Persona</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Skills_loop</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Support_Level_Check</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign default chat priority P4</description>
        <name>Assign_Premium_Support_Priority</name>
        <label>Assign Premium Support Priority</label>
        <locationX>1312</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>SkillBasedRoutingConfigId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Setup.Engagement_Flow_Configuration__c.Engagement_Chat_Premium_or_Priority__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Chat_Skills</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Request_Type_Skill</name>
        <label>Assign Request Type Skill</label>
        <locationX>1392</locationX>
        <locationY>2042</locationY>
        <assignmentItems>
            <assignToReference>Skill_Request_Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Skills_loop</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Persona_Check</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assigns Skill_Specialzation variable to &apos;Cancel&apos; skill and Default routing configuration</description>
        <name>Assign_Specialization_Skill_Routing_Config</name>
        <label>Assign Specialization Skill, Routing Config</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>Skill_Specialization</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Specialization_Skill</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SkillBasedRoutingConfigId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Setup.Engagement_Flow_Configuration__c.Engagement_Chat_Routing__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Specialization_Skill_Requirement</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Support_Level_Skill</name>
        <label>Assign Support Level Skill</label>
        <locationX>1392</locationX>
        <locationY>2642</locationY>
        <assignmentItems>
            <assignToReference>Skill_Support_Level</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Skills_loop</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Skills_loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Initializing Fault Line details for fault paths in objExceptionLogEvent record.</description>
        <name>Initialize_Fault_Path_Details</name>
        <label>Initialize Fault Path Details</label>
        <locationX>3482</locationX>
        <locationY>4394</locationY>
        <assignmentItems>
            <assignToReference>objExceptionLogEvent.Message__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>strExcptionLogMessage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objExceptionLogEvent.EventUuid</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.InterviewGuid</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objExceptionLogEvent.Method_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentStage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objExceptionLogEvent.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Flow</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Exception_Log_Event</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>Tier_1_Skill</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Tier 1</stringValue>
        </value>
    </constants>
    <decisions>
        <description>Checks if the case is eligible for Accountant support check based if persona is &apos;Accountant&apos;. P5 is assigned on such cases.</description>
        <name>Accountant_Support_Check</name>
        <label>Accountant Support Check</label>
        <locationX>1807</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Benefits_Support_Check</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Eligible for Accountant Priority Support</defaultConnectorLabel>
        <rules>
            <name>Eligible_for_Accountant_Priority_Support</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>input_record.Persona__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Accountant</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Accountant_Support_Priority</targetReference>
            </connector>
            <label>Eligible for Accountant Priority Support</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks if the case is eligible for Benefits support check based if persona is Admin and Request Type = Benefits. Addressed with P8 Priority</description>
        <name>Benefits_Support_Check</name>
        <label>Benefits Support Check</label>
        <locationX>2038</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>Grower_Support_Check</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Eligible for Benefits Support Check</defaultConnectorLabel>
        <rules>
            <name>Eligible_for_Benefits_Support_Check</name>
            <conditionLogic>1 AND 2</conditionLogic>
            <conditions>
                <leftValueReference>input_record.Persona__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Admin</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>input_record.Request_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Benefits</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Benefits_Support_Priority</targetReference>
            </connector>
            <label>Eligible for Benefits Support Check</label>
        </rules>
    </decisions>
    <decisions>
        <name>Company_Size_Skill</name>
        <label>Company Size Check</label>
        <locationX>1524</locationX>
        <locationY>1634</locationY>
        <defaultConnector>
            <targetReference>Request_Type_Check</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Company_Size_Skill</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>input_record.Company_Size__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>input_record.Company_Size__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>Skills_loop.MasterLabel</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>input_record.Company_Size__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Company_Size_Skill</targetReference>
            </connector>
            <label>Is Company Size Skill</label>
        </rules>
    </decisions>
    <decisions>
        <description>checks if the case persona is &apos;Accountant&apos; and Partner Tier on Account is &apos;Gold/Silver&apos;</description>
        <name>Gold_Silver_Support_check</name>
        <label>Gold Silver Support check</label>
        <locationX>1304</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Premium_Priority_Support_Check</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Eligible for Gold/SilverSupport</defaultConnectorLabel>
        <rules>
            <name>Eligible_for_Gold_Silver_Support</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>input_record.Persona__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Accountant</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>input_record.Account.AM_Tier__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Gold</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>input_record.Account.AM_Tier__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Silver</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Gold_Silver_Support_Priority</targetReference>
            </connector>
            <label>Eligible for Gold/Silver Support</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks if the case is eligible for Grower support check based if persona is Admin and Company Size = (&quot;Grower 50&quot;, &quot;Grower 25-49&quot;). Addressed with  P7 Priority</description>
        <name>Grower_Support_Check</name>
        <label>Grower Support Check</label>
        <locationX>2236</locationX>
        <locationY>782</locationY>
        <defaultConnector>
            <targetReference>Assign_Default_Engagement_Chat_Priority</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Eligible for Accountant Priority Support</defaultConnectorLabel>
        <rules>
            <name>Eligible_for_Grower_Support_Check</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>input_record.Persona__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Admin</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>input_record.Company_Size__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Grower 25-49</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>input_record.Company_Size__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Grower 50</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Grower_Support_Priority</targetReference>
            </connector>
            <label>Eligible for Grower Support Check</label>
        </rules>
    </decisions>
    <decisions>
        <description>If the Chat Transcript originates from a &apos;Gusto Global&apos; account, then route it to the agent with &apos;Gusto Global&apos;</description>
        <name>Gusto_Global</name>
        <label>Gusto Global</label>
        <locationX>429</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>Has_Specialization_Prediction</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not a Gusto Global Account</defaultConnectorLabel>
        <rules>
            <name>Is_A_Gusto_Global_Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>input_record.Account.Help_Journey_Routing__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Gusto Global</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>input_record.Case.Persona__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Member</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Gusto_Global_Routing_Priority</targetReference>
            </connector>
            <label>Is A Gusto Global Account</label>
        </rules>
    </decisions>
    <decisions>
        <description>If the chat record contains a specialization - either predicted by ORCA or the ORCA Case Reason prediction has a specialization mapped, then the chat is routed only with this skill</description>
        <name>Has_Specialization_Prediction</name>
        <label>Has Specialization Prediction</label>
        <locationX>809</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Gold_Silver_Support_check</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>input_record.ORCA_Predicted_Specialization__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>input_record.ORCA_Predicted_Specialization__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>not_predicted</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Specialization_Skill</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Company_Skill_Empty</name>
        <label>Is Company Skill Empty?</label>
        <locationX>1304</locationX>
        <locationY>2918</locationY>
        <defaultConnector>
            <targetReference>Add_Company_Skill_Requirement</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Empty_Company_Skill</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Skill_Company_Size.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Persona_Skill_Empty</targetReference>
            </connector>
            <label>Empty Company Skill</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Persona_Skill_Empty</name>
        <label>Is Persona Skill Empty?</label>
        <locationX>1304</locationX>
        <locationY>3218</locationY>
        <defaultConnector>
            <targetReference>Add_Persona_Skill_Requirement</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Empty_Persona_Skill</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Skill_Persona.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Request_Type_Skill_Empty</targetReference>
            </connector>
            <label>Empty Persona Skill</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Request_Type_Skill_Empty</name>
        <label>Is Request Type Skill Empty?</label>
        <locationX>1304</locationX>
        <locationY>3518</locationY>
        <defaultConnector>
            <targetReference>Skill_Level_Check</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Empty_Request_Type_Skill</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Skill_Request_Type.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Default_Payroll_Skill_Level_10</targetReference>
            </connector>
            <label>Empty Request Type Skill</label>
        </rules>
    </decisions>
    <decisions>
        <name>Persona_Check</name>
        <label>Persona Check</label>
        <locationX>1524</locationX>
        <locationY>2234</locationY>
        <defaultConnector>
            <targetReference>Support_Level_Check</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Persona_Skill</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Skills_loop.MasterLabel</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>input_record.Persona__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>input_record.Persona__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Persona_Skill</targetReference>
            </connector>
            <label>Is Persona Skill</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks if the case is eligible for premium priority support check if the Account&apos;s tier is &quot;Premium&quot; and Additional Services on account contains &quot;Priority Support&quot;. P4 is assigned on such cases.</description>
        <name>Premium_Priority_Support_Check</name>
        <label>Premium Priority Support Check</label>
        <locationX>1559</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Accountant_Support_Check</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Eligible for Premium Priority Support</defaultConnectorLabel>
        <rules>
            <name>Eligible_for_Premium_Priority_Support</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>input_record.Account.Tier__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Premium</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>input_record.Account.Tier__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Legacy Premium</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>input_record.Account.Tier__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Premium CRB</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>input_record.Account.Tier__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Premium Multi-EIN</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>input_record.Account.Additional_Services__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Priority Support</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Premium_Support_Priority</targetReference>
            </connector>
            <label>Eligible for Premium Priority Support</label>
        </rules>
    </decisions>
    <decisions>
        <name>Request_Type_Check</name>
        <label>Request Type Check</label>
        <locationX>1524</locationX>
        <locationY>1934</locationY>
        <defaultConnector>
            <targetReference>Persona_Check</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Request_Type_Skill</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Skills_loop.MasterLabel</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>input_record.Request_Type__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>input_record.Request_Type__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Request_Type_Skill</targetReference>
            </connector>
            <label>Is Request Type Skill</label>
        </rules>
    </decisions>
    <decisions>
        <description>Skill Level on the Type skill is stored on the chat</description>
        <name>Skill_Level_Check</name>
        <label>Skill Level Check</label>
        <locationX>2030</locationX>
        <locationY>3626</locationY>
        <defaultConnector>
            <targetReference>Add_Type_Skill_Level_10</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Level_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SkillLevelCRC</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Type_Skill_Level_1</targetReference>
            </connector>
            <label>Level 1</label>
        </rules>
        <rules>
            <name>Level_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SkillLevelCRC</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>2.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Type_Skill_Level_2</targetReference>
            </connector>
            <label>Level 2</label>
        </rules>
        <rules>
            <name>Level_3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SkillLevelCRC</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>3.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Type_Skill_Level_3</targetReference>
            </connector>
            <label>Level 3</label>
        </rules>
        <rules>
            <name>Level_4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SkillLevelCRC</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>4.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Type_Skill_Level_4</targetReference>
            </connector>
            <label>Level 4</label>
        </rules>
        <rules>
            <name>Level_5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SkillLevelCRC</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>5.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Type_Skill_Level_5</targetReference>
            </connector>
            <label>Level 5</label>
        </rules>
        <rules>
            <name>Level_6</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SkillLevelCRC</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>6.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Type_Skill_Level_6</targetReference>
            </connector>
            <label>Level 6</label>
        </rules>
        <rules>
            <name>Level_7</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SkillLevelCRC</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>7.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Type_Skill_Level_7</targetReference>
            </connector>
            <label>Level 7</label>
        </rules>
        <rules>
            <name>Level_8</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SkillLevelCRC</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>8.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Type_Skill_Level_8</targetReference>
            </connector>
            <label>Level 8</label>
        </rules>
        <rules>
            <name>Level_9</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SkillLevelCRC</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>9.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Type_Skill_Level_9</targetReference>
            </connector>
            <label>Level 9</label>
        </rules>
    </decisions>
    <decisions>
        <name>Support_Level_Check</name>
        <label>Support Level Check</label>
        <locationX>1524</locationX>
        <locationY>2534</locationY>
        <defaultConnector>
            <targetReference>Skills_loop</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Support_Level_Skill</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Skills_loop.MasterLabel</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Tier_1_Skill</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Support_Level_Skill</targetReference>
            </connector>
            <label>Is Support Level Skill</label>
        </rules>
    </decisions>
    <description>Routes each chat to an agent with the required skills based on conditions that you define 
Optimized, Includes a Fault Path. Includes Gusto Global Changes - BTE-2753
BTE-2915 - Included null checks for all the chat parameters
BTE-2814 - Waterfall Routing For Chat
BTE-2813 - Specialization changes
BTE-3348 - Skill Level Changes
BTE-3555 - ORCA Specialization bug fix
BTE-3555 - Removed Specialization routing from flow
BTE-3584 - Default Chat Support Level to Tier 1
BTE-3605 - Default Chat to Payroll if ORCA provides blanks
BTE-3725 -  Deploy Specialization Chat Routing - 10/31</description>
    <environments>Default</environments>
    <formulas>
        <name>SkillLevelCRC</name>
        <dataType>Number</dataType>
        <expression>VALUE(TEXT({!input_record.Routing_Case_Reason_Classification__r.Skill_Level__c}))</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Omni Skills Flow For Engagement Chat {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Omni Skills Flow For Engagement Chat</label>
    <loops>
        <description>This Loop assigns the skill Id that can be used in the Route Work Action</description>
        <name>Skills_loop</name>
        <label>Skills loop</label>
        <locationX>1304</locationX>
        <locationY>1526</locationY>
        <collectionReference>Get_Chat_Skills</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Company_Size_Skill</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Is_Company_Skill_Empty</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>RoutingFlow</processType>
    <recordCreates>
        <description>Create Exception Log event from fault line details in objExceptionLogEvent</description>
        <name>Exception_Log_Event</name>
        <label>Exception Log Event</label>
        <locationX>3482</locationX>
        <locationY>4502</locationY>
        <inputReference>objExceptionLogEvent</inputReference>
    </recordCreates>
    <recordLookups>
        <description>This Action queries for all the chat skills and stores the Id  and DeveloperName for further usage</description>
        <name>Get_Chat_Skills</name>
        <label>Get Chat Skills</label>
        <locationX>1304</locationX>
        <locationY>1418</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Skills_loop</targetReference>
        </connector>
        <filterLogic>1 OR 2 OR 3 OR 4</filterLogic>
        <filters>
            <field>MasterLabel</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>input_record.Request_Type__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>MasterLabel</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>input_record.Persona__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>MasterLabel</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>input_record.Company_Size__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>MasterLabel</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Tier_1_Skill</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Skill</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Specialization_Skill</name>
        <label>Get Specialization Skill</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Specialization_Skill_Routing_Config</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MasterLabel</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>input_record.ORCA_Predicted_Specialization__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Skill</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <sourceTemplate>omnichannel_chat__SkillsChat</sourceTemplate>
    <start>
        <locationX>303</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Gusto_Global</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <description>Exception Log Message containing flow details in a fault path.</description>
        <name>strExcptionLogMessage</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;p&gt;&amp;lt;p&amp;gt;Fault Message: {!$Flow.FaultMessage}&amp;lt;/p&amp;gt;&amp;lt;p&amp;gt;----&amp;lt;/p&amp;gt;&amp;lt;p&amp;gt;Interview Guid: {!$Flow.InterviewGuid}&amp;lt;/p&amp;gt;&amp;lt;p&amp;gt;----&amp;lt;/p&amp;gt;&amp;lt;p&amp;gt;Current Record: {!$Flow.CurrentRecord}&amp;lt;/p&amp;gt;&amp;lt;p&amp;gt;----&amp;lt;/p&amp;gt;&amp;lt;p&amp;gt;You can find failed flow interviews with the link below. The link below is for Production failed interviews, but if you would like to find them in another environment in Setup, simply search for Paused and Failed Flow Interviews in Setups Quick Find bar, and switch to the All Failed Flow Interviews List View. You can use the interview &quot;Interview Guid&quot; above to locate this specific failures.&amp;amp;nbsp;&amp;amp;nbsp;&amp;lt;/p&amp;gt;&amp;lt;p&amp;gt;https://gusto.lightning.force.com/lightning/setup/Pausedflows/home&amp;lt;/p&amp;gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <description>List of Skill Requirements</description>
        <name>AggregatedSkillRequirement</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SkillRequirement</objectType>
    </variables>
    <variables>
        <description>The chat transcript record that is being inputted into the flow. Necessary for the flow to run.</description>
        <name>input_record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>LiveChatTranscript</objectType>
    </variables>
    <variables>
        <name>objExceptionLogEvent</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Exception_Log_Event__e</objectType>
    </variables>
    <variables>
        <description>Conversation Context Entry object(s) that will provide information from Pre-Chat fields.</description>
        <name>prechatInfo</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>ConversationContextEntry</objectType>
    </variables>
    <variables>
        <description>The ID of the record being inputted into the flow. Necessary for the flow to run.</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Skill_Company_Size</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Skill</objectType>
    </variables>
    <variables>
        <name>Skill_Persona</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Skill</objectType>
    </variables>
    <variables>
        <name>Skill_Request_Type</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Skill</objectType>
    </variables>
    <variables>
        <name>Skill_Specialization</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Skill</objectType>
    </variables>
    <variables>
        <name>Skill_Support_Level</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Skill</objectType>
    </variables>
    <variables>
        <description>Used to store the applicable routing configuration Id</description>
        <name>SkillBasedRoutingConfigId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Skill Requirement(s) that can be added to the work being routed.</description>
        <name>SkillRequirements</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SkillRequirement</objectType>
    </variables>
    <variables>
        <description>Value of the Subject field in the pre-chat list.</description>
        <name>SubjectField</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Variable to store the Company Size from Chat Transcript record to determine the skill, Default Value - Standard 5-24</description>
        <name>Text_Company_Size</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Standard 5-24</stringValue>
        </value>
    </variables>
    <variables>
        <description>Variable to store the persona from the chat transcript object to map the person skill. Default - Admin</description>
        <name>Text_Persona</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Admin</stringValue>
        </value>
    </variables>
    <variables>
        <name>Text_Request_Type</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Payroll</stringValue>
        </value>
    </variables>
</Flow>
