force-app/main/default/flows/Omni_MIAW_Routing.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Route_to_Bot</name>
        <label>Route to Bot</label>
        <locationX>132</locationX>
        <locationY>242</locationY>
        <actionName>routeWork</actionName>
        <actionType>routeWork</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelId</name>
            <value>
                <stringValue>0N98Y0000004P35SAE</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelLabel</name>
            <value>
                <stringValue>Messaging</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelDevName</name>
            <value>
                <stringValue>sfdc_livemessage</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>routingType</name>
            <value>
                <stringValue>Bot</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>routingConfigId</name>
        </inputParameters>
        <inputParameters>
            <name>routingConfigLabel</name>
        </inputParameters>
        <inputParameters>
            <name>queueId</name>
            <value>
                <stringValue>00G8Y000006nTx7UAE</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>agentId</name>
        </inputParameters>
        <inputParameters>
            <name>agentLabel</name>
        </inputParameters>
        <inputParameters>
            <name>queueLabel</name>
            <value>
                <stringValue>Wallet Chatbot Queue</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillOption</name>
        </inputParameters>
        <inputParameters>
            <name>skillRequirementsResourceItem</name>
        </inputParameters>
        <inputParameters>
            <name>botId</name>
            <value>
                <stringValue>0XxTH0000000RTF0A2</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>botLabel</name>
            <value>
                <stringValue>Wallet Chatbot - Enhanced</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>copilotId</name>
        </inputParameters>
        <inputParameters>
            <name>copilotLabel</name>
        </inputParameters>
        <nameSegment>routeWork</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>63.0</apiVersion>
    <decisions>
        <name>Source</name>
        <label>Source</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>Omni_Web_Routing</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>WEB</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>input_Source</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Web</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Omni_Web_Routing</targetReference>
            </connector>
            <label>WEB</label>
        </rules>
        <rules>
            <name>MOBILE</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>input_Source</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Mobile</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Route_to_Bot</targetReference>
            </connector>
            <label>MOBILE</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Omni MIAW Routing {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Omni MIAW Routing</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>RoutingFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Source</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Omni_Web_Routing</name>
        <label>Omni Web Routing</label>
        <locationX>176</locationX>
        <locationY>542</locationY>
        <flowName>Omni_Engagement_Messaging_Session</flowName>
        <inputAssignments>
            <name>input_CaseOrigin</name>
            <value>
                <elementReference>input_CaseOrigin</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>input_Channel</name>
            <value>
                <elementReference>input_Channel</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>input_CompanyId</name>
            <value>
                <elementReference>input_CompanyId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>input_DigitalIVRSubject</name>
            <value>
                <elementReference>input_DigitalIVRSubject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>input_Direction</name>
            <value>
                <elementReference>input_Direction</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>input_DIVRId</name>
            <value>
                <elementReference>input_DIVRId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>input_Email</name>
            <value>
                <elementReference>input_Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>input_FirstLevel</name>
            <value>
                <elementReference>input_FirstLevel</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>input_FullName</name>
            <value>
                <elementReference>input_FullName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>input_HasGustoGlobal</name>
            <value>
                <elementReference>input_HasGustoGlobal</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>input_IVRJourney</name>
            <value>
                <elementReference>input_IVRJourney</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>input_ORCAPredictedCaseReason</name>
            <value>
                <elementReference>input_ORCAPredictedCaseReason</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>input_ORCAPredictedType</name>
            <value>
                <elementReference>input_ORCAPredictedType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>input_Priority</name>
            <value>
                <elementReference>input_Priority</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>input_record</name>
            <value>
                <elementReference>input_record</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>input_SecondLevel</name>
            <value>
                <elementReference>input_SecondLevel</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>input_ThirdLevel</name>
            <value>
                <elementReference>input_ThirdLevel</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>input_Type</name>
            <value>
                <elementReference>input_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>input_UserId</name>
            <value>
                <elementReference>input_UserId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>input_VisitorEmailAddress</name>
            <value>
                <elementReference>input_VisitorEmailAddress</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <description>MIAW Pre-chat form details</description>
        <name>input_CaseOrigin</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>MIAW Pre-chat form details</description>
        <name>input_Channel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>MIAW Pre-chat form details</description>
        <name>input_CompanyId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>MIAW Pre-chat form details</description>
        <name>input_DigitalIVRSubject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>MIAW Pre-chat form details</description>
        <name>input_Direction</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>MIAW Pre-chat form details</description>
        <name>input_DIVRId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>MIAW Pre-chat form details</description>
        <name>input_Email</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>MIAW Pre-chat form details</description>
        <name>input_FirstLevel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>MIAW Pre-chat form details</description>
        <name>input_FullName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>MIAW Pre-chat form details</description>
        <name>input_HasGustoGlobal</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>MIAW Pre-chat form details</description>
        <name>input_IVRJourney</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>MIAW Pre-chat form details</description>
        <name>input_ORCAPredictedCaseReason</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>MIAW Pre-chat form details</description>
        <name>input_ORCAPredictedType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>MIAW Pre-chat form details</description>
        <name>input_Priority</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>The Messaging Session record that is being inputted into the flow. Necessary for the flow to run.</description>
        <name>input_record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>MessagingSession</objectType>
    </variables>
    <variables>
        <description>MIAW Pre-chat form details</description>
        <name>input_SecondLevel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>input_Source</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>MIAW Pre-chat form details</description>
        <name>input_ThirdLevel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>MIAW Pre-chat form details</description>
        <name>input_Type</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>MIAW Pre-chat form details</description>
        <name>input_UserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>MIAW Pre-chat form details</description>
        <name>input_VisitorEmailAddress</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>The ID of the record being inputted into the flow. Necessary for the flow to run.</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
