force-app/main/default/flows/Order_Generator_Create_Benefit_Order_from_Opportunity.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Create_New_Plan_Benefit_Order</name>
        <label>Create New Plan Benefit Order</label>
        <locationX>733</locationX>
        <locationY>26</locationY>
        <actionName>Opportunity.Create_New_Plan_Benefit_Order</actionName>
        <actionType>quickAction</actionType>
        <inputParameters>
            <name>contextId</name>
            <value>
                <elementReference>opportunityId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerId</name>
            <value>
                <stringValue>00G16000004vZRlEAM</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Coverage_Effective_Date__c</name>
            <value>
                <elementReference>opportunity.HI_Effective_Date__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Waiting_Period__c</name>
            <value>
                <elementReference>opportunity.Waiting_Period__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Opportunity.Create_New_Plan_Benefit_Order</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Create_Renewal_Benefit_Order</name>
        <label>Create Renewal Benefit Order</label>
        <locationX>823</locationX>
        <locationY>283</locationY>
        <actionName>Opportunity.Create_Renewal_Benefit_Order</actionName>
        <actionType>quickAction</actionType>
        <inputParameters>
            <name>contextId</name>
            <value>
                <elementReference>opportunityId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerId</name>
            <value>
                <stringValue>00G16000004vZRqEAM</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Coverage_Effective_Date__c</name>
            <value>
                <elementReference>opportunity.HI_Effective_Date__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Waiting_Period__c</name>
            <value>
                <elementReference>opportunity.Waiting_Period__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Opportunity.Create_Renewal_Benefit_Order</nameSegment>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>Determine_Benefit_Order_Record_Type</name>
        <label>Determine Benefit Order Record Type</label>
        <locationX>498</locationX>
        <locationY>258</locationY>
        <defaultConnectorLabel>Record Type Invalid</defaultConnectorLabel>
        <rules>
            <name>Benefits_New_Plan_Opportunity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>opportunityRecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>01216000000WdTjAAK</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_New_Plan_Benefit_Order</targetReference>
            </connector>
            <label>Benefits New Plan Opportunity</label>
        </rules>
        <rules>
            <name>Benefits_Renewal_Opportunity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>opportunityRecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>01216000001BNAOAA4</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Renewal_Benefit_Order</targetReference>
            </connector>
            <label>Benefits Renewal Opportunity</label>
        </rules>
        <rules>
            <name>Benefits_BoR_Opportunity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>opportunityRecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>012160000014JqkAAE</stringValue>
                </rightValue>
            </conditions>
            <label>Benefits BoR Opportunity</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_openBenefitOrders_EMPTY</name>
        <label>Is openBenefitOrders EMPTY?</label>
        <locationX>77</locationX>
        <locationY>256</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>openBenefitOrders_is_EMPTY</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>openBenefitOrders</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Opportuntiy_Record_Type_Set</targetReference>
            </connector>
            <label>openBenefitOrders is EMPTY</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_opportunityId_NULL</name>
        <label>Is opportunityId NULL?</label>
        <locationX>77</locationX>
        <locationY>18</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>opportunityId_is_OK</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>opportunityId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Query_Open_Benefit_Orders</targetReference>
            </connector>
            <label>opportunityId is OK</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Opportuntiy_Record_Type_Set</name>
        <label>Is Opportuntiy Record Type Set?</label>
        <locationX>79</locationX>
        <locationY>414</locationY>
        <defaultConnector>
            <targetReference>Query_Opportunity</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Opportunity Record Type is NULL</defaultConnectorLabel>
        <rules>
            <name>Opportunity_Record_Type_is_OK</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>opportunityRecordTypeId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Determine_Benefit_Order_Record_Type</targetReference>
            </connector>
            <label>Opportunity Record Type is OK</label>
        </rules>
    </decisions>
    <description>Generate a New Plan or Renewal Benefit Order from an Opportunity if one does not already exist.</description>
    <interviewLabel>Order Generator/ Create Benefit Order from Opportunity {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Order Generator::Create Benefit Order from Opportunity</label>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Query_Open_Benefit_Orders</name>
        <label>Query Open Benefit Orders</label>
        <locationX>74</locationX>
        <locationY>138</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_openBenefitOrders_EMPTY</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Closed__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>opportunityId</elementReference>
            </value>
        </filters>
        <object>Benefit_Order__c</object>
        <outputReference>openBenefitOrders</outputReference>
        <queriedFields>Id</queriedFields>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Query_Opportunity</name>
        <label>Query Opportunity</label>
        <locationX>501</locationX>
        <locationY>427</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Determine_Benefit_Order_Record_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>opportunityId</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputReference>opportunity</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>RecordTypeId</queriedFields>
        <queriedFields>HI_Effective_Date__c</queriedFields>
        <queriedFields>Waiting_Period__c</queriedFields>
    </recordLookups>
    <startElementReference>Is_opportunityId_NULL</startElementReference>
    <status>Active</status>
    <variables>
        <name>openBenefitOrders</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Benefit_Order__c</objectType>
    </variables>
    <variables>
        <name>opportunity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>opportunityId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>opportunityRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
