force-app/main/default/flows/Payroll_Transfer_Notifications_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>This will trigger the Intro Email Alert (Intro_Email_Exception_Request_Alert) for Payroll Transfer</description>
        <name>Intro_Email_Alert_Exception_Request</name>
        <label>Payroll Transfer: Intro Email Alert Exception Request</label>
        <locationX>1741</locationX>
        <locationY>509</locationY>
        <actionName>Case.Intro_Email_Exception_Request_Alert</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Create_Email_Message_0_1</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Case_record_after_wait.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Intro_Email_Exception_Request_Alert</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <description>This will trigger the Intro Email Alert (Payroll_Transfer_Intro_Email_ADP_Run_Alert) for Payroll Transfer</description>
        <name>Payroll_Transfer_Intro_Email_ADP_Run_Alert</name>
        <label>Payroll Transfer Intro Email ADP Run Alert</label>
        <locationX>1210</locationX>
        <locationY>530</locationY>
        <actionName>Case.Payroll_Transfer_Intro_Email_ADP_Run_Alert</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Create_Email_Message_0</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Case_record_after_wait.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Payroll_Transfer_Intro_Email_ADP_Run_Alert</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <description>This will trigger the Intro Email Alert for Payroll Transfer</description>
        <name>Payroll_Transfer_Intro_Email_Alert</name>
        <label>Payroll Transfer: Intro Email Alert</label>
        <locationX>1012</locationX>
        <locationY>538</locationY>
        <actionName>Case.Payroll_Transfer_Intro_Email_Alert</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Create_Email_Message</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Case_record_after_wait.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Payroll_Transfer_Intro_Email_Alert</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <description>This will trigger the Intro Email Alert (Payroll_Transfer_Intro_Email_IOP_QBOI_Alert) for Payroll Transfer</description>
        <name>Payroll_Transfer_Intro_Email_IOP_QBOI_Alert</name>
        <label>Payroll Transfer: Intro Email - IOP/QBOI Alert</label>
        <locationX>1381</locationX>
        <locationY>440</locationY>
        <actionName>Case.Payroll_Transfer_Intro_Email_IOP_QBOI_Alert</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Create_Email_Message_0_0</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Case_record_after_wait.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Payroll_Transfer_Intro_Email_IOP_QBOI_Alert</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <description>Assign AE Email Address</description>
        <name>Assign_AE_Email_Address</name>
        <label>Assign AE Email Address</label>
        <locationX>879</locationX>
        <locationY>221</locationY>
        <assignmentItems>
            <assignToReference>varContactEmailAddresses</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>inputOrderAEEmail</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Triggered_From</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign Contact Email Address</description>
        <name>Assign_Contact_Email_Address</name>
        <label>Assign Contact Email Address</label>
        <locationX>872</locationX>
        <locationY>51</locationY>
        <assignmentItems>
            <assignToReference>varContactEmailAddresses</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>inputAddPOCContactEmail.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopCaseTeamMemberIds</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_existing_case_to_new_case_variable</name>
        <label>Assign existing case to new case variable</label>
        <locationX>593</locationX>
        <locationY>157</locationY>
        <assignmentItems>
            <assignToReference>Case_record_after_wait</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inputCaseRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Case</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Case_Contact_0</name>
        <label>Check Case Contact</label>
        <locationX>375</locationX>
        <locationY>500</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Case_Contact_present_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Case_record_after_wait.ContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Case</targetReference>
            </connector>
            <label>Is Case Contact present?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Input_Case_Contact_populated</name>
        <label>Input Case Contact populated?</label>
        <locationX>375</locationX>
        <locationY>163</locationY>
        <defaultConnector>
            <targetReference>Case_record_after_wait</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Contact_present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>inputCaseRecord.ContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_existing_case_to_new_case_variable</targetReference>
            </connector>
            <label>Contact present?</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsCaseTeamPresent</name>
        <label>IsCaseTeamPresent</label>
        <locationX>695</locationX>
        <locationY>471</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getCaseTeamMemberIds</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>loopCaseTeamMemberIds</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>inputCaseTeamMember.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Triggered_From</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Triggered_From</name>
        <label>Triggered From?</label>
        <locationX>1183</locationX>
        <locationY>169</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Intro_Email</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TriggeredFromIntroEmail</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Payroll_Transfer_Intro_Email_Alert</targetReference>
            </connector>
            <label>Intro Email?</label>
        </rules>
        <rules>
            <name>Intro_Email_ADP_Run</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TriggeredFromIntroEmail_ADPRun</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Payroll_Transfer_Intro_Email_ADP_Run_Alert</targetReference>
            </connector>
            <label>Intro Email ADP Run?</label>
        </rules>
        <rules>
            <name>Intro_Email_IOP_QBOI</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TriggeredFromIntroEmail_IOP_QBOI</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Payroll_Transfer_Intro_Email_IOP_QBOI_Alert</targetReference>
            </connector>
            <label>Intro Email IOP/QBOI?</label>
        </rules>
        <rules>
            <name>Intro_Email_Exception_Request</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TriggeredFromIntroEmail_ExceptionRequest</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Intro_Email_Alert_Exception_Request</targetReference>
            </connector>
            <label>Intro Email Exception Request?</label>
        </rules>
    </decisions>
    <description>1/31/2022 - Sanjay - fixed email alert template naming for iop/qboi
4/15/2022 - Sanjay - Corrected Variable change based on emailmessage refactor
2/11/2022 - Pravesh - Updated Email Message &quot;to address&quot; field value
9/22/202 - Tdowdy - Add Loop for all Case Team contacts
5/29/2020 - Tdowdy - Updated Email Template name
5/28/2020 - TDowdy - Added Exception Request Email Alert
3/5/2020 - SJay - Added null checks to CC Addresses
2/28/2020 - TDowdy - Added &apos;;&apos; to CCAddress formula
2/27/2020 - SJay - Corrected CTM to case link
2/12/2020 - Todd - Add CC Email Addresses
2/10/2020 - SJay - Added POC
2/7/2020 - Todd - Updated CC field when the record is being created. 
12/28/2019 - SJay - Corrected Contact present scenario with correct case assignment
12/23/2019 - SJay - Reduced a query by putting an initial check on the case record coming from PB.
12/23/2019 - SJay - Added Intro Email ADP Run, Intro Email IOP/QBOI email alerts here
12/20/2019 - SJay - Initial creation</description>
    <environments>Default</environments>
    <formulas>
        <name>CCAddresses</name>
        <dataType>String</dataType>
        <expression>{!varContactEmailAddresses}</expression>
    </formulas>
    <interviewLabel>Payroll Transfer: Notifications {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Payroll Transfer: Notifications Flow</label>
    <loops>
        <description>Loop through each Case Team Member Id and find Contact email.</description>
        <name>loopCaseTeamMemberIds</name>
        <label>loopCaseTeamMemberIds</label>
        <locationX>701</locationX>
        <locationY>265</locationY>
        <collectionReference>getCaseTeamMemberIds</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Contact_Email_from_Additional_POC</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Assign_AE_Email_Address</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Email_Message</name>
        <label>Create Email Message</label>
        <locationX>634</locationX>
        <locationY>656</locationY>
        <assignRecordIdToReference>emailMessageRecord.Id</assignRecordIdToReference>
        <inputAssignments>
            <field>CcAddress</field>
            <value>
                <elementReference>CCAddresses</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email_Template_Name__c</field>
            <value>
                <stringValue>Payroll_Transfer_Intro_Email</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>Case_record_after_wait.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>3</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ToAddress</field>
            <value>
                <elementReference>Case_record_after_wait.ContactEmail</elementReference>
            </value>
        </inputAssignments>
        <object>EmailMessage</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Email_Message_0</name>
        <label>Create Email Message</label>
        <locationX>947</locationX>
        <locationY>653</locationY>
        <assignRecordIdToReference>emailMessageRecord.Id</assignRecordIdToReference>
        <inputAssignments>
            <field>CcAddress</field>
            <value>
                <elementReference>CCAddresses</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email_Template_Name__c</field>
            <value>
                <stringValue>Payroll_Transfer_Intro_Email_ADP_Run</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>Case_record_after_wait.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>3</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ToAddress</field>
            <value>
                <elementReference>Case_record_after_wait.ContactEmail</elementReference>
            </value>
        </inputAssignments>
        <object>EmailMessage</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Email_Message_0_0</name>
        <label>Create Email Message</label>
        <locationX>1208</locationX>
        <locationY>791</locationY>
        <assignRecordIdToReference>emailMessageRecord.Id</assignRecordIdToReference>
        <inputAssignments>
            <field>CcAddress</field>
            <value>
                <elementReference>CCAddresses</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email_Template_Name__c</field>
            <value>
                <stringValue>Payroll_Transfer_Notify_Owner</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>Case_record_after_wait.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>3</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ToAddress</field>
            <value>
                <elementReference>inputCaseRecord.Order_AE_Email__c</elementReference>
            </value>
        </inputAssignments>
        <object>EmailMessage</object>
    </recordCreates>
    <recordCreates>
        <description>Create Intro Email Alert for Exception requests.</description>
        <name>Create_Email_Message_0_1</name>
        <label>Create Email Message</label>
        <locationX>1754</locationX>
        <locationY>737</locationY>
        <assignRecordIdToReference>emailMessageRecord.Id</assignRecordIdToReference>
        <inputAssignments>
            <field>CcAddress</field>
            <value>
                <elementReference>CCAddresses</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email_Template_Name__c</field>
            <value>
                <stringValue>Payroll_Transfer_Intro_Email_Exception_Request</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>Case_record_after_wait.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>3</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ToAddress</field>
            <value>
                <elementReference>Case_record_after_wait.ContactEmail</elementReference>
            </value>
        </inputAssignments>
        <object>EmailMessage</object>
    </recordCreates>
    <recordLookups>
        <name>Case_record_after_wait</name>
        <label>Case record after wait</label>
        <locationX>220</locationX>
        <locationY>498</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Case_Contact_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>inputCaseRecord.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>ContactId</queriedFields>
        <queriedFields>ContactEmail</queriedFields>
        <queriedFields>Contact_First_Name__c</queriedFields>
        <queriedFields>Order_Owner_Name__c</queriedFields>
        <queriedFields>Order_First_Check_Date__c</queriedFields>
        <queriedFields>Order_Owner_Calendly_Link__c</queriedFields>
        <queriedFields>Order_Owner_Phone__c</queriedFields>
        <queriedFields>Order_AE_Email__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Case</name>
        <label>Get CaseTeamMem</label>
        <locationX>433</locationX>
        <locationY>364</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IsCaseTeamPresent</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Case_record_after_wait.Id</elementReference>
            </value>
        </filters>
        <object>CaseTeamMember</object>
        <outputReference>getCaseTeamMemberIds</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>MemberId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Contact_Email_from_Additional_POC</name>
        <label>Get Contact Email from Additional POC</label>
        <locationX>692</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Contact_Email_Address</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>loopCaseTeamMemberIds.MemberId</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>inputAddPOCContactEmail</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Email</queriedFields>
    </recordLookups>
    <start>
        <locationX>36</locationX>
        <locationY>160</locationY>
        <connector>
            <targetReference>Input_Case_Contact_populated</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <textTemplates>
        <description>AE email address plus additional POC.</description>
        <name>EmailCCAddresses</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;{!varContactEmailAddresses}&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>emailMessageRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>EmailMessage</objectType>
    </variables>
    <variables>
        <description>Collection of all Case Team Member Ids from Query.</description>
        <name>getCaseTeamMemberIds</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>CaseTeamMember</objectType>
    </variables>
    <variables>
        <name>inputAddPOCContactEmail</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>inputCaseMemRole</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>CaseTeamRole</objectType>
    </variables>
    <variables>
        <name>inputCaseRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <description>Input Case Team Role Additional Contact.</description>
        <name>InputCaseTeamMem</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>inputCaseTeamMember</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>CaseTeamMember</objectType>
    </variables>
    <variables>
        <name>inputOppConRole</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>OpportunityContactRole</objectType>
    </variables>
    <variables>
        <name>inputOrderAEEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>OppConRolesVar</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>OpportunityContactRole</objectType>
    </variables>
    <variables>
        <name>TriggeredFromIntroEmail</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>TriggeredFromIntroEmail_ADPRun</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>This variable is to store data being passed from the Process builder Identifying what node.</description>
        <name>TriggeredFromIntroEmail_ExceptionRequest</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>TriggeredFromIntroEmail_IOP_QBOI</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>Case Team Member collection of Contact email addresses.</description>
        <name>varContactEmailAddresses</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
