force-app/main/default/flows/Payroll_Transfer_Ticket_Screen_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Send email to Order Owner on Ticket creation.</description>
        <name>Notify_Owner_On_Ticket_Creation</name>
        <label>Notify Owner On Ticket Creation</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <actionName>Order.Payroll_Transfers_Ticket_Creation_Notification</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Order.Payroll_Transfers_Ticket_Creation_Notification</nameSegment>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <choices>
        <name>In_Progress</name>
        <choiceText>In Progress</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue> InProgress</stringValue>
        </value>
    </choices>
    <choices>
        <name>New</name>
        <choiceText>New</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>New</stringValue>
        </value>
    </choices>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>Payroll_Transfer_QC_Error</name>
        <choiceText>Payroll Transfer QC Error</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Payroll Transfer QC Error</stringValue>
        </value>
    </choices>
    <choices>
        <name>Resolved</name>
        <choiceText>Resolved</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Resolved</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Check_Order_Owner</name>
        <label>Check Order Owner</label>
        <locationX>182</locationX>
        <locationY>458</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Order_Owner_User</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ErrorOwnerUser</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Notify_Owner_On_Ticket_Creation</targetReference>
            </connector>
            <label>Is Order Owner User</label>
        </rules>
    </decisions>
    <description>Screen Flow to create Ticket from Order page in Payroll Transfer</description>
    <environments>Default</environments>
    <formulas>
        <description>Stores the Error Owner value if its a user.</description>
        <name>ErrorOwnerUser</name>
        <dataType>String</dataType>
        <expression>IF( BEGINS({!ErrorOwnerValue}, &apos;005&apos;) , {!ErrorOwnerValue}, &apos;&apos;)</expression>
    </formulas>
    <formulas>
        <description>Store Facilitator user and if Facilitator is blank store the Order Owner.</description>
        <name>ErrorOwnerValue</name>
        <dataType>String</dataType>
        <expression>IF({!Get_Current_Order_Record.Data_Entry_Assist__c} != null, {!Get_Current_Order_Record.Data_Entry_Assist__c},{!Get_Current_Order_Record.OwnerId})</expression>
    </formulas>
    <interviewLabel>Payroll Transfer Ticket Screen Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Payroll Transfer Ticket Screen Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Ticket_Record</name>
        <label>Create Ticket Record</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <connector>
            <targetReference>Check_Order_Owner</targetReference>
        </connector>
        <inputAssignments>
            <field>Blocking_Future_Clients__c</field>
            <value>
                <elementReference>Blocking_Future_Clients</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description__c</field>
            <value>
                <elementReference>Issue_Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Error_Origin_Date__c</field>
            <value>
                <elementReference>Error_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Error_Owner__c</field>
            <value>
                <elementReference>ErrorOwnerUser</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Order__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Current_Order_Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0121M000001YfCe</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <elementReference>Ticket_Status</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ticket_Reason_Detail_PT__c</field>
            <value>
                <elementReference>Reason_Detail.middleValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ticket_Reason_PT__c</field>
            <value>
                <elementReference>Reason_Detail.topValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type_of_Escalation_Complaint__c</field>
            <value>
                <elementReference>Error_Type</elementReference>
            </value>
        </inputAssignments>
        <object>Ticket__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Current_Order_Record</name>
        <label>Get Current Order Record</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Input_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Order</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Input_Screen</name>
        <label>Input Screen</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Ticket_Record</targetReference>
        </connector>
        <fields>
            <name>Input_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Input_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Reason_Detail</name>
                    <extensionName>flowruntime:dependentPicklists</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>dependencyWrapperApiName</name>
                        <value>
                            <stringValue>Ticket__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>topPicklistApiName</name>
                        <value>
                            <stringValue>Ticket_Reason_PT__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>middlePicklistApiName</name>
                        <value>
                            <stringValue>Ticket_Reason_Detail_PT__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>topRequired</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>middleRequired</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Issue_Description</name>
                    <fieldText>Issue Description</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Error_Type</name>
                    <choiceReferences>Payroll_Transfer_QC_Error</choiceReferences>
                    <dataType>String</dataType>
                    <defaultSelectedChoiceReference>Payroll_Transfer_QC_Error</defaultSelectedChoiceReference>
                    <fieldText>Type</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Input_Screen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Error_Date</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>$Flow.CurrentDate</elementReference>
                    </defaultValue>
                    <fieldText>Error Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; font-family: -apple-system, BlinkMacSystemFont, &amp;quot;Segoe UI&amp;quot;, Roboto, Oxygen, Ubuntu, &amp;quot;Fira Sans&amp;quot;, &amp;quot;Droid Sans&amp;quot;, &amp;quot;Helvetica Neue&amp;quot;, sans-serif; color: rgb(23, 43, 77);&quot;&gt;Today&apos;s date will be autopopulated, but please indicate the date the error was identified.&amp;nbsp;&lt;/span&gt;&lt;/p&gt;</helpText>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Blocking_Future_Clients</name>
                    <choiceReferences>Yes</choiceReferences>
                    <choiceReferences>No</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Blocking Future Clients?</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Ticket_Status</name>
                    <choiceReferences>New</choiceReferences>
                    <choiceReferences>In_Progress</choiceReferences>
                    <choiceReferences>Resolved</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Status</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>OrderOwner</name>
                    <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Order Owner Name:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!Get_Current_Order_Record.Order_Owner_Name__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Current_Order_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
