force-app/main/default/flows/Payroll_Transfer_Notifications_TTF.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Email_notification_to_Partner_AE_AM</name>
        <label>Email notification to Partner AE/AM</label>
        <locationX>446</locationX>
        <locationY>134</locationY>
        <actionName>Transition_to_Fulfillment__c.Email_notification_to_Partner_AE_AM</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Decide_Template</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>TTF_Source_Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Transition_to_Fulfillment__c.Email_notification_to_Partner_AE_AM</nameSegment>
    </actionCalls>
    <actionCalls>
        <description>Send intro email with exception request template</description>
        <name>Send_Exception_Request</name>
        <label>Send Exception Request</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <actionName>Case.Intro_Email_Exception_Request_Alert</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Create_Email_Message_Intro_Email_Exception_Request</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>TTF_Source_Record.Order__r.Case__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Intro_Email_Exception_Request_Alert</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_intro_email</name>
        <label>Send intro email</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <actionName>Case.Payroll_Transfer_Intro_Email_Alert</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Create_Email_Message_Intro_Email</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>TTF_Source_Record.Order__r.Case__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Payroll_Transfer_Intro_Email_Alert</nameSegment>
    </actionCalls>
    <actionCalls>
        <description>Send Payroll Transfer: Intro Email - IOP/QBOI Alert_TTF</description>
        <name>Send_Intro_Email_No_Call_Alert</name>
        <label>Send Intro Email No Call Alert</label>
        <locationX>578</locationX>
        <locationY>350</locationY>
        <actionName>Case.Payroll_Transfer_Intro_Email_IOP_QBOI_Alert</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Create_Email_Message_Intro_Email_No_Call</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>TTF_Source_Record.Order__r.Case__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Payroll_Transfer_Intro_Email_IOP_QBOI_Alert</nameSegment>
    </actionCalls>
    <actionCalls>
        <description>Update Email Message body with notification body</description>
        <name>Update_Email_Message_body_with_notification_body</name>
        <label>Update Email Message body with notification body</label>
        <locationX>446</locationX>
        <locationY>650</locationY>
        <actionName>EmailMessageTriggerHelper</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>list_Ids</name>
            <value>
                <elementReference>TTF_Source_Record.Order__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>EmailMessageTriggerHelper</nameSegment>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <decisions>
        <description>Decide which template to use for the intro email</description>
        <name>Decide_Template</name>
        <label>Decide Template</label>
        <locationX>446</locationX>
        <locationY>242</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Exception_Request</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TTF_Source_Record.Exception_Request__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>TTF_Source_Record.Order__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>TTF_Source_Record.Order__r.Case__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Exception_Request</targetReference>
            </connector>
            <label>Exception Request</label>
        </rules>
        <rules>
            <name>Call_Needed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TTF_Source_Record.Documents_Collected__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>TTF_Source_Record.Order__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>TTF_Source_Record.Order__r.Case__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_intro_email</targetReference>
            </connector>
            <label>Call Needed</label>
        </rules>
        <rules>
            <name>No_Call_Needed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TTF_Source_Record.Documents_Collected__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>TTF_Source_Record.Order__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>TTF_Source_Record.Order__r.Case__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Intro_Email_No_Call_Alert</targetReference>
            </connector>
            <label>No Call Needed</label>
        </rules>
    </decisions>
    <description>Helper flow to send payroll transfer notifications on ttf create/edit. Launched from Transition to fulfillment after handler.</description>
    <environments>Default</environments>
    <interviewLabel>Payroll Transfer Notifications TTF {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Payroll Transfer Notifications TTF</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Email_Message_Intro_Email</name>
        <label>Create Email Message - Intro Email</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>Update_Email_Message_body_with_notification_body</targetReference>
        </connector>
        <inputAssignments>
            <field>Email_Template_Name__c</field>
            <value>
                <stringValue>Payroll_Transfer_Intro_Email</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>TTF_Source_Record.Order__r.Case__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RelatedToId</field>
            <value>
                <elementReference>TTF_Source_Record.Order__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>3</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ToAddress</field>
            <value>
                <elementReference>TTF_Source_Record.Contact__r.Email</elementReference>
            </value>
        </inputAssignments>
        <object>EmailMessage</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Email_Message_Intro_Email_Exception_Request</name>
        <label>Create Email Message - Intro Email Exception Request</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>Update_Email_Message_body_with_notification_body</targetReference>
        </connector>
        <inputAssignments>
            <field>Email_Template_Name__c</field>
            <value>
                <stringValue>Payroll_Transfer_Intro_Email_Exception_Request</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>TTF_Source_Record.Order__r.Case__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RelatedToId</field>
            <value>
                <elementReference>TTF_Source_Record.Order__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>3</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ToAddress</field>
            <value>
                <elementReference>TTF_Source_Record.Contact__r.Email</elementReference>
            </value>
        </inputAssignments>
        <object>EmailMessage</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Email_Message_Intro_Email_No_Call</name>
        <label>Create Email Message - Intro Email No Call</label>
        <locationX>578</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>Update_Email_Message_body_with_notification_body</targetReference>
        </connector>
        <inputAssignments>
            <field>Email_Template_Name__c</field>
            <value>
                <stringValue>Payroll_Transfer_Intro_Email_IOP_QBO_2</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>TTF_Source_Record.Order__r.Case__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RelatedToId</field>
            <value>
                <elementReference>TTF_Source_Record.Order__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>3</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ToAddress</field>
            <value>
                <elementReference>TTF_Source_Record.Contact__r.Email</elementReference>
            </value>
        </inputAssignments>
        <object>EmailMessage</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <runInMode>DefaultMode</runInMode>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Email_notification_to_Partner_AE_AM</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>TTF record which triggered the flow</description>
        <name>TTF_Source_Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Transition_to_Fulfillment__c</objectType>
    </variables>
    <variables>
        <description>Stores X2_Business_Days_From_last_Notification from related case to related order to source TTF record</description>
        <name>X2_Business_Days_From_last_Notification</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>TTF_Source_Record.Order__r.Case__r.X2_Business_Days_From_Last_Notification__c</elementReference>
        </value>
    </variables>
</Flow>
