force-app/main/default/flows/PendingServiceRouting_AfterSave_Handler.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>test_psr_email</name>
        <label>test psr  email</label>
        <locationX>50</locationX>
        <locationY>276</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>ankit.cs@gusto.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>support_uat@gusto.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>body</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>body</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <decisions>
        <name>Preferred_User</name>
        <label>Preferred User?</label>
        <locationX>710</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>False</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.IsPreferredUserRequired</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Clone_PSR</targetReference>
            </connector>
            <label>False</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>UpdatedRoutingPriority</name>
        <dataType>Number</dataType>
        <expression>{!$Record.RoutingPriority} + 1</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>PendingServiceRouting AfterSave Handler {!$Flow.CurrentDateTime}</interviewLabel>
    <label>PendingServiceRouting AfterSave Handler</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Clone_PSR</name>
        <label>Clone PSR</label>
        <locationX>578</locationX>
        <locationY>384</locationY>
        <inputAssignments>
            <field>CapacityWeight</field>
            <value>
                <elementReference>$Record.CapacityWeight</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RoutingModel</field>
            <value>
                <elementReference>$Record.RoutingModel</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RoutingPriority</field>
            <value>
                <elementReference>UpdatedRoutingPriority</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RoutingType</field>
            <value>
                <elementReference>$Record.RoutingType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ServiceChannelId</field>
            <value>
                <elementReference>$Record.ServiceChannelId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WorkItemId</field>
            <value>
                <elementReference>$Record.WorkItemId</elementReference>
            </value>
        </inputAssignments>
        <object>PendingServiceRouting</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>test_psr_email</targetReference>
        </connector>
        <object>PendingServiceRouting</object>
        <recordTriggerType>Create</recordTriggerType>
        <scheduledPaths>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <scheduledPaths>
            <name>X24_Hours</name>
            <connector>
                <targetReference>Preferred_User</targetReference>
            </connector>
            <label>24 Hours</label>
            <offsetNumber>5</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <recordField>CreatedDate</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <textTemplates>
        <name>body</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;psr created for workitem id - {!$Record.WorkItemId}&lt;/p&gt;</text>
    </textTemplates>
</Flow>
