force-app/main/default/flows/Pricing_Scheme_Set_Account_Pricebook.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>Is_accountId_Null</name>
        <label>Is accountId Null?</label>
        <locationX>96</locationX>
        <locationY>16</locationY>
        <defaultConnectorLabel>accountId is NULL</defaultConnectorLabel>
        <rules>
            <name>accountId_is_OK</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>accountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Query_Pricebook</targetReference>
            </connector>
            <label>accountId is OK</label>
        </rules>
    </decisions>
    <interviewLabel>Pricing Scheme::Set Account Pricebook {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Pricing Scheme::Set Account Pricebook</label>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Query_Pricebook</name>
        <label>Query Pricebook</label>
        <locationX>117</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Account_Pricebook</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>pricebookName</elementReference>
            </value>
        </filters>
        <object>Pricebook2</object>
        <outputAssignments>
            <assignToReference>pricebookId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Account_Pricebook</name>
        <label>Update Account Pricebook</label>
        <locationX>119</locationX>
        <locationY>288</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>accountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Pricebook2__c</field>
            <value>
                <elementReference>pricebookId</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <startElementReference>Is_accountId_Null</startElementReference>
    <status>Active</status>
    <variables>
        <name>accountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>pricebookId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>01s16000001jX6FAAU</stringValue>
        </value>
    </variables>
    <variables>
        <name>pricebookName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>$39 Base, $6: 1+</stringValue>
        </value>
    </variables>
</Flow>
