force-app/main/default/flows/Re_Route_Case.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Check_if_Case_Skills_are_Changed</name>
        <label>Check if Case Skills are Changed</label>
        <locationX>1106</locationX>
        <locationY>1382</locationY>
        <actionName>ReRouteCaseController</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Skills_Matched</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>objCase</name>
            <value>
                <elementReference>objCase</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objOldCase</name>
            <value>
                <elementReference>objOldCase</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ReRouteCaseController</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>blnSkillsAreSame</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <assignments>
        <description>Assign Routing Case Reason: Route to Spanish and Routing Case Reason Classification: Route to Spanish</description>
        <name>Assign_Case_Routing_Reason</name>
        <label>Assign Case Routing Reason</label>
        <locationX>1370</locationX>
        <locationY>2222</locationY>
        <assignmentItems>
            <assignToReference>objCase.Routing_Case_Reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Route to Spanish</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objCase.Routing_Case_Reason_Classification__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Case_Reason_Classification_Records.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign Routing Case Reason and Routing Case Reason Classification to null</description>
        <name>Assign_Case_Routing_Reason_to_Blank</name>
        <label>Assign Case Routing Reason to Blank</label>
        <locationX>1106</locationX>
        <locationY>2114</locationY>
        <assignmentItems>
            <assignToReference>objCase.Routing_Case_Reason__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objCase.Routing_Case_Reason_Classification__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Update_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_new_care_count_value</name>
        <label>Assign new care count value</label>
        <locationX>1238</locationX>
        <locationY>1706</locationY>
        <assignmentItems>
            <assignToReference>objCase.Care_Re_Route_Count__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CareReRouteCount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_value_to_Toggle</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign updates to objCase post screen selections</description>
        <name>Assign_objCase_Updates</name>
        <label>Assign objCase Updates</label>
        <locationX>908</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>objCase.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Case_Type</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objCase.Support_Level__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Support_Level</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objCase.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Setup.Engagement_Flow_Configuration__c.Engagement_Cases_Queue_ID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objCase.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Setup.Engagement_Flow_Configuration__c.Engagement_RecordType_ID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objCase.Case_In_Route__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objCase.Routing_Team__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fmlaRoutingTeam</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objCase.Specialization__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objCase.Is_Case_Manual_Create__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objCase.Re_Route_Count__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ReRouteCount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objCase.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_if_Case_Skills_are_Changed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign updates to objCase post screen selections</description>
        <name>Assign_objCase_Updates_for_Specialized_gustie</name>
        <label>Assign objCase Updates for  Specialized gustie</label>
        <locationX>1436</locationX>
        <locationY>1106</locationY>
        <assignmentItems>
            <assignToReference>objCase.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Setup.Engagement_Flow_Configuration__c.Engagement_Cases_Queue_ID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objCase.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Setup.Engagement_Flow_Configuration__c.Engagement_RecordType_ID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objCase.Case_In_Route__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objCase.Specialization__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Specialization</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objCase.Is_Case_Manual_Create__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objCase.Re_Route_Count__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ReRouteCount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objCase.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_if_Case_Skills_are_Changed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Prior_Case_Value</name>
        <label>Assign Prior Case Value</label>
        <locationX>435</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>objOldCase</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>objCase</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Case_Origin_and_Channel</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_value_to_Toggle</name>
        <label>Assign value to Toggle</label>
        <locationX>1370</locationX>
        <locationY>1898</locationY>
        <assignmentItems>
            <assignToReference>objCase.Toggle__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ChangeToggle</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Routing_Case_Reason_Route_to_Spanish</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Case_Escalated</name>
        <label>Case Escalated?</label>
        <locationX>820</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Engagement_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Escalated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Case_Escalation_Record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Show_Case_Escalated_Error_Message</targetReference>
            </connector>
            <label>Yes Escalated</label>
        </rules>
    </decisions>
    <decisions>
        <description>Skip the Cases with Origin or Channel as Phone or Chat</description>
        <name>Check_Case_Origin_and_Channel</name>
        <label>Check Case Origin and Channel</label>
        <locationX>435</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Get_Case_Escalation_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Case_Origin_Channel_Phone_Chat</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>objCase.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Phone</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>objCase.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Chat</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>objCase.Channel__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Phone</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>objCase.Channel__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Chat</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Oops</targetReference>
            </connector>
            <label>Is Case Origin/Channel Phone/Chat?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Specialization</name>
        <label>Check Specialization</label>
        <locationX>1304</locationX>
        <locationY>998</locationY>
        <defaultConnector>
            <targetReference>Assign_objCase_Updates_for_Specialized_gustie</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Specialization_TAM</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Specialization</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>TAM Accountant</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Specialization</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>TAM Premier</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Engagement_Screen</targetReference>
            </connector>
            <label>Specialization TAM</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Old_case_recordType_is_Engagment_Type</name>
        <label>Is Old case recordType is Engagment Type?</label>
        <locationX>1370</locationX>
        <locationY>1598</locationY>
        <defaultConnector>
            <targetReference>Assign_value_to_Toggle</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_update_Care_Re_Route_Count</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>objCase.Record_Type_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Engagement</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Are_you_routing_this_case_to_a_specialization_team</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>No</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_new_care_count_value</targetReference>
            </connector>
            <label>Yes, update Care Re-Route Count</label>
        </rules>
    </decisions>
    <decisions>
        <name>Route_to_a_specialization</name>
        <label>Route to a specialization ?</label>
        <locationX>1106</locationX>
        <locationY>890</locationY>
        <defaultConnector>
            <targetReference>Check_Specialization</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes Route with Specialization</defaultConnectorLabel>
        <rules>
            <name>No_Route_without_Specialization</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Are_you_routing_this_case_to_a_specialization_team</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>No</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_objCase_Updates</targetReference>
            </connector>
            <label>No Route without Specialization</label>
        </rules>
    </decisions>
    <decisions>
        <name>Routing_Case_Reason_Route_to_Spanish</name>
        <label>Routing Case Reason &apos;Route to Spanish&apos;?</label>
        <locationX>1370</locationX>
        <locationY>2006</locationY>
        <defaultConnector>
            <targetReference>Update_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>objCase.Routing_Case_Reason__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>objCase.Routing_Case_Reason__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Route to Spanish</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>objCase.Specialization__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Spanish</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Case_Routing_Reason_to_Blank</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>Specialization_is_Spanish</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>objCase.Specialization__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Spanish</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Case_Reason_Classification_Records</targetReference>
            </connector>
            <label>Specialization is Spanish</label>
        </rules>
    </decisions>
    <decisions>
        <name>Skills_Matched</name>
        <label>Skills Matched?</label>
        <locationX>1106</locationX>
        <locationY>1490</locationY>
        <defaultConnector>
            <targetReference>Is_Old_case_recordType_is_Engagment_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_01</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>blnSkillsAreSame</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Engagement_Screen</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>What team was selected to route to.</description>
        <name>Team</name>
        <label>Team</label>
        <locationX>1326</locationX>
        <locationY>782</locationY>
        <defaultConnector>
            <targetReference>CaseRoutingLWC</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Route to Other team</defaultConnectorLabel>
        <rules>
            <name>Not_Eligible_for_Engagement_Routing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Engagement_Yes_No</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Are_you_routing_this_case_to_a_specialization_team</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>No</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>isCareReRoute_Eligible</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Support_Level</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Not Eligible for Engagement Routing</label>
        </rules>
        <rules>
            <name>Route_to_Engagement</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Engagement_Yes_No</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Route_to_a_specialization</targetReference>
            </connector>
            <label>Route to Engagement</label>
        </rules>
    </decisions>
    <description>Re-Route case with updated details or cross-functional teams.

- Removed references to Prior_Agent__c
- Removed Query for Engagement Queue &amp; record type instead used setting, marked is case manual create to false
- Added Specialization Screens
- Added Prior agent to be null
- Routing team updated for only vendor
- Routing Team if not populated
- Added Decision to skip Cases of Origin/Channel as Phone/Chat
- Added Routing Team override
- Added Re-Route Count to track how many times a Case is routed using this component
- Making Routing Case Reason as Empty if it is &apos;Route to Spanish&apos;
- Moved picklist selections from multiple screens to one screen
- Added Specialization Spanish and related Routing Case reason
- Trigger Validation error if Specialization TAM is selected
- Changed Visibility condition for Team field from field Vendor to Custom Permission Re-Route Team Option
- Apex Action to check if the Skills selected are different from the Case Routed Skills
- BTE-4146: Prevent Internal Care Re-Route v2</description>
    <dynamicChoiceSets>
        <description>This will contain all Specializations from Case</description>
        <name>picklistCaseSpecialization</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Specialization__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <description>Case Reason Classification Case Type Pillar picklist values</description>
        <name>picklistCaseTypePillar</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Case_Type_Pillar__c</picklistField>
        <picklistObject>Case_Reason_Classification__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <description>Case Reason Classification Support Level picklist values</description>
        <name>picklistSupportLevel</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Support_Level__c</picklistField>
        <picklistObject>Case_Reason_Classification__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <description>Case Team Picklist values.</description>
        <name>picklistTeam</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Routing_Team__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>blnIsVendor</name>
        <dataType>Boolean</dataType>
        <expression>{!$Permission.Vendor_Permission}</expression>
    </formulas>
    <formulas>
        <description>To track how many times a case has been re-routed within the care using Re-Route Case component</description>
        <name>CareReRouteCount</name>
        <dataType>Number</dataType>
        <expression>IF(ISNULL({!objCase.Care_Re_Route_Count__c}), 1, {!objCase.Care_Re_Route_Count__c} + 1)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>ChangeToggle</name>
        <dataType>Boolean</dataType>
        <expression>IF({!objCase.Toggle__c} == TRUE, FALSE,TRUE)</expression>
    </formulas>
    <formulas>
        <description>Default Routing Team value if null</description>
        <name>fmlaRoutingTeam</name>
        <dataType>String</dataType>
        <expression>IF( NOT(ISBLANK({!RoutingTeam})), {!RoutingTeam}, 
IF( ISPICKVAL({!objCase.Persona__c}, &apos;Member&apos;) || ISPICKVAL( {!objCase.Company_Size__c}, &apos;Micro 0-4&apos;), &apos;External&apos;,&apos;Internal&apos;))</expression>
    </formulas>
    <formulas>
        <name>isCareReRoute_Eligible</name>
        <dataType>Boolean</dataType>
        <expression>OR( {!$Permission.Engagement_Lead}, ISBLANK({!objCase.Care_Re_Route_Count__c}), {!objCase.Care_Re_Route_Count__c} &lt; 2, {!objOldCase.Record_Type_Name__c} != &apos;Engagement&apos;)</expression>
    </formulas>
    <formulas>
        <description>To track how many times a case has been re-routed using Re-Route Case component</description>
        <name>ReRouteCount</name>
        <dataType>Number</dataType>
        <expression>IF(ISNULL({!objCase.Re_Route_Count__c}), 1, 
IF( {!blnSkillsAreSame} , {!objCase.Re_Route_Count__c}, {!objCase.Re_Route_Count__c} + 1 ))</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Re-Route Case {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Re-Route Case</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Case_Escalation_Record</name>
        <label>Get Case Escalation Record</label>
        <locationX>820</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Case_Escalated</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>objCase.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case_Escalation__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get Case Reason Classification Records with reason &apos;Route to Spanish&apos;</description>
        <name>Get_Case_Reason_Classification_Records</name>
        <label>Get Case Reason Classification Records</label>
        <locationX>1370</locationX>
        <locationY>2114</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Case_Routing_Reason</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Reason_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>route_to_spanish</stringValue>
            </value>
        </filters>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case_Reason_Classification__c</object>
        <queriedFields>Id</queriedFields>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Query case from ID passed through lighting page layout</description>
        <name>Query_Case</name>
        <label>Query Case</label>
        <locationX>435</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Prior_Case_Value</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>strCaseId</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>objCase</outputReference>
        <queriedFields>Persona__c</queriedFields>
        <queriedFields>Company_Size__c</queriedFields>
        <queriedFields>Routing_Team__c</queriedFields>
        <queriedFields>Origin</queriedFields>
        <queriedFields>Channel__c</queriedFields>
        <queriedFields>Re_Route_Count__c</queriedFields>
        <queriedFields>Toggle__c</queriedFields>
        <queriedFields>Routing_Case_Reason__c</queriedFields>
        <queriedFields>Routing_Case_Reason_Classification__c</queriedFields>
        <queriedFields>Type</queriedFields>
        <queriedFields>Support_Level__c</queriedFields>
        <queriedFields>Specialization__c</queriedFields>
        <queriedFields>Sub_Pillar__c</queriedFields>
        <queriedFields>Care_Re_Route_Count__c</queriedFields>
        <queriedFields>Record_Type_Name__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <description>Update Case Record passed to flow</description>
        <name>Update_Record</name>
        <label>Update Record</label>
        <locationX>1370</locationX>
        <locationY>2414</locationY>
        <connector>
            <targetReference>Success</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Oops</targetReference>
        </faultConnector>
        <inputReference>objCase</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>CaseRoutingLWC</name>
        <label>CaseRoutingLWC</label>
        <locationX>2074</locationX>
        <locationY>890</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>caseRoutingCmp</name>
            <extensionName>c:caseRoutingCmp</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>strCaseId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Case failed to update</description>
        <name>Copy_1_of_Oops</name>
        <label>Copy 1 of Oops</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Copy_1_of_RouteFailed</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Oops, Something went Wrong&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; font-family: -apple-system, BlinkMacSystemFont, &amp;quot;Segoe UI&amp;quot;, Roboto, Oxygen, Ubuntu, &amp;quot;Fira Sans&amp;quot;, &amp;quot;Droid Sans&amp;quot;, &amp;quot;Helvetica Neue&amp;quot;, sans-serif; color: rgb(23, 43, 77);&quot;&gt;This case origin is not eligible for re-routing through Omni-channel. The origin must be updated to &quot;Email&quot;, or this case must be closed and a new Email case must be created. Please check with your PE if you do not have the necessary permissions to perform this action.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Engagement Case fields</description>
        <name>Engagement_Screen</name>
        <label>Engagement Screen</label>
        <locationX>1326</locationX>
        <locationY>674</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Team</targetReference>
        </connector>
        <fields>
            <name>SkillsMatchedError</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(244, 15, 8); font-size: 14px;&quot;&gt;Cases cannot be re-routed within a pillar. Please update the skills, or reach out to your PE if you cannot solve this case.&lt;/strong&gt;&lt;span style=&quot;color: rgb(244, 15, 8); font-size: 14px;&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>blnSkillsAreSame</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Engagement_Yes_No</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Do you want to route this case to Engagement?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Engagement_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Engagement_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Are_you_routing_this_case_to_a_specialization_team</name>
                    <choiceReferences>Yes</choiceReferences>
                    <choiceReferences>No</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Are you routing this case to a specialization team?</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Internal_ReRoute_Error</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(244, 15, 8); font-size: 14px;&quot;&gt;This case has already been re-routed within a Care. Please reach out to your PE for assistance.&amp;nbsp;&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Are_you_routing_this_case_to_a_specialization_team</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>No</elementReference>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>isCareReRoute_Eligible</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>objCase.Routing_Team__c</leftValueReference>
                            <operator>NotEqualTo</operator>
                            <rightValue>
                                <stringValue>External</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Specialization</name>
                    <choiceReferences>picklistCaseSpecialization</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Specialization</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Are_you_routing_this_case_to_a_specialization_team</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Yes</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Specialization_Error</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(244, 15, 8); font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;You do not have permission to re-route cases to the TAM team.&lt;/span&gt;&lt;span style=&quot;color: rgb(254, 40, 40); font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;﻿&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>or</conditionLogic>
                        <conditions>
                            <leftValueReference>Specialization</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>TAM Accountant</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Specialization</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>TAM Premier</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>RoutingTeam</name>
                    <choiceReferences>picklistTeam</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Team</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>1 AND 2 AND (3 OR 4)</conditionLogic>
                        <conditions>
                            <leftValueReference>Are_you_routing_this_case_to_a_specialization_team</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>No</elementReference>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>blnIsVendor</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>isCareReRoute_Eligible</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>objCase.Routing_Team__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>External</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Internal_ReRoute_Error2</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px; color: rgb(244, 15, 8);&quot;&gt;This case has already been re-routed within a Care&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Are_you_routing_this_case_to_a_specialization_team</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>No</elementReference>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>isCareReRoute_Eligible</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>objCase.Routing_Team__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>External</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>RoutingTeam</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>External</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Case_Type</name>
                    <choiceReferences>picklistCaseTypePillar</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Case Type</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>1 AND (2 OR (3 AND 4))</conditionLogic>
                        <conditions>
                            <leftValueReference>Are_you_routing_this_case_to_a_specialization_team</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>No</elementReference>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>isCareReRoute_Eligible</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>objCase.Routing_Team__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>External</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>RoutingTeam</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Internal</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Support_Level</name>
                    <choiceReferences>picklistSupportLevel</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Support Level</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>1 AND (2 OR (3 AND 4))</conditionLogic>
                        <conditions>
                            <leftValueReference>Are_you_routing_this_case_to_a_specialization_team</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>No</elementReference>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>isCareReRoute_Eligible</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>objCase.Routing_Team__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>External</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>RoutingTeam</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Internal</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>CaseTypeHelpText</name>
                    <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;﻿You can reference our &lt;/span&gt;&lt;a href=&quot;https://docs.google.com/spreadsheets/d/1FDIwP_s9Fg3bfwVaWdQmtDbdRPUZuR8thSYcfC8iBN0/edit#gid=1051148928&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Payroll and Benefits Case Reason&lt;/a&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt; resource for guidance on which &quot;Case Type&quot; and &quot;Support Level&quot; to select based on the customer&apos;s inquiry and case reason. To determine the case reason, refer to the &quot;Use for&quot; and &quot;Do not use for&quot; columns.&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>1 AND (2 OR (3 AND 4))</conditionLogic>
                        <conditions>
                            <leftValueReference>Are_you_routing_this_case_to_a_specialization_team</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>No</elementReference>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>isCareReRoute_Eligible</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>objCase.Routing_Team__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>External</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>RoutingTeam</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Internal</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Engagement_Yes_No</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Yes</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Case failed to update</description>
        <name>Oops</name>
        <label>Oops</label>
        <locationX>1810</locationX>
        <locationY>2522</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>RouteFailed</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Oops, Something went Wrong&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;It looks like something went wrong on our end. If this issue persistes, please sent a message to #biztech-help channel so we can help out. &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Show_Case_Escalated_Error_Message</name>
        <label>Show Case Escalated Error Message</label>
        <locationX>314</locationX>
        <locationY>674</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Escalation_Error_Message</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;{!$Label.Case_Escalation_Error_Message}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Case successfully routed</description>
        <name>Success</name>
        <label>Success</label>
        <locationX>1370</locationX>
        <locationY>2522</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>RoutedSuccessfully</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Hooray!!&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;Your case has been successfully routed.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>309</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Query_Case</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>Check if the Agent is Routing to the same Skills</description>
        <name>blnSkillsAreSame</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>objCase</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <description>Prior Case value</description>
        <name>objOldCase</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <description>Case Record from page where screenflow is located</description>
        <name>strCaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
