force-app/main/default/flows/Record_Trigger_Feed_Item_After_Handler.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Notification_to_Group_Members</name>
        <label>Send Notification to Group Members</label>
        <locationX>1370</locationX>
        <locationY>1163</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Get_Custom_Notification_Id.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>list_GroupMembers</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>You have a new update</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <stringValue>Please click here to view the updates.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Add_Coloration_Members</name>
        <label>Add Coloration Members</label>
        <locationX>1590</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>list_GroupMembers</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Extrat_Receipt_Ids.MemberId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Extrat_Receipt_Ids</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Populate_Group_Member_Count</name>
        <label>Populate Group Member Count</label>
        <locationX>1502</locationX>
        <locationY>839</locationY>
        <assignmentItems>
            <assignToReference>intGroupMembersCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>list_GroupMembers</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_For_Group_Members</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_For_Group_Members</name>
        <label>Check For Group Members</label>
        <locationX>1502</locationX>
        <locationY>947</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Have_Group_Members</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>intGroupMembersCount</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Custom_Notification_Id</targetReference>
            </connector>
            <label>Is Have Group Members</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check if Ticket Record Type is API Integration Escalation or GEP Portal Feeds</description>
        <name>Check_Record_Type_Conditions</name>
        <label>Check Record Type/ Conditions</label>
        <locationX>1161</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_API_Integration_Escalation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Parent:Ticket__c.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>API_Integration_Escalation</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>TextPost</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Ticket_Owned_By_Queue</targetReference>
            </connector>
            <label>Check API Integration Escalation</label>
        </rules>
        <rules>
            <name>Is_GEP_Portal_Feed</name>
            <conditionLogic>1 AND 2 AND 3 AND (4 OR 5)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.NetworkScope</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Setup.Ardius_Configuration__c.GEP_Chase_Portal_Id__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Visibility</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>AllUsers</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Published</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>TextPost</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>AdvancedTextPost</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Coloration_Group_Members</targetReference>
            </connector>
            <label>Is GEP Portal Feed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Ticket_Status</name>
        <label>Check Ticket Status</label>
        <locationX>182</locationX>
        <locationY>539</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Status_is_not_New</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Parent:Ticket__c.Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Parent:Ticket__c.Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Response Received</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Status_To_Response_Receieved</targetReference>
            </connector>
            <label>Status is not New</label>
        </rules>
    </decisions>
    <decisions>
        <description>Compare Ticket Owner and Feed Item Inserted By. If they are the same, post is created by ticket owner.</description>
        <name>Post_Created_By_Ticket_Owner</name>
        <label>Post Created By Ticket Owner</label>
        <locationX>842</locationX>
        <locationY>539</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Ticket_Owner</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Parent:Ticket__c.OwnerId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.CreatedById</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Parent:Ticket__c.Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Awaiting Response</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Status_To_Awaiting_Response</targetReference>
            </connector>
            <label>Ticket Owner</label>
        </rules>
        <rules>
            <name>Non_Ticket_Owner</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Parent:Ticket__c.OwnerId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.CreatedById</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Parent:Ticket__c.Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Response Received</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Status_To_Response_Receieved_1</targetReference>
            </connector>
            <label>Non-Ticket Owner</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check if Ticket is Owned by Queue</description>
        <name>Ticket_Owned_By_Queue</name>
        <label>Ticket Owned By Queue</label>
        <locationX>512</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Post_Created_By_Ticket_Owner</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Queue_Owner</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Parent:Ticket__c.OwnerId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>00G</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Ticket_Status</targetReference>
            </connector>
            <label>Queue Owner</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Record Trigger: Feed Item After Handler {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Record Trigger: Feed Item After Handler</label>
    <loops>
        <name>Extrat_Receipt_Ids</name>
        <label>Extrat Receipt Ids</label>
        <locationX>1502</locationX>
        <locationY>539</locationY>
        <collectionReference>Get_Coloration_Group_Members</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Coloration_Members</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Populate_Group_Member_Count</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Coloration_Group_Members</name>
        <label>Get Coloration Group Members</label>
        <locationX>1502</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Extrat_Receipt_Ids</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CollaborationGroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ParentId</elementReference>
            </value>
        </filters>
        <filters>
            <field>CollaborationRole</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Standard</stringValue>
            </value>
        </filters>
        <filters>
            <field>NotificationFrequency</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>P</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>CollaborationGroupMember</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>MemberId</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Custom_Notification_Id</name>
        <label>Get Custom Notification Id</label>
        <locationX>1370</locationX>
        <locationY>1055</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Send_Notification_to_Group_Members</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>GEP_Group_Notifications</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Update Ticket Status to Awaiting Response</description>
        <name>Update_Status_To_Awaiting_Response</name>
        <label>Update Status To Awaiting Response</label>
        <locationX>578</locationX>
        <locationY>647</locationY>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Awaiting Response</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record.Parent:Ticket__c</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Update Ticket Status to Response Received</description>
        <name>Update_Status_To_Response_Receieved</name>
        <label>Update Status To Response Receieved</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Response Received</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record.Parent:Ticket__c</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Update Ticket Status to Response Received</description>
        <name>Update_Status_To_Response_Receieved_1</name>
        <label>Update Status To Response Received</label>
        <locationX>842</locationX>
        <locationY>647</locationY>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Response Received</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record.Parent:Ticket__c</inputReference>
    </recordUpdates>
    <start>
        <locationX>1035</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Record_Type_Conditions</targetReference>
        </connector>
        <filterLogic>(1 AND 2) OR ( 3 AND (4 OR 5) )</filterLogic>
        <filters>
            <field>ParentId</field>
            <operator>StartsWith</operator>
            <value>
                <stringValue>a3e</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>TextPost</stringValue>
            </value>
        </filters>
        <filters>
            <field>ParentId</field>
            <operator>StartsWith</operator>
            <value>
                <stringValue>0F9</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>TextPost</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>AdvancedTextPost</stringValue>
            </value>
        </filters>
        <object>FeedItem</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>intGroupMembersCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>list_GroupMembers</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
