force-app/main/default/flows/Record_Trigger_Nice_Interaction_After_Handler.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Call apex helper method to process nice interaction data</description>
        <name>Process_Interaction_Data</name>
        <label>Process Interaction Data</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <actionName>LogSmartCallingControllerLEX</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Check_for_IVR_Routing_Log_update_Required</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>idNiceInteractionId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>intCallDuration</name>
            <value>
                <elementReference>CallDurationInSec</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>intRetryCount</name>
            <value>
                <elementReference>$Record.Retry_Process_Count__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>strCallEndDateTime</name>
            <value>
                <elementReference>$Record.Call_End_Date_and_Time__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>strCallResult</name>
            <value>
                <elementReference>$Record.Call_Result__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>strCallStartDateTime</name>
            <value>
                <elementReference>$Record.Call_Start_Date_and_Time__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>strComments</name>
            <value>
                <elementReference>$Record.Comment__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>strGenesysInteractionId</name>
            <value>
                <elementReference>$Record.ContactID__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>strProcessingState</name>
            <value>
                <elementReference>$Record.Processing_State__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>LogSmartCallingControllerLEX</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <decisions>
        <description>Check specific field updates to decide path</description>
        <name>Check_field_updates</name>
        <label>Check field updates</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Check_for_IVR_Routing_Log_update_Required</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Duration_Updated</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Call_Duration_in_Sec__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Comment__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Call_Result__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Process_Interaction_Data</targetReference>
            </connector>
            <label>Is Duration Updated?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_IVR_Routing_Log_update_Required</name>
        <label>Check for IVR Routing Log update Required?</label>
        <locationX>182</locationX>
        <locationY>623</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Abandoned_time_or_Speed_to_Answer_Changed</name>
            <conditionLogic>(1 OR 2) OR (3 AND (4 OR 5))</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Abandoned_time__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Speed_to_Answer__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>isInsert</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Abandoned_time__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Speed_to_Answer__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Find_IVR_Log_by_ContactId</targetReference>
            </connector>
            <label>Is Abandoned time or Speed to Answer Changed?</label>
        </rules>
    </decisions>
    <description>After Insert/Update flow for Nice interaction records</description>
    <environments>Default</environments>
    <formulas>
        <description>Converted call duration in second</description>
        <name>CallDurationInSec</name>
        <dataType>Number</dataType>
        <expression>VALUE({!$Record.Call_Duration_in_Sec__c})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>isInsert</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <interviewLabel>Record Trigger: Nice Interaction After Handler {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Record Trigger: Nice Interaction After Handler</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Find_IVR_Log_by_ContactId</name>
        <label>Find IVR Log by ContactId</label>
        <locationX>50</locationX>
        <locationY>731</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ConversationId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ContactID__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Abandoned_time__c</field>
            <value>
                <elementReference>$Record.Abandoned_time__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Speed_to_Answer__c</field>
            <value>
                <elementReference>$Record.Speed_to_Answer__c</elementReference>
            </value>
        </inputAssignments>
        <object>IVR_Routing_Log__c</object>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_field_updates</targetReference>
        </connector>
        <object>NICE_Interaction__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <description>Stores formatted end time</description>
        <name>CalculatedEndTime</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>$System.OriginDateTime</elementReference>
        </value>
    </variables>
    <variables>
        <description>Stores formatted start time</description>
        <name>CalculatedStartTime</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>$System.OriginDateTime</elementReference>
        </value>
    </variables>
</Flow>
