force-app/main/default/flows/Record_Trigger_QA_Sheet_After_Handler.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>pass carrier order ids to trigger to update submission deadline start date field</description>
        <name>Set_Carrier_Order_Ids_To_Static_Variable_Before_DML</name>
        <label>Set Carrier Order Ids To Static Variable Before DML</label>
        <locationX>50</locationX>
        <locationY>1955</locationY>
        <actionName>CarrierOrderTriggerHelper</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Update_Carrier_Orders</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>list_COWithfalseSpecialEnrollment</name>
            <value>
                <elementReference>COWithFalseSpecialEnrollment</elementReference>
            </value>
        </inputParameters>
        <nameSegment>CarrierOrderTriggerHelper</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Assign_CO_to_COList</name>
        <label>Assign CO to COList</label>
        <locationX>600</locationX>
        <locationY>1655</locationY>
        <assignmentItems>
            <assignToReference>CarrrierOrderList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_on_CarrierOrders</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_on_CarrierOrders</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Group_Sub_Date_And_Member_Sub_Date</name>
        <label>Assign Group Sub Date And Member Sub Date</label>
        <locationX>270</locationX>
        <locationY>1079</locationY>
        <assignmentItems>
            <assignToReference>Loop_on_CarrierOrders.Group_Submission_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Setup.Configuration_Settings__c.Special_Enrollment_Deadline_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_on_CarrierOrders.Member_Submission_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Setup.Configuration_Settings__c.Special_Enrollment_Deadline_Date__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>QA_Sheet_Special_Enrollment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_SEP_and_Submission_Deadline_Date</name>
        <label>Assign SEP and Submission Deadline Date</label>
        <locationX>402</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>Loop_on_CarrierOrders.Submission_Deadline__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Setup.Configuration_Settings__c.Special_Enrollment_Deadline_Date__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Carrier_Order_Record_Type_Check</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Add carrier order ids to pass them to apex class to perform logic for submission deadline date value</description>
        <name>Set_Carrier_Order_Ids_To_Update_Submission_Deadline_When_False</name>
        <label>Set Carrier Order  Ids To Update Submission Deadline When False</label>
        <locationX>534</locationX>
        <locationY>1379</locationY>
        <assignmentItems>
            <assignToReference>COWithFalseSpecialEnrollment</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_on_CarrierOrders.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_CO_to_COList</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Add carrier order ids to pass them to apex class to perform logic for submission deadline date value</description>
        <name>Set_Carrier_Order_Ids_To_Update_Submission_Deadline_When_False_For_No_Medical</name>
        <label>Set Carrier Order  Ids To Update Submission Deadline When False For No Medical</label>
        <locationX>798</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>COWithFalseSpecialEnrollment</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_on_CarrierOrders.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_CO_to_COList</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Submisssion_Deadline_Start_Date</name>
        <label>Update Submisssion Deadline Start Date</label>
        <locationX>270</locationX>
        <locationY>1379</locationY>
        <assignmentItems>
            <assignToReference>Loop_on_CarrierOrders.Submission_Deadline_Start_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Setup.Configuration_Settings__c.Special_Enrollment_Start_Date__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_CO_to_COList</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Carrier_Order_Record_Type_Check</name>
        <label>Carrier Order Record Type Check</label>
        <locationX>402</locationX>
        <locationY>971</locationY>
        <defaultConnector>
            <targetReference>QA_Sheet_Special_Enrollment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Not_New_Plan</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_on_CarrierOrders.RecordType.DeveloperName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>New_Plan</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Group_Sub_Date_And_Member_Sub_Date</targetReference>
            </connector>
            <label>Is Not New Plan</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_For_Medical_Benefit_Type</name>
        <label>Check For Medical Benefit Type</label>
        <locationX>600</locationX>
        <locationY>755</locationY>
        <defaultConnector>
            <targetReference>Set_Carrier_Order_Ids_To_Update_Submission_Deadline_When_False_For_No_Medical</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_on_CarrierOrders.Benefit_Types__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Medical</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_SEP_and_Submission_Deadline_Date</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_If_Carrier_Order_Ids_Not_Null</name>
        <label>Check If Carrier Order Ids Not Null</label>
        <locationX>182</locationX>
        <locationY>1847</locationY>
        <defaultConnector>
            <targetReference>Update_Carrier_Orders</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>False</defaultConnectorLabel>
        <rules>
            <name>True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>COWithFalseSpecialEnrollment</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Carrier_Order_Ids_To_Static_Variable_Before_DML</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <decisions>
        <name>QA_Sheet_Benefit_Order_Check</name>
        <label>QA Sheet Benefit Order Check</label>
        <locationX>336</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Benefit_Order__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CarrierOrders</targetReference>
            </connector>
            <label>Is Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>QA_Sheet_Special_Enrollment</name>
        <label>QA Sheet Special Enrollment</label>
        <locationX>402</locationX>
        <locationY>1271</locationY>
        <defaultConnector>
            <targetReference>Set_Carrier_Order_Ids_To_Update_Submission_Deadline_When_False</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Special_Enrollment_Is_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Special_Enrollment__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Y</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Submisssion_Deadline_Start_Date</targetReference>
            </connector>
            <label>Special Enrollment Is True</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>calcSpecailEnrollmentVal</name>
        <dataType>Boolean</dataType>
        <expression>IF(ISPICKVAL({!$Record.Special_Enrollment__c},&apos;Y&apos;), true, false)</expression>
    </formulas>
    <interviewLabel>Record Trigger {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Record Trigger: QA Sheet After Handler</label>
    <loops>
        <name>Loop_on_CarrierOrders</name>
        <label>Loop on CarrierOrders</label>
        <locationX>182</locationX>
        <locationY>647</locationY>
        <collectionReference>CarrierOrders</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_For_Medical_Benefit_Type</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_If_Carrier_Order_Ids_Not_Null</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>CarrierOrders</name>
        <label>CarrierOrders</label>
        <locationX>182</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_on_CarrierOrders</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Benefit_Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Benefit_Order__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Carrier_Order__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Carrier_Orders</name>
        <label>Update Carrier Orders</label>
        <locationX>182</locationX>
        <locationY>2147</locationY>
        <inputReference>CarrrierOrderList</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opportunity_Record</name>
        <label>Update Opportunity Record</label>
        <locationX>336</locationX>
        <locationY>323</locationY>
        <connector>
            <targetReference>QA_Sheet_Benefit_Order_Check</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Opportunity__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Special_Enrollment__c</field>
            <value>
                <elementReference>calcSpecailEnrollmentVal</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Submission_Deadline__c</field>
            <value>
                <elementReference>$Setup.Configuration_Settings__c.Special_Enrollment_Deadline_Date__c</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <start>
        <locationX>210</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_Opportunity_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Special_Enrollment__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>QA_Sheet__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>CarrrierOrderList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Carrier_Order__c</objectType>
    </variables>
    <variables>
        <name>COWithFalseSpecialEnrollment</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
