force-app/main/default/flows/Record_Trigger_UXR_Scout_After_Handler.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Approval_Email_to_UXR_Admin</name>
        <label>Send Approval Email to UXR Admin</label>
        <locationX>578</locationX>
        <locationY>539</locationY>
        <actionName>Research_Project_Master__c.Send_Approval_Email_to_UXR_Admin</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Send_Approval_Email_to_UXR_Record_Owner</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Research_Project_Master__c.Send_Approval_Email_to_UXR_Admin</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Approval_Email_to_UXR_Record_Owner</name>
        <label>Send Approval Email to UXR Record Owner</label>
        <locationX>578</locationX>
        <locationY>600</locationY>
        <actionName>Research_Project_Master__c.Send_Approval_Email_to_UXR_Record_Owner</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Project_Closure_Email_Alerts</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Research_Project_Master__c.Send_Approval_Email_to_UXR_Record_Owner</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Email_To_UXR_Admin_Group</name>
        <label>Send Email To UXR Admin Group</label>
        <locationX>50</locationX>
        <locationY>384</locationY>
        <actionName>Research_Project_Master__c.UXR_Scout_Project_Creation_Email</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Project_Closure_Email_Alerts</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Research_Project_Master__c.UXR_Scout_Project_Creation_Email</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Project_Closure_Remainder</name>
        <label>Send Project Closure Remainder</label>
        <locationX>182</locationX>
        <locationY>984</locationY>
        <actionName>Research_Project_Master__c.Project_Closure_Remainder_Immediate</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>UXR_Incentive_Approval_Status_Email_Alerts</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Research_Project_Master__c.Project_Closure_Remainder_Immediate</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Project_Closure_Remainder_1_Day_After_End_Date</name>
        <label>Send Project Closure Remainder 1 Day After End Date</label>
        <locationX>1018</locationX>
        <locationY>384</locationY>
        <actionName>Research_Project_Master__c.Project_Closure_Remainder</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Research_Project_Master__c.Project_Closure_Remainder</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Project_Closure_Remainder_2_Days_After_End_Date</name>
        <label>Send Project Closure Remainder 2 Days After End Date</label>
        <locationX>1546</locationX>
        <locationY>384</locationY>
        <actionName>Research_Project_Master__c.Project_Closure_Remainder_after_Two_Days</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Research_Project_Master__c.Project_Closure_Remainder_after_Two_Days</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Project_Closure_Remainder_3_Days_After_End_Date</name>
        <label>Send Project Closure Remainder 3 Days After End Date</label>
        <locationX>2074</locationX>
        <locationY>384</locationY>
        <actionName>Research_Project_Master__c.Project_Closure_Remainder_after_Three_Days</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Research_Project_Master__c.Project_Closure_Remainder_after_Three_Days</nameSegment>
    </actionCalls>
    <actionCalls>
        <description>Send Rejection Email to UXR Admin</description>
        <name>Send_Rejection_Email_to_UXR_Admin</name>
        <label>Send Rejection Email to UXR Admin</label>
        <locationX>842</locationX>
        <locationY>539</locationY>
        <actionName>Research_Project_Master__c.Send_Rejection_Email_to_UXR_Admin</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Send_Rejection_Email_to_UXR_Record_Owner</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Research_Project_Master__c.Send_Rejection_Email_to_UXR_Admin</nameSegment>
    </actionCalls>
    <actionCalls>
        <description>Send Rejection Email to UXR Record Owner</description>
        <name>Send_Rejection_Email_to_UXR_Record_Owner</name>
        <label>Send Rejection Email to UXR Record Owner</label>
        <locationX>842</locationX>
        <locationY>647</locationY>
        <actionName>Research_Project_Master__c.Send_Rejection_Email_to_UXR_Record_Owner</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Research_Project_Master__c.Send_Rejection_Email_to_UXR_Record_Owner</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Request_Email_to_UXR_Admin</name>
        <label>Send Request Email to UXR Admin</label>
        <locationX>314</locationX>
        <locationY>492</locationY>
        <actionName>Research_Project_Master__c.Send_Request_Email_to_UXR_Admin</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Project_Closure_Email_Alerts</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Research_Project_Master__c.Send_Request_Email_to_UXR_Admin</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_UXR_Incentive_Approval_Email</name>
        <label>Send UXR Incentive Approval Email</label>
        <locationX>182</locationX>
        <locationY>1284</locationY>
        <actionName>Research_Project_Master__c.UXR_incentive_approval_email</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Research_Project_Master__c.UXR_incentive_approval_email</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_UXR_Incentive_Request_Approved_Notification</name>
        <label>Send UXR Incentive Request Approved Notification</label>
        <locationX>578</locationX>
        <locationY>1284</locationY>
        <actionName>Research_Project_Master__c.UXR_Approved_Incentive_Notification</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Research_Project_Master__c.UXR_Approved_Incentive_Notification</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_UXR_Incentive_Request_Rejected_Notification</name>
        <label>Send UXR Incentive Request Rejected Notification</label>
        <locationX>314</locationX>
        <locationY>1284</locationY>
        <actionName>Research_Project_Master__c.UXR_Rejection_Incentive_Notification</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Research_Project_Master__c.UXR_Rejection_Incentive_Notification</nameSegment>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <decisions>
        <name>IS_UXR_Scout_Project_Created</name>
        <label>IS UXR Scout Project Created</label>
        <locationX>380</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>UXR_Scout_Updated</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>UXR_Scout_Project_Created</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IS_NEW</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Email_To_UXR_Admin_Group</targetReference>
            </connector>
            <label>UXR Scout Project Created</label>
        </rules>
    </decisions>
    <decisions>
        <name>Project_Closure_Email_Alerts</name>
        <label>Project Closure Email Alerts</label>
        <locationX>314</locationX>
        <locationY>876</locationY>
        <defaultConnector>
            <targetReference>UXR_Incentive_Approval_Status_Email_Alerts</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Project_Closure_Remainder</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Project_End_Date__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Project_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Complete</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Re_Open_Date__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Project_Closure_Remainder</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Project Closure Remainder</label>
        </rules>
    </decisions>
    <decisions>
        <name>Project_Closure_Remainder_1_Day_After_End_Date</name>
        <label>Project Closure Remainder 1 Day After End Date</label>
        <locationX>1150</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Remainder_1_Day_After_End_Date</name>
            <conditionLogic>(1 AND 2) OR (3 AND 4) OR (5 AND 6)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Project_End_Date__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Project_End_Date__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Project_Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Project_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Complete</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Re_Open_Date__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Re_Open_Date__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Project_Closure_Remainder_1_Day_After_End_Date</targetReference>
            </connector>
            <label>Remainder 1 Day After End Date</label>
        </rules>
    </decisions>
    <decisions>
        <name>Project_Closure_Remainder_2_Day_After_End_Date</name>
        <label>Project Closure Remainder 2 Day After End Date</label>
        <locationX>1678</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Remainder_2_Day_After_End_Date</name>
            <conditionLogic>(1 AND 2) OR (3 AND 4) OR (5 AND 6)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Project_End_Date__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Project_End_Date__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Project_Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Project_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Complete</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Re_Open_Date__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Re_Open_Date__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Project_Closure_Remainder_2_Days_After_End_Date</targetReference>
            </connector>
            <label>Remainder 2 Day After End Date</label>
        </rules>
    </decisions>
    <decisions>
        <name>Project_Closure_Remainder_3_Day_After_End_Date</name>
        <label>Project Closure Remainder 3 Day After End Date</label>
        <locationX>2206</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Remainder_3_Day_After_End_Date</name>
            <conditionLogic>(1 AND 2) OR (3 AND 4) OR (5 AND 6)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Project_End_Date__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Project_End_Date__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Project_Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Project_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Complete</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Re_Open_Date__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Re_Open_Date__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Project_Closure_Remainder_3_Days_After_End_Date</targetReference>
            </connector>
            <label>Remainder 3 Day After End Date</label>
        </rules>
    </decisions>
    <decisions>
        <name>UXR_Incentive_Approval_Status_Email_Alerts</name>
        <label>UXR Incentive Approval Status Email Alerts</label>
        <locationX>314</locationX>
        <locationY>1176</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>UXR_Request_Incentive</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Incentive_Approval_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>In progress</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_UXR_Incentive_Approval_Email</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>UXR Request Incentive</label>
        </rules>
        <rules>
            <name>UXR_Incentive_Request_Rejected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Incentive_Approval_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rejected</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_UXR_Incentive_Request_Rejected_Notification</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>UXR Incentive Request Rejected</label>
        </rules>
        <rules>
            <name>UXR_Incentive_Request_Approved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Incentive_Approval_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_UXR_Incentive_Request_Approved_Notification</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>UXR Incentive Request Approved</label>
        </rules>
    </decisions>
    <decisions>
        <name>UXR_Scout_Updated</name>
        <label>UXR Scout Updated</label>
        <locationX>578</locationX>
        <locationY>384</locationY>
        <defaultConnector>
            <targetReference>Project_Closure_Email_Alerts</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>UXR_Request_Number_of_Participants_to_Add_In_project</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IS_NEW</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Additional_Participant_Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Additional_Participant_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>In progress</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Request_Email_to_UXR_Admin</targetReference>
            </connector>
            <label>UXR Request Number of Participants to Add In project</label>
        </rules>
        <rules>
            <name>UXR_Approval_Number_of_Participants_to_Add_In_project</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IS_NEW</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Additional_Participant_Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Additional_Participant_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Approval_Email_to_UXR_Admin</targetReference>
            </connector>
            <label>UXR Approval Number of Participants to Add In project</label>
        </rules>
        <rules>
            <name>UXR_Rejection_Number_of_Participants_to_Add_In_project</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IS_NEW</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Additional_Participant_Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Additional_Participant_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rejected</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Rejection_Email_to_UXR_Admin</targetReference>
            </connector>
            <label>UXR Rejection Number of Participants to Add In project</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>IS_NEW</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <interviewLabel>Record Trigger UXR Scout After Handler {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Record Trigger UXR Scout After Handler</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>IS_UXR_Scout_Project_Created</targetReference>
        </connector>
        <object>Research_Project_Master__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <name>X1_Day_After_UXR_Scout_End_Date</name>
            <connector>
                <targetReference>Project_Closure_Remainder_1_Day_After_End_Date</targetReference>
            </connector>
            <label>1 Day After UXR Scout: End Date</label>
            <offsetNumber>1</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <recordField>Project_End_Date__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>X2_Day_After_UXR_Scout_End_Date</name>
            <connector>
                <targetReference>Project_Closure_Remainder_2_Day_After_End_Date</targetReference>
            </connector>
            <label>2 Day After UXR Scout: End Date</label>
            <offsetNumber>2</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <recordField>Project_End_Date__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>X3_Day_After_UXR_Scout_End_Date</name>
            <connector>
                <targetReference>Project_Closure_Remainder_3_Day_After_End_Date</targetReference>
            </connector>
            <label>3 Day After UXR Scout: End Date</label>
            <offsetNumber>3</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <recordField>Project_End_Date__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
</Flow>
