force-app/main/default/flows/Record_Trigger_Case_Engagement_Closure_Classification.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>OB_Message_for_Forethought_Engagement</name>
        <label>OB Message for Forethought Engagement</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <actionName>Case.Outbound_message_to_Forethought</actionName>
        <actionType>outboundMessage</actionType>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Initialize_Fault_Path_Details</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <nameSegment>Case.Outbound_message_to_Forethought</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>63.0</apiVersion>
    <assignments>
        <description>Initializing Fault Line details for fault paths in objExceptionLogEvent record.</description>
        <name>Initialize_Fault_Path_Details</name>
        <label>Initialize Fault Path Details</label>
        <locationX>754</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>objExceptionLogEvent.Message__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>strExceptionLogMessage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objExceptionLogEvent.EventUuid</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.InterviewGuid</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objExceptionLogEvent.Method_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentStage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objExceptionLogEvent.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Flow</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Exception_Log_Event</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>Const_NotPredictedCaseReason</name>
        <dataType>String</dataType>
        <value>
            <stringValue>not_predicted</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Has_valid_AP_record</name>
        <label>Has a valid AP record</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Agatha_Prediction_Records</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>OB_Message_for_Forethought_Engagement</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>This Flow is invoked on engagement case closure and contains outbound callout to Forethought to get the case reason</description>
    <environments>Default</environments>
    <interviewLabel>Record Trigger {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Record Trigger: Case Engagement Closure Classification</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>Create Exception Log event from fault line details in objExceptionLogEvent</description>
        <name>Exception_Log_Event</name>
        <label>Exception Log Event</label>
        <locationX>754</locationX>
        <locationY>539</locationY>
        <inputReference>objExceptionLogEvent</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Agatha_Prediction_Records</name>
        <label>Get Agatha Prediction Records</label>
        <locationX>314</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Has_valid_AP_record</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Initialize_Fault_Path_Details</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Case_Reason_Code__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>Const_NotPredictedCaseReason</elementReference>
            </value>
        </filters>
        <filters>
            <field>Case_Reason_Code__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Agatha_Prediction__c</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Agatha_Prediction_Records</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterFormula>AND(
 ISPICKVAL({!$Record.Answer_IQ_Processed__c},&apos;Yes&apos;),
({!$Record.RecordTypeId} == {!$Setup.Engagement_Flow_Configuration__c.Engagement_RecordType_ID__c}),
 ISPICKVAL({!$Record.Status},&apos;Closed&apos;),
{!$Record.IsClosed})</filterFormula>
        <object>Case</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <description>Exception Log Message containing flow details in a fault path.</description>
        <name>strExceptionLogMessage</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&amp;lt;p&amp;gt;Fault Message: {!$Flow.FaultMessage}&amp;lt;/p&amp;gt;&amp;lt;p&amp;gt;----&amp;lt;/p&amp;gt;&amp;lt;p&amp;gt;Interview Guid: {!$Flow.InterviewGuid}&amp;lt;/p&amp;gt;&amp;lt;p&amp;gt;----&amp;lt;/p&amp;gt;&amp;lt;p&amp;gt;Current Record: {!$Flow.CurrentRecord}&amp;lt;/p&amp;gt;&amp;lt;p&amp;gt;----&amp;lt;/p&amp;gt;&amp;lt;p&amp;gt;You can find failed flow interviews with the link below. The link below is for Production failed interviews, but if you would like to find them in another environment in Setup, simply search for ‘Paused and Failed Flow Interviews’ in Setup’s Quick Find bar, and switch to the All Failed Flow Interviews List View. You can use the interview &quot;Interview Guid&quot; above to locate this specific failures.&amp;amp;nbsp;&amp;amp;nbsp;&amp;lt;/p&amp;gt;&amp;lt;p&amp;gt;https://gusto.lightning.force.com/lightning/setup/Pausedflows/home&amp;lt;/p&amp;gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <description>Exception Log Event Object to capture fault path details.</description>
        <name>objExceptionLogEvent</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Exception_Log_Event__e</objectType>
    </variables>
</Flow>
