force-app/main/default/flows/Retry_Product_Upsell_Sync.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Retry the external partner call for Guideline.</description>
        <name>Send_Product_Upsell_to_Guideline</name>
        <label>Send Product Upsell to Guideline</label>
        <locationX>1634</locationX>
        <locationY>350</locationY>
        <actionName>SendProductUpsellToExternalPartner</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_Product_Upsell</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fault_Message_Guideline</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>idRecord</name>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>isRetry</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>strAPIName</name>
            <value>
                <elementReference>varGuidelineAPIName</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SendProductUpsellToExternalPartner</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <description>Retry the external partner call for Human Interest.</description>
        <name>Send_Product_Upsell_to_HumanInterest</name>
        <label>Send Product Upsell to HumanInterest</label>
        <locationX>578</locationX>
        <locationY>350</locationY>
        <actionName>SendProductUpsellToExternalPartner</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_Product_Upsell</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fault_Message</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>idRecord</name>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>isRetry</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>strAPIName</name>
            <value>
                <elementReference>varHIAPIName</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SendProductUpsellToExternalPartner</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <description>Retry the external partner call for NEXTInsurance.</description>
        <name>Send_Product_Upsell_to_NEXTInsurance</name>
        <label>Send Product Upsell to NEXTInsurance</label>
        <locationX>2162</locationX>
        <locationY>350</locationY>
        <actionName>SendProductUpsellToExternalPartner</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_Product_Upsell</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fault_Message_NextInsurance</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>idRecord</name>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>isRetry</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>strAPIName</name>
            <value>
                <elementReference>varNextAPIName</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SendProductUpsellToExternalPartner</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <description>Retry the external partner call for Remote.</description>
        <name>Send_Product_Upsell_to_Remote</name>
        <label>Send Product Upsell to Remote</label>
        <locationX>1106</locationX>
        <locationY>350</locationY>
        <actionName>SendProductUpsellToExternalPartner</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_Product_Upsell</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fault_Message_Remote</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>idRecord</name>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>isRetry</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>strAPIName</name>
            <value>
                <elementReference>varRemoteAPIName</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SendProductUpsellToExternalPartner</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <decisions>
        <description>Check the external partner for which API should be re-triggered.</description>
        <name>Check_External_Partner</name>
        <label>Check External Partner</label>
        <locationX>1634</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Get_Product_Upsell</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>HumanInterest</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId.Interest_401K__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Human Interest</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Product_Upsell_to_HumanInterest</targetReference>
            </connector>
            <label>HumanInterest</label>
        </rules>
        <rules>
            <name>Remote</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId.Product_Interest__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Employer of Record</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Product_Upsell_to_Remote</targetReference>
            </connector>
            <label>Remote</label>
        </rules>
        <rules>
            <name>Guideline</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId.Interest_401K__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Guideline</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Product_Upsell_to_Guideline</targetReference>
            </connector>
            <label>Guideline</label>
        </rules>
        <rules>
            <name>NEXTInsurance</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId.Workers_Comp_InterestPicklist__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NEXT Insurance</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Product_Upsell_to_NEXTInsurance</targetReference>
            </connector>
            <label>NEXTInsurance</label>
        </rules>
    </decisions>
    <decisions>
        <name>Initiate_Sync</name>
        <label>Initiate Sync?</label>
        <locationX>1590</locationX>
        <locationY>134</locationY>
        <defaultConnectorLabel>Default outcome</defaultConnectorLabel>
        <rules>
            <name>Access_Restricted_Profile</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Profile.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>ZP System Administrator</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Profile.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Biztech-BSA</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Access_Restricted</targetReference>
            </connector>
            <label>Access Restricted Profile</label>
        </rules>
        <rules>
            <name>Restricted_Type</name>
            <conditionLogic>(1 AND 2 AND 3) OR (4 AND 5) OR (6 AND 7)</conditionLogic>
            <conditions>
                <leftValueReference>recordId.X401k_Interest__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordId.Interest_401K__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Human Interest</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordId.Interest_401K__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Guideline</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordId.Product_Interest__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Employer of Record</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordId.Product_Interest_Countries__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>recordId.Workers_Comp_InterestPicklist__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>NEXT Insurance</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordId.Workers_Comp_Interest__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Type_Restricted</targetReference>
            </connector>
            <label>Restricted Type</label>
        </rules>
        <rules>
            <name>Sync</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>recordId.Product_Upsell_Synced__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>recordId.Product_Upsell_Synced__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Check_External_Partner</targetReference>
            </connector>
            <label>Sync</label>
        </rules>
        <rules>
            <name>PU_Already_Synced</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId.Product_Upsell_Synced__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Already_Synced</targetReference>
            </connector>
            <label>Already Synced</label>
        </rules>
    </decisions>
    <decisions>
        <name>Sync_Status</name>
        <label>Sync Status?</label>
        <locationX>1634</locationX>
        <locationY>890</locationY>
        <defaultConnector>
            <targetReference>Error_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Failure?</defaultConnectorLabel>
        <rules>
            <name>Success</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Product_Upsell.Product_Upsell_Synced__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Success_Screen</targetReference>
            </connector>
            <label>Success?</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>Message</name>
        <dataType>String</dataType>
        <expression>IF({!Get_Product_Upsell.Product_Upsell_Synced__c},&apos;Product Upsell successfully synced.&apos;, &apos;Product Upsell failed to sync.&apos;+&apos;Error Message &apos;+{!Get_Product_Upsell.Error_Message__c})</expression>
    </formulas>
    <interviewLabel>Retry Product Upsell Sync {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Retry Product Upsell Sync</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Product_Upsell</name>
        <label>Get Product Upsell</label>
        <locationX>1634</locationX>
        <locationY>782</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Sync_Status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Partnership_Interest__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Access_Restricted</name>
        <label>Access Restricted</label>
        <locationX>50</locationX>
        <locationY>242</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Access_Restricted_User</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(234, 0, 30); font-size: 16px;&quot; _msttexthash=&quot;3551340&quot; _msthash=&quot;12396&quot;&gt;Access Restricted: Only BSA, admins and developers can manually sync records.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Already_Synced</name>
        <label>Already Synced</label>
        <locationX>2866</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Already_Synced_Msg</name>
            <fieldText>&lt;p _msttexthash=&quot;1299532&quot; _msthash=&quot;2643&quot;&gt;&lt;strong style=&quot;color: rgb(69, 198, 90); font-size: 16px;&quot; _msttexthash=&quot;1273220&quot; _msthash=&quot;2641&quot;&gt;Sync not required: record is already synced.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_Screen</name>
        <label>Error</label>
        <locationX>1766</locationX>
        <locationY>998</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Error_Msg</name>
            <fieldText>&lt;p _mstvisible=&quot;1&quot;&gt;&lt;strong style=&quot;color: rgb(234, 0, 30); font-size: 16px;&quot;&gt;{!Get_Product_Upsell.Error_Message__c}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Fault_Message</name>
        <label>Fault Message</label>
        <locationX>842</locationX>
        <locationY>458</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Error</name>
            <fieldText>&lt;p _msttexthash=&quot;22191&quot; _msthash=&quot;7309&quot; _mstvisible=&quot;1&quot;&gt;&lt;strong style=&quot;font-size: 16px; color: rgb(234, 0, 30);&quot; _msttexthash=&quot;71253&quot; _msthash=&quot;7398&quot;&gt;Error: {!$Flow.FaultMessage}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Fault_Message_Guideline</name>
        <label>Fault Message</label>
        <locationX>1898</locationX>
        <locationY>458</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Copy_3_of_Error</name>
            <fieldText>&lt;p _msttexthash=&quot;22191&quot; _msthash=&quot;7309&quot; _mstvisible=&quot;1&quot;&gt;&lt;strong style=&quot;font-size: 16px; color: rgb(234, 0, 30);&quot; _msttexthash=&quot;71253&quot; _msthash=&quot;7398&quot;&gt;Error: {!$Flow.FaultMessage}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Fault_Message_NextInsurance</name>
        <label>Fault Message</label>
        <locationX>2426</locationX>
        <locationY>458</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Copy_1_of_Copy_3_of_Error</name>
            <fieldText>&lt;p _msttexthash=&quot;22191&quot; _msthash=&quot;7309&quot; _mstvisible=&quot;1&quot;&gt;&lt;strong style=&quot;font-size: 16px; color: rgb(234, 0, 30);&quot; _msttexthash=&quot;71253&quot; _msthash=&quot;7398&quot;&gt;Error: {!$Flow.FaultMessage}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Fault_Message_Remote</name>
        <label>Fault Message</label>
        <locationX>1370</locationX>
        <locationY>458</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Copy_2_of_Error</name>
            <fieldText>&lt;p _msttexthash=&quot;22191&quot; _msthash=&quot;7309&quot; _mstvisible=&quot;1&quot;&gt;&lt;strong style=&quot;font-size: 16px; color: rgb(234, 0, 30);&quot; _msttexthash=&quot;71253&quot; _msthash=&quot;7398&quot;&gt;Error: {!$Flow.FaultMessage}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Success_Screen</name>
        <label>Success</label>
        <locationX>1502</locationX>
        <locationY>998</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Success_Msg</name>
            <fieldText>&lt;p _mstvisible=&quot;1&quot; _msttexthash=&quot;7553&quot; _msthash=&quot;8330&quot;&gt;&lt;strong style=&quot;color: rgb(46, 132, 75);&quot; _msttexthash=&quot;1183429&quot; _msthash=&quot;8358&quot;&gt;Success: The record successfully synced!&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Type_Restricted</name>
        <label>Type Restricted</label>
        <locationX>314</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Type_Restricted_Text</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px; color: rgb(234, 0, 30);&quot; _msttexthash=&quot;1683591&quot; _msthash=&quot;16731&quot;&gt;Type Restricted: Not a valid Product Upsell to sync.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>1464</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Initiate_Sync</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Partnership_Interest__c</objectType>
    </variables>
    <variables>
        <name>recordId2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varGuidelineAPIName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>guideline</stringValue>
        </value>
    </variables>
    <variables>
        <name>varHIAPIName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>humanInterest</stringValue>
        </value>
    </variables>
    <variables>
        <name>varNextAPIName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>nextInsurance</stringValue>
        </value>
    </variables>
    <variables>
        <name>varRemoteAPIName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>remote</stringValue>
        </value>
    </variables>
</Flow>
