force-app/main/default/flows/Risk_Ops_Case_Highlights_Section.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <environments>Default</environments>
    <formulas>
        <name>eventIdUrlCondition</name>
        <dataType>String</dataType>
        <expression>IF(ISPICKVAL({!Get_Case_Records.Event_Type__c}, &apos;ContractorPayment&apos;), &apos;Contractor_Payment&apos;, TEXT({!Get_Case_Records.Event_Type__c}))</expression>
    </formulas>
    <interviewLabel>Risk Ops {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Risk Ops Case Highlights Section</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Case_Records</name>
        <label>Get Case Records</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Case_details</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Recovery_Case_ID__c</queriedFields>
        <queriedFields>Payment_Investigation_ID__c</queriedFields>
        <queriedFields>Event_ID__c</queriedFields>
        <queriedFields>Company_ID__c</queriedFields>
        <queriedFields>Event_Type__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Case_details</name>
        <label>Display Case details</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Case_details_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Case_details_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>RecoveryCaseIDlabel</name>
                    <fieldText>&lt;p&gt;Recovery Case ID&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>RecoveryCaseIdurl</name>
                    <fieldText>&lt;p&gt;&lt;a href=&quot;{!$Label.gusto_url_prefix}/panda/recovery_cases/{!Get_Case_Records.Recovery_Case_ID__c}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;{!Get_Case_Records.Recovery_Case_ID__c}&lt;/a&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Case_details_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>PaymentInvestigationIDlabel</name>
                    <fieldText>&lt;p&gt;Payment Investigation ID&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>PaymentInvestigationIdurl</name>
                    <fieldText>&lt;p&gt;&lt;a href=&quot;{!$Label.gusto_url_prefix}/panda/payment_investigations/{!Get_Case_Records.Payment_Investigation_ID__c}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;{!Get_Case_Records.Payment_Investigation_ID__c}&lt;/a&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Case_details_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>EventIDlabel</name>
                    <fieldText>&lt;p&gt;Event ID&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>EventIdurl</name>
                    <fieldText>&lt;p&gt;&lt;a href=&quot;{!$Label.gusto_url_prefix}/panda/{!eventIdUrlCondition}s/{!Get_Case_Records.Event_ID__c}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;{!Get_Case_Records.Event_ID__c}&lt;/a&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Case_details_Section1_Column4</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>CompanyIDlabel</name>
                    <fieldText>&lt;p&gt;Company ID&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>CompanyIdurl</name>
                    <fieldText>&lt;p&gt;&lt;a href=&quot;https://app.gusto.com/panda/companies/{!Get_Case_Records.Company_ID__c}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;{!Get_Case_Records.Company_ID__c}&lt;/a&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Edit</nextOrFinishButtonLabel>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Case_Records</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
