force-app/main/default/flows/Salesforce_Org_Notifications.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Execute_Dynamic_SOQL</name>
        <label>Execute Dynamic SOQL</label>
        <locationX>831</locationX>
        <locationY>2282</locationY>
        <actionName>SalesforceOrgNotificationFlowCtrl</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Is_Total_Number_is_More_Than_Threshold</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>strSOQL</name>
            <value>
                <elementReference>Salesforce_Org_Notification_Loop.SOQL_Query__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SalesforceOrgNotificationFlowCtrl</nameSegment>
        <outputParameters>
            <assignToReference>totalRecord</assignToReference>
            <name>intTotalRecCount</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Get_Org_Limit_Details</name>
        <label>Get Org Limit Details</label>
        <locationX>182</locationX>
        <locationY>734</locationY>
        <actionName>SalesforceOrgNotificationCtrl</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Is_Async_Consumption_Limits_Is_Greater_Than_80</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <nameSegment>SalesforceOrgNotificationCtrl</nameSegment>
        <outputParameters>
            <assignToReference>objSalesforceOrgLimitDetails</assignToReference>
            <name>objSalesforceOrgLimitDetails</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Post_Message_For_Increase_Threshold</name>
        <label>Post Message For Increase Threshold</label>
        <locationX>798</locationX>
        <locationY>2714</locationY>
        <actionName>slackv2__invokePostMessage</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Salesforce_Org_Notification_Loop</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>message</name>
            <value>
                <elementReference>ThresholdWarningTemplate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>messageDestinationId</name>
            <value>
                <elementReference>biztechUtilityUpdates</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>slackv2__invokePostMessage</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Post_Message_For_Increase_Threshold_Payops</name>
        <label>Post Message For Increase Threshold Payops</label>
        <locationX>534</locationX>
        <locationY>2822</locationY>
        <actionName>slackv2__invokePostMessage</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Salesforce_Org_Notification_Loop</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>message</name>
            <value>
                <elementReference>ThresholdWarningTemplate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>messageDestinationId</name>
            <value>
                <elementReference>biztechPayopsChannel</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>slackv2__invokePostMessage</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Post_Message_To_Biztech_Backend_System_Notifications_For_Async_Limit</name>
        <label>Post Message To Biztech Backend System Notifications For Async Limit</label>
        <locationX>50</locationX>
        <locationY>1058</locationY>
        <actionName>slackv2__invokePostMessage</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Is_Daily_API_Request_Consumption_Exceed_More_Than_60</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>message</name>
            <value>
                <elementReference>AsyncLimitsConsumptionWarningMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>messageDestinationId</name>
            <value>
                <elementReference>biztechbackendChannel</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>slackv2__invokePostMessage</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Post_Message_To_Biztech_Backend_System_Notifications_For_Daily_API_Limit</name>
        <label>Post Message To Biztech Backend System Notifications For Daily API Limit</label>
        <locationX>50</locationX>
        <locationY>1466</locationY>
        <actionName>slackv2__invokePostMessage</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Is_Single_Email_Consumption_Exceed_90</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>message</name>
            <value>
                <elementReference>DailyAPILimitConsumptionWarning</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>messageDestinationId</name>
            <value>
                <elementReference>biztechbackendChannel</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>slackv2__invokePostMessage</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Post_Message_To_Biztech_Backend_System_Notifications_For_Single_Email_Message</name>
        <label>Post Message To Biztech Backend System Notifications For Single Email Message</label>
        <locationX>50</locationX>
        <locationY>1874</locationY>
        <actionName>slackv2__invokePostMessage</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_Salesforce_Org_Notification</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>message</name>
            <value>
                <elementReference>SinglEmailConsumptionWarningMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>messageDestinationId</name>
            <value>
                <elementReference>biztechbackendChannel</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>slackv2__invokePostMessage</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Post_Utility_Reminder_Notification</name>
        <label>Post Utility Reminder Notification</label>
        <locationX>270</locationX>
        <locationY>2822</locationY>
        <actionName>slackv2__invokePostMessage</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Salesforce_Org_Notification_Loop</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>message</name>
            <value>
                <elementReference>UtilityReminderTemplate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>messageDestinationId</name>
            <value>
                <elementReference>biztechUtilityUpdates</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>slackv2__invokePostMessage</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Assign_Additional_Link</name>
        <label>Assign Additional Link</label>
        <locationX>600</locationX>
        <locationY>2498</locationY>
        <assignmentItems>
            <assignToReference>additionalLink</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Salesforce_Org_Notification_Loop.Additional_Link__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>customMetadataRecordName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Salesforce_Org_Notification_Loop.DeveloperName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>reportLink</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Salesforce_Org_Notification_Loop.Report_Link__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>pointOfContact</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Salesforce_Org_Notification_Loop.Point_Of_Contact__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>pointOfContactName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Salesforce_Org_Notification_Loop.Point_of_Contact_Name__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Payops_Notification</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Async_Max_Limit</name>
        <label>Assign Async Max Limit</label>
        <locationX>50</locationX>
        <locationY>950</locationY>
        <assignmentItems>
            <assignToReference>maxLimit</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>objSalesforceOrgLimitDetails.decAsyncLimitMax</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>remainingLimit</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>objSalesforceOrgLimitDetails.decAsyncLimitRemaning</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Post_Message_To_Biztech_Backend_System_Notifications_For_Async_Limit</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Biztech_Backend_Channel</name>
        <label>Assign Biztech Backend Channel</label>
        <locationX>270</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>biztechbackendChannel</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Message_Destination_Channel_Loop.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Message_Destination_Channel_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Daily_API_Limit</name>
        <label>Assign Daily API Limit</label>
        <locationX>50</locationX>
        <locationY>1358</locationY>
        <assignmentItems>
            <assignToReference>maxLimit</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>objSalesforceOrgLimitDetails.decDailyAPIRequestMax</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>remainingLimit</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>objSalesforceOrgLimitDetails.decDailyAPIRequestRemaning</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Post_Message_To_Biztech_Backend_System_Notifications_For_Daily_API_Limit</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Single_Email_Limit</name>
        <label>Assign Single Email Limit</label>
        <locationX>50</locationX>
        <locationY>1766</locationY>
        <assignmentItems>
            <assignToReference>maxLimit</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>objSalesforceOrgLimitDetails.decSingleEmailMax</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>remainingLimit</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>objSalesforceOrgLimitDetails.decDailyAPIRequestRemaning</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Post_Message_To_Biztech_Backend_System_Notifications_For_Single_Email_Message</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_Biztech_payops_Channel</name>
        <label>Assignment Biztech payops Channel</label>
        <locationX>534</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>biztechPayopsChannel</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Message_Destination_Channel_Loop.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Message_Destination_Channel_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_Biztech_Utility_Updates</name>
        <label>Assignment Biztech Utility Updates</label>
        <locationX>798</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>biztechUtilityUpdates</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Message_Destination_Channel_Loop.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Message_Destination_Channel_Loop</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Message_Destination_Channel</name>
        <label>Check Message Destination Channel</label>
        <locationX>666</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Message_Destination_Channel_Loop</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Biztech_Backend_Channel</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Message_Destination_Channel_Loop.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.Biztech_Backend_System_Notifications</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Biztech_Backend_Channel</targetReference>
            </connector>
            <label>Biztech Backend Channel</label>
        </rules>
        <rules>
            <name>Biztech_Payops_Channel</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Message_Destination_Channel_Loop.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.Biztech_Payops_Backend_Notification</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignment_Biztech_payops_Channel</targetReference>
            </connector>
            <label>Biztech Payops Channel</label>
        </rules>
        <rules>
            <name>Biztech_Utility_Updates_Channel</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Message_Destination_Channel_Loop.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.Biztech_Utility_Updates</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignment_Biztech_Utility_Updates</targetReference>
            </connector>
            <label>Biztech Utility Updates Channel</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Async_Consumption_Limits_Is_Greater_Than_80</name>
        <label>Is Async Consumption Limits Is Greater Than 80%</label>
        <locationX>182</locationX>
        <locationY>842</locationY>
        <defaultConnector>
            <targetReference>Is_Daily_API_Request_Consumption_Exceed_More_Than_60</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Is_Async_Consumption_Limits_Is_Greater_Than_80</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>objSalesforceOrgLimitDetails.decAsyncLimitConsumption</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>80.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Async_Max_Limit</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Daily_API_Request_Consumption_Exceed_More_Than_60</name>
        <label>Is Daily API Request Consumption Exceed More Than 60%</label>
        <locationX>182</locationX>
        <locationY>1250</locationY>
        <defaultConnector>
            <targetReference>Is_Single_Email_Consumption_Exceed_90</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Is_Daily_API</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>objSalesforceOrgLimitDetails.decDailyAPIRequestConsumption</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>60.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Daily_API_Limit</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Payops_Notification</name>
        <label>Is Payops Notification</label>
        <locationX>600</locationX>
        <locationY>2606</locationY>
        <defaultConnector>
            <targetReference>Post_Message_For_Increase_Threshold</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Is_Payops_Notification</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Salesforce_Org_Notification_Loop.Payops_Notification__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Utility_Reminder_Notifications</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Single_Email_Consumption_Exceed_90</name>
        <label>Is Single Email Consumption Exceed 90%</label>
        <locationX>182</locationX>
        <locationY>1658</locationY>
        <defaultConnector>
            <targetReference>Get_Salesforce_Org_Notification</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Single_Email</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>objSalesforceOrgLimitDetails.decSingleEmailConsumption</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>90.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Single_Email_Limit</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Total_Number_is_More_Than_Threshold</name>
        <label>Is Total Number is More Than Threshold</label>
        <locationX>831</locationX>
        <locationY>2390</locationY>
        <defaultConnector>
            <targetReference>Salesforce_Org_Notification_Loop</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Is_Total_Number_is_More_Than_Threshold</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>totalRecord</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>Salesforce_Org_Notification_Loop.Record_Threshold__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Additional_Link</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Utility_Reminder_Notifications</name>
        <label>Utility Reminder  Notifications</label>
        <locationX>402</locationX>
        <locationY>2714</locationY>
        <defaultConnector>
            <targetReference>Post_Message_For_Increase_Threshold_Payops</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Utility_Reminder_Org_Notification</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Salesforce_Org_Notification_Loop.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.UtilityUpdatesOrgNotificationMetadataName</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Post_Utility_Reminder_Notification</targetReference>
            </connector>
            <label>Utility Reminder Org Notification</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>currentURL</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Partner_Server_URL_340}, FIND( &apos;/services&apos;, {!$Api.Partner_Server_URL_340}))</expression>
    </formulas>
    <interviewLabel>Salesforce Org Notifications {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Salesforce Org Notifications</label>
    <loops>
        <name>Message_Destination_Channel_Loop</name>
        <label>Message Destination Channel Loop</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <collectionReference>Get_Biztech_Backend_System_Notifications_Channel</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Message_Destination_Channel</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Org_Limit_Details</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Salesforce_Org_Notification_Loop</name>
        <label>Salesforce Org Notification Loop</label>
        <locationX>182</locationX>
        <locationY>2174</locationY>
        <collectionReference>Get_Salesforce_Org_Notification</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Execute_Dynamic_SOQL</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Biztech_Backend_System_Notifications_Channel</name>
        <label>Get Biztech Backend System Notifications Channel</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Message_Destination_Channel_Loop</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Label.Biztech_Backend_System_Notifications</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Label.Biztech_Payops_Backend_Notification</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Label.Biztech_Utility_Updates</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>slackv2__Message_Destination__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Salesforce_Org_Notification</name>
        <label>Get Salesforce Org Notification</label>
        <locationX>182</locationX>
        <locationY>2066</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Salesforce_Org_Notification_Loop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Is_Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Query_Return_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Integer</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Salesforce_Org_Notifications__mdt</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Notification__c</queriedFields>
        <queriedFields>Point_Of_Contact__c</queriedFields>
        <queriedFields>SOQL_Query__c</queriedFields>
        <queriedFields>Report_Link__c</queriedFields>
        <queriedFields>Record_Threshold__c</queriedFields>
        <queriedFields>DeveloperName</queriedFields>
        <queriedFields>Query_Return_Type__c</queriedFields>
        <queriedFields>Additional_Link__c</queriedFields>
        <queriedFields>Point_of_Contact_Name__c</queriedFields>
        <queriedFields>Payops_Notification__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Biztech_Backend_System_Notifications_Channel</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>AsyncLimitsConsumptionWarningMessage</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Async Apex Execution Limit about to be exceeded

Org has consumed more than 80% of async apex jobs in the last 24 hours. Please review current capacity and take necessary steps. Maximum jobs = {!maxLimit} ; Remaining jobs = {!remainingLimit}
Please click here for more details: {!currentURL}apex/DailyLimitsMonitoringPage
Attention: &lt;!subteam^S02QJK7JRK2&gt;
SME: David Tsamalashvili</text>
    </textTemplates>
    <textTemplates>
        <name>DailyAPILimitConsumptionWarning</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Daily API Requests Limits about to be exceeded

Org has consumed more than 60% of daily api requests in the last 24 hours. Please review current capacity and take necessary steps. Maximum requests = {!maxLimit} ; Remaining requests = {!remainingLimit}
Please click here for more details: {!currentURL}apex/DailyLimitsMonitoringPage
Attention:&lt;!subteam^S02QJK7JRK2&gt;
SME: David Tsamalashvili</text>
    </textTemplates>
    <textTemplates>
        <name>SinglEmailConsumptionWarningMessage</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Single Email requests about to be exceeded

Org has consumed more than 90% of single email limits in the last 24 hours. Please review current capacity and take necessary steps. Maximum single email: {!maxLimit}
Remaining single emails = {!remainingLimit}
Please click here for more details: {!currentURL}apex/DailyLimitsMonitoringPage
Attention:&lt;!subteam^S02QJK7JRK2&gt;
Attention: &lt;@U02AMEFUXTM&gt;
SME: Rushi Ravisaheb</text>
    </textTemplates>
    <textTemplates>
        <name>ThresholdIncreaseWarningTemplateForOrgNoti2</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>({!customMetadataRecordName}) - Error notification
Report link:: {!reportLink}

The number of queable jobs has exceeded the threshold limit. Please address this issue as soon as possible.
Total Records: {!totalRecord}
Attention:&lt;!subteam^{!pointOfContact}&gt;
SME: David Tsamalashvili</text>
    </textTemplates>
    <textTemplates>
        <name>ThresholdWarningTemplate</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>({!customMetadataRecordName}) - Error notification
Report link:: {!reportLink}
Total Records: {!totalRecord}
Attention:&lt;!subteam^{!pointOfContact}&gt;
SME: {!pointOfContactName}
{!additionalLink}</text>
    </textTemplates>
    <textTemplates>
        <name>UtilityReminderTemplate</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>({!customMetadataRecordName}) - Auto Solve Reminder
Report link:: {!reportLink}
Total Records: {!totalRecord}
SME: {!pointOfContactName}
{!additionalLink}</text>
    </textTemplates>
    <variables>
        <name>additionalLink</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>biztechbackendChannel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>biztechPayopsChannel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>biztechUtilityUpdates</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>customMetadataRecordName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>maxLimit</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>objSalesforceOrgLimitDetails</name>
        <apexClass>SalesforceOrgLimitDetails</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>pointOfContact</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>pointOfContactName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>remainingLimit</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>reportLink</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>totalQueueableJobForApexClass</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>totalRecord</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>totalRecordCountForPendingQueueableJobs</name>
        <dataType>Number</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
