force-app/main/default/flows/Screen_Order_Time_Commitment_Config.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Add</name>
        <label>Add/Remove UiPath Eligibility</label>
        <locationX>50</locationX>
        <locationY>1274</locationY>
        <actionName>OrderTimeCommitmentUtil</actionName>
        <actionType>apex</actionType>
        <faultConnector>
            <targetReference>Fault_Log_2</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>list_SelectedProviders</name>
            <value>
                <elementReference>Provider</elementReference>
            </value>
        </inputParameters>
        <nameSegment>OrderTimeCommitmentUtil</nameSegment>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>Collect_UiPath_Eligible_List</name>
        <label>Collect UiPath Eligible List</label>
        <locationX>294</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>UiPathEligibilityList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_UiPath_Eligible_Providers.Payroll_Provider__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_UiPath_Eligible_Providers</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Allow_Restrict_Users</name>
        <label>Allow/Restrict Users</label>
        <locationX>710</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Restriction_Message</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Restrict</defaultConnectorLabel>
        <rules>
            <name>Allow</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Order_Time_Commitment_Config.Profiles__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>$Profile.Name</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Order_Uip</targetReference>
            </connector>
            <label>Allow</label>
        </rules>
    </decisions>
    <decisions>
        <name>Get_Order_UiPath_Eligibility_Config_Null_Check</name>
        <label>Is Null (Get Order UiPath Eligibility Config) ?</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Order_Time_Commitment_Configurations</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Order_Uip</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_UiPath_Eligible_Providers</targetReference>
            </connector>
            <label>Not Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Null_UiPath_Eligible_Providers</name>
        <label>Is Null(UiPath Eligible Providers) ?</label>
        <locationX>314</locationX>
        <locationY>1166</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_Null2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Provider</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add</targetReference>
            </connector>
            <label>Not Null</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>UiPathEligibilityChoiceSet</name>
        <dataType>String</dataType>
        <displayField>Payroll_Provider__c</displayField>
        <object>Order_UiPath_Eligibility_Config__c</object>
        <valueField>Payroll_Provider__c</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>UiEligibilityListText</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE( SUBSTITUTE({!UiPathEligibilityList},&apos;[&apos;, &apos; &apos;),&apos;]&apos;, &apos; &apos;)</expression>
    </formulas>
    <interviewLabel>Screen-Order Time Commitment Config {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Screen-Order Time Commitment Config</label>
    <loops>
        <name>Loop_UiPath_Eligible_Providers</name>
        <label>Loop UiPath Eligible Providers</label>
        <locationX>206</locationX>
        <locationY>566</locationY>
        <collectionReference>Get_Order_Uip</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Collect_UiPath_Eligible_List</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Order_Time_Commitment_Configurations</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Fault_Log_1</name>
        <label>Fault Log</label>
        <locationX>842</locationX>
        <locationY>1166</locationY>
        <inputAssignments>
            <field>Class_Name__c</field>
            <value>
                <stringValue>Screen-Order Time Commitment Config (Flow)</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Message__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Method_Name__c</field>
            <value>
                <stringValue>Update Order Time Commitment Config</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <stringValue>Flow</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>User__c</field>
            <value>
                <elementReference>$User.Username</elementReference>
            </value>
        </inputAssignments>
        <object>Exception_Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Fault_Log_2</name>
        <label>Fault Log</label>
        <locationX>314</locationX>
        <locationY>1382</locationY>
        <inputAssignments>
            <field>Class_Name__c</field>
            <value>
                <stringValue>Screen-Order Time Commitment Config (Flow)</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Message__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Method_Name__c</field>
            <value>
                <stringValue>Add/Remove UiPath Eligibility</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <stringValue>Flow</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>User__c</field>
            <value>
                <elementReference>$User.Username</elementReference>
            </value>
        </inputAssignments>
        <object>Exception_Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Order_Time_Commitment_Config</name>
        <label>Get Order Time Commitment Config</label>
        <locationX>710</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Allow_Restrict_Users</targetReference>
        </connector>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Order_Time_Commitment_Config__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Order_Uip</name>
        <label>Get Order UiPath Eligibility Config</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Order_UiPath_Eligibility_Config_Null_Check</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Order_UiPath_Eligibility_Config__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Order_Time_Commitment_Config</name>
        <label>Update Order Time Commitment Config</label>
        <locationX>314</locationX>
        <locationY>1058</locationY>
        <connector>
            <targetReference>Is_Null_UiPath_Eligible_Providers</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fault_Log_1</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Annually__c</field>
            <value>
                <elementReference>Annually</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Bi_Weekly__c</field>
            <value>
                <elementReference>Bi_Weekly</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Employee_Size_0_9__c</field>
            <value>
                <elementReference>Employee_Size_0_9</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Employee_Size_10_24__c</field>
            <value>
                <elementReference>Employee_Size_10_24</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Employee_Size_25__c</field>
            <value>
                <elementReference>Employee_Size_Greater_or_Equal_25</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Monthly__c</field>
            <value>
                <elementReference>Monthly</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quarterly__c</field>
            <value>
                <elementReference>Quarterly</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Semi_Annually__c</field>
            <value>
                <elementReference>Semi_Annually</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Semi_Monthly__c</field>
            <value>
                <elementReference>Semi_Monthly</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Time_Commitment_Multiplier_1__c</field>
            <value>
                <elementReference>Time_Commitment_Multiplier_1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Time_Commitment_Multiplier_2__c</field>
            <value>
                <elementReference>Time_Commitment_Multiplier_2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Time_Commitment_Multiplier_3__c</field>
            <value>
                <elementReference>Time_Commitment_Multiplier_3</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Time_Commitment_Multiplier_4__c</field>
            <value>
                <elementReference>Time_Commitment_Multiplier_4</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Weekly__c</field>
            <value>
                <elementReference>Weekly</elementReference>
            </value>
        </inputAssignments>
        <object>Order_Time_Commitment_Config__c</object>
    </recordUpdates>
    <runInMode>SystemModeWithSharing</runInMode>
    <screens>
        <name>Order_Time_Commitment_Configurations</name>
        <label>Order Time Commitment Configurations</label>
        <locationX>314</locationX>
        <locationY>950</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_Order_Time_Commitment_Config</targetReference>
        </connector>
        <fields>
            <name>Time_Commitment_Multipliers</name>
            <fieldText>Time Commitment Multipliers</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Time_Commitment_Multipliers_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Time_Commitment_Multipliers_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Time_Commitment_Multiplier_1</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Order_Time_Commitment_Config.Time_Commitment_Multiplier_1__c</elementReference>
                    </defaultValue>
                    <fieldText>Payrolls Multiplier</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Time_Commitment_Multiplier_2</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Order_Time_Commitment_Config.Time_Commitment_Multiplier_2__c</elementReference>
                    </defaultValue>
                    <fieldText>Employee Multiplier</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Time_Commitment_Multipliers_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Time_Commitment_Multiplier_3</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Order_Time_Commitment_Config.Time_Commitment_Multiplier_3__c</elementReference>
                    </defaultValue>
                    <fieldText>States/PTO Multiplier</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Time_Commitment_Multiplier_4</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Order_Time_Commitment_Config.Time_Commitment_Multiplier_4__c</elementReference>
                    </defaultValue>
                    <fieldText>Benefits/PTO EE Multiplier</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Time_Commitment_Multipliers_Column4</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Previous_Payroll_Providers</name>
            <fieldText>Previous Payroll Providers</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Previous_Payroll_Providers_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Previous_Payroll_Providers_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Provider</name>
                    <defaultValue>
                        <stringValue>{!UiEligibilityListText}</stringValue>
                    </defaultValue>
                    <fieldText>Provider</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <helpText>&lt;p&gt;Comma separated list of Previous Payroll Providers for UiPath Eligibility.&lt;/p&gt;</helpText>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Previous_Payroll_Providers_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Previous_Payroll_Providers_Column4</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Pay_Schedule_Values</name>
            <fieldText>Pay Schedule Values</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Pay_Schedule_Values_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Pay_Schedule_Values_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Weekly</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>Get_Order_Time_Commitment_Config.Weekly__c</elementReference>
                    </defaultValue>
                    <fieldText>Weekly</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                </fields>
                <fields>
                    <name>Bi_Weekly</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>Get_Order_Time_Commitment_Config.Bi_Weekly__c</elementReference>
                    </defaultValue>
                    <fieldText>Bi Weekly</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                </fields>
                <fields>
                    <name>Semi_Monthly</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>Get_Order_Time_Commitment_Config.Semi_Monthly__c</elementReference>
                    </defaultValue>
                    <fieldText>Semi Monthly</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Pay_Schedule_Values_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Monthly</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>Get_Order_Time_Commitment_Config.Monthly__c</elementReference>
                    </defaultValue>
                    <fieldText>Monthly</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                </fields>
                <fields>
                    <name>Quarterly</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>Get_Order_Time_Commitment_Config.Quarterly__c</elementReference>
                    </defaultValue>
                    <fieldText>Quarterly</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                </fields>
                <fields>
                    <name>Semi_Annually</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>Get_Order_Time_Commitment_Config.Semi_Annually__c</elementReference>
                    </defaultValue>
                    <fieldText>Semi Annually</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                </fields>
                <fields>
                    <name>Annually</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>Get_Order_Time_Commitment_Config.Annually__c</elementReference>
                    </defaultValue>
                    <fieldText>Annually</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Pay_Schedule_Values_Column4</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Communications_Time_Commitment_Values</name>
            <fieldText>Communications Time Commitment Values</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Communications_Time_Commitment_Values_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Communications_Time_Commitment_Values_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Employee_Size_0_9</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>Get_Order_Time_Commitment_Config.Employee_Size_0_9__c</elementReference>
                    </defaultValue>
                    <fieldText>Employee Size (0-9)</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>4</scale>
                </fields>
                <fields>
                    <name>Employee_Size_Greater_or_Equal_25</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>Get_Order_Time_Commitment_Config.Employee_Size_25__c</elementReference>
                    </defaultValue>
                    <fieldText>Employee Size (Greater or Equal 25)</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>4</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Communications_Time_Commitment_Values_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Employee_Size_10_24</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>Get_Order_Time_Commitment_Config.Employee_Size_10_24__c</elementReference>
                    </defaultValue>
                    <fieldText>Employee Size (10-24)</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>4</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Communications_Time_Commitment_Values_Column4</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Finish</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Restriction_Message</name>
        <label>Restriction Message</label>
        <locationX>1106</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Restriction_Message_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Restriction_Message_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Restriction_Message_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>AccessRestrictedScreen</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(228, 22, 22);&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;&lt;/span&gt;&lt;strong style=&quot;color: rgb(228, 27, 27);&quot;&gt;Access Restricted: Only Sales Operations users can update order time commitment configurations.&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Restriction_Message_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>584</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Order_Time_Commitment_Config</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>PreviousPayrollProvidersList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UiPathEligibility_Txt</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UiPathEligibilityList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
