force-app/main/default/flows/Send_Follow_Up_Email.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Create_Case_for_follow_up_email</name>
        <label>Create Case for follow up email</label>
        <locationX>402</locationX>
        <locationY>974</locationY>
        <actionName>SalesCaseEmailHelper</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_Updated_task_info</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>strTaskRecordInputId</name>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SalesCaseEmailHelper</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Navigate_to_Case_Record</name>
        <label>Navigate to Case Record</label>
        <locationX>226</locationX>
        <locationY>1430</locationY>
        <actionName>c:navigateToSobjectAura</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>Final_Sales_CaseId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>c:navigateToSobjectAura</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Sales_case_link_from_current_record</name>
        <label>Sales case link from current record</label>
        <locationX>50</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>Final_Sales_CaseId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.Case__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Navigate_to_Case_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Sales_Case_Link_from_updated_task</name>
        <label>Sales Case Link from updated task</label>
        <locationX>402</locationX>
        <locationY>1214</locationY>
        <assignmentItems>
            <assignToReference>Final_Sales_CaseId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Updated_task_info.Case__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Navigate_to_Case_Record</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_if_sales_case_is_already_available</name>
        <label>Check if sales case is already available?</label>
        <locationX>226</locationX>
        <locationY>158</locationY>
        <defaultConnector>
            <targetReference>GetOppDetails</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_available</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId.Case__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Sales_case_link_from_current_record</targetReference>
            </connector>
            <label>Yes available</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_primary_OppConRole_available</name>
        <label>Is primary OppConRole available?</label>
        <locationX>402</locationX>
        <locationY>518</locationY>
        <defaultConnector>
            <targetReference>Add_Contact_Role</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_OppConRole_available</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_OppContRoles.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Case_for_follow_up_email</targetReference>
            </connector>
            <label>Yes OppConRole available</label>
        </rules>
    </decisions>
    <interviewLabel>Send Follow Up Email {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Send Follow Up Email</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_OppContRoles</name>
        <label>Get OppContRoles</label>
        <locationX>402</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_primary_OppConRole_available</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.WhatId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OpportunityContactRole</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Updated_task_info</name>
        <label>Get Updated task info</label>
        <locationX>402</locationX>
        <locationY>1094</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Sales_Case_Link_from_updated_task</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetOppDetails</name>
        <label>GetOppDetails</label>
        <locationX>402</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_OppContRoles</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.WhatId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Add_Contact_Role</name>
        <label>Add Contact Role</label>
        <locationX>490</locationX>
        <locationY>638</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>No_ContactRole_available</name>
            <fieldText>&lt;p&gt;Please add Contact Role&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>100</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_if_sales_case_is_already_available</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Final_Sales_CaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
</Flow>
