force-app/main/default/flows/SendTaskToRingLead.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>SendTaskToDMS</name>
        <label>SendTaskToDMS</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <actionName>UniqueEntry__RingLeadGlobal</actionName>
        <actionType>apex</actionType>
        <dataTypeMappings>
            <typeName>T__newInput</typeName>
            <typeValue>Task</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>T__newInputBulk</typeName>
            <typeValue>Task</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>T__oldInput</typeName>
            <typeValue>Task</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>T__oldInputBulk</typeName>
            <typeValue>Task</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>newInputBulk</name>
            <value>
                <elementReference>newRecordsBulk</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectName</name>
            <value>
                <elementReference>objectName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>oldInputBulk</name>
            <value>
                <elementReference>oldRecordsBulk</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>newInput</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputParameters>
        <nameSegment>UniqueEntry__RingLeadGlobal</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Data_in_Bulk</name>
        <label>Data in Bulk</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignmentItems>
            <assignToReference>oldRecordsBulk</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record__Prior</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newRecordsBulk</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SendTaskToDMS</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>SendTaskToRingLead {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SendTaskToRingLead</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Data_in_Bulk</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Feature_Request__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>R&amp;D Evaluation Call</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </filters>
        <object>Task</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>newRecordsBulk</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>objectName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Task</stringValue>
        </value>
    </variables>
    <variables>
        <name>oldRecordsBulk</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Task</objectType>
    </variables>
</Flow>
