force-app/main/default/flows/Send_Contact_NPS_Survey.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Send NPS Qualtrics Survey Email alert to contact</description>
        <name>Email_Alert_NPS_Qualtrics_Survey</name>
        <label>Email Alert NPS Qualtrics Survey</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <actionName>Contact.NPS_Qualtrics_Survey</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Create_Customer_Survey_Response</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>contactRecordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Contact.NPS_Qualtrics_Survey</nameSegment>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <decisions>
        <description>If the Contact records NPS_Status__c field is in a Queued state and NPS_Survey_Criteria is true we want to trigger an Email alert to send our NPS survey email to customers.</description>
        <name>Send_NPS_Survey</name>
        <label>Send NPS Survey</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Send_Survey</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Contact.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Contact.NPS_Survey_Criteria__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Trigger_Bypass_Flow</targetReference>
            </connector>
            <label>Send Survey</label>
        </rules>
    </decisions>
    <description>If the Contact records NPS_Status__c field is in a Queued state and NPS_Survey_Criteria is true we want to trigger an Email alert to send our NPS survey email to customers.</description>
    <formulas>
        <name>surveyDateFormat</name>
        <dataType>String</dataType>
        <expression>TEXT(MONTH({!$Flow.CurrentDate}))+&quot;/&quot;+TEXT(DAY({!$Flow.CurrentDate}))+&quot;/&quot;+TEXT(YEAR({!$Flow.CurrentDate}))</expression>
    </formulas>
    <interviewLabel>Send Contact NPS Survey {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Send Contact NPS Survey</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>Create Customer Survey Response record of Survey being sent to a contact.</description>
        <name>Create_Customer_Survey_Response</name>
        <label>Create Customer Survey Response</label>
        <locationX>50</locationX>
        <locationY>638</locationY>
        <connector>
            <targetReference>Update_NPS_Status</targetReference>
        </connector>
        <inputAssignments>
            <field>Contact__c</field>
            <value>
                <elementReference>Get_Contact.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NPS_Customer_Category__c</field>
            <value>
                <elementReference>Get_Contact.NPS_Customer_Category_Formula__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NPS_Survey_Sent_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sent_External_Id__c</field>
            <value>
                <stringValue>{!surveyDateFormat};{!surveyId};{!Get_Contact.Contact_Id_18_Digit__c}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Survey_ID__c</field>
            <value>
                <elementReference>surveyId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Survey_Status__c</field>
            <value>
                <stringValue>Sent</stringValue>
            </value>
        </inputAssignments>
        <object>Customer_Survey_Response__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Contact</name>
        <label>Get Contact</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Send_NPS_Survey</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>contactRecordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>NPS_Customer_Category_Formula__c</queriedFields>
        <queriedFields>NPS_Status__c</queriedFields>
        <queriedFields>NPS_Survey_Criteria__c</queriedFields>
        <queriedFields>NPS_Survey_Date__c</queriedFields>
        <queriedFields>Contact_Id_18_Digit__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Update NPS Status to Sent after Email Alert successfully was sent</description>
        <name>Update_NPS_Status</name>
        <label>Update NPS Status</label>
        <locationX>50</locationX>
        <locationY>758</locationY>
        <connector>
            <targetReference>Update_Trigger_Bypass_to_False</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contact.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>NPS_Status__c</field>
            <value>
                <stringValue>Processed</stringValue>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Trigger_Bypass_to_False</name>
        <label>Update Trigger Bypass to False</label>
        <locationX>50</locationX>
        <locationY>878</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>triggerBypassId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ContactTrigger__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>TriggerBypass__c</object>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Contact</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <subflows>
        <description>Get Trigger Bypass records through subflow</description>
        <name>Trigger_Bypass_Flow</name>
        <label>Trigger Bypass Flow</label>
        <locationX>50</locationX>
        <locationY>398</locationY>
        <connector>
            <targetReference>Email_Alert_NPS_Qualtrics_Survey</targetReference>
        </connector>
        <flowName>Trigger_Bypass_Flow</flowName>
        <inputAssignments>
            <name>userId</name>
            <value>
                <elementReference>userId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>triggerBypassAPI</name>
            <value>
                <stringValue>ContactTrigger__c</stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>userId</assignToReference>
            <name>userId</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>triggerBypassId</assignToReference>
            <name>triggerBypassId</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>contactRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Qualtrics Survey ID</description>
        <name>surveyId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>SV_3O5ytWnSl9C37Ct</stringValue>
        </value>
    </variables>
    <variables>
        <name>triggerBypassId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>userId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>$User.Id</elementReference>
        </value>
    </variables>
</Flow>
