force-app/main/default/flows/Send_Slack_notificaiotn_to_partner_for_new_client_add_within_30_days_of_CW.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Slack_For_Referred_By</name>
        <label>Send Slack For Referred By</label>
        <locationX>264</locationX>
        <locationY>866</locationY>
        <actionName>slackv2__invokePostMessage</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Assign_Opp_Record_To_Lst</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>message</name>
            <value>
                <elementReference>resellerRefferedByTemplate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>messageDestinationId</name>
            <value>
                <elementReference>Get_Partner_General_Notification_Channel_Id.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>opportunityId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>slackv2__invokePostMessage</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Slack_For_Sold_By</name>
        <label>Send Slack For Sold By</label>
        <locationX>264</locationX>
        <locationY>566</locationY>
        <actionName>slackv2__invokePostMessage</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Has_Referred_By</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>message</name>
            <value>
                <elementReference>resellerSoldByTemplate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>messageDestinationId</name>
            <value>
                <elementReference>Get_Partner_General_Notification_Channel_Id.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>opportunityId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>slackv2__invokePostMessage</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>Assign_Opp_Record_To_Lst</name>
        <label>Assign Opp Record To Lst</label>
        <locationX>396</locationX>
        <locationY>1058</locationY>
        <assignmentItems>
            <assignToReference>opportunityLst</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>objOpportunityRec</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Slack_Records_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Opportunity_Details</name>
        <label>Assign Opportunity Details</label>
        <locationX>396</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>objOpportunityRec.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Slack_Records_Loop.strOpportunityId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objOpportunityRec.Send_Slack_to_Reseller__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>opportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Slack_Records_Loop.strOpportunityId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>soldByAccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Slack_Records_Loop.strSoldBy</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>soldByAccountName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Slack_Records_Loop.strSoldByName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>soldBySlackOwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Slack_Records_Loop.strSoldByOwnerSlackId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>refferedByAccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Slack_Records_Loop.strReferredBy</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>refferedByAccountName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Slack_Records_Loop.strReferredByName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>refferedBySlackOwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Slack_Records_Loop.strReferredByOwnerSlackId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Has_Sold_By</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Has_Referred_By</name>
        <label>Has Referred By</label>
        <locationX>396</locationX>
        <locationY>758</locationY>
        <defaultConnector>
            <targetReference>Assign_Opp_Record_To_Lst</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Has_Referred_By</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Slack_Records_Loop.strReferredBy</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Slack_For_Referred_By</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Sold_By</name>
        <label>Has Sold By</label>
        <locationX>396</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Has_Referred_By</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Has_Sold_By</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Slack_Records_Loop.strSoldBy</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Slack_For_Sold_By</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>currentURL</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Partner_Server_URL_340}, FIND( &apos;/services&apos;, {!$Api.Partner_Server_URL_340}))</expression>
    </formulas>
    <interviewLabel>Send Slack notificaiotn to partner for new client add within 30 days of CW {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Send Slack notificaiotn to partner for new client add within 30 days of CW</label>
    <loops>
        <name>Slack_Records_Loop</name>
        <label>Slack Records Loop</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <collectionReference>lst_SendSlackRecords</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Opportunity_Details</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Opportunity</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Partner_General_Notification_Channel_Id</name>
        <label>Get Partner General Notification Channel Id</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Slack_Records_Loop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>slackv2__Channel_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Label.Partner_General_Notification</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>slackv2__Message_Destination__c</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Opportunity</name>
        <label>Update Opportunity</label>
        <locationX>176</locationX>
        <locationY>1250</locationY>
        <inputReference>opportunityLst</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Partner_General_Notification_Channel_Id</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <textTemplates>
        <name>resellerRefferedByTemplate</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>------------------------------------------------------

&lt;@{!refferedBySlackOwnerId}&gt; Partner account just got added to Closed Won client.

{!currentURL}{!opportunityId}



Partner Account: {!refferedByAccountName}

{!currentURL}{!refferedByAccountId}</text>
    </textTemplates>
    <textTemplates>
        <name>resellerSoldByTemplate</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>------------------------------------------------------

&lt;@{!soldBySlackOwnerId}&gt; Partner account just got added to Closed Won client.

{!currentURL}{!opportunityId}



Partner Account: {!soldByAccountName}

{!currentURL}{!soldByAccountId}</text>
    </textTemplates>
    <variables>
        <name>lst_SendSlackRecords</name>
        <apexClass>SendSlackNotForOppResellerWrapper</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>objOpportunityRec</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>opportunityId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>opportunityLst</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>refferedByAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>refferedByAccountName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>refferedBySlackOwnerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>soldByAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>soldByAccountName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>soldBySlackOwnerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
