force-app/main/default/flows/Set_Benefit_Order_Policies_Coverage_Effective_Date.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>addToUpdate</name>
        <label>addToUpdate</label>
        <locationX>387</locationX>
        <locationY>481</locationY>
        <assignmentItems>
            <assignToReference>policiesToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>policy</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>forEachPolicy</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set the Coverage Effective Date on the Policy to match the Benefit Order</description>
        <name>setPolicyCoverageEffectiveDate</name>
        <label>setPolicyCoverageEffectiveDate</label>
        <locationX>391</locationX>
        <locationY>380</locationY>
        <assignmentItems>
            <assignToReference>policy.Coverage_Effective_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>benefitOrder.Coverage_Effective_Date__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>addToUpdate</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>doPoliciesExist</name>
        <label>doPoliciesExist</label>
        <locationX>148</locationX>
        <locationY>261</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>policies</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>forEachPolicy</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <interviewLabel>Set Benefit Order Policies Coverage Effective Date {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Set Benefit Order Policies Coverage Effective Date</label>
    <loops>
        <name>forEachPolicy</name>
        <label>forEachPolicy</label>
        <locationX>145</locationX>
        <locationY>378</locationY>
        <assignNextValueToReference>policy</assignNextValueToReference>
        <collectionReference>policies</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>setPolicyCoverageEffectiveDate</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>updatePolicies</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>getBenefitOrder</name>
        <label>getBenefitOrder</label>
        <locationX>153</locationX>
        <locationY>46</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getPolicies</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>benefitOrderId</elementReference>
            </value>
        </filters>
        <object>Benefit_Order__c</object>
        <outputReference>benefitOrder</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Opportunity__c</queriedFields>
        <queriedFields>Coverage_Effective_Date__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>getPolicies</name>
        <label>getPolicies</label>
        <locationX>151</locationX>
        <locationY>156</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>doPoliciesExist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>benefitOrder.Opportunity__c</elementReference>
            </value>
        </filters>
        <object>Policy__c</object>
        <outputReference>policies</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>updatePolicies</name>
        <label>updatePolicies</label>
        <locationX>140</locationX>
        <locationY>511</locationY>
        <inputReference>policiesToUpdate</inputReference>
    </recordUpdates>
    <startElementReference>getBenefitOrder</startElementReference>
    <status>Active</status>
    <variables>
        <name>benefitOrder</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Benefit_Order__c</objectType>
    </variables>
    <variables>
        <name>benefitOrderId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>policies</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Policy__c</objectType>
    </variables>
    <variables>
        <name>policiesToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Policy__c</objectType>
    </variables>
    <variables>
        <name>policy</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Policy__c</objectType>
    </variables>
</Flow>
