force-app/main/default/flows/Slack_Notifications_Auto_Solve_Package.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Complete_Case_Slack_Message</name>
        <label>Send Complete Case Slack Message</label>
        <locationX>352</locationX>
        <locationY>792</locationY>
        <actionName>slackv2__invokePostMessage</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>message</name>
            <value>
                <elementReference>ComplexAutoSolveMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>messageDestinationId</name>
            <value>
                <elementReference>MessageDestinationId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>slackv2__invokePostMessage</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>Assign_Message_Desitination_Ids</name>
        <label>Assign Message Desitination Ids</label>
        <locationX>440</locationX>
        <locationY>600</locationY>
        <assignmentItems>
            <assignToReference>MessageDestinationId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Auto_Solve_Loop.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Auto_Solve_Loop</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>Get_Auto_Solve_Package_slack_channel</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Get Auto Solve Package slack channel</label>
        <locationX>352</locationX>
        <locationY>384</locationY>
        <assignNextValueToReference>currentItem_Get_Auto_Solve_Package_slack_channel</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Salesforce_Message_Destination</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Get_Auto_Solve_Package_slack_channel.Name</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>test-slack-notify-ticket</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Auto_Solve_Loop</targetReference>
        </connector>
    </collectionProcessors>
    <environments>Default</environments>
    <interviewLabel>Slack Notifications - Auto Solve Package {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Slack Notifications - Auto Solve Package</label>
    <loops>
        <name>Auto_Solve_Loop</name>
        <label>Auto Solve Loop</label>
        <locationX>352</locationX>
        <locationY>492</locationY>
        <collectionReference>Get_Auto_Solve_Package_slack_channel</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Message_Desitination_Ids</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Send_Complete_Case_Slack_Message</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Salesforce_Message_Destination</name>
        <label>Get Salesforce Message Destination</label>
        <locationX>352</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Auto_Solve_Package_slack_channel</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>slackv2__Message_Destination__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AutoSolvePackageStatus__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <object>Auto_Solve_Package__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <name>Notify_A_Week_Prior_To_Due_Date</name>
            <connector>
                <targetReference>Get_Salesforce_Message_Destination</targetReference>
            </connector>
            <label>Notify A Week Prior To Due Date</label>
            <offsetNumber>1</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <recordField>LastModifiedDate</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <textTemplates>
        <name>ComplexAutoSolveMessage</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Hello Please review below auto solve message. {!$Record.Name}&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>currentItem_Get_Auto_Solve_Package_slack_channel</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>slackv2__Message_Destination__c</objectType>
    </variables>
    <variables>
        <name>MessageDestinationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
