force-app/main/default/flows/Slack_Notifications_Tasks.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Review_OCR_document_upload</name>
        <label>Send Review OCR document upload</label>
        <locationX>242</locationX>
        <locationY>600</locationY>
        <actionName>slackv2__invokePostMessage</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>message</name>
            <value>
                <elementReference>OCR_Document_Upload_Task_Is_Due_Message</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>messageDestinationId</name>
            <value>
                <elementReference>TaxCred_Ops_Automated_Alerts_Channel_Destination.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>slackv2__invokePostMessage</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <decisions>
        <name>Check_Task_Type</name>
        <label>Check Task Type</label>
        <locationX>374</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Review_OCR_document_upload_Task</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Subject</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>Review OCR document upload</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>TaxCred_Ops_Automated_Alerts_Channel_Destination</targetReference>
            </connector>
            <label>Is Review OCR document upload Task</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>currentURL</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Partner_Server_URL_340}, FIND( &apos;/services&apos;, {!$Api.Partner_Server_URL_340}))</expression>
    </formulas>
    <formulas>
        <name>New_PQL_Hot_Pass_Channel_Destination_Name</name>
        <dataType>String</dataType>
        <expression>{!$Label.New_PQL_Hot_Pass_Channel_Destination}</expression>
    </formulas>
    <formulas>
        <name>pendingTime</name>
        <dataType>Number</dataType>
        <expression>now()-{!$Record.Start_Date__c}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>TaxCred_Ops_Automated_Alerts_Channel_Destination_Name</name>
        <dataType>String</dataType>
        <expression>{!$Label.TaxCred_Ops_Automated_Alerts_Channel_Destination}</expression>
    </formulas>
    <interviewLabel>Slack Notifications - Tasks {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Slack Notifications - Tasks</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Ticket_Record</name>
        <label>Get Ticket Record</label>
        <locationX>242</locationX>
        <locationY>492</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Send_Review_OCR_document_upload</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Ticket__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Account_Name__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>TaxCred_Ops_Automated_Alerts_Channel_Destination</name>
        <label>TaxCred_Ops_Automated_Alerts_Channel_Destination</label>
        <locationX>242</locationX>
        <locationY>384</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Ticket_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>slackv2__Channel_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TaxCred_Ops_Automated_Alerts_Channel_Destination_Name</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>slackv2__Message_Destination__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Subject</field>
            <operator>StartsWith</operator>
            <value>
                <stringValue>Review OCR document upload</stringValue>
            </value>
        </filters>
        <object>Task</object>
        <recordTriggerType>Create</recordTriggerType>
        <scheduledPaths>
            <name>OCR_document_upload_task_is_due</name>
            <connector>
                <targetReference>Check_Task_Type</targetReference>
            </connector>
            <label>OCR document upload task is due</label>
            <offsetNumber>0</offsetNumber>
            <offsetUnit>Hours</offsetUnit>
            <recordField>ActivityDate</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>New_PQL_Hot_Pass_Message</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;@{!$Record.Owner:User.Slack_Id__c}&gt; has a HOT PQL! {!currentURL}{!$Record.Id}</text>
    </textTemplates>
    <textTemplates>
        <name>OCR_Document_Upload_Task_Is_Due_Message</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>OCR review for {!Get_Ticket_Record.Account_Name__c} has been pending for more than {!pendingTime} days.</text>
    </textTemplates>
</Flow>
