force-app/main/default/flows/Solution_Engineer_Ticket_Creation_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>AssignAccountId</name>
        <label>AssignAccountId</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>varAccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Solution_Engineer_Request_Details</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignOpportunityId</name>
        <label>AssignOpportunityId</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>varOpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Solution_Engineer_Request_Details</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignOrderId</name>
        <label>AssignOrderId</label>
        <locationX>578</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>varOrderId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Solution_Engineer_Request_Details</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Accounting_Freshbooks</name>
        <choiceText>Accounting - Freshbooks</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Accounting - Freshbooks</stringValue>
        </value>
    </choices>
    <choices>
        <name>Accounting_QBO</name>
        <choiceText>Accounting - QBO</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Accounting - QBO</stringValue>
        </value>
    </choices>
    <choices>
        <name>Accounting_Quickbooks_Desktop</name>
        <choiceText>Accounting - Quickbooks Desktop</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Accounting - Quickbooks Desktop</stringValue>
        </value>
    </choices>
    <choices>
        <name>Accounting_XERO</name>
        <choiceText>Accounting - XERO</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Accounting - XERO</stringValue>
        </value>
    </choices>
    <choices>
        <name>ATS_Greenhouse</name>
        <choiceText>ATS - Greenhouse</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>ATS - Greenhouse</stringValue>
        </value>
    </choices>
    <choices>
        <name>ATS_Lever</name>
        <choiceText>ATS - Lever</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>	ATS - Lever</stringValue>
        </value>
    </choices>
    <choices>
        <name>Benefit_Adjustment</name>
        <choiceText>Benefit Adjustment</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Benefit Adjustment</stringValue>
        </value>
    </choices>
    <choices>
        <name>Beterment</name>
        <choiceText>Beterment</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Beterment</stringValue>
        </value>
    </choices>
    <choices>
        <name>Built_By_Gusto_Apps_Features</name>
        <choiceText>Built By Gusto Apps/Features</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Built By Gusto Apps/Features</stringValue>
        </value>
    </choices>
    <choices>
        <name>Client_Training</name>
        <choiceText>Client Training</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Client Training</stringValue>
        </value>
    </choices>
    <choices>
        <name>Closed</name>
        <choiceText>Closed</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Closed</stringValue>
        </value>
    </choices>
    <choices>
        <name>Compliance_Question</name>
        <choiceText>Compliance Question</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Compliance Question</stringValue>
        </value>
    </choices>
    <choices>
        <name>CorpNet</name>
        <choiceText>CorpNet</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>CorpNet</stringValue>
        </value>
    </choices>
    <choices>
        <name>Demo_Support</name>
        <choiceText>Demo Support</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Demo Support</stringValue>
        </value>
    </choices>
    <choices>
        <name>Error_Mitigation</name>
        <choiceText>Error Mitigation</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Error Mitigation</stringValue>
        </value>
    </choices>
    <choices>
        <name>General_Escalation_Request</name>
        <choiceText>General Escalation Request</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>General Escalation Request</stringValue>
        </value>
    </choices>
    <choices>
        <name>General_Onboarding_Support_Question</name>
        <choiceText>General Onboarding Support Question</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>General Onboarding Support Question</stringValue>
        </value>
    </choices>
    <choices>
        <name>General_Question</name>
        <choiceText>General Question</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>General Question</stringValue>
        </value>
    </choices>
    <choices>
        <name>Google_Workspace</name>
        <choiceText>Google Workspace</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Google Workspace</stringValue>
        </value>
    </choices>
    <choices>
        <name>Guideline</name>
        <choiceText>Guideline</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Guideline</stringValue>
        </value>
    </choices>
    <choices>
        <name>High</name>
        <choiceText>High</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>High</stringValue>
        </value>
    </choices>
    <choices>
        <name>Human_Interest</name>
        <choiceText>Human Interest</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Human Interest</stringValue>
        </value>
    </choices>
    <choices>
        <name>In_Review</name>
        <choiceText>In Review</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>In Review</stringValue>
        </value>
    </choices>
    <choices>
        <name>Incorrect_Benefits_Added</name>
        <choiceText>Incorrect Benefits Added</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Incorrect Benefits Added</stringValue>
        </value>
    </choices>
    <choices>
        <name>Incorrect_Direct_Deposit</name>
        <choiceText>Incorrect Direct Deposit</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Incorrect Direct Deposit</stringValue>
        </value>
    </choices>
    <choices>
        <name>Incorrect_Historical_Entry</name>
        <choiceText>Incorrect Historical Entry</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Incorrect Historical Entry</stringValue>
        </value>
    </choices>
    <choices>
        <name>Incorrect_Tax_Settings</name>
        <choiceText>Incorrect Tax Settings</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Incorrect Tax Settings</stringValue>
        </value>
    </choices>
    <choices>
        <name>InProgress</name>
        <choiceText>In Progress</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>InProgress</stringValue>
        </value>
    </choices>
    <choices>
        <name>Integrations_Recommendation</name>
        <choiceText>Integrations Recommendation</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Integrations Recommendation</stringValue>
        </value>
    </choices>
    <choices>
        <name>Integrations_Troubleshooting</name>
        <choiceText>Integrations Troubleshooting</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Integrations Troubleshooting</stringValue>
        </value>
    </choices>
    <choices>
        <name>Low</name>
        <choiceText>Low</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Low</stringValue>
        </value>
    </choices>
    <choices>
        <name>Medium</name>
        <choiceText>Medium</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Medium</stringValue>
        </value>
    </choices>
    <choices>
        <name>Microsoft_365</name>
        <choiceText>Microsoft 365</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Microsoft 365</stringValue>
        </value>
    </choices>
    <choices>
        <name>N_A</name>
        <choiceText>N/A</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>N/A</stringValue>
        </value>
    </choices>
    <choices>
        <name>Neg_Net_Pay_FIT_SIT_Adjustments</name>
        <choiceText>Neg Net Pay (FIT/SIT Adjustments)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Neg Net Pay (FIT/SIT Adjustments)</stringValue>
        </value>
    </choices>
    <choices>
        <name>New</name>
        <choiceText>New</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>New</stringValue>
        </value>
    </choices>
    <choices>
        <name>Next</name>
        <choiceText>Next</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Next</stringValue>
        </value>
    </choices>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>Option_1_Build_Content</name>
        <choiceText>Build Content</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Build Content</stringValue>
        </value>
    </choices>
    <choices>
        <name>Option_2_Build_Content_and_Deliver_to_customer</name>
        <choiceText>Build Content and Deliver to customer</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Build Content and Deliver to customer</stringValue>
        </value>
    </choices>
    <choices>
        <name>Option_3_1X1_Meeting</name>
        <choiceText>1X1 Meeting</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>1X1 Meeting</stringValue>
        </value>
    </choices>
    <choices>
        <name>Other</name>
        <choiceText>Other</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Other</stringValue>
        </value>
    </choices>
    <choices>
        <name>P1</name>
        <choiceText>P1</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>P1</stringValue>
        </value>
    </choices>
    <choices>
        <name>P2</name>
        <choiceText>P2</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>P2</stringValue>
        </value>
    </choices>
    <choices>
        <name>P3</name>
        <choiceText>P3</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>P3</stringValue>
        </value>
    </choices>
    <choices>
        <name>Pay_k_onnect</name>
        <choiceText>Pay(k)onnect</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Pay(k)onnect</stringValue>
        </value>
    </choices>
    <choices>
        <name>Payroll_Discrepancy</name>
        <choiceText>Payroll Discrepancy</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Payroll Discrepancy</stringValue>
        </value>
    </choices>
    <choices>
        <name>Payroll_Reversal</name>
        <choiceText>Payroll Reversal</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Payroll Reversal</stringValue>
        </value>
    </choices>
    <choices>
        <name>POS_Clover</name>
        <choiceText>POS - Clover</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>	POS - Clover</stringValue>
        </value>
    </choices>
    <choices>
        <name>Product_Consultation</name>
        <choiceText>Product Consultation</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Product Consultation</stringValue>
        </value>
    </choices>
    <choices>
        <name>Resolved</name>
        <choiceText>Resolved</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Resolved</stringValue>
        </value>
    </choices>
    <choices>
        <name>Slack</name>
        <choiceText>Slack</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Slack</stringValue>
        </value>
    </choices>
    <choices>
        <name>Technical_Support</name>
        <choiceText>Technical Support</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Technical Support</stringValue>
        </value>
    </choices>
    <choices>
        <name>TT_Homebase</name>
        <choiceText>TT - Homebase</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>	TT - Homebase</stringValue>
        </value>
    </choices>
    <choices>
        <name>TT_Tsheets</name>
        <choiceText>TT - Tsheets</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>TT - Tsheets</stringValue>
        </value>
    </choices>
    <choices>
        <name>TT_When_I_work</name>
        <choiceText>TT - When I work</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>TT - When I work</stringValue>
        </value>
    </choices>
    <choices>
        <name>Vestwell</name>
        <choiceText>Vestwell</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Vestwell</stringValue>
        </value>
    </choices>
    <choices>
        <name>WA_Qualified_Sick_Leave</name>
        <choiceText>WA Qualified Sick Leave</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>WA Qualified Sick Leave</stringValue>
        </value>
    </choices>
    <choices>
        <name>Wage_Correction</name>
        <choiceText>Wage Correction</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Wage Correction</stringValue>
        </value>
    </choices>
    <choices>
        <name>X15five</name>
        <choiceText>15five</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>15five</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Check_Input_Fields</name>
        <label>Check Input Fields</label>
        <locationX>446</locationX>
        <locationY>650</locationY>
        <defaultConnector>
            <targetReference>Create_Ticket</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_Company_Reference</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AccountReference.recordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>OpportunityReference.recordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>OrderReference.recordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Display_Error</targetReference>
            </connector>
            <label>No Company Reference</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Object_Type</name>
        <label>Check Object Type</label>
        <locationX>446</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Solution_Engineer_Request_Details</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>001</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignAccountId</targetReference>
            </connector>
            <label>Account</label>
        </rules>
        <rules>
            <name>Opportunity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>006</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignOpportunityId</targetReference>
            </connector>
            <label>Opportunity</label>
        </rules>
        <rules>
            <name>Order</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>801</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignOrderId</targetReference>
            </connector>
            <label>Order</label>
        </rules>
    </decisions>
    <description>Screen flow to create Solution Engineer Request Tickets.</description>
    <environments>Default</environments>
    <formulas>
        <name>varTicketReasonSubcategory</name>
        <dataType>String</dataType>
        <expression>IF({!Ticket_Reason_Subcategory_1} != null, {!Ticket_Reason_Subcategory_1}, IF({!Ticket_Reason_Subcategory_2} != null, {!Ticket_Reason_Subcategory_2}, IF({!Ticket_Reason_Subcategory_3} != null, {!Ticket_Reason_Subcategory_3}, null)))</expression>
    </formulas>
    <interviewLabel>Solution Engineer Ticket Creation Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Solution Engineer Ticket Creation Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <description>Create ticket record.</description>
        <name>Create_Ticket</name>
        <label>Create Ticket</label>
        <locationX>446</locationX>
        <locationY>950</locationY>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>varAccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Article_Reviewed__c</field>
            <value>
                <elementReference>Article_Reviewed_Picklist</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Benefits_Adjustment_Details__c</field>
            <value>
                <elementReference>Benefits_Adjustment_Details_2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description__c</field>
            <value>
                <elementReference>Issue_Description_2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Does_the_admin_want_to_pay_the_EE_s_by__c</field>
            <value>
                <elementReference>Does_the_admin_want_to_pay_the_EE_s_by_check</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Impacted_Check_Dates__c</field>
            <value>
                <elementReference>Impacted_Check_Dates</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Impacted_Employees__c</field>
            <value>
                <elementReference>Impacted_Employees</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Integration_Type__c</field>
            <value>
                <elementReference>Integration_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Link_Company__c</field>
            <value>
                <elementReference>Company_Panda_Link.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>varOpportunityId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Order__c</field>
            <value>
                <elementReference>varOrderId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Other_Integration_Type_Details__c</field>
            <value>
                <elementReference>Other_Integration_Details</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pre_Commit__c</field>
            <value>
                <elementReference>Pre_Commit</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority__c</field>
            <value>
                <elementReference>Priority</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reason_for_Adjustment__c</field>
            <value>
                <elementReference>Reason_for_Adjustment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reason_for_Reversal__c</field>
            <value>
                <elementReference>Reason_for_Reversal</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reason_for_Wage_Correction__c</field>
            <value>
                <elementReference>Reason_for_Wage_Correction</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>GetRecordType.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <elementReference>Status</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ticket_Reason_Detail_PT__c</field>
            <value>
                <elementReference>varTicketReasonSubcategory</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ticket_Reason_PT__c</field>
            <value>
                <elementReference>Ticket_Reason</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Wage_Correction_Details__c</field>
            <value>
                <elementReference>Wage_Correction_Details_2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Was_it_a_Gustie_Error__c</field>
            <value>
                <elementReference>Was_it_a_Gustie_Error</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Was_the_incorrect_DD_paid_out__c</field>
            <value>
                <elementReference>Was_the_incorrect_DD_paid_out</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Work_Order_Type__c</field>
            <value>
                <elementReference>Work_Order_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Zoom_Meeting_Requested__c</field>
            <value>
                <elementReference>Zoom</elementReference>
            </value>
        </inputAssignments>
        <object>Ticket__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <description>Get SE record type.</description>
        <name>GetRecordType</name>
        <label>GetRecordType</label>
        <locationX>446</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Object_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Solution Engineer Request</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Display_Error</name>
        <label>Display Error for Company Reference</label>
        <locationX>314</locationX>
        <locationY>758</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Ticket</targetReference>
        </connector>
        <fields>
            <name>Company_Reference_Error</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(173, 61, 61);&quot;&gt;Please enter an Account, Opportunity or Order before saving﻿!&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Solution_Engineer_Request_Details</name>
        <label>Solution Engineer Request Details</label>
        <locationX>446</locationX>
        <locationY>542</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Check_Input_Fields</targetReference>
        </connector>
        <fields>
            <name>Solution_Engineer_Request</name>
            <fieldText>Solution Engineer Request</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Solution_Engineer_Request_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Priority</name>
                    <choiceReferences>Low</choiceReferences>
                    <choiceReferences>Medium</choiceReferences>
                    <choiceReferences>High</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Priority</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Zoom</name>
                    <choiceReferences>Yes</choiceReferences>
                    <choiceReferences>No</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Zoom Meeting Requested</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Solution_Engineer_Request_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Status</name>
                    <choiceReferences>New</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Status</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Issue_Description_2</name>
                    <fieldText>Issue Description</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Ticket_Reason</name>
                    <choiceReferences>General_Onboarding_Support_Question</choiceReferences>
                    <choiceReferences>Compliance_Question</choiceReferences>
                    <choiceReferences>Product_Consultation</choiceReferences>
                    <choiceReferences>Error_Mitigation</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Ticket Reason</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Company_Reference</name>
            <fieldText>Company Reference</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Company_Reference_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>AccountReference</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>Account__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Account Reference</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Ticket__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>varAccountId</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>OrderReference</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>Order__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Order Reference</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Ticket__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>varOrderId</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Company_Reference_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>OpportunityReference</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>Opportunity__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Opportunity Reference</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Ticket__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>varOpportunityId</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Additional_Information_Required</name>
            <fieldText>Additional Information Required</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Additional_Information_Required_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Ticket_Reason_Subcategory_1</name>
                    <choiceReferences>General_Question</choiceReferences>
                    <choiceReferences>Payroll_Discrepancy</choiceReferences>
                    <choiceReferences>Other</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Ticket Reason Subcategory</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Ticket_Reason</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>General_Onboarding_Support_Question</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Ticket_Reason_Subcategory_2</name>
                    <choiceReferences>Integrations_Troubleshooting</choiceReferences>
                    <choiceReferences>Integrations_Recommendation</choiceReferences>
                    <choiceReferences>Technical_Support</choiceReferences>
                    <choiceReferences>Demo_Support</choiceReferences>
                    <choiceReferences>Client_Training</choiceReferences>
                    <choiceReferences>Built_By_Gusto_Apps_Features</choiceReferences>
                    <choiceReferences>Other</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Ticket Reason Subcategory</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Ticket_Reason</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Product_Consultation</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Ticket_Reason_Subcategory_3</name>
                    <choiceReferences>Benefit_Adjustment</choiceReferences>
                    <choiceReferences>Payroll_Reversal</choiceReferences>
                    <choiceReferences>Wage_Correction</choiceReferences>
                    <choiceReferences>General_Escalation_Request</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Ticket Reason Subcategory</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Ticket_Reason</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Error_Mitigation</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Company_Panda_Link</name>
                    <extensionName>flowruntime:url</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Company Panda Link</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Ticket_Reason</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Error_Mitigation</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Article_Reviewed_Picklist</name>
                    <choiceReferences>Yes</choiceReferences>
                    <choiceReferences>No</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Article Reviewed?</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <helpText>&lt;p&gt;&lt;a href=&quot;https://confluence.gustocorp.com/display/MIG/Payroll+Transfers+Mitigator+Workflows&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; font-family: -apple-system, BlinkMacSystemFont, &amp;quot;Segoe UI&amp;quot;, Roboto, Oxygen, Ubuntu, &amp;quot;Fira Sans&amp;quot;, &amp;quot;Droid Sans&amp;quot;, &amp;quot;Helvetica Neue&amp;quot;, sans-serif; color: rgb(0, 82, 204);&quot;&gt;https://confluence.gustocorp.com/display/MIG/Payroll+Transfers+Mitigator+Workflows&lt;/a&gt;&lt;/p&gt;</helpText>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Ticket_Reason</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Error_Mitigation</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Reason_for_Adjustment</name>
                    <choiceReferences>Incorrect_Historical_Entry</choiceReferences>
                    <choiceReferences>Incorrect_Benefits_Added</choiceReferences>
                    <choiceReferences>Other</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Reason for Adjustment</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>or</conditionLogic>
                        <conditions>
                            <leftValueReference>Ticket_Reason_Subcategory_3</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Benefit_Adjustment</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Reason_for_Reversal</name>
                    <choiceReferences>Incorrect_Direct_Deposit</choiceReferences>
                    <choiceReferences>Incorrect_Historical_Entry</choiceReferences>
                    <choiceReferences>Incorrect_Tax_Settings</choiceReferences>
                    <choiceReferences>Other</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Reason for Reversal</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Ticket_Reason_Subcategory_3</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Payroll_Reversal</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Reason_for_Wage_Correction</name>
                    <choiceReferences>WA_Qualified_Sick_Leave</choiceReferences>
                    <choiceReferences>Neg_Net_Pay_FIT_SIT_Adjustments</choiceReferences>
                    <choiceReferences>Other</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Reason for Wage Correction</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Ticket_Reason_Subcategory_3</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Wage_Correction</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Additional_Information_Required_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Work_Order_Type</name>
                    <choiceReferences>Option_1_Build_Content</choiceReferences>
                    <choiceReferences>Option_2_Build_Content_and_Deliver_to_customer</choiceReferences>
                    <choiceReferences>Option_3_1X1_Meeting</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Work Order Type</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Ticket_Reason</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Product_Consultation</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Pre_Commit</name>
                    <choiceReferences>Yes</choiceReferences>
                    <choiceReferences>No</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Pre Commit</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <helpText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; font-family: -apple-system, BlinkMacSystemFont, &amp;quot;Segoe UI&amp;quot;, Roboto, Oxygen, Ubuntu, &amp;quot;Fira Sans&amp;quot;, &amp;quot;Droid Sans&amp;quot;, &amp;quot;Helvetica Neue&amp;quot;, sans-serif; color: rgb(23, 43, 77);&quot;&gt;Is this a sales conversation?&lt;/span&gt;&lt;/p&gt;</helpText>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Ticket_Reason</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Product_Consultation</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Impacted_Check_Dates</name>
                    <dataType>String</dataType>
                    <fieldText>Impacted Check Dates</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Ticket_Reason</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Error_Mitigation</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Impacted_Employees</name>
                    <dataType>String</dataType>
                    <fieldText>Impacted Employees</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Ticket_Reason</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Error_Mitigation</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Integration_Type</name>
                    <choiceReferences>Guideline</choiceReferences>
                    <choiceReferences>Human_Interest</choiceReferences>
                    <choiceReferences>Vestwell</choiceReferences>
                    <choiceReferences>Pay_k_onnect</choiceReferences>
                    <choiceReferences>Beterment</choiceReferences>
                    <choiceReferences>CorpNet</choiceReferences>
                    <choiceReferences>Next</choiceReferences>
                    <choiceReferences>Google_Workspace</choiceReferences>
                    <choiceReferences>Microsoft_365</choiceReferences>
                    <choiceReferences>Slack</choiceReferences>
                    <choiceReferences>X15five</choiceReferences>
                    <choiceReferences>Accounting_QBO</choiceReferences>
                    <choiceReferences>Accounting_XERO</choiceReferences>
                    <choiceReferences>Accounting_Quickbooks_Desktop</choiceReferences>
                    <choiceReferences>Accounting_Freshbooks</choiceReferences>
                    <choiceReferences>ATS_Greenhouse</choiceReferences>
                    <choiceReferences>ATS_Lever</choiceReferences>
                    <choiceReferences>POS_Clover</choiceReferences>
                    <choiceReferences>TT_Homebase</choiceReferences>
                    <choiceReferences>TT_Tsheets</choiceReferences>
                    <choiceReferences>TT_When_I_work</choiceReferences>
                    <choiceReferences>Other</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Integration Type</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Ticket_Reason_Subcategory_2</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Integrations_Troubleshooting</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Other_Integration_Details</name>
                    <dataType>String</dataType>
                    <fieldText>Other Integration Details</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Integration_Type</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Other</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Benefits_Adjustment_Details_2</name>
                    <fieldText>Benefits Adjustment Details</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Ticket_Reason_Subcategory_3</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Benefit_Adjustment</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Was_it_a_Gustie_Error</name>
                    <choiceReferences>Yes</choiceReferences>
                    <choiceReferences>No</choiceReferences>
                    <choiceReferences>N_A</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Was it a Gustie Error?</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Ticket_Reason_Subcategory_3</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Payroll_Reversal</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Was_the_incorrect_DD_paid_out</name>
                    <choiceReferences>Yes</choiceReferences>
                    <choiceReferences>No</choiceReferences>
                    <choiceReferences>N_A</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Was the incorrect DD paid out?</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Ticket_Reason_Subcategory_3</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Payroll_Reversal</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Does_the_admin_want_to_pay_the_EE_s_by_check</name>
                    <choiceReferences>Yes</choiceReferences>
                    <choiceReferences>No</choiceReferences>
                    <choiceReferences>N_A</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Does the admin want to pay the EE(s) by check?</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Ticket_Reason_Subcategory_3</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Payroll_Reversal</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Wage_Correction_Details_2</name>
                    <fieldText>Wage Correction Details</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Ticket_Reason_Subcategory_3</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Wage_Correction</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetRecordType</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varOpportunityId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varOrderId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
