force-app/main/default/flows/Subflow_Case_TAM_Omni_Routing.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Add_TAM_SkillRequirements</name>
        <label>Add TAM SkillRequirements</label>
        <locationX>578</locationX>
        <locationY>890</locationY>
        <actionName>addSkillRequirements</actionName>
        <actionType>addSkillRequirements</actionType>
        <connector>
            <targetReference>Route_to_TAM_Specialization</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>skillRequirement</name>
            <value>
                <stringValue>[{&quot;id&quot;:&quot;eca524be&quot;,&quot;skillId&quot;:&quot;{!Get_TAM_Specialization_Skills.Id}&quot;,&quot;skillLabel&quot;:&quot;&quot;,&quot;skillLevel&quot;:&quot;1&quot;,&quot;skillPriority&quot;:&quot;0&quot;,&quot;isAdditionalSkill&quot;:false}]</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillRequirementsResourceItem</name>
            <value>
                <elementReference>AggregatedSkillRequirement</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillInputType</name>
            <value>
                <stringValue>variable</stringValue>
            </value>
        </inputParameters>
        <nameSegment>addSkillRequirements</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>AggregatedSkillRequirement</assignToReference>
            <name>skillRequirements</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Route_to_TAM</name>
        <label>Route to TAM</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <actionName>routeWork</actionName>
        <actionType>routeWork</actionType>
        <connector>
            <targetReference>Assign_Routed_to_TAM_True</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Initialize_Fault_Path_Details</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>triggeringCase.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelId</name>
            <value>
                <stringValue>0N98Y00000115jUSAQ</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelLabel</name>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelDevName</name>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>routingType</name>
            <value>
                <stringValue>Agent</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>routingConfigId</name>
            <value>
                <elementReference>RoutingConfigId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>routingConfigLabel</name>
        </inputParameters>
        <inputParameters>
            <name>agentId</name>
            <value>
                <elementReference>triggeringCase.Account.Technical_Account_Manager__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>agentLabel</name>
        </inputParameters>
        <inputParameters>
            <name>isAgentRequired</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillOption</name>
        </inputParameters>
        <inputParameters>
            <name>skillRequirementsResourceItem</name>
        </inputParameters>
        <inputParameters>
            <name>isAgentVariable</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>botId</name>
        </inputParameters>
        <inputParameters>
            <name>botLabel</name>
        </inputParameters>
        <inputParameters>
            <name>copilotId</name>
        </inputParameters>
        <inputParameters>
            <name>copilotLabel</name>
        </inputParameters>
        <inputParameters>
            <name>isRoutingConfigVariable</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>routeWork</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Route_to_TAM_Specialization</name>
        <label>Route to TAM Specialization</label>
        <locationX>578</locationX>
        <locationY>998</locationY>
        <actionName>routeWork</actionName>
        <actionType>routeWork</actionType>
        <connector>
            <targetReference>Assign_Routed_to_TAM_True</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Initialize_Fault_Path_Details</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>triggeringCase.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelId</name>
            <value>
                <stringValue>0N98Y00000115jUSAQ</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelLabel</name>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelDevName</name>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>routingType</name>
            <value>
                <stringValue>SkillsBased</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>routingConfigId</name>
            <value>
                <elementReference>RoutingConfigId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>routingConfigLabel</name>
        </inputParameters>
        <inputParameters>
            <name>queueId</name>
        </inputParameters>
        <inputParameters>
            <name>agentId</name>
        </inputParameters>
        <inputParameters>
            <name>agentLabel</name>
        </inputParameters>
        <inputParameters>
            <name>queueLabel</name>
        </inputParameters>
        <inputParameters>
            <name>skillOption</name>
            <value>
                <stringValue>DefineSkillRequirements</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillRequirementsResourceItem</name>
            <value>
                <elementReference>AggregatedSkillRequirement</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>botId</name>
        </inputParameters>
        <inputParameters>
            <name>botLabel</name>
        </inputParameters>
        <inputParameters>
            <name>copilotId</name>
        </inputParameters>
        <inputParameters>
            <name>copilotLabel</name>
        </inputParameters>
        <inputParameters>
            <name>isRoutingConfigVariable</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>routeWork</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>63.0</apiVersion>
    <assignments>
        <description>Assign the Priority 0 Routing configuration to SkillBasedRoutingConfigId.</description>
        <name>Assign_Priority_0_TAM_Skill</name>
        <label>Assign Priority 0 TAM Skill</label>
        <locationX>578</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>RoutingConfigId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Setup.Engagement_Flow_Configuration__c.Engagement_Cases_Offline_Id__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Case_Specialization</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Routed_to_TAM_True</name>
        <label>Assign Routed to TAM True</label>
        <locationX>578</locationX>
        <locationY>1430</locationY>
        <assignmentItems>
            <assignToReference>blnRoutedToTAM</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <description>As TAM user is unavailable, assign Case Specialization to TAM Accountant Skill and Engagement Cases queue</description>
        <name>Assign_TAM_Accountant_Skill_and_Owner</name>
        <label>Assign TAM Accountant Skill and Owner</label>
        <locationX>578</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>objCase.Specialization__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>TAM Accountant</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objCase.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Setup.Engagement_Flow_Configuration__c.Engagement_Cases_Queue_ID__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Priority_0_TAM_Skill</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>As TAM user is unavailable, assign Case Specialization to TAM Premier Skill and Engagement Cases queue</description>
        <name>Assign_TAM_Premier_Skill_and_Owner</name>
        <label>Assign TAM Premier Skill and Owner</label>
        <locationX>1106</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>objCase.Specialization__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>TAM Premier</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objCase.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Setup.Engagement_Flow_Configuration__c.Engagement_Cases_Queue_ID__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Assign_Priority_0_TAM_Skill</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_TAM_Route_Priority</name>
        <label>Assign TAM Route Priority</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>RoutingConfigId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Setup.Engagement_Flow_Configuration__c.Engagement_Case_Offline_ReRoute_ID__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Case_fields</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Initializing Fault Line details for fault paths in objExceptionLogEvent record.</description>
        <name>Initialize_Fault_Path_Details</name>
        <label>Initialize Fault Path Details</label>
        <locationX>842</locationX>
        <locationY>1106</locationY>
        <assignmentItems>
            <assignToReference>objExceptionLogEvent.Message__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>strExceptionLogMessage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objExceptionLogEvent.EventUuid</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.InterviewGuid</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objExceptionLogEvent.Method_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentStage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objExceptionLogEvent.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Flow</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <description>Checks to see if there a TAM present on account then route case to that TAM instead of Omni-Routing.</description>
        <name>Is_Case_TAM_present</name>
        <label>Is Case TAM present?</label>
        <locationX>974</locationX>
        <locationY>134</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>((1 AND 2) OR  (3 AND (4 OR 5) AND 6) OR (7 AND 8)) AND 9</conditionLogic>
            <conditions>
                <leftValueReference>objCase.Persona__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Accountant</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>triggeringCase.Account.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reseller</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>triggeringCase.Account.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Company</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>objCase.Company_Size__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Grower 25-49</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>objCase.Company_Size__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Grower 50</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>objCase.Persona__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Admin</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>triggeringCase.Account.CX_Experiment__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Project-GHR</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>objCase.Persona__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Admin</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>triggeringCase.Account.Technical_Account_Manager__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_TAM_User_Record</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check TAM User is OOO or Active</description>
        <name>Is_TAM_Available</name>
        <label>Is TAM Available?</label>
        <locationX>578</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Assign_TAM_Premier_Skill_and_Owner</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>TAM_Available_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_TAM_User_Record.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_TAM_User_Record.Out_Of_Office__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_TAM_Route_Priority</targetReference>
            </connector>
            <label>TAM Available Yes</label>
        </rules>
        <rules>
            <name>TAM_OOO_and_Persona_Accountant</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>objCase.Persona__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Accountant</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_TAM_Accountant_Skill_and_Owner</targetReference>
            </connector>
            <label>TAM OOO and Persona Accountant</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Subflow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Subflow: Case TAM Omni Routing</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_TAM_Specialization_Skills</name>
        <label>Get TAM Specialization Skills</label>
        <locationX>578</locationX>
        <locationY>782</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Add_TAM_SkillRequirements</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MasterLabel</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>objCase.Specialization__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Skill</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get TAM User Active and Out Of Office details</description>
        <name>Get_TAM_User_Record</name>
        <label>Get TAM User Record</label>
        <locationX>578</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_TAM_Available</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>triggeringCase.Account.Technical_Account_Manager__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>IsActive</queriedFields>
        <queriedFields>Out_Of_Office__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Case_fields</name>
        <label>Update Case fields</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <connector>
            <targetReference>Route_to_TAM</targetReference>
        </connector>
        <inputReference>objCase</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case_Specialization</name>
        <label>Update Case Specialization</label>
        <locationX>578</locationX>
        <locationY>674</locationY>
        <connector>
            <targetReference>Get_TAM_Specialization_Skills</targetReference>
        </connector>
        <inputReference>objCase</inputReference>
    </recordUpdates>
    <start>
        <locationX>848</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_Case_TAM_present</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <description>Exception Log Message containing flow details in a fault path.</description>
        <name>strExceptionLogMessage</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;p&gt;Fault Message: {!$Flow.FaultMessage}&lt;/p&gt;&lt;p&gt;----&lt;/p&gt;&lt;p&gt;Interview Guid: {!$Flow.InterviewGuid}&lt;/p&gt;&lt;p&gt;----&lt;/p&gt;&lt;p&gt;Current Record: {!$Flow.CurrentRecord}&lt;/p&gt;&lt;p&gt;----&lt;/p&gt;&lt;p&gt;You can find failed flow interviews with the link below. The link below is for Production failed interviews, but if you would like to find them in another environment in Setup, simply search for ‘Paused and Failed Flow Interviews’ in Setup’s Quick Find bar, and switch to the All Failed Flow Interviews List View. You can use the interview &quot;Interview Guid&quot; above to locate this specific failures.&amp;nbsp;&amp;nbsp;&lt;/p&gt;&lt;p&gt;https://gusto.lightning.force.com/lightning/setup/Pausedflows/home&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>AggregatedSkillRequirement</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SkillRequirement</objectType>
    </variables>
    <variables>
        <name>blnRoutedToTAM</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>objCase</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <description>Exception Log Event Object to capture fault path details.</description>
        <name>objExceptionLogEvent</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Exception_Log_Event__e</objectType>
    </variables>
    <variables>
        <name>RoutingConfigId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>triggeringCase</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
</Flow>
