force-app/main/default/flows/Subflow_Case_Omni_Routing.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Add Type Skill Requirement with Level 1 to the PSR</description>
        <name>Add_Type_Skill_Level_1</name>
        <label>Add Type Skill - Level 1</label>
        <locationX>1766</locationX>
        <locationY>2924</locationY>
        <actionName>addSkillRequirements</actionName>
        <actionType>addSkillRequirements</actionType>
        <connector>
            <targetReference>Route_to_High_skilled_person</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>skillRequirement</name>
            <value>
                <stringValue>[{&quot;id&quot;:&quot;e8373400&quot;,&quot;skillId&quot;:&quot;{!TypeSkill.Id}&quot;,&quot;skillLabel&quot;:&quot;&quot;,&quot;skillLevel&quot;:&quot;1&quot;,&quot;skillPriority&quot;:&quot;0&quot;,&quot;isAdditionalSkill&quot;:false}]</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillRequirementsResourceItem</name>
            <value>
                <elementReference>AggregatedSkillRequirement</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillInputType</name>
            <value>
                <stringValue>variable</stringValue>
            </value>
        </inputParameters>
        <nameSegment>addSkillRequirements</nameSegment>
        <outputParameters>
            <assignToReference>AggregatedSkillRequirement</assignToReference>
            <name>skillRequirements</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <description>Add Type Skill Requirement with Level 10 to the PSR</description>
        <name>Add_Type_Skill_Level_10</name>
        <label>Add Type Skill - Level 10</label>
        <locationX>4142</locationX>
        <locationY>2924</locationY>
        <actionName>addSkillRequirements</actionName>
        <actionType>addSkillRequirements</actionType>
        <connector>
            <targetReference>Route_to_High_skilled_person</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>skillRequirement</name>
            <value>
                <stringValue>[{&quot;id&quot;:&quot;e8373400&quot;,&quot;skillId&quot;:&quot;{!TypeSkill.Id}&quot;,&quot;skillLabel&quot;:&quot;&quot;,&quot;skillLevel&quot;:&quot;10&quot;,&quot;skillPriority&quot;:&quot;0&quot;,&quot;isAdditionalSkill&quot;:false}]</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillRequirementsResourceItem</name>
            <value>
                <elementReference>AggregatedSkillRequirement</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillInputType</name>
            <value>
                <stringValue>variable</stringValue>
            </value>
        </inputParameters>
        <nameSegment>addSkillRequirements</nameSegment>
        <outputParameters>
            <assignToReference>AggregatedSkillRequirement</assignToReference>
            <name>skillRequirements</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <description>Add Type Skill Requirement with Level 2 to the PSR</description>
        <name>Add_Type_Skill_Level_2</name>
        <label>Add Type Skill - Level 2</label>
        <locationX>2030</locationX>
        <locationY>2924</locationY>
        <actionName>addSkillRequirements</actionName>
        <actionType>addSkillRequirements</actionType>
        <connector>
            <targetReference>Route_to_High_skilled_person</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>skillRequirement</name>
            <value>
                <stringValue>[{&quot;id&quot;:&quot;e8373400&quot;,&quot;skillId&quot;:&quot;{!TypeSkill.Id}&quot;,&quot;skillLabel&quot;:&quot;&quot;,&quot;skillLevel&quot;:&quot;2&quot;,&quot;skillPriority&quot;:&quot;0&quot;,&quot;isAdditionalSkill&quot;:false}]</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillRequirementsResourceItem</name>
            <value>
                <elementReference>AggregatedSkillRequirement</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillInputType</name>
            <value>
                <stringValue>variable</stringValue>
            </value>
        </inputParameters>
        <nameSegment>addSkillRequirements</nameSegment>
        <outputParameters>
            <assignToReference>AggregatedSkillRequirement</assignToReference>
            <name>skillRequirements</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <description>Add Type Skill Requirement with Level 3 to the PSR</description>
        <name>Add_Type_Skill_Level_3</name>
        <label>Add Type Skill - Level 3</label>
        <locationX>2294</locationX>
        <locationY>2924</locationY>
        <actionName>addSkillRequirements</actionName>
        <actionType>addSkillRequirements</actionType>
        <connector>
            <targetReference>Route_to_High_skilled_person</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>skillRequirement</name>
            <value>
                <stringValue>[{&quot;id&quot;:&quot;e8373400&quot;,&quot;skillId&quot;:&quot;{!TypeSkill.Id}&quot;,&quot;skillLabel&quot;:&quot;&quot;,&quot;skillLevel&quot;:&quot;3&quot;,&quot;skillPriority&quot;:&quot;0&quot;,&quot;isAdditionalSkill&quot;:false}]</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillRequirementsResourceItem</name>
            <value>
                <elementReference>AggregatedSkillRequirement</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillInputType</name>
            <value>
                <stringValue>variable</stringValue>
            </value>
        </inputParameters>
        <nameSegment>addSkillRequirements</nameSegment>
        <outputParameters>
            <assignToReference>AggregatedSkillRequirement</assignToReference>
            <name>skillRequirements</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <description>Add Type Skill Requirement with Level 4 to the PSR</description>
        <name>Add_Type_Skill_Level_4</name>
        <label>Add Type Skill - Level 4</label>
        <locationX>2558</locationX>
        <locationY>2924</locationY>
        <actionName>addSkillRequirements</actionName>
        <actionType>addSkillRequirements</actionType>
        <connector>
            <targetReference>Route_to_High_skilled_person</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>skillRequirement</name>
            <value>
                <stringValue>[{&quot;id&quot;:&quot;e8373400&quot;,&quot;skillId&quot;:&quot;{!TypeSkill.Id}&quot;,&quot;skillLabel&quot;:&quot;&quot;,&quot;skillLevel&quot;:&quot;4&quot;,&quot;skillPriority&quot;:&quot;0&quot;,&quot;isAdditionalSkill&quot;:false}]</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillRequirementsResourceItem</name>
            <value>
                <elementReference>AggregatedSkillRequirement</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillInputType</name>
            <value>
                <stringValue>variable</stringValue>
            </value>
        </inputParameters>
        <nameSegment>addSkillRequirements</nameSegment>
        <outputParameters>
            <assignToReference>AggregatedSkillRequirement</assignToReference>
            <name>skillRequirements</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <description>Add Type Skill Requirement with Level 5 to the PSR</description>
        <name>Add_Type_Skill_Level_5</name>
        <label>Add Type Skill - Level 5</label>
        <locationX>2822</locationX>
        <locationY>2924</locationY>
        <actionName>addSkillRequirements</actionName>
        <actionType>addSkillRequirements</actionType>
        <connector>
            <targetReference>Route_to_High_skilled_person</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>skillRequirement</name>
            <value>
                <stringValue>[{&quot;id&quot;:&quot;e8373400&quot;,&quot;skillId&quot;:&quot;{!TypeSkill.Id}&quot;,&quot;skillLabel&quot;:&quot;&quot;,&quot;skillLevel&quot;:&quot;5&quot;,&quot;skillPriority&quot;:&quot;0&quot;,&quot;isAdditionalSkill&quot;:false}]</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillRequirementsResourceItem</name>
            <value>
                <elementReference>AggregatedSkillRequirement</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillInputType</name>
            <value>
                <stringValue>variable</stringValue>
            </value>
        </inputParameters>
        <nameSegment>addSkillRequirements</nameSegment>
        <outputParameters>
            <assignToReference>AggregatedSkillRequirement</assignToReference>
            <name>skillRequirements</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <description>Add Type Skill Requirement with Level 6 to the PSR</description>
        <name>Add_Type_Skill_Level_6</name>
        <label>Add Type Skill - Level 6</label>
        <locationX>3086</locationX>
        <locationY>2924</locationY>
        <actionName>addSkillRequirements</actionName>
        <actionType>addSkillRequirements</actionType>
        <connector>
            <targetReference>Route_to_High_skilled_person</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>skillRequirement</name>
            <value>
                <stringValue>[{&quot;id&quot;:&quot;e8373400&quot;,&quot;skillId&quot;:&quot;{!TypeSkill.Id}&quot;,&quot;skillLabel&quot;:&quot;&quot;,&quot;skillLevel&quot;:&quot;6&quot;,&quot;skillPriority&quot;:&quot;0&quot;,&quot;isAdditionalSkill&quot;:false}]</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillRequirementsResourceItem</name>
            <value>
                <elementReference>AggregatedSkillRequirement</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillInputType</name>
            <value>
                <stringValue>variable</stringValue>
            </value>
        </inputParameters>
        <nameSegment>addSkillRequirements</nameSegment>
        <outputParameters>
            <assignToReference>AggregatedSkillRequirement</assignToReference>
            <name>skillRequirements</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <description>Add Type Skill Requirement with Level 7 to the PSR</description>
        <name>Add_Type_Skill_Level_7</name>
        <label>Add Type Skill - Level 7</label>
        <locationX>3350</locationX>
        <locationY>2924</locationY>
        <actionName>addSkillRequirements</actionName>
        <actionType>addSkillRequirements</actionType>
        <connector>
            <targetReference>Route_to_High_skilled_person</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>skillRequirement</name>
            <value>
                <stringValue>[{&quot;id&quot;:&quot;e8373400&quot;,&quot;skillId&quot;:&quot;{!TypeSkill.Id}&quot;,&quot;skillLabel&quot;:&quot;&quot;,&quot;skillLevel&quot;:&quot;7&quot;,&quot;skillPriority&quot;:&quot;0&quot;,&quot;isAdditionalSkill&quot;:false}]</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillRequirementsResourceItem</name>
            <value>
                <elementReference>AggregatedSkillRequirement</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillInputType</name>
            <value>
                <stringValue>variable</stringValue>
            </value>
        </inputParameters>
        <nameSegment>addSkillRequirements</nameSegment>
        <outputParameters>
            <assignToReference>AggregatedSkillRequirement</assignToReference>
            <name>skillRequirements</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <description>Add Type Skill Requirement with Level 8 to the PSR</description>
        <name>Add_Type_Skill_Level_8</name>
        <label>Add Type Skill - Level 8</label>
        <locationX>3614</locationX>
        <locationY>2924</locationY>
        <actionName>addSkillRequirements</actionName>
        <actionType>addSkillRequirements</actionType>
        <connector>
            <targetReference>Route_to_High_skilled_person</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>skillRequirement</name>
            <value>
                <stringValue>[{&quot;id&quot;:&quot;e8373400&quot;,&quot;skillId&quot;:&quot;{!TypeSkill.Id}&quot;,&quot;skillLabel&quot;:&quot;&quot;,&quot;skillLevel&quot;:&quot;8&quot;,&quot;skillPriority&quot;:&quot;0&quot;,&quot;isAdditionalSkill&quot;:false}]</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillRequirementsResourceItem</name>
            <value>
                <elementReference>AggregatedSkillRequirement</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillInputType</name>
            <value>
                <stringValue>variable</stringValue>
            </value>
        </inputParameters>
        <nameSegment>addSkillRequirements</nameSegment>
        <outputParameters>
            <assignToReference>AggregatedSkillRequirement</assignToReference>
            <name>skillRequirements</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <description>Add Type Skill Requirement with Level 9 to the PSR</description>
        <name>Add_Type_Skill_Level_9</name>
        <label>Add Type Skill - Level 9</label>
        <locationX>3878</locationX>
        <locationY>2924</locationY>
        <actionName>addSkillRequirements</actionName>
        <actionType>addSkillRequirements</actionType>
        <connector>
            <targetReference>Route_to_High_skilled_person</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>skillRequirement</name>
            <value>
                <stringValue>[{&quot;id&quot;:&quot;e8373400&quot;,&quot;skillId&quot;:&quot;{!TypeSkill.Id}&quot;,&quot;skillLabel&quot;:&quot;&quot;,&quot;skillLevel&quot;:&quot;9&quot;,&quot;skillPriority&quot;:&quot;0&quot;,&quot;isAdditionalSkill&quot;:false}]</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillRequirementsResourceItem</name>
            <value>
                <elementReference>AggregatedSkillRequirement</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillInputType</name>
            <value>
                <stringValue>variable</stringValue>
            </value>
        </inputParameters>
        <nameSegment>addSkillRequirements</nameSegment>
        <outputParameters>
            <assignToReference>AggregatedSkillRequirement</assignToReference>
            <name>skillRequirements</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <description>Add Type Skill Requirement with Level 10 to the PSR</description>
        <name>Default_Add_Type_Skill_Level_10</name>
        <label>Default Add Type Skill - Level 10</label>
        <locationX>4406</locationX>
        <locationY>2924</locationY>
        <actionName>addSkillRequirements</actionName>
        <actionType>addSkillRequirements</actionType>
        <connector>
            <targetReference>Route_to_High_skilled_person</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>skillRequirement</name>
            <value>
                <stringValue>[{&quot;id&quot;:&quot;e8373400&quot;,&quot;skillId&quot;:&quot;{!TypeSkill.Id}&quot;,&quot;skillLabel&quot;:&quot;&quot;,&quot;skillLevel&quot;:&quot;10&quot;,&quot;skillPriority&quot;:&quot;0&quot;,&quot;isAdditionalSkill&quot;:false}]</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillRequirementsResourceItem</name>
            <value>
                <elementReference>AggregatedSkillRequirement</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillInputType</name>
            <value>
                <stringValue>variable</stringValue>
            </value>
        </inputParameters>
        <nameSegment>addSkillRequirements</nameSegment>
        <outputParameters>
            <assignToReference>AggregatedSkillRequirement</assignToReference>
            <name>skillRequirements</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Default_Admin_routing</name>
        <label>Default Admin routing</label>
        <locationX>3526</locationX>
        <locationY>1766</locationY>
        <actionName>addSkillRequirements</actionName>
        <actionType>addSkillRequirements</actionType>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Case_re_Routed</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>skillRequirement</name>
            <value>
                <stringValue>[{&quot;id&quot;:&quot;5beae352&quot;,&quot;skillId&quot;:&quot;{!PersonaSkill.Id}&quot;,&quot;skillLabel&quot;:&quot;&quot;,&quot;skillLevel&quot;:&quot;1&quot;,&quot;skillPriority&quot;:&quot;0&quot;,&quot;isAdditionalSkill&quot;:false},{&quot;id&quot;:&quot;9f2cde97&quot;,&quot;skillId&quot;:&quot;{!CompanySizeSkill.Id}&quot;,&quot;skillLabel&quot;:&quot;&quot;,&quot;skillLevel&quot;:&quot;1&quot;,&quot;skillPriority&quot;:&quot;0&quot;,&quot;isAdditionalSkill&quot;:false},{&quot;id&quot;:&quot;97c3f209&quot;,&quot;skillId&quot;:&quot;{!SupportLevelSkill.Id}&quot;,&quot;skillLabel&quot;:&quot;&quot;,&quot;skillLevel&quot;:&quot;1&quot;,&quot;skillPriority&quot;:&quot;0&quot;,&quot;isAdditionalSkill&quot;:false}]</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillRequirementsResourceItem</name>
            <value>
                <elementReference>AggregatedSkillRequirement</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillInputType</name>
            <value>
                <stringValue>variable</stringValue>
            </value>
        </inputParameters>
        <nameSegment>addSkillRequirements</nameSegment>
        <outputParameters>
            <assignToReference>AggregatedSkillRequirement</assignToReference>
            <name>skillRequirements</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Default_Routing</name>
        <label>Default Routing</label>
        <locationX>4318</locationX>
        <locationY>1766</locationY>
        <actionName>addSkillRequirements</actionName>
        <actionType>addSkillRequirements</actionType>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Case_re_Routed</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>skillRequirement</name>
            <value>
                <stringValue>[{&quot;id&quot;:&quot;b75621e4&quot;,&quot;skillId&quot;:&quot;{!PersonaSkill.Id}&quot;,&quot;skillLabel&quot;:&quot;&quot;,&quot;skillLevel&quot;:&quot;1&quot;,&quot;skillPriority&quot;:&quot;0&quot;,&quot;isAdditionalSkill&quot;:false},{&quot;id&quot;:&quot;1b4881aa&quot;,&quot;skillId&quot;:&quot;{!SupportLevelSkill.Id}&quot;,&quot;skillLabel&quot;:&quot;&quot;,&quot;skillLevel&quot;:&quot;1&quot;,&quot;skillPriority&quot;:&quot;0&quot;,&quot;isAdditionalSkill&quot;:false}]</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillRequirementsResourceItem</name>
            <value>
                <elementReference>AggregatedSkillRequirement</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillInputType</name>
            <value>
                <stringValue>variable</stringValue>
            </value>
        </inputParameters>
        <nameSegment>addSkillRequirements</nameSegment>
        <outputParameters>
            <assignToReference>AggregatedSkillRequirement</assignToReference>
            <name>skillRequirements</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Engagement_Alert_skilled_person</name>
        <label>Engagement Alert skilled person</label>
        <locationX>578</locationX>
        <locationY>1166</locationY>
        <actionName>routeWork</actionName>
        <actionType>routeWork</actionType>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Initialize_Fault_Path_Details</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>psrInteractionInfo</name>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelId</name>
            <value>
                <stringValue>0N98Y00000115jUSAQ</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelLabel</name>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelDevName</name>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>routingType</name>
            <value>
                <stringValue>SkillsBased</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>routingConfigId</name>
            <value>
                <elementReference>idEngagementAlert</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>routingConfigLabel</name>
        </inputParameters>
        <inputParameters>
            <name>queueId</name>
        </inputParameters>
        <inputParameters>
            <name>agentId</name>
        </inputParameters>
        <inputParameters>
            <name>agentLabel</name>
        </inputParameters>
        <inputParameters>
            <name>queueLabel</name>
        </inputParameters>
        <inputParameters>
            <name>skillOption</name>
            <value>
                <stringValue>DefineSkillRequirements</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillRequirementsResourceItem</name>
            <value>
                <elementReference>AggregatedSkillRequirement</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>botId</name>
        </inputParameters>
        <inputParameters>
            <name>botLabel</name>
        </inputParameters>
        <inputParameters>
            <name>isRoutingConfigVariable</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>routeWork</nameSegment>
    </actionCalls>
    <actionCalls>
        <description>This will create a skill requirement for Engagement Alerts only</description>
        <name>Engagement_based_Skill_Requirement</name>
        <label>Engagement based Skill Requirement</label>
        <locationX>578</locationX>
        <locationY>1058</locationY>
        <actionName>addSkillRequirements</actionName>
        <actionType>addSkillRequirements</actionType>
        <connector>
            <targetReference>Engagement_Alert_skilled_person</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>skillRequirement</name>
            <value>
                <stringValue>[{&quot;id&quot;:&quot;5beae352&quot;,&quot;skillId&quot;:&quot;{!Get_Engagement_Alert_Skills.Id}&quot;,&quot;skillLabel&quot;:&quot;&quot;,&quot;skillLevel&quot;:&quot;1&quot;,&quot;skillPriority&quot;:&quot;0&quot;,&quot;isAdditionalSkill&quot;:false}]</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillRequirementsResourceItem</name>
            <value>
                <elementReference>AggregatedSkillRequirement</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillInputType</name>
            <value>
                <stringValue>variable</stringValue>
            </value>
        </inputParameters>
        <nameSegment>addSkillRequirements</nameSegment>
        <outputParameters>
            <assignToReference>AggregatedSkillRequirement</assignToReference>
            <name>skillRequirements</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <description>Assign SkillLevel 10 for the Personal Skill</description>
        <name>Gold_Silver_Bronze_Routing</name>
        <label>Gold/Silver/Bronze Routing</label>
        <locationX>4054</locationX>
        <locationY>1766</locationY>
        <actionName>addSkillRequirements</actionName>
        <actionType>addSkillRequirements</actionType>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Case_re_Routed</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>skillRequirement</name>
            <value>
                <stringValue>[{&quot;id&quot;:&quot;b75621e4&quot;,&quot;skillId&quot;:&quot;{!PersonaSkill.Id}&quot;,&quot;skillLabel&quot;:&quot;&quot;,&quot;skillLevel&quot;:&quot;10&quot;,&quot;skillPriority&quot;:&quot;0&quot;,&quot;isAdditionalSkill&quot;:false},{&quot;id&quot;:&quot;1b4881aa&quot;,&quot;skillId&quot;:&quot;{!SupportLevelSkill.Id}&quot;,&quot;skillLabel&quot;:&quot;&quot;,&quot;skillLevel&quot;:&quot;1&quot;,&quot;skillPriority&quot;:&quot;0&quot;,&quot;isAdditionalSkill&quot;:false}]</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillRequirementsResourceItem</name>
            <value>
                <elementReference>AggregatedSkillRequirement</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillInputType</name>
            <value>
                <stringValue>variable</stringValue>
            </value>
        </inputParameters>
        <nameSegment>addSkillRequirements</nameSegment>
        <outputParameters>
            <assignToReference>AggregatedSkillRequirement</assignToReference>
            <name>skillRequirements</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Route_to_High_skilled_person</name>
        <label>Route to High skilled person</label>
        <locationX>1964</locationX>
        <locationY>3368</locationY>
        <actionName>routeWork</actionName>
        <actionType>routeWork</actionType>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Initialize_Fault_Path_Details</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>psrInteractionInfo</name>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelId</name>
            <value>
                <stringValue>0N98Y00000115jUSAQ</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelLabel</name>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelDevName</name>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>routingType</name>
            <value>
                <stringValue>SkillsBased</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>routingConfigId</name>
            <value>
                <elementReference>SkillBasedRoutingConfigId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>routingConfigLabel</name>
        </inputParameters>
        <inputParameters>
            <name>queueId</name>
        </inputParameters>
        <inputParameters>
            <name>agentId</name>
        </inputParameters>
        <inputParameters>
            <name>agentLabel</name>
        </inputParameters>
        <inputParameters>
            <name>queueLabel</name>
        </inputParameters>
        <inputParameters>
            <name>skillOption</name>
            <value>
                <stringValue>DefineSkillRequirements</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillRequirementsResourceItem</name>
            <value>
                <elementReference>AggregatedSkillRequirement</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>botId</name>
        </inputParameters>
        <inputParameters>
            <name>botLabel</name>
        </inputParameters>
        <inputParameters>
            <name>isRoutingConfigVariable</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>routeWork</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Route_to_Queue</name>
        <label>Route to Queue</label>
        <locationX>842</locationX>
        <locationY>458</locationY>
        <actionName>routeWork</actionName>
        <actionType>routeWork</actionType>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Initialize_Fault_Path_Details</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>CaseRecord.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelId</name>
            <value>
                <stringValue>0N98Y00000115jUSAQ</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelLabel</name>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelDevName</name>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>routingType</name>
            <value>
                <stringValue>SkillsBased</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>routingConfigId</name>
            <value>
                <elementReference>SkillBasedRoutingConfigId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>routingConfigLabel</name>
        </inputParameters>
        <inputParameters>
            <name>queueId</name>
        </inputParameters>
        <inputParameters>
            <name>agentId</name>
        </inputParameters>
        <inputParameters>
            <name>agentLabel</name>
        </inputParameters>
        <inputParameters>
            <name>queueLabel</name>
        </inputParameters>
        <inputParameters>
            <name>skillOption</name>
            <value>
                <stringValue>DefineSkillRequirements</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillRequirementsResourceItem</name>
            <value>
                <elementReference>AggregatedSkillRequirement</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>botId</name>
        </inputParameters>
        <inputParameters>
            <name>botLabel</name>
        </inputParameters>
        <inputParameters>
            <name>isRoutingConfigVariable</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>routeWork</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Route_to_Specialized_skilled_person</name>
        <label>Route to Specialized skilled person</label>
        <locationX>50</locationX>
        <locationY>1166</locationY>
        <actionName>routeWork</actionName>
        <actionType>routeWork</actionType>
        <faultConnector>
            <targetReference>Initialize_Fault_Path_Details</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>psrInteractionInfo</name>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelId</name>
            <value>
                <stringValue>0N98Y00000115jUSAQ</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelLabel</name>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelDevName</name>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>routingType</name>
            <value>
                <stringValue>SkillsBased</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>routingConfigId</name>
            <value>
                <elementReference>SkillBasedRoutingConfigId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>routingConfigLabel</name>
        </inputParameters>
        <inputParameters>
            <name>queueId</name>
        </inputParameters>
        <inputParameters>
            <name>agentId</name>
        </inputParameters>
        <inputParameters>
            <name>agentLabel</name>
        </inputParameters>
        <inputParameters>
            <name>queueLabel</name>
        </inputParameters>
        <inputParameters>
            <name>skillOption</name>
            <value>
                <stringValue>DefineSkillRequirements</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillRequirementsResourceItem</name>
            <value>
                <elementReference>AggregatedSkillRequirement</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>botId</name>
        </inputParameters>
        <inputParameters>
            <name>botLabel</name>
        </inputParameters>
        <inputParameters>
            <name>isRoutingConfigVariable</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>routeWork</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Route_to_User_with_Priority_1</name>
        <label>Route to User with Priority 1</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <actionName>routeWork</actionName>
        <actionType>routeWork</actionType>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Initialize_Fault_Path_Details</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>CaseRecord.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelId</name>
            <value>
                <stringValue>0N98Y00000115jUSAQ</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelLabel</name>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelDevName</name>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>routingType</name>
            <value>
                <stringValue>Agent</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>routingConfigId</name>
            <value>
                <elementReference>SkillBasedRoutingConfigId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>routingConfigLabel</name>
        </inputParameters>
        <inputParameters>
            <name>agentId</name>
            <value>
                <elementReference>CaseRecord.OwnerId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>agentLabel</name>
        </inputParameters>
        <inputParameters>
            <name>isAgentRequired</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillOption</name>
        </inputParameters>
        <inputParameters>
            <name>skillRequirementsResourceItem</name>
        </inputParameters>
        <inputParameters>
            <name>isAgentVariable</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>botId</name>
        </inputParameters>
        <inputParameters>
            <name>botLabel</name>
        </inputParameters>
        <inputParameters>
            <name>isRoutingConfigVariable</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>routeWork</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Skills_and_Member_level_10</name>
        <label>Skills and Member level 10</label>
        <locationX>1370</locationX>
        <locationY>2432</locationY>
        <actionName>addSkillRequirements</actionName>
        <actionType>addSkillRequirements</actionType>
        <connector>
            <targetReference>Case_re_Routed</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>skillRequirement</name>
            <value>
                <stringValue>[{&quot;id&quot;:&quot;3a3610f0&quot;,&quot;skillId&quot;:&quot;{!PersonaSkill.Id}&quot;,&quot;skillLabel&quot;:&quot;&quot;,&quot;skillLevel&quot;:&quot;10&quot;,&quot;skillPriority&quot;:&quot;0&quot;,&quot;isAdditionalSkill&quot;:false},{&quot;id&quot;:&quot;4c58fef4&quot;,&quot;skillId&quot;:&quot;{!SupportLevelSkill.Id}&quot;,&quot;skillLabel&quot;:&quot;&quot;,&quot;skillLevel&quot;:&quot;1&quot;,&quot;skillPriority&quot;:&quot;0&quot;,&quot;isAdditionalSkill&quot;:false}]</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillRequirementsResourceItem</name>
            <value>
                <elementReference>AggregatedSkillRequirement</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillInputType</name>
            <value>
                <stringValue>variable</stringValue>
            </value>
        </inputParameters>
        <nameSegment>addSkillRequirements</nameSegment>
        <outputParameters>
            <assignToReference>AggregatedSkillRequirement</assignToReference>
            <name>skillRequirements</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Skills_and_Micro_level_10</name>
        <label>Skills and Micro level 10</label>
        <locationX>2162</locationX>
        <locationY>2432</locationY>
        <actionName>addSkillRequirements</actionName>
        <actionType>addSkillRequirements</actionType>
        <connector>
            <targetReference>Case_re_Routed</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>skillRequirement</name>
            <value>
                <stringValue>[{&quot;id&quot;:&quot;3a3610f0&quot;,&quot;skillId&quot;:&quot;{!PersonaSkill.Id}&quot;,&quot;skillLabel&quot;:&quot;&quot;,&quot;skillLevel&quot;:&quot;1&quot;,&quot;skillPriority&quot;:&quot;0&quot;,&quot;isAdditionalSkill&quot;:false},{&quot;id&quot;:&quot;4c58fef4&quot;,&quot;skillId&quot;:&quot;{!SupportLevelSkill.Id}&quot;,&quot;skillLabel&quot;:&quot;&quot;,&quot;skillLevel&quot;:&quot;1&quot;,&quot;skillPriority&quot;:&quot;0&quot;,&quot;isAdditionalSkill&quot;:false},{&quot;id&quot;:&quot;0e524766&quot;,&quot;skillId&quot;:&quot;{!CompanySizeSkill.Id}&quot;,&quot;skillLabel&quot;:&quot;&quot;,&quot;skillLevel&quot;:&quot;1&quot;,&quot;skillPriority&quot;:&quot;0&quot;,&quot;isAdditionalSkill&quot;:false}]</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillRequirementsResourceItem</name>
            <value>
                <elementReference>AggregatedSkillRequirement</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillInputType</name>
            <value>
                <stringValue>variable</stringValue>
            </value>
        </inputParameters>
        <nameSegment>addSkillRequirements</nameSegment>
        <outputParameters>
            <assignToReference>AggregatedSkillRequirement</assignToReference>
            <name>skillRequirements</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Skills_for_Gusto_Global_Routing</name>
        <label>Skills for Gusto Global Routing</label>
        <locationX>1106</locationX>
        <locationY>1058</locationY>
        <actionName>addSkillRequirements</actionName>
        <actionType>addSkillRequirements</actionType>
        <connector>
            <targetReference>Route_to_High_skilled_person</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>skillRequirement</name>
            <value>
                <stringValue>[{&quot;id&quot;:&quot;0406ce33&quot;,&quot;skillId&quot;:&quot;{!Get_Gusto_Global_Skill.Id}&quot;,&quot;skillLabel&quot;:&quot;&quot;,&quot;skillLevel&quot;:&quot;1&quot;,&quot;skillPriority&quot;:&quot;0&quot;,&quot;isAdditionalSkill&quot;:false}]</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillRequirementsResourceItem</name>
            <value>
                <elementReference>AggregatedSkillRequirement</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillInputType</name>
            <value>
                <stringValue>variable</stringValue>
            </value>
        </inputParameters>
        <nameSegment>addSkillRequirements</nameSegment>
        <outputParameters>
            <assignToReference>AggregatedSkillRequirement</assignToReference>
            <name>skillRequirements</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Specialization_based_Skill_Requirement</name>
        <label>Specialization based Skill Requirement</label>
        <locationX>50</locationX>
        <locationY>1058</locationY>
        <actionName>addSkillRequirements</actionName>
        <actionType>addSkillRequirements</actionType>
        <connector>
            <targetReference>Route_to_Specialized_skilled_person</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>skillRequirement</name>
            <value>
                <stringValue>[{&quot;id&quot;:&quot;5beae352&quot;,&quot;skillId&quot;:&quot;{!Get_Specialization_Skills.Id}&quot;,&quot;skillLabel&quot;:&quot;&quot;,&quot;skillLevel&quot;:&quot;1&quot;,&quot;skillPriority&quot;:&quot;0&quot;,&quot;isAdditionalSkill&quot;:false}]</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillRequirementsResourceItem</name>
            <value>
                <elementReference>AggregatedSkillRequirement</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillInputType</name>
            <value>
                <stringValue>variable</stringValue>
            </value>
        </inputParameters>
        <nameSegment>addSkillRequirements</nameSegment>
        <outputParameters>
            <assignToReference>AggregatedSkillRequirement</assignToReference>
            <name>skillRequirements</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Assign_Company_Size_Skill</name>
        <label>Assign Company Size Skill</label>
        <locationX>5022</locationX>
        <locationY>1274</locationY>
        <assignmentItems>
            <assignToReference>CompanySizeSkill</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Skills_Loop</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Skills_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign the Engagement Accountant Routing Config Id to SkillBasedRoutingConfigId.</description>
        <name>Assign_Engagement_Accountant_Id</name>
        <label>Assign Engagement Accountant Id</label>
        <locationX>3218</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>SkillBasedRoutingConfigId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Setup.Engagement_Flow_Configuration__c.Engagement_Accountant_Id__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_for_Case_Fields</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign the Engagement Benefits Routing Config Id to SkillBasedRoutingConfigId.</description>
        <name>Assign_Engagement_Benefits_Id</name>
        <label>Assign Engagement Benefits Id</label>
        <locationX>3746</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>SkillBasedRoutingConfigId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Setup.Engagement_Flow_Configuration__c.Engagement_Benefits_Id__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_for_Case_Fields</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign the Engagement Case Config Id to SkillBasedRoutingConfigId.</description>
        <name>Assign_Engagement_Case_Id</name>
        <label>Assign Engagement Case Id</label>
        <locationX>4010</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>SkillBasedRoutingConfigId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Setup.Engagement_Flow_Configuration__c.Engagement_Case_ID__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_for_Case_Fields</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign the Engagement Gold/Silver Routing Config Id to SkillBasedRoutingConfigId.</description>
        <name>Assign_Engagement_Gold_Silver_Id</name>
        <label>Assign Engagement Gold/Silver Id</label>
        <locationX>2690</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>SkillBasedRoutingConfigId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Setup.Engagement_Flow_Configuration__c.Engagement_Gold_Silver_Id__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_for_Case_Fields</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign the Engagement Grower Routing Config Id to SkillBasedRoutingConfigId.</description>
        <name>Assign_Engagement_Grower_Id</name>
        <label>Assign Engagement Grower Id</label>
        <locationX>2426</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>SkillBasedRoutingConfigId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Setup.Engagement_Flow_Configuration__c.Engagement_Grower_Id__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_for_Case_Fields</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign the Engagement Premium/Priority Support Routing Config Id to SkillBasedRoutingConfigId.</description>
        <name>Assign_Engagement_Premium_Priority_Support_Id</name>
        <label>Assign Engagement Premium/Priority Support Id</label>
        <locationX>2954</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>SkillBasedRoutingConfigId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Setup.Engagement_Flow_Configuration__c.Engagement_Premium_Priority_Support_Id__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_for_Case_Fields</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign the Engagement Gusto Global Routing Config Id to SkillBasedRoutingConfigId.</description>
        <name>Assign_Gusto_Global_Id</name>
        <label>Assign Gusto Global Id</label>
        <locationX>3482</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>SkillBasedRoutingConfigId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Setup.Engagement_Flow_Configuration__c.Engagement_Gusto_Global_Id__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_for_Case_Fields</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Persona_Skill</name>
        <label>Assign Persona Skill</label>
        <locationX>3966</locationX>
        <locationY>1274</locationY>
        <assignmentItems>
            <assignToReference>PersonaSkill</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Skills_Loop</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Skills_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Priority_P0_TaDa_EOY_skill</name>
        <label>Assign Priority P0 TaDa EOY skill</label>
        <locationX>2162</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>SkillBasedRoutingConfigId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Setup.Engagement_Flow_Configuration__c.Engagement_Cases_Offline_Id__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_for_Case_Fields</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign the Engagement Case Re-Route Routing Config Id to SkillBasedRoutingConfigId.</description>
        <name>Assign_Re_route_Priority</name>
        <label>Assign Re-route Priority</label>
        <locationX>1898</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>SkillBasedRoutingConfigId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Setup.Engagement_Flow_Configuration__c.Engagement_Case_Offline_ReRoute_ID__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_for_Case_Fields</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Routing_Priority_1</name>
        <label>Assign Routing Priority 1</label>
        <locationX>1634</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>SkillBasedRoutingConfigId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Setup.Engagement_Flow_Configuration__c.Engagement_Case_Route_Prior_Agent_ID__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_for_Case_Fields</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Routing_Priority_1_1</name>
        <label>Assign Routing Priority 1 W/o Skills</label>
        <locationX>842</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>SkillBasedRoutingConfigId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Setup.Engagement_Flow_Configuration__c.Engagement_Case_Route_Prior_Agent_ID__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Owner_Identity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Support_Level_Skill</name>
        <label>Assign Support Level Skill</label>
        <locationX>4494</locationX>
        <locationY>1274</locationY>
        <assignmentItems>
            <assignToReference>SupportLevelSkill</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Skills_Loop</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Skills_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Type_Skill</name>
        <label>Assign Type Skill</label>
        <locationX>4230</locationX>
        <locationY>1274</locationY>
        <assignmentItems>
            <assignToReference>TypeSkill</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Skills_Loop</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Skills_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Initializing Fault Line details for fault paths in objExceptionLogEvent record.</description>
        <name>Initialize_Fault_Path_Details</name>
        <label>Initialize Fault Path Details</label>
        <locationX>314</locationX>
        <locationY>1274</locationY>
        <assignmentItems>
            <assignToReference>objExceptionLogEvent.Message__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>strExceptionLogMessage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objExceptionLogEvent.EventUuid</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.InterviewGuid</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objExceptionLogEvent.Method_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentStage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objExceptionLogEvent.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Flow</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Exception_Log_Event</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Check if case is being routed.</description>
        <name>Case_In_route</name>
        <label>Case In-route?</label>
        <locationX>1964</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>Determine_Routing_Priority</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Priority_1_W_O_Skills</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>blnPriorityOneWOSkills</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Routing_Priority_1_1</targetReference>
            </connector>
            <label>Priority 1 W/O Skills</label>
        </rules>
        <rules>
            <name>Default_Priority_1_Routing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>blnDefaultPriorityOneRouting</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Routing_Priority_1</targetReference>
            </connector>
            <label>Default Priority 1 Routing</label>
        </rules>
        <rules>
            <name>In_route</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BoolCaseInRoute</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Re_route_Priority</targetReference>
            </connector>
            <label>In-route</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check if case is being routed.</description>
        <name>Case_re_Routed</name>
        <label>Case In-route?</label>
        <locationX>2294</locationX>
        <locationY>2708</locationY>
        <defaultConnector>
            <targetReference>Skill_Level_Check</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BoolCaseInRoute</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Default_Add_Type_Skill_Level_10</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>This will decide if we need to route based on the Case parameters</description>
        <name>Check_for_Case_Fields</name>
        <label>Check for Case Fields</label>
        <locationX>1964</locationX>
        <locationY>842</locationY>
        <defaultConnector>
            <targetReference>Get_Skills</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Specialization_present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseRecord.Specialization__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CaseRecord.Specialization__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Specialization_Skills</targetReference>
            </connector>
            <label>Specialization Present?</label>
        </rules>
        <rules>
            <name>Engagement_Alert_present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseRecord.Engagement_Alert__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CaseRecord.Engagement_Alert__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CaseRecord.Specialization__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Engagement_Alert_Skills</targetReference>
            </connector>
            <label>Engagement Alert Present?</label>
        </rules>
        <rules>
            <name>Is_Case_Type_Gusto_Global</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseRecord.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Gusto Global</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Gusto_Global_Skill</targetReference>
            </connector>
            <label>Is Case Type Gusto Global?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Tier</name>
        <label>Check Tier</label>
        <locationX>4186</locationX>
        <locationY>1658</locationY>
        <defaultConnector>
            <targetReference>Default_Routing</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Silver_Gold</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>CaseRecord.Account.AM_Tier__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Silver</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CaseRecord.Account.AM_Tier__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Gold</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CaseRecord.Account.AM_Tier__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Bronze</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Gold_Silver_Bronze_Routing</targetReference>
            </connector>
            <label>Silver/Gold/Bronze</label>
        </rules>
    </decisions>
    <decisions>
        <name>Company_size</name>
        <label>Company size?</label>
        <locationX>3570</locationX>
        <locationY>1658</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Micro</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseRecord.Company_Size__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Micro 0-4</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Type</targetReference>
            </connector>
            <label>Micro</label>
        </rules>
        <rules>
            <name>Not_Micro</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>CaseRecord.Company_Size__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Grower 25-49</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CaseRecord.Company_Size__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Grower 50</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CaseRecord.Company_Size__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Standard 5-24</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Default_Admin_routing</targetReference>
            </connector>
            <label>Not Micro</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check for various skills on Case and update the Routing Configuration Id accordingly.</description>
        <name>Determine_Routing_Priority</name>
        <label>Determine Routing Priority</label>
        <locationX>3086</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Assign_Engagement_Case_Id</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Engagement Case</defaultConnectorLabel>
        <rules>
            <name>TaDa_EOY_General_Alert</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseRecord.Specialization__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>TaDa - EOY</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CaseRecord.Engagement_Alert__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>General Alert</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Priority_P0_TaDa_EOY_skill</targetReference>
            </connector>
            <label>TaDa EOY + General Alert</label>
        </rules>
        <rules>
            <name>Admin_Grower</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>CaseRecord.Persona__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Admin</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CaseRecord.Company_Size__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Grower 25-49</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CaseRecord.Company_Size__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Grower 50</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Engagement_Grower_Id</targetReference>
            </connector>
            <label>Admin &amp; Grower</label>
        </rules>
        <rules>
            <name>Accountant_Gold_Silver</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>CaseRecord.Persona__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Accountant</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CaseRecord.Contact.Account.AM_Tier__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Gold</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CaseRecord.Contact.Account.AM_Tier__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Silver</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Engagement_Gold_Silver_Id</targetReference>
            </connector>
            <label>Accountant &amp; Gold/Silver</label>
        </rules>
        <rules>
            <name>Premium_Priority_Support</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>CaseRecord.Contact.Account.Tier__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Premium</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CaseRecord.Contact.Account.Tier__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Legacy Premium</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CaseRecord.Contact.Account.Tier__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Premium CRB</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CaseRecord.Contact.Account.Tier__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Premium Multi-EIN</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>blnIsPrioritySupport</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Engagement_Premium_Priority_Support_Id</targetReference>
            </connector>
            <label>Premium/Priority Support</label>
        </rules>
        <rules>
            <name>Accountant_Persona</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseRecord.Persona__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Accountant</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Engagement_Accountant_Id</targetReference>
            </connector>
            <label>Accountant Persona</label>
        </rules>
        <rules>
            <name>Gusto_Global</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseRecord.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Gusto Global</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Gusto_Global_Id</targetReference>
            </connector>
            <label>Gusto Global</label>
        </rules>
        <rules>
            <name>Benefits_Admin</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseRecord.Persona__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Admin</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CaseRecord.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Benefits</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Engagement_Benefits_Id</targetReference>
            </connector>
            <label>Benefits &amp; Admin</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Persona_Member</name>
        <label>Is Persona Member?</label>
        <locationX>3878</locationX>
        <locationY>1550</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Member</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseRecord.Persona__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Member</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Type</targetReference>
            </connector>
            <label>Yes_Member</label>
        </rules>
        <rules>
            <name>Admin</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseRecord.Persona__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Admin</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Company_size</targetReference>
            </connector>
            <label>Admin</label>
        </rules>
        <rules>
            <name>Accountant</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseRecord.Persona__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Accountant</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Tier</targetReference>
            </connector>
            <label>Accountant</label>
        </rules>
    </decisions>
    <decisions>
        <name>Member_or_Admin</name>
        <label>Member or Admin?</label>
        <locationX>4934</locationX>
        <locationY>2216</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Benefits_Member</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseRecord.Persona__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Member</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Default_Routing</targetReference>
            </connector>
            <label>Member</label>
        </rules>
        <rules>
            <name>Admin_Benefits</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseRecord.Persona__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Admin</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Default_Admin_routing</targetReference>
            </connector>
            <label>Admin</label>
        </rules>
    </decisions>
    <decisions>
        <name>Micro_or_Member</name>
        <label>Micro or Member?</label>
        <locationX>2294</locationX>
        <locationY>2216</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Member</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseRecord.Persona__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Member</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Skills_and_Member_level_10</targetReference>
            </connector>
            <label>Member</label>
        </rules>
        <rules>
            <name>Micro_payroll_Taxes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseRecord.Company_Size__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Micro 0-4</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Skills_and_Micro_level_10</targetReference>
            </connector>
            <label>Micro</label>
        </rules>
    </decisions>
    <decisions>
        <description>Identify Owner as a User or Queue</description>
        <name>Owner_Identity</name>
        <label>Owner Identity?</label>
        <locationX>842</locationX>
        <locationY>350</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>User_Owner_Identity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Boolean_OwnerIsaUser</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Route_to_User_with_Priority_1</targetReference>
            </connector>
            <label>User</label>
        </rules>
        <rules>
            <name>Queue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Boolean_OwnerIsaQueue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Route_to_Queue</targetReference>
            </connector>
            <label>Queue</label>
        </rules>
    </decisions>
    <decisions>
        <description>Skill Level on the Type skill is stored on the case</description>
        <name>Skill_Level_Check</name>
        <label>Skill Level Check</label>
        <locationX>3086</locationX>
        <locationY>2816</locationY>
        <defaultConnector>
            <targetReference>Default_Add_Type_Skill_Level_10</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Level_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SkillLevelCRC</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Type_Skill_Level_1</targetReference>
            </connector>
            <label>Level 1</label>
        </rules>
        <rules>
            <name>Level_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SkillLevelCRC</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>2.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Type_Skill_Level_2</targetReference>
            </connector>
            <label>Level 2</label>
        </rules>
        <rules>
            <name>Level_3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SkillLevelCRC</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>3.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Type_Skill_Level_3</targetReference>
            </connector>
            <label>Level 3</label>
        </rules>
        <rules>
            <name>Level_4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SkillLevelCRC</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>4.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Type_Skill_Level_4</targetReference>
            </connector>
            <label>Level 4</label>
        </rules>
        <rules>
            <name>Level_5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SkillLevelCRC</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>5.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Type_Skill_Level_5</targetReference>
            </connector>
            <label>Level 5</label>
        </rules>
        <rules>
            <name>Level_6</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SkillLevelCRC</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>6.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Type_Skill_Level_6</targetReference>
            </connector>
            <label>Level 6</label>
        </rules>
        <rules>
            <name>Level_7</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SkillLevelCRC</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>7.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Type_Skill_Level_7</targetReference>
            </connector>
            <label>Level 7</label>
        </rules>
        <rules>
            <name>Level_8</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SkillLevelCRC</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>8.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Type_Skill_Level_8</targetReference>
            </connector>
            <label>Level 8</label>
        </rules>
        <rules>
            <name>Level_9</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SkillLevelCRC</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>9.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Type_Skill_Level_9</targetReference>
            </connector>
            <label>Level 9</label>
        </rules>
        <rules>
            <name>Level_10</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SkillLevelCRC</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>10.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Type_Skill_Level_10</targetReference>
            </connector>
            <label>Level 10</label>
        </rules>
    </decisions>
    <decisions>
        <name>Type</name>
        <label>Type?</label>
        <locationX>3878</locationX>
        <locationY>2108</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Payroll_Taxes</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>CaseRecord.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Payroll</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CaseRecord.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Taxes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Micro_or_Member</targetReference>
            </connector>
            <label>Payroll/Taxes</label>
        </rules>
        <rules>
            <name>Benefits</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>CaseRecord.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Benefits</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CaseRecord.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>TAdA</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Member_or_Admin</targetReference>
            </connector>
            <label>Benefits/ TAdA</label>
        </rules>
    </decisions>
    <decisions>
        <name>What_skill</name>
        <label>What skill?</label>
        <locationX>4626</locationX>
        <locationY>1166</locationY>
        <defaultConnector>
            <targetReference>Skills_Loop</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Skill not matched</defaultConnectorLabel>
        <rules>
            <name>Skill_Persona</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Skills_Loop.MasterLabel</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>CaseRecord.Persona__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CaseRecord.Persona__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Persona_Skill</targetReference>
            </connector>
            <label>Skill Persona</label>
        </rules>
        <rules>
            <name>SkillType</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Skills_Loop.MasterLabel</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>CaseRecord.Type</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CaseRecord.Type</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Type_Skill</targetReference>
            </connector>
            <label>Skill Type</label>
        </rules>
        <rules>
            <name>Skill_Support_Level</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Skills_Loop.MasterLabel</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>CaseRecord.Support_Level__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CaseRecord.Support_Level__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Support_Level_Skill</targetReference>
            </connector>
            <label>Skill Support Level</label>
        </rules>
        <rules>
            <name>Skill_Company_Size</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Skills_Loop.MasterLabel</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>CaseRecord.Company_Size__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CaseRecord.Company_Size__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Company_Size_Skill</targetReference>
            </connector>
            <label>Skill Company Size</label>
        </rules>
    </decisions>
    <description>- BTE-4447 - Deprecate Team Skill</description>
    <environments>Default</environments>
    <formulas>
        <description>Determines if Account.Additional_Services__c contains &apos;Priority Support&apos;</description>
        <name>blnIsPrioritySupport</name>
        <dataType>Boolean</dataType>
        <expression>IF(INCLUDES({!CaseRecord.Contact.Account.Additional_Services__c}, &apos;Priority Support&apos;), TRUE, FALSE)</expression>
    </formulas>
    <formulas>
        <description>Boolean set to true if the case is owned by a Queue</description>
        <name>Boolean_OwnerIsaQueue</name>
        <dataType>Boolean</dataType>
        <expression>BEGINS({!CaseRecord.OwnerId},&quot;00G&quot;)</expression>
    </formulas>
    <formulas>
        <description>Boolean set to true if the case is owned by a User</description>
        <name>Boolean_OwnerIsaUser</name>
        <dataType>Boolean</dataType>
        <expression>BEGINS({!CaseRecord.OwnerId},&quot;005&quot;)</expression>
    </formulas>
    <formulas>
        <description>Engagement Alert routing configuration Id</description>
        <name>idEngagementAlert</name>
        <dataType>String</dataType>
        <expression>{!$Setup.Engagement_Flow_Configuration__c.Engagement_Alert_Id__c}</expression>
    </formulas>
    <formulas>
        <description>Formula to store the skill level from the Routing Case Reason Classification associated with the case</description>
        <name>SkillLevelCRC</name>
        <dataType>Number</dataType>
        <expression>VALUE(TEXT({!CaseRecord.Routing_Case_Reason_Classification__r.Skill_Level__c}))</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Subflow: Case Omni Routing {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Subflow: Case Omni Routing</label>
    <loops>
        <name>Skills_Loop</name>
        <label>Skills Loop</label>
        <locationX>3878</locationX>
        <locationY>1058</locationY>
        <collectionReference>Get_Skills</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>What_skill</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Is_Persona_Member</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>RoutingFlow</processType>
    <recordCreates>
        <description>Create Exception Log event from fault line details in objExceptionLogEvent</description>
        <name>Exception_Log_Event</name>
        <label>Exception Log Event</label>
        <locationX>314</locationX>
        <locationY>1382</locationY>
        <inputReference>objExceptionLogEvent</inputReference>
    </recordCreates>
    <recordLookups>
        <description>This will get only the Case&apos;s Engagement Alert skill</description>
        <name>Get_Engagement_Alert_Skills</name>
        <label>Get Engagement Alert Skills</label>
        <locationX>578</locationX>
        <locationY>950</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Engagement_based_Skill_Requirement</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MasterLabel</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseRecord.Engagement_Alert__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Skill</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>This will get only the Case&apos;s Gusto Global skill</description>
        <name>Get_Gusto_Global_Skill</name>
        <label>Get Gusto Global Skill</label>
        <locationX>1106</locationX>
        <locationY>950</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Skills_for_Gusto_Global_Routing</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MasterLabel</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseRecord.Type</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Skill</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Skills</name>
        <label>Get Skills</label>
        <locationX>3878</locationX>
        <locationY>950</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Skills_Loop</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>MasterLabel</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseRecord.Persona__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>MasterLabel</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseRecord.Type</elementReference>
            </value>
        </filters>
        <filters>
            <field>MasterLabel</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseRecord.Support_Level__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>MasterLabel</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseRecord.Company_Size__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Skill</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>This will get only the Case&apos;s Specialization skill</description>
        <name>Get_Specialization_Skills</name>
        <label>Get Specialization Skills</label>
        <locationX>50</locationX>
        <locationY>950</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Specialization_based_Skill_Requirement</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MasterLabel</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseRecord.Specialization__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Skill</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>1838</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Case_In_route</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <description>Exception Log Message containing flow details in a fault path.</description>
        <name>strExceptionLogMessage</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;p&gt;Fault Message: {!$Flow.FaultMessage}&lt;/p&gt;&lt;p&gt;----&lt;/p&gt;&lt;p&gt;Interview Guid: {!$Flow.InterviewGuid}&lt;/p&gt;&lt;p&gt;----&lt;/p&gt;&lt;p&gt;Current Record: {!$Flow.CurrentRecord}&lt;/p&gt;&lt;p&gt;----&lt;/p&gt;&lt;p&gt;You can find failed flow interviews with the link below. The link below is for Production failed interviews, but if you would like to find them in another environment in Setup, simply search for Paused and Failed Flow Interviews in Setups Quick Find bar, and switch to the All Failed Flow Interviews List View. You can use the interview &quot;Interview Guid&quot; above to locate this specific failures.&amp;nbsp;&amp;nbsp;&lt;/p&gt;&lt;p&gt;https://gusto.lightning.force.com/lightning/setup/Pausedflows/home&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>AggregatedSkillRequirement</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SkillRequirement</objectType>
    </variables>
    <variables>
        <description>By Default route the case with Priority 1</description>
        <name>blnDefaultPriorityOneRouting</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>Set PSR to default priority 1 without Skills</description>
        <name>blnPriorityOneWOSkills</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>Boolean to store value from Omni skill flow</description>
        <name>BoolCaseInRoute</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>CaseRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>CompanySizeSkill</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Skill</objectType>
    </variables>
    <variables>
        <description>Exception Log Event Object to capture fault path details.</description>
        <name>objExceptionLogEvent</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Exception_Log_Event__e</objectType>
    </variables>
    <variables>
        <name>PersonaSkill</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Skill</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>This will hold the Routing Config Id based on the various skills on Case.</description>
        <name>SkillBasedRoutingConfigId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SupportLevelSkill</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Skill</objectType>
    </variables>
    <variables>
        <name>TypeSkill</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Skill</objectType>
    </variables>
</Flow>
