force-app/main/default/flows/SubFlow_BT_Intro_Email.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Template: BT_Core_or_Complete_Intro_Email	
Email Alert: Benefits_Transfer_Intro_Email_for_Core_Complete_TADA</description>
        <name>Intro_Email_BT_Email_Template</name>
        <label>Intro Email BT Email Template</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <actionName>Case.Benefits_Transfer_Intro_Email_for_Core_Complete</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Create_Email_Message_Non_TadA_or_BOR</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Benefits_Transfer_Intro_Email_for_Core_Complete</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Update_Email_Message</name>
        <label>Update Email Message</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <actionName>EmailMessageTriggerHelper</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>list_Ids</name>
            <value>
                <elementReference>Get_Case_Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>EmailMessageTriggerHelper</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <decisions>
        <name>BO_Order_Type_BOR_TaDA_or_BOR</name>
        <label>BO Order Type - BOR + TaDA or BOR</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <defaultConnectorLabel>Default</defaultConnectorLabel>
        <rules>
            <name>BOR_TaDA_or_BOR</name>
            <conditionLogic>(1 OR 5) AND (2 OR (3 AND 4))</conditionLogic>
            <conditions>
                <leftValueReference>Get_Case_Record.Benefit_Order__r.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BOR + TAdA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Case_Record.Benefit_Order__r.Is_Multi_EIN__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Case_Record.Benefit_Order__r.Is_Multi_EIN__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Case_Record.Account.ParentId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Case_Record.Benefit_Order__r.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BOR</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Intro_Email_BT_Email_Template</targetReference>
            </connector>
            <label>BOR TaDA or BOR</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>LABEL_COMPLETE</name>
        <dataType>String</dataType>
        <expression>{!$Setup.Tier_Config__c.Old_Tier_2__c}</expression>
    </formulas>
    <formulas>
        <name>LABEL_CONCIERGE</name>
        <dataType>String</dataType>
        <expression>{!$Setup.Tier_Config__c.Old_Tier_3__c}</expression>
    </formulas>
    <formulas>
        <name>LABEL_CORE</name>
        <dataType>String</dataType>
        <expression>{!$Setup.Tier_Config__c.Old_Tier_1__c}</expression>
    </formulas>
    <formulas>
        <name>LABEL_PLUS</name>
        <dataType>String</dataType>
        <expression>{!$Setup.Tier_Config__c.New_Tier_2__c}</expression>
    </formulas>
    <formulas>
        <name>LABEL_SIMPLE</name>
        <dataType>String</dataType>
        <expression>{!$Setup.Tier_Config__c.New_Tier_1__c}</expression>
    </formulas>
    <interviewLabel>SubFlow: BT Intro Email {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SubFlow: Benefit Transfer Intro Email</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Email_Message_Non_TadA_or_BOR</name>
        <label>Create Email Message Non TadA or BOR</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <assignRecordIdToReference>EmailMessage.Id</assignRecordIdToReference>
        <connector>
            <targetReference>Update_Email_Message</targetReference>
        </connector>
        <inputAssignments>
            <field>Email_Template_Name__c</field>
            <value>
                <stringValue>BT_Core_or_Complete_Intro_Email</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MessageDate</field>
            <value>
                <elementReference>CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>Get_Case_Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>3</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ToAddress</field>
            <value>
                <elementReference>Get_Case_Record.ContactEmail</elementReference>
            </value>
        </inputAssignments>
        <object>EmailMessage</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Case_Record</name>
        <label>Get Case Record</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>BO_Order_Type_BOR_TaDA_or_BOR</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Case_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CurrentDateTime</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.CurrentDateTime</elementReference>
        </value>
    </variables>
    <variables>
        <name>EmailMessage</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>EmailMessage</objectType>
    </variables>
    <variables>
        <name>RecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
