force-app/main/default/flows/Tax_Res_Send_Open_Case_Reminder.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Tax_Res_Open_Case_Final_Reminder_Case</name>
        <label>Tax_Res_Open_Case_Final_Reminder_Case</label>
        <locationX>578</locationX>
        <locationY>384</locationY>
        <actionName>Case.Tax_Res_Open_Case_Final_Reminder_Case</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Create_Email_Message_0_0</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Tax_Res_Open_Case_Final_Reminder_Case</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Tax_Res_Open_Case_First_Reminder_Case</name>
        <label>Tax_Res_Open_Case_First_Reminder_Case</label>
        <locationX>50</locationX>
        <locationY>276</locationY>
        <actionName>Case.Tax_Res_Open_Case_First_Reminder_Case</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Create_Email_Message</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Tax_Res_Open_Case_First_Reminder_Case</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Tax_Res_Open_Case_Second_Reminder_Case</name>
        <label>Tax_Res_Open_Case_Second_Reminder_Case</label>
        <locationX>314</locationX>
        <locationY>276</locationY>
        <actionName>Case.Tax_Res_Open_Case_Second_Reminder_Case</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Create_Email_Message_0</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Tax_Res_Open_Case_Second_Reminder_Case</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Update_Email_Message_body_with_email_body</name>
        <label>Update_Email_Message_body_with_email_body</label>
        <locationX>182</locationX>
        <locationY>695</locationY>
        <actionName>EmailMessageTriggerHelper</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>list_Ids</name>
            <value>
                <elementReference>CaseId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>EmailMessageTriggerHelper</nameSegment>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <description>Added a record type filter
Corrected Email Alerts used in this flow
Corrected XN Business Days From Last Notification field to be date/time.
Added Email Message creation
Added Email Message body updation</description>
    <environments>Default</environments>
    <interviewLabel>Tax Res Send Open Case Reminder {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Tax Res Send Open Case Reminder</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Email_Message</name>
        <label>Create_Email_Message</label>
        <locationX>50</locationX>
        <locationY>384</locationY>
        <connector>
            <targetReference>Update_Email_Message_body_with_email_body</targetReference>
        </connector>
        <inputAssignments>
            <field>Email_Template_Name__c</field>
            <value>
                <stringValue>Tax_Res_Open_Case_First_Reminder</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FromAddress</field>
            <value>
                <stringValue>support@gusto.com</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>CaseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>3</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ToAddress</field>
            <value>
                <elementReference>$Record.Contact.Email</elementReference>
            </value>
        </inputAssignments>
        <object>EmailMessage</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Email_Message_0</name>
        <label>Create_Email_Message</label>
        <locationX>314</locationX>
        <locationY>384</locationY>
        <connector>
            <targetReference>Update_Email_Message_body_with_email_body</targetReference>
        </connector>
        <inputAssignments>
            <field>Email_Template_Name__c</field>
            <value>
                <stringValue>Tax_Res_Open_Case_Second_Reminder</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FromAddress</field>
            <value>
                <stringValue>support@gusto.com</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>CaseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>3</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ToAddress</field>
            <value>
                <elementReference>$Record.Contact.Email</elementReference>
            </value>
        </inputAssignments>
        <object>EmailMessage</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Email_Message_0_0</name>
        <label>Create_Email_Message</label>
        <locationX>578</locationX>
        <locationY>492</locationY>
        <connector>
            <targetReference>Update_Email_Message_body_with_email_body</targetReference>
        </connector>
        <inputAssignments>
            <field>Email_Template_Name__c</field>
            <value>
                <stringValue>Tax_Res_Open_Case_Final_Reminder</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FromAddress</field>
            <value>
                <stringValue>support@gusto.com</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>CaseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>3</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ToAddress</field>
            <value>
                <elementReference>$Record.Contact.Email</elementReference>
            </value>
        </inputAssignments>
        <object>EmailMessage</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordUpdates>
        <name>Tax_Res_Update_Status_as_Solve</name>
        <label>Tax Res Update Status as Solve</label>
        <locationX>578</locationX>
        <locationY>276</locationY>
        <connector>
            <targetReference>Tax_Res_Open_Case_Final_Reminder_Case</targetReference>
        </connector>
        <inputAssignments>
            <field>Action_Taken__c</field>
            <value>
                <stringValue>No actions taken</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Customer_Actions_Required__c</field>
            <value>
                <stringValue>No customer actions required</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Customer_Journey__c</field>
            <value>
                <stringValue>Client Unresponsive</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shelved_Reason__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Unresponsive_Customer__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Shelved</stringValue>
            </value>
        </filters>
        <filters>
            <field>Shelved_Reason__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Waiting for customer action</stringValue>
            </value>
        </filters>
        <filters>
            <field>Email_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Awaiting response</stringValue>
            </value>
        </filters>
        <filters>
            <field>Record_Type_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Tax Res</stringValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>Update</recordTriggerType>
        <scheduledPaths>
            <name>First_Reminder</name>
            <connector>
                <targetReference>Tax_Res_Open_Case_First_Reminder_Case</targetReference>
            </connector>
            <label>First Reminder</label>
            <maxBatchSize>1</maxBatchSize>
            <offsetNumber>1</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <recordField>X2_Business_Days_From_Last_Notification__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>Second_Reminder</name>
            <connector>
                <targetReference>Tax_Res_Open_Case_Second_Reminder_Case</targetReference>
            </connector>
            <label>Second Reminder</label>
            <maxBatchSize>1</maxBatchSize>
            <offsetNumber>1</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <recordField>X5_Business_Days_From_Last_Notification__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>Final_reminder</name>
            <connector>
                <targetReference>Tax_Res_Update_Status_as_Solve</targetReference>
            </connector>
            <label>Final reminder</label>
            <maxBatchSize>1</maxBatchSize>
            <offsetNumber>1</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <recordField>XN_Business_Days_From_Last_Notification__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <description>For Tax Res</description>
        <name>CaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Record.Id</elementReference>
        </value>
    </variables>
    <variables>
        <name>CaseIdList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
