force-app/main/default/flows/User_Audit_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Send an email to the user before deactivating the account</description>
        <name>Alert_User</name>
        <label>Alert User</label>
        <locationX>264</locationX>
        <locationY>576</locationY>
        <actionName>User.Alert_for_User_Audit_Flow</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Update_Notes</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>CurrentUsers.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>User.Alert_for_User_Audit_Flow</nameSegment>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Deactivate_the_User</name>
        <label>Deactivate the User</label>
        <locationX>528</locationX>
        <locationY>576</locationY>
        <assignmentItems>
            <assignToReference>CurrentUsers.IsActive</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentUsers.Notes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Notes</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UsersToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CurrentUsers</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CurrentUsers</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Notes</name>
        <label>Update Notes</label>
        <locationX>264</locationX>
        <locationY>684</locationY>
        <assignmentItems>
            <assignToReference>CurrentUsers.Notes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EmailAlertNotes</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UsersToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CurrentUsers</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CurrentUsers</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Last_Login_Check</name>
        <label>Last Login Check</label>
        <locationX>528</locationX>
        <locationY>468</locationY>
        <defaultConnector>
            <targetReference>CurrentUsers</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Keep Active</defaultConnectorLabel>
        <rules>
            <name>User_Notification</name>
            <conditionLogic>(1 AND 2 AND 3) OR (4 AND 5 AND 6) OR (7 AND 8 AND 9)</conditionLogic>
            <conditions>
                <leftValueReference>CurrentUsers.LastLoginDate</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>LastLoginCheck60Days</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentUsers.Last_Updated_Date_Time__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>LastLoginCheck60Days</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentUsers.LastLoginDate</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>LastLoginCheck90Days</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentUsers.LastLoginDate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentUsers.CreatedDate</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>LastLoginCheck60Days</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentUsers.CreatedDate</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>LastLoginCheck90Days</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentUsers.LastLoginDate</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>LastLoginCheck90Days</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentUsers.Last_Updated_Date_Time__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>LastLoginCheck60Days</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentUsers.Last_Updated_Date_Time__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>LastLoginCheck90Days</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Alert_User</targetReference>
            </connector>
            <label>User Notification</label>
        </rules>
        <rules>
            <name>Deactivate_User</name>
            <conditionLogic>(1 AND 2) OR (2 AND 3 AND 4 )</conditionLogic>
            <conditions>
                <leftValueReference>CurrentUsers.LastLoginDate</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>LastLoginCheck90Days</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentUsers.Last_Updated_Date_Time__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>LastLoginCheck90Days</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentUsers.CreatedDate</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>LastLoginCheck90Days</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentUsers.LastLoginDate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Deactivate_the_User</targetReference>
            </connector>
            <label>Deactivate User</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>LastLoginCheck60Days</name>
        <dataType>DateTime</dataType>
        <expression>NOW() - 60</expression>
    </formulas>
    <formulas>
        <description>It will check if last login check is before 90 days</description>
        <name>LastLoginCheck90Days</name>
        <dataType>DateTime</dataType>
        <expression>NOW() - 90</expression>
    </formulas>
    <interviewLabel>User Audit Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>User Audit Flow</label>
    <loops>
        <name>CurrentUsers</name>
        <label>Current Users</label>
        <locationX>176</locationX>
        <locationY>360</locationY>
        <collectionReference>Get_Users</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Last_Login_Check</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_User_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Get users to validate</description>
        <name>Get_Users</name>
        <label>Get Users</label>
        <locationX>176</locationX>
        <locationY>252</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CurrentUsers</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>HR_Worker_Information_Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>On Leave</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Integration</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Admin</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>UX Researcher Mng</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>User</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>LastLoginDate</queriedFields>
        <queriedFields>CreatedDate</queriedFields>
        <queriedFields>Type__c</queriedFields>
        <queriedFields>HR_Worker_Information_Status__c</queriedFields>
        <queriedFields>Last_Updated_Date_Time__c</queriedFields>
        <queriedFields>IsActive</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_User_Records</name>
        <label>Update User Records</label>
        <locationX>176</locationX>
        <locationY>960</locationY>
        <inputReference>UsersToUpdate</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Users</targetReference>
        </connector>
        <object>User</object>
        <schedule>
            <frequency>Weekly</frequency>
            <startDate>2023-05-20</startDate>
            <startTime>15:35:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Draft</status>
    <textTemplates>
        <name>EmailAlertNotes</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>User Audit Email Notification Sent</text>
    </textTemplates>
    <textTemplates>
        <name>Notes</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Deactivated by [User Audit Flow] - Due to no recent login.</text>
    </textTemplates>
    <variables>
        <name>TotalRecords</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <description>Holds users to be updated</description>
        <name>UsersToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
</Flow>
