unpackaged/main/default/flows/Account_Team_Member_Delete_Trigger.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>do_DML_on_Account</name>
        <label>do DML on Account</label>
        <locationX>182</locationX>
        <locationY>827</locationY>
        <actionName>SObjectDMLFlowUtil</actionName>
        <actionType>apex</actionType>
        <dataTypeMappings>
            <typeName>T__objRecord</typeName>
            <typeValue>Account</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>objRecord</name>
            <value>
                <elementReference>objAccountToUpdate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>strDMLType</name>
            <value>
                <stringValue>UPDATE</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>strSkipTriggerClass</name>
            <value>
                <stringValue>AccountTriggerHelper</stringValue>
            </value>
        </inputParameters>
        <nameSegment>SObjectDMLFlowUtil</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>AssignCountATM</name>
        <label>AssignCountATM</label>
        <locationX>50</locationX>
        <locationY>503</locationY>
        <assignmentItems>
            <assignToReference>countATM</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>GetExistingCSMTeamMember</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>IfCSMTeamMemberExistis</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>PrepareAccountForUpdate</name>
        <label>PrepareAccountForUpdate</label>
        <locationX>182</locationX>
        <locationY>719</locationY>
        <assignmentItems>
            <assignToReference>objAccountToUpdate.CSM_Owner__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>objAccountToUpdate.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>do_DML_on_Account</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Check whether CSM team member is being deleted</description>
        <name>Check_if_CSM</name>
        <label>Check if CSM</label>
        <locationX>248</locationX>
        <locationY>287</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_CSM</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.TeamMemberRole</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Client Success Manager</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetExistingCSMTeamMember</targetReference>
            </connector>
            <label>Is CSM</label>
        </rules>
    </decisions>
    <decisions>
        <name>IfCSMTeamMemberExistis</name>
        <label>IfCSMTeamMemberExistis</label>
        <locationX>50</locationX>
        <locationY>611</locationY>
        <defaultConnector>
            <targetReference>PrepareAccountForUpdate</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Update Account</defaultConnectorLabel>
        <rules>
            <name>Do_Not_Update_Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>countATM</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <label>Do Not Update Account</label>
        </rules>
    </decisions>
    <description>Trigger flow that runs when an Account Team Member is deleted</description>
    <environments>Default</environments>
    <interviewLabel>Account Team Member: {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account Team Member Delete Trigger</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetExistingCSMTeamMember</name>
        <label>GetExistingCSMTeamMember</label>
        <locationX>50</locationX>
        <locationY>395</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AssignCountATM</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>TeamMemberRole</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Client Success Manager</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>AccountTeamMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>122</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_if_CSM</targetReference>
        </connector>
        <object>AccountTeamMember</object>
        <recordTriggerType>Delete</recordTriggerType>
        <triggerType>RecordBeforeDelete</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>countATM</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>objAccountToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
</Flow>
