unpackaged/main/default/flows/Ardius_Ticket_Creation_Automation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <decisions>
        <name>Check_Is_Ticket_Already_Created</name>
        <label>Check Is Ticket Already Created</label>
        <locationX>182</locationX>
        <locationY>539</locationY>
        <defaultConnectorLabel>Ticket Already Exists</defaultConnectorLabel>
        <rules>
            <name>Is_Ticket_Not_Created_Yet</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Related_Ardius_Ticket.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>TicketRecordTypeId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Ticket_Record_0</targetReference>
            </connector>
            <label>Is Ticket Not Created Yet</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_RecordType_And_Stage_Values</name>
        <label>Check RecordType And Stage Values</label>
        <locationX>380</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Ardius_Opp_And_Stage_Of_Qualified_to_Buy_or_Closed_Won</name>
            <conditionLogic>3 AND 5 AND (1 OR 2 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>isInsertOperation</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Company_Information_Complete__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Company_Information_Complete__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Onboarding_Complete__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Onboarding_Complete__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Related_Ardius_Ticket</targetReference>
            </connector>
            <label>Ardius Opp And Stage Of Qualified to Buy or Closed Won</label>
        </rules>
    </decisions>
    <description>As soon as an Tax Credits Opportunity record is updated to a stage of Qualified to buy or Closed Won, an Ardius ticket record needs to be created against that Opportunity so that the onboarding process can start.</description>
    <environments>Default</environments>
    <formulas>
        <description>Ardius Onboarding Queue Id</description>
        <name>ArdiusOnboardingQueueId</name>
        <dataType>String</dataType>
        <expression>{!$Setup.Ardius_Configuration__c.Ardius_Onboarding_Queue_Id__c}</expression>
    </formulas>
    <formulas>
        <name>isInsertOperation</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <formulas>
        <description>Ticket Record Type Id</description>
        <name>TicketRecordTypeId</name>
        <dataType>String</dataType>
        <expression>{!$Setup.Ardius_Configuration__c.Ticket_Record_Type_Id__c}</expression>
    </formulas>
    <interviewLabel>Ardius Ticket Creation Automation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Ardius Ticket Creation Automation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Ticket_Record_0</name>
        <label>Create Ticket Record</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Accounting_Platform__c</field>
            <value>
                <elementReference>$Record.Accounting_Platform__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CPA__c</field>
            <value>
                <elementReference>$Record.CPA__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>First_Year_Sales__c</field>
            <value>
                <elementReference>$Record.First_Year_Sales__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Founded_Year__c</field>
            <value>
                <elementReference>$Record.Incorporation_Year__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>ArdiusOnboardingQueueId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Profitable__c</field>
            <value>
                <elementReference>$Record.Profitable__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>TicketRecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tax_Year__c</field>
            <value>
                <elementReference>$Record.Tax_Year__c</elementReference>
            </value>
        </inputAssignments>
        <object>Ticket__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Related_Ardius_Ticket</name>
        <label>Get Related Ardius Ticket</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Is_Ticket_Already_Created</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TicketRecordTypeId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Ticket__c</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_RecordType_And_Stage_Values</targetReference>
        </connector>
        <filterFormula>NOT({!$Permission.Bypass_Flows}) 
&amp;&amp; NOT({!$Permission.Bypass_Flow_Opportunity})
&amp;&amp; {!$Record.RecordType.DeveloperName} == &quot;Tax_Credits&quot;</filterFormula>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
