unpackaged/main/default/flows/AutoProvisioning_Sales_Console_Auto_Assignment.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <description>Set the variables to be sent to the fault flow.</description>
        <name>Set_Variables_for_Slack_Message_Fault_Flow</name>
        <label>Set Variables for Slack Message Fault Flow</label>
        <locationX>578</locationX>
        <locationY>1055</locationY>
        <assignmentItems>
            <assignToReference>varCurrentFlowAction</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Remove Salesforce Console Permission Set</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varFlow_Action_Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Remove the Salesforce Console Permission Set from User</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varObject_Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Permission Set Assignment</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRecordID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Call_Slack_Message_Fault_Flow</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set the variables to be sent to the fault flow.</description>
        <name>Set_Variables_for_Slack_Message_Fault_Flow_0</name>
        <label>Set Variables for Slack Message Fault Flow</label>
        <locationX>314</locationX>
        <locationY>1175</locationY>
        <assignmentItems>
            <assignToReference>varCurrentFlowAction</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Remove Sales Console User Permission Set License</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varFlow_Action_Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Remove the Sales Console User permission set license from the user</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varObject_Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Permission Set License Assignment</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRecordID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Call_Slack_Message_Fault_Flow</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set the variables to be sent to the fault flow.</description>
        <name>Set_Variables_for_Slack_Message_Fault_Flow_0_0</name>
        <label>Set Variables for Slack Message Fault Flow</label>
        <locationX>1106</locationX>
        <locationY>1055</locationY>
        <assignmentItems>
            <assignToReference>varCurrentFlowAction</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Add Salesforce Console User Permission Set</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varFlow_Action_Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Add the Salesforce Console User permission set to the user</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varObject_Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Permission Set Assignment</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRecordID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Call_Slack_Message_Fault_Flow</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Determine whether the license and permission set needs to be added or removed from the user</description>
        <name>Add_or_Remove_License_and_Perm_Set</name>
        <label>Add or Remove License and Perm Set</label>
        <locationX>578</locationX>
        <locationY>815</locationY>
        <defaultConnectorLabel>Do Nothing</defaultConnectorLabel>
        <rules>
            <name>Remove_PS_License</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>boolUserHasPSLicense</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>boolUserHasPermSet</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Sales_Console_User__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Remove_Sales_Console_User_Permission_Set_License</targetReference>
            </connector>
            <label>Remove PS License</label>
        </rules>
        <rules>
            <name>Remove_Perm_Set_Then_Remove_License</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>boolUserHasPermSet</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Sales_Console_User__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Remove_Salesforce_Console_Permission_Set</targetReference>
            </connector>
            <label>Remove Perm Set Then Remove License</label>
        </rules>
        <rules>
            <name>Add_Perm_Set</name>
            <conditionLogic>(1 AND 2 AND 3) OR (2 AND 1 AND 4)</conditionLogic>
            <conditions>
                <leftValueReference>boolUserHasPermSet</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Sales_Console_User__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>boolUserHasPSLicense</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>boolUserHasPSLicense</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Salesforce_Console_User_Permission_Set</targetReference>
            </connector>
            <label>Add Perm Set</label>
        </rules>
    </decisions>
    <description>Add or Remove the Sales Console permission set licenses and the Salesforce Console Permission Set.  Uses Sales_Console custom label.   Triggered when Sales Console User field checked on user record.  Used by Bettercloud for auto provisioning.</description>
    <formulas>
        <name>boolUserHasPermSet</name>
        <dataType>Boolean</dataType>
        <expression>!ISBLANK({!varPermSetAssignmentRecordID})</expression>
    </formulas>
    <formulas>
        <name>boolUserHasPSLicense</name>
        <dataType>Boolean</dataType>
        <expression>!ISBLANK({!varPermissionSetLicenseId})</expression>
    </formulas>
    <interviewLabel>AutoProvisioning - Sales Console Auto Assignment {!$Flow.CurrentDateTime}</interviewLabel>
    <label>AutoProvisioning - Sales Console Auto Assignment</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>Add the Salesforce Console User permission set to the user</description>
        <name>Add_Salesforce_Console_User_Permission_Set</name>
        <label>Add Salesforce Console User Permission Set</label>
        <locationX>842</locationX>
        <locationY>935</locationY>
        <faultConnector>
            <targetReference>Set_Variables_for_Slack_Message_Fault_Flow_0_0</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AssigneeId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PermissionSetId</field>
            <value>
                <elementReference>varPermissionSetID</elementReference>
            </value>
        </inputAssignments>
        <object>PermissionSetAssignment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordDeletes>
        <description>Remove the Sales Console User permission set license from the user</description>
        <name>Remove_Sales_Console_User_Permission_Set_License</name>
        <label>Remove Sales Console User Permission Set License</label>
        <locationX>50</locationX>
        <locationY>1055</locationY>
        <faultConnector>
            <targetReference>Set_Variables_for_Slack_Message_Fault_Flow_0</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AssigneeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>PermissionSetLicenseId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varPermissionSetLicenseId</elementReference>
            </value>
        </filters>
        <object>PermissionSetLicenseAssign</object>
    </recordDeletes>
    <recordDeletes>
        <description>Remove the Salesforce Console Permission Set from User</description>
        <name>Remove_Salesforce_Console_Permission_Set</name>
        <label>Remove Salesforce Console Permission Set</label>
        <locationX>50</locationX>
        <locationY>935</locationY>
        <connector>
            <targetReference>Remove_Sales_Console_User_Permission_Set_License</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Set_Variables_for_Slack_Message_Fault_Flow</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AssigneeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>PermissionSetId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varPermissionSetID</elementReference>
            </value>
        </filters>
        <object>PermissionSetAssignment</object>
    </recordDeletes>
    <recordLookups>
        <description>Permission Set License</description>
        <name>Sales_Console_User_PSL</name>
        <label>Sales Console User PSL</label>
        <locationX>578</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SC_PermSetLicense</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SalesConsoleUser</stringValue>
            </value>
        </filters>
        <object>PermissionSetLicense</object>
        <outputAssignments>
            <assignToReference>varSalesConsoleUserPSL</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>Lookup permission set ID for the Access Sales Console</description>
        <name>SC_PermSet</name>
        <label>SC PermSet</label>
        <locationX>578</locationX>
        <locationY>575</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SC_PermSetAssignment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SalesConsoleUser</stringValue>
            </value>
        </filters>
        <object>PermissionSet</object>
        <outputAssignments>
            <assignToReference>varPermissionSetID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <description>Lookup to see if the permission set is already assigned</description>
        <name>SC_PermSetAssignment</name>
        <label>SC PermSetAssignment</label>
        <locationX>578</locationX>
        <locationY>695</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Add_or_Remove_License_and_Perm_Set</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AssigneeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>PermissionSetId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varPermissionSetID</elementReference>
            </value>
        </filters>
        <object>PermissionSetAssignment</object>
        <outputAssignments>
            <assignToReference>varPermSetAssignmentRecordID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varUserHasPermissionSet</assignToReference>
            <field>PermissionSetId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>Lookup user to see if the user is assigned to the Sales Console User permission set license</description>
        <name>SC_PermSetLicense</name>
        <label>SC PermSetLicense</label>
        <locationX>578</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SC_PermSet</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AssigneeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>PermissionSetLicenseId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varSalesConsoleUserPSL</elementReference>
            </value>
        </filters>
        <object>PermissionSetLicenseAssign</object>
        <outputAssignments>
            <assignToReference>varPermissionSetLicenseId</assignToReference>
            <field>PermissionSetLicenseId</field>
        </outputAssignments>
    </recordLookups>
    <start>
        <locationX>452</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Sales_Console_User_PSL</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Sales_Console_User__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>User</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <description>Call the flow to send an error message to #biztech-backend-system-notifications</description>
        <name>Call_Slack_Message_Fault_Flow</name>
        <label>Call Slack Message Fault Flow</label>
        <locationX>578</locationX>
        <locationY>1175</locationY>
        <flowName>Slack_Message_Fault_Flow</flowName>
        <inputAssignments>
            <name>varCurrentFlowAction</name>
            <value>
                <elementReference>varCurrentFlowAction</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varFlow_Action_Description</name>
            <value>
                <elementReference>varFlow_Action_Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varObject_Name</name>
            <value>
                <elementReference>varFlow_Action_Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varParent_Flow_Name</name>
            <value>
                <elementReference>varParent_Flow_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varRecordID</name>
            <value>
                <elementReference>varRecordID</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <description>The current flow action that encountered the error.  Created to be sent to the Slack Message Fault Flow.</description>
        <name>varCurrentFlowAction</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>The description of the flow action that encountered the error.  To be sent to the Slack Message Fault Flow</description>
        <name>varFlow_Action_Description</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>The name of the object being updated.   Created to be sent to the Slack Message Fault Flow.</description>
        <name>varObject_Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Name of this flow.  Created to be sent to the Slack Message Fault Flow.</description>
        <name>varParent_Flow_Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Sales Console Auto Assignment</stringValue>
        </value>
    </variables>
    <variables>
        <description>Contains the permission set id of the &quot;Salesforce Console User&quot; permission set.</description>
        <name>varPermissionSetID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>If there is a value then the user already has the Sales Console Permission Set Liccense</description>
        <name>varPermissionSetLicenseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varPermSetAssignmentRecordID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Salesforce ID of the record being updated or the Record that triggered the flow.  Created to be sent to the Slack Message Fault Flow.   This must be populated with a value or the Slack Message Fault flow will error out.</description>
        <name>varRecordID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varSalesConsoleUserPSL</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores a value if the user has the Sales Console Permission Set</description>
        <name>varUserHasPermissionSet</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
