unpackaged/main/default/flows/Case_Payroll_Transfer_SubFlow_Helper.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Payroll_Transfer_Employees_Onboarded_Email_Alert</name>
        <label>Payroll Transfer: Employees Onboarded Email Alert</label>
        <locationX>50</locationX>
        <locationY>590</locationY>
        <actionName>Case.Payroll_Transfer_Employees_Onboarded_Email_Alert</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Assign_Template_Name</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>objCase.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Payroll_Transfer_Employees_Onboarded_Email_Alert</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Payroll_Transfer_Handoff_To_Care_Email_Alert</name>
        <label>Payroll Transfer: Handoff To Care Email Alert</label>
        <locationX>1370</locationX>
        <locationY>590</locationY>
        <actionName>Case.Payroll_Transfer_Handoff_To_Care_Email_Alert</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Copy_5_of_Assign_Template_Name</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>objCase.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Payroll_Transfer_Handoff_To_Care_Email_Alert</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Payroll_Transfer_Handoff_To_Concierge_Email_Alert</name>
        <label>Payroll Transfer: Handoff To Concierge Email Alert</label>
        <locationX>1634</locationX>
        <locationY>590</locationY>
        <actionName>Case.Payroll_Transfer_Handoff_To_Concierge_Email_Alert</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Copy_6_of_Assign_Template_Name</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>objCase.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Payroll_Transfer_Handoff_To_Concierge_Email_Alert</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Payroll_Transfer_Payroll_History_Email_Alert</name>
        <label>Payroll Transfer: Payroll History Email Alert</label>
        <locationX>314</locationX>
        <locationY>590</locationY>
        <actionName>Case.Payroll_Transfer_Payroll_History_Email_Alert</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Copy_1_of_Assign_Template_Name</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>objCase.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Payroll_Transfer_Payroll_History_Email_Alert</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Payroll_Transfer_Post_Risk_Approval_Email_Alert</name>
        <label>Payroll Transfer: Post Risk Approval Email Alert</label>
        <locationX>842</locationX>
        <locationY>590</locationY>
        <actionName>Case.Payroll_Transfer_Post_Risk_Approval_Email_Alert</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Copy_3_of_Assign_Template_Name</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>objCase.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Payroll_Transfer_Post_Risk_Approval_Email_Alert</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Payroll_Transfer_Run_Payroll_Email_Alert</name>
        <label>Payroll Transfer: Run Payroll Email Alert</label>
        <locationX>1106</locationX>
        <locationY>590</locationY>
        <actionName>Case.Payroll_Transfer_Run_Payroll_Email_Alert</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Copy_4_of_Assign_Template_Name</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>objCase.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Payroll_Transfer_Run_Payroll_Email_Alert</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Final_Step_Not_Completed_Notification</name>
        <label>Send Final Step Not Completed Notification</label>
        <locationX>578</locationX>
        <locationY>590</locationY>
        <actionName>Case.Payroll_Transfer_Final_Step_Not_Completed_Email_Alert</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Copy_2_of_Assign_Template_Name</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>objCase.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Payroll_Transfer_Final_Step_Not_Completed_Email_Alert</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Skip_Trigger</name>
        <label>Skip Trigger</label>
        <locationX>710</locationX>
        <locationY>242</locationY>
        <actionName>CaseTriggerHelper</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Payroll_Transfer_Notifications</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Payroll_Transfer_Notifications</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>booleanList</name>
            <value>
                <elementReference>blnSkipTrigger</elementReference>
            </value>
        </inputParameters>
        <nameSegment>CaseTriggerHelper</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Update_Email_Message_Body</name>
        <label>Update Email Message Body</label>
        <locationX>974</locationX>
        <locationY>998</locationY>
        <actionName>EmailMessageTriggerHelper</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>list_Ids</name>
            <value>
                <elementReference>objCase.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>EmailMessageTriggerHelper</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Assign_Template_Name</name>
        <label>Assign Template Name</label>
        <locationX>50</locationX>
        <locationY>698</locationY>
        <assignmentItems>
            <assignToReference>strEmailTemplateName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Payroll_Transfer_Employees_Onboarded</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Email_Message</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assign_Template_Name</name>
        <label>Copy 1 of Assign Template Name</label>
        <locationX>314</locationX>
        <locationY>698</locationY>
        <assignmentItems>
            <assignToReference>strEmailTemplateName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Payroll_Transfer_Payroll_History</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Email_Message</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_2_of_Assign_Template_Name</name>
        <label>Copy 2 of Assign Template Name</label>
        <locationX>578</locationX>
        <locationY>698</locationY>
        <assignmentItems>
            <assignToReference>strEmailTemplateName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Payroll_Transfer_Final_Steps_not_complete</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Email_Message</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_3_of_Assign_Template_Name</name>
        <label>Copy 3 of Assign Template Name</label>
        <locationX>842</locationX>
        <locationY>698</locationY>
        <assignmentItems>
            <assignToReference>strEmailTemplateName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Payroll_Transfer_Post_Risk_Approval</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Email_Message</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_4_of_Assign_Template_Name</name>
        <label>Copy 4 of Assign Template Name</label>
        <locationX>1106</locationX>
        <locationY>698</locationY>
        <assignmentItems>
            <assignToReference>strEmailTemplateName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Payroll_Transfer_Reminder_to_run_payroll_on_run_date</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Email_Message</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_5_of_Assign_Template_Name</name>
        <label>Copy 5 of Assign Template Name</label>
        <locationX>1370</locationX>
        <locationY>698</locationY>
        <assignmentItems>
            <assignToReference>strEmailTemplateName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Payroll_Transfer_Handoff_to_Care</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Email_Message</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_6_of_Assign_Template_Name</name>
        <label>Copy 6 of Assign Template Name</label>
        <locationX>1634</locationX>
        <locationY>698</locationY>
        <assignmentItems>
            <assignToReference>strEmailTemplateName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Payroll_Transfer_Handoff_to_Concierge</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Email_Message</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Payroll_Transfer_Notifications</name>
        <label>Payroll Transfer: Notifications</label>
        <locationX>974</locationX>
        <locationY>482</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Order_Notification_Employee_Onboarded</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>objCase.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Payroll_Transfer_Case</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>objCase.Order_Notification__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Employees Onboarded</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>objCase.Order_Notification__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>objOldCase.Order_Notification__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>objCase.Order_Notification__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Payroll_Transfer_Employees_Onboarded_Email_Alert</targetReference>
            </connector>
            <label>Order Notification: Employee Onboarded</label>
        </rules>
        <rules>
            <name>Order_Notification_Payroll_History</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>objCase.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Payroll_Transfer_Case</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>objCase.Order_Notification__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Payroll History</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>objCase.Order_Notification__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>objOldCase.Order_Notification__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>objCase.Order_Notification__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Payroll_Transfer_Payroll_History_Email_Alert</targetReference>
            </connector>
            <label>Order Notification: Payroll History</label>
        </rules>
        <rules>
            <name>Order_Notification_Final_Step_Not_Completed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>objCase.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Payroll_Transfer_Case</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>objCase.Order_Notification__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Final Step Not Completed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>objCase.Order_Notification__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>objOldCase.Order_Notification__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>objCase.Order_Notification__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Final_Step_Not_Completed_Notification</targetReference>
            </connector>
            <label>Order Notification: Final Step Not Completed</label>
        </rules>
        <rules>
            <name>Order_Notification_Post_Risk_Approval</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>objCase.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Payroll_Transfer_Case</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>objCase.Order_Notification__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Post Risk Approval</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>objCase.Order_Notification__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>objOldCase.Order_Notification__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>objCase.Order_Notification__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Payroll_Transfer_Post_Risk_Approval_Email_Alert</targetReference>
            </connector>
            <label>Order Notification: Post Risk Approval</label>
        </rules>
        <rules>
            <name>Order_Notification_Run_Payroll</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>objCase.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Payroll_Transfer_Case</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>objCase.Order_Notification__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Run Payroll</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>objCase.Order_Notification__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>objOldCase.Order_Notification__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>objCase.Order_Notification__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Payroll_Transfer_Run_Payroll_Email_Alert</targetReference>
            </connector>
            <label>Order Notification: Run Payroll</label>
        </rules>
        <rules>
            <name>Order_Notification_Handoff_To_Care</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>objCase.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Payroll_Transfer_Case</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>objCase.Order_Notification__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Handoff To Care</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>objCase.Order_Notification__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>objOldCase.Order_Notification__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>objCase.Order_Notification__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Payroll_Transfer_Handoff_To_Care_Email_Alert</targetReference>
            </connector>
            <label>Order Notification: Handoff To Care</label>
        </rules>
        <rules>
            <name>Order_Notification_Handoff_to_Concierge</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>objCase.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Payroll_Transfer_Case</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>objCase.Order_Notification__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Handoff To Concierge</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>objCase.Order_Notification__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>objOldCase.Order_Notification__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>objCase.Order_Notification__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Payroll_Transfer_Handoff_To_Concierge_Email_Alert</targetReference>
            </connector>
            <label>Order Notification: Handoff to Concierge</label>
        </rules>
    </decisions>
    <decisions>
        <name>Skip_Case_Trigger</name>
        <label>Skip Case Trigger? (Add Logic above this node)</label>
        <locationX>974</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>Payroll_Transfer_Notifications</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>blnSkipTrigger_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>blnSkipTrigger</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Skip_Trigger</targetReference>
            </connector>
            <label>blnSkipTrigger True</label>
        </rules>
    </decisions>
    <description>- Updated Apex Action to use the correct variable &quot;list_Ids&quot; for apex action</description>
    <environments>Default</environments>
    <interviewLabel>Case Payroll Transfer SubFlow Helper {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case Payroll Transfer SubFlow Helper</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Email_Message</name>
        <label>Create Email Message</label>
        <locationX>974</locationX>
        <locationY>890</locationY>
        <connector>
            <targetReference>Update_Email_Message_Body</targetReference>
        </connector>
        <inputAssignments>
            <field>CcAddress</field>
            <value>
                <elementReference>objCase.CCEmailAddress__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email_Template_Name__c</field>
            <value>
                <elementReference>strEmailTemplateName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>objCase.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>3</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ToAddress</field>
            <value>
                <elementReference>objCase.ContactEmail</elementReference>
            </value>
        </inputAssignments>
        <object>EmailMessage</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <start>
        <locationX>848</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Skip_Case_Trigger</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>Boolean for skipping Case Trigger</description>
        <name>blnSkipTrigger</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>objCase</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>objOldCase</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>strEmailTemplateName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
