unpackaged/main/default/flows/Delete_Not_Selected_Opportunity_Policies.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>doPoliciesExist</name>
        <label>doPoliciesExist</label>
        <locationX>200</locationX>
        <locationY>222</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>policies</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>deletePolicies</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <interviewLabel>Delete Not Selected Policies {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Delete Not Selected Opportunity Policies</label>
    <processType>AutoLaunchedFlow</processType>
    <recordDeletes>
        <name>deletePolicies</name>
        <label>deletePolicies</label>
        <locationX>197</locationX>
        <locationY>368</locationY>
        <inputReference>policies</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>getNotSelectedPolicies</name>
        <label>getNotSelectedPolicies</label>
        <locationX>201</locationX>
        <locationY>88</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>doPoliciesExist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Is_Selected__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>opportunityId</elementReference>
            </value>
        </filters>
        <object>Policy__c</object>
        <outputReference>policies</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <startElementReference>getNotSelectedPolicies</startElementReference>
    <status>Active</status>
    <variables>
        <name>opportunityId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>policies</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Policy__c</objectType>
    </variables>
</Flow>
