unpackaged/main/default/flows/GW_Update_Queue_Names_Upon_Weekly_Rollover_Batch_Process.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Log_New_Name</name>
        <label>Log New Name</label>
        <locationX>270</locationX>
        <locationY>890</locationY>
        <actionName>GradientWorks__LogAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>For_Each_Team</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>flowInterviewGuid</name>
            <value>
                <stringValue>{!$Flow.InterviewGuid}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>level</name>
            <value>
                <numberValue>5.0</numberValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Old Name: {!For_Each_Team.Name}</stringValue>
            </value>
        </inputParameters>
        <nameSegment>GradientWorks__LogAction</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Log_Old_Name</name>
        <label>Log Old Name</label>
        <locationX>270</locationX>
        <locationY>674</locationY>
        <actionName>GradientWorks__LogAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Set_New_Team_Capacity_Name</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>flowInterviewGuid</name>
            <value>
                <stringValue>{!$Flow.InterviewGuid}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>level</name>
            <value>
                <numberValue>5.0</numberValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Old Name: {!For_Each_Team.Name}</stringValue>
            </value>
        </inputParameters>
        <nameSegment>GradientWorks__LogAction</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Run_Next_Batch_on_Next_Index</name>
        <label>Run Next Batch on Next Index</label>
        <locationX>314</locationX>
        <locationY>1514</locationY>
        <actionName>GradientWorks__GWFXExecuteSubflowAction</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>executionDelay</name>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>executionSchedule</name>
            <value>
                <stringValue>scheduled</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>flowApiName</name>
            <value>
                <stringValue>GW_Update_Queue_Names_Upon_Weekly_Rollover_Batch_Process</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>flowInputData</name>
            <value>
                <stringValue>{&quot;Index&quot;:{&quot;value&quot;:&quot;{!Index}&quot;,&quot;dataType&quot;:&quot;Number&quot;}}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>flowInterviewGuid</name>
            <value>
                <stringValue>{!$Flow.InterviewGuid}</stringValue>
            </value>
        </inputParameters>
        <nameSegment>GradientWorks__GWFXExecuteSubflowAction</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>Add_Queue_User_to_List</name>
        <label>Add Queue User to List</label>
        <locationX>138</locationX>
        <locationY>1946</locationY>
        <assignmentItems>
            <assignToReference>Queue_Users_To_Create</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>New_Queue_User</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>For_Each_Queue_User</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Team_Capacity_to_List</name>
        <label>Add Team Capacity to List</label>
        <locationX>138</locationX>
        <locationY>2570</locationY>
        <assignmentItems>
            <assignToReference>Team_Capacities_To_Create</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>New_Team_Capacity</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>For_Each_Team_Capacity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_Team_Capacity_Variable</name>
        <label>Create Team Capacity Variable</label>
        <locationX>50</locationX>
        <locationY>2246</locationY>
        <assignmentItems>
            <assignToReference>New_Team_Capacity.GradientWorks_Queue__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Created_Queue_Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>For_Each_Team_Capacity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Created_Queue_User_Variable</name>
        <label>Created Queue User Variable</label>
        <locationX>50</locationX>
        <locationY>1622</locationY>
        <assignmentItems>
            <assignToReference>New_Queue_User.GradientWorks__Maximum_Capacity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Queue.GradientWorks__User_Maximum_Capacity__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_Queue_User.GradientWorks__Queue__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Created_Queue_Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>For_Each_Queue_User</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Increment_Index</name>
        <label>Increment Index</label>
        <locationX>314</locationX>
        <locationY>1406</locationY>
        <assignmentItems>
            <assignToReference>Index</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Run_Next_Batch_on_Next_Index</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_New_Queue_Name</name>
        <label>Set New Queue Name</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>Queue.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Updated_Queue_Name_f</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Team_Capacity_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_New_Queue_User_Fields</name>
        <label>Set New Queue User Fields</label>
        <locationX>138</locationX>
        <locationY>1838</locationY>
        <assignmentItems>
            <assignToReference>New_Queue_User.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>For_Each_Queue_User.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_Queue_User.GradientWorks__User__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>For_Each_Queue_User.GradientWorks__User__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Queue_User_to_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_New_Team_Capacity_Fields</name>
        <label>Set New Team Capacity Fields</label>
        <locationX>138</locationX>
        <locationY>2462</locationY>
        <assignmentItems>
            <assignToReference>New_Team_Capacity.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>For_Each_Team_Capacity.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_Team_Capacity.Team_Division_Names__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>For_Each_Team_Capacity.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_Team_Capacity.Percent_of_Total_Capacity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>For_Each_Team_Capacity.Percent_of_Total_Capacity__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Team_Capacity_to_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_New_Team_Capacity_Name</name>
        <label>Set New Team Capacity Name</label>
        <locationX>270</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>For_Each_Team.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Updated_Team_Capacity_Name_f</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Team_Capacities_To_Update</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>For_Each_Team</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Log_New_Name</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_Week_51</name>
        <label>Is Week 51?</label>
        <locationX>182</locationX>
        <locationY>1298</locationY>
        <defaultConnector>
            <targetReference>Increment_Index</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>False</defaultConnectorLabel>
        <rules>
            <name>Is_Week_51_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Index</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>51.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Week_52_Queue</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>Queue_Name_Index</name>
        <dataType>String</dataType>
        <expression>&apos;PT - Orders Queue - Week &apos; + TEXT({!Index})</expression>
    </formulas>
    <formulas>
        <name>Team_Capacity_Week_Name</name>
        <dataType>String</dataType>
        <expression>&apos;Week &apos; + TEXT({!Index})</expression>
    </formulas>
    <formulas>
        <name>Updated_Queue_Name_f</name>
        <dataType>String</dataType>
        <expression>&apos;PT - Orders Queue - Week &apos; + {!Week_Suffix_f}</expression>
    </formulas>
    <formulas>
        <name>Updated_Team_Capacity_Name_f</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE({!For_Each_Team.Name}, TEXT({!Index}), {!Week_Suffix_f})</expression>
    </formulas>
    <formulas>
        <name>Week_Suffix_f</name>
        <dataType>String</dataType>
        <expression>IF({!Index} = 0, TEXT({!Get_Current_Index_s_Queue.Order_Assignment_Start_Date__c}) + &apos; - &apos; + TEXT({!Get_Current_Index_s_Queue.Order_Assignment_End_Date__c}) + &apos; - Historical&apos;, TEXT({!Index} - 1))</expression>
    </formulas>
    <interviewLabel>GW - Update Queue Names Upon Weekly Rollover - Batch Process {!$Flow.CurrentDateTime}</interviewLabel>
    <label>GW - Update Queue Names Upon Weekly Rollover - Batch Process</label>
    <loops>
        <name>For_Each_Queue_User</name>
        <label>For Each Queue User</label>
        <locationX>50</locationX>
        <locationY>1730</locationY>
        <collectionReference>Get_Queue_Users_From_Prior_Week</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_New_Queue_User_Fields</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_New_Queue_Users</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>For_Each_Team</name>
        <label>For Each Team</label>
        <locationX>182</locationX>
        <locationY>566</locationY>
        <collectionReference>Get_Team_Capacity_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Log_Old_Name</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Queue</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>For_Each_Team_Capacity</name>
        <label>For Each Team Capacity</label>
        <locationX>50</locationX>
        <locationY>2354</locationY>
        <collectionReference>Get_Team_Capacity_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_New_Team_Capacity_Fields</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Team_Capacities</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_New_Queue_Users</name>
        <label>Create New Queue Users</label>
        <locationX>50</locationX>
        <locationY>2138</locationY>
        <connector>
            <targetReference>Create_Team_Capacity_Variable</targetReference>
        </connector>
        <inputReference>Queue_Users_To_Create</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Team_Capacities</name>
        <label>Create Team Capacities</label>
        <locationX>50</locationX>
        <locationY>2762</locationY>
        <inputReference>Team_Capacities_To_Create</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Week_52_Queue</name>
        <label>Create Week 52 Queue</label>
        <locationX>50</locationX>
        <locationY>1406</locationY>
        <assignRecordIdToReference>Created_Queue_Id</assignRecordIdToReference>
        <connector>
            <targetReference>Get_Queue_Users_From_Prior_Week</targetReference>
        </connector>
        <inputAssignments>
            <field>GradientWorks__Assignment_Field__c</field>
            <value>
                <stringValue>OwnerId</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GradientWorks__Assignment_Policy__c</field>
            <value>
                <stringValue>Adaptive</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GradientWorks__Next_Slot_Index__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GradientWorks__User_Maximum_Capacity__c</field>
            <value>
                <elementReference>Queue.GradientWorks__User_Maximum_Capacity__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>PT - Orders Queue - Week 51</stringValue>
            </value>
        </inputAssignments>
        <object>GradientWorks__Queue__c</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Current_Index_s_Queue</name>
        <label>Get Current Index&apos;s Queue</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Refresh_Queue_Capacities</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Queue_Name_Index</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>GradientWorks__Queue__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Queue_Users_From_Prior_Week</name>
        <label>Get Queue Users From Prior Week</label>
        <locationX>50</locationX>
        <locationY>1514</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Created_Queue_User_Variable</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>GradientWorks__Queue__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Queue.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>GradientWorks__QueueUser__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Team_Capacity_Records</name>
        <label>Get Team Capacity Records</label>
        <locationX>182</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>For_Each_Team</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EndsWith</operator>
            <value>
                <elementReference>Team_Capacity_Week_Name</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>PT_Order_Team_Capacity__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Queue</name>
        <label>Update Queue</label>
        <locationX>182</locationX>
        <locationY>1082</locationY>
        <connector>
            <targetReference>Update_Teams</targetReference>
        </connector>
        <inputReference>Queue</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Teams</name>
        <label>Update Teams</label>
        <locationX>182</locationX>
        <locationY>1190</locationY>
        <connector>
            <targetReference>Is_Week_51</targetReference>
        </connector>
        <inputReference>Team_Capacities_To_Update</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Current_Index_s_Queue</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Refresh_Queue_Capacities</name>
        <label>Refresh Queue Capacities</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <connector>
            <targetReference>Set_New_Queue_Name</targetReference>
        </connector>
        <flowName>GW_PT_Calculate_Queue_User_Capacity</flowName>
        <inputAssignments>
            <name>Queue</name>
            <value>
                <elementReference>Get_Current_Index_s_Queue</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>Queue</assignToReference>
            <name>Queue</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>Created_Queue_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Index</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>New_Queue_User</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>GradientWorks__QueueUser__c</objectType>
    </variables>
    <variables>
        <name>New_Team_Capacity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PT_Order_Team_Capacity__c</objectType>
    </variables>
    <variables>
        <name>Queue</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>GradientWorks__Queue__c</objectType>
    </variables>
    <variables>
        <name>Queue_Users_To_Create</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>GradientWorks__QueueUser__c</objectType>
    </variables>
    <variables>
        <name>Team_Capacities_To_Create</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PT_Order_Team_Capacity__c</objectType>
    </variables>
    <variables>
        <name>Team_Capacities_To_Update</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PT_Order_Team_Capacity__c</objectType>
    </variables>
</Flow>
