unpackaged/main/default/flows/GW_Update_Queue_Names_Upon_Weekly_Rollover_Scheduled.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Launch_Batch_Process</name>
        <label>Launch Batch Process</label>
        <locationX>182</locationX>
        <locationY>660</locationY>
        <actionName>GradientWorks__GWFXExecuteSubflowAction</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>executionDelay</name>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>executionSchedule</name>
            <value>
                <stringValue>scheduled</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>flowApiName</name>
            <value>
                <stringValue>GW_Update_Queue_Names_Upon_Weekly_Rollover_Batch_Process</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>flowInputData</name>
            <value>
                <stringValue>{&quot;Index&quot;:{&quot;value&quot;:&quot;0&quot;,&quot;dataType&quot;:&quot;String&quot;}}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>flowInterviewGuid</name>
            <value>
                <stringValue>{!$Flow.InterviewGuid}</stringValue>
            </value>
        </inputParameters>
        <nameSegment>GradientWorks__GWFXExecuteSubflowAction</nameSegment>
        <offset>0</offset>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <decisions>
        <name>Has_Queues_to_Delete</name>
        <label>Has Queues to Delete?</label>
        <locationX>182</locationX>
        <locationY>360</locationY>
        <defaultConnector>
            <targetReference>Launch_Batch_Process</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>False</defaultConnectorLabel>
        <rules>
            <name>Has_Queues_to_Delete_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Historical_Queues_Over_1_Year_Old</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Historical_Queues_Over_1_Year_Old</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>X1_Year_Ago</name>
        <dataType>Date</dataType>
        <expression>TODAY() - 365</expression>
    </formulas>
    <interviewLabel>GW - Update Queue Names Upon Weekly Rollover - Scheduled {!$Flow.CurrentDateTime}</interviewLabel>
    <label>GW - Update Queue Names Upon Weekly Rollover - Scheduled</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordDeletes>
        <name>Delete_Historical_Queues_Over_1_Year_Old</name>
        <label>Delete Historical Queues Over 1 Year Old</label>
        <locationX>50</locationX>
        <locationY>468</locationY>
        <connector>
            <targetReference>Launch_Batch_Process</targetReference>
        </connector>
        <inputReference>Get_Historical_Queues_Over_1_Year_Old</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Get_Historical_Queues_Over_1_Year_Old</name>
        <label>Get Historical Queues Over 1 Year Old</label>
        <locationX>182</locationX>
        <locationY>252</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Has_Queues_to_Delete</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Historical</stringValue>
            </value>
        </filters>
        <filters>
            <field>GradientWorks_Last_Capacity_Calculation__c</field>
            <operator>LessThan</operator>
            <value>
                <elementReference>X1_Year_Ago</elementReference>
            </value>
        </filters>
        <filters>
            <field>GradientWorks_Last_Capacity_Calculation__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>GradientWorks__Queue__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Historical_Queues_Over_1_Year_Old</targetReference>
        </connector>
        <schedule>
            <frequency>Weekly</frequency>
            <startDate>2024-12-28</startDate>
            <startTime>20:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Created_Queue_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Default_Max_Capacity</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>Final_Week_Queue_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>New_Queue_User</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>GradientWorks__QueueUser__c</objectType>
    </variables>
    <variables>
        <name>Queue_Users_to_Create</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>GradientWorks__QueueUser__c</objectType>
    </variables>
    <variables>
        <name>Queues_To_Update</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>GradientWorks__Queue__c</objectType>
    </variables>
    <variables>
        <name>Team_Capacities_To_Update</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PT_Order_Team_Capacity__c</objectType>
    </variables>
</Flow>
