unpackaged/main/default/flows/Order_Trigger_Email_Alerts_Subflow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Order_Advocate_Assignment_Failure_Notification</name>
        <label>Order Advocate Assignment Failure Notification</label>
        <locationX>50</locationX>
        <locationY>1250</locationY>
        <actionName>Order.Payroll_Transfer_Order_Advocate_Assignment_Failure_Notification</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>OrderRec.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Order.Payroll_Transfer_Order_Advocate_Assignment_Failure_Notification</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Order_Facilitator_Assignment_Email_Alert</name>
        <label>Order Facilitator Assignment Email Alert</label>
        <locationX>50</locationX>
        <locationY>950</locationY>
        <actionName>Order.Payroll_Trasnfer_Order_Facilitator_Assignment_Email_Alert</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Payroll_Transfer_Advocate_Assignment_Failure_Notification_Check</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>OrderRec.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Order.Payroll_Trasnfer_Order_Facilitator_Assignment_Email_Alert</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <description>Submit Single Order Migration Approval.</description>
        <name>Submit_Order_for_Approval</name>
        <label>Submit Order for Approval</label>
        <locationX>50</locationX>
        <locationY>650</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <connector>
            <targetReference>Payroll_Transfer_Facilitator_Assignment_Notification_Check</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>OrderRec.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <elementReference>varOrderApprovalProcessName</elementReference>
            </value>
        </inputParameters>
        <nameSegment>submit</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <decisions>
        <description>Check criteria for sending intro emails.</description>
        <name>Check_Intro_Email_Criteria</name>
        <label>Check Intro Email Criteria</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>Check_Order_Criteria_for_Approval_Submission</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Ownership_changed_from_Queue_to_User</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OrderRec.OwnerId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>OrderRecOld.OwnerId</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>OrderRecOld.OwnerId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.PT_Company_Migration_Unassigned_Queue</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>OrderRec.Bulk_Migration__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Call_Intro_Emails_Subflow</targetReference>
            </connector>
            <label>Ownership changed from Queue to User</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Order_Criteria_for_Approval_Submission</name>
        <label>Check Order Criteria for Approval Submission</label>
        <locationX>182</locationX>
        <locationY>434</locationY>
        <defaultConnector>
            <targetReference>Payroll_Transfer_Facilitator_Assignment_Notification_Check</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Status_is_changed_to_Sales_Submitted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OrderRec.Bulk_Migration__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>OrderRec.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sales Submitted</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>OrderRecOld.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Sales Submitted</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Submitted_By_User</targetReference>
            </connector>
            <label>Status is changed to Sales Submitted</label>
        </rules>
    </decisions>
    <decisions>
        <name>Payroll_Transfer_Advocate_Assignment_Failure_Notification_Check</name>
        <label>Payroll Transfer Advocate Assignment Failure Notification Check</label>
        <locationX>182</locationX>
        <locationY>1142</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Advocate_Assignment_Failure_Notification</name>
            <conditionLogic>1 AND 2 AND 3 AND 4 AND NOT(5)</conditionLogic>
            <conditions>
                <leftValueReference>OrderRecOld</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>OrderRec.Bulk_Migration__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>OrderRec.Assignment_Error_Message__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>OrderRec.Assignment_Error_Message__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>OrderRecOld.Assignment_Error_Message__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>OrderRec.OwnerId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>005</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Order_Advocate_Assignment_Failure_Notification</targetReference>
            </connector>
            <label>Advocate Assignment Failure Notification</label>
        </rules>
    </decisions>
    <decisions>
        <name>Payroll_Transfer_Facilitator_Assignment_Notification_Check</name>
        <label>Payroll Transfer Facilitator Assignment Notification Check</label>
        <locationX>182</locationX>
        <locationY>842</locationY>
        <defaultConnector>
            <targetReference>Payroll_Transfer_Advocate_Assignment_Failure_Notification_Check</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Facilitator_Assignment_Notification</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OrderRec.Data_Entry_Assist__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>OrderRecOld.Data_Entry_Assist__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>OrderRec.Bulk_Migration__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Order_Facilitator_Assignment_Email_Alert</targetReference>
            </connector>
            <label>Facilitator Assignment Notification</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Order Trigger Email Alerts Subflow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Order Trigger Email Alerts Subflow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <description>Update approval submitted by user details.</description>
        <name>Update_Submitted_By_User</name>
        <label>Update Submitted By User</label>
        <locationX>50</locationX>
        <locationY>542</locationY>
        <connector>
            <targetReference>Submit_Order_for_Approval</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OrderRec.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Approval_Submitted_By__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Order</object>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Intro_Email_Criteria</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <description>Call subflow to send intro emails on order assignment.</description>
        <name>Call_Intro_Emails_Subflow</name>
        <label>Call Intro Emails Subflow</label>
        <locationX>50</locationX>
        <locationY>242</locationY>
        <connector>
            <targetReference>Check_Order_Criteria_for_Approval_Submission</targetReference>
        </connector>
        <flowName>SubFlow_PT_SingleOrder_Intro_Email</flowName>
        <inputAssignments>
            <name>OrderRec</name>
            <value>
                <elementReference>OrderRec</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>OrderRec</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Order</objectType>
    </variables>
    <variables>
        <name>OrderRecOld</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Order</objectType>
    </variables>
    <variables>
        <description>Stores name of Order Approval Process</description>
        <name>varOrderApprovalProcessName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Order_Approval_Process</stringValue>
        </value>
    </variables>
</Flow>
