unpackaged/main/default/flows/Partner_NPS_and_Churn_Notifications_Slack.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Post_Message_To_Partner_NPS_and_Churn_Notifications</name>
        <label>Post Message To Partner NPS and Churn Notifications</label>
        <locationX>534</locationX>
        <locationY>974</locationY>
        <actionName>slackv2__invokePostMessage</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Assign_Send_Company_Suspension_to_Partner_To_False</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>message</name>
            <value>
                <elementReference>slackAccountMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>messageDestinationId</name>
            <value>
                <elementReference>Get_Message_Destination.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>Account_Loop.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>slackv2__invokePostMessage</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>Add_to_List</name>
        <label>Add to List</label>
        <locationX>534</locationX>
        <locationY>1190</locationY>
        <assignmentItems>
            <assignToReference>accountLst</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>accountObj</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Account_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Account_Details</name>
        <label>Assign Account Details</label>
        <locationX>534</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>accountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Account_Loop.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>numberOfActiveEmployee</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Account_Loop.Number_of_Active_Employees__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>partnerOwnerSlackId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Account_Loop.Partner_Owner_Slack_Id__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ZPCompanySuspensionReason</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Account_Loop.ZP_Company_Suspension_Reason__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>partnerAccountName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Account_Loop.Partner_Account_Name__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Slack_Message</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Referred_By</name>
        <label>Assign Referred By</label>
        <locationX>534</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>partnerAccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Account_Loop.Referred_By__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Account_Details</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Send_Company_Suspension_to_Partner_To_False</name>
        <label>Assign Send Company Suspension to Partner To False</label>
        <locationX>534</locationX>
        <locationY>1082</locationY>
        <assignmentItems>
            <assignToReference>accountObj.Send_Company_Suspension_to_Partner__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>accountObj.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Account_Loop.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Slack_Message</name>
        <label>Assign Slack Message</label>
        <locationX>534</locationX>
        <locationY>866</locationY>
        <assignmentItems>
            <assignToReference>slackAccountMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>partnerNPSandChurnNotificationsTemplate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Post_Message_To_Partner_NPS_and_Churn_Notifications</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Sold_By</name>
        <label>Assign Sold By</label>
        <locationX>270</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>partnerAccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Account_Loop.Sold_By__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Account_Details</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Account_Type</name>
        <label>Check Account Type</label>
        <locationX>534</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Assign_Account_Details</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Sold_To</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Account_Loop.Sold_By__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Sold_By</targetReference>
            </connector>
            <label>Is Sold To</label>
        </rules>
        <rules>
            <name>Is_Referred_By</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Account_Loop.Referred_By__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Referred_By</targetReference>
            </connector>
            <label>Is Referred By</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Account_Records</name>
        <label>Has Account Records</label>
        <locationX>182</locationX>
        <locationY>1382</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>accountLst</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Company_Suspension_to_Partner</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>currentURL</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Partner_Server_URL_340}, FIND( &apos;/services&apos;, {!$Api.Partner_Server_URL_340}))</expression>
    </formulas>
    <interviewLabel>Partner NPS and Churn Notifications (Slack) {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Partner NPS and Churn Notifications (Slack)</label>
    <loops>
        <name>Account_Loop</name>
        <label>Account Loop</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <collectionReference>Get_Account</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Account_Type</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Has_Account_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Account</name>
        <label>Get Account</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Account_Loop</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND ( 3 OR 4 )</filterLogic>
        <filters>
            <field>Send_Company_Suspension_to_Partner__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Partner_Account_Name__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>partner</stringValue>
            </value>
        </filters>
        <filters>
            <field>Sold_By__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Referred_By__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>ZP_Company_Suspension_Reason__c</queriedFields>
        <queriedFields>Number_of_Active_Employees__c</queriedFields>
        <queriedFields>Partner_Owner_Slack_Id__c</queriedFields>
        <queriedFields>Send_Company_Suspension_to_Partner__c</queriedFields>
        <queriedFields>Sold_By__c</queriedFields>
        <queriedFields>Referred_By__c</queriedFields>
        <queriedFields>Partner_Account_Name__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Message_Destination</name>
        <label>Get Message Destination</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>slackv2__Channel_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Label.PartnerNPSandChurnNotifications</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>slackv2__Message_Destination__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Send_Company_Suspension_to_Partner</name>
        <label>Send Company Suspension to Partner</label>
        <locationX>50</locationX>
        <locationY>1490</locationY>
        <inputReference>accountLst</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Message_Destination</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <textTemplates>
        <name>partnerNPSandChurnNotificationsTemplate</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;@{!partnerOwnerSlackId}&gt;A new suspension has been submitted: {!currentURL}{!accountId}

Partner Account: {!partnerAccountName} {!currentURL}{!partnerAccountId}

------------------------------------------------------------------------------------

{!ZPCompanySuspensionReason} They had {!numberOfActiveEmployee} Active Employees.</text>
    </textTemplates>
    <variables>
        <name>accountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>accountLst</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>accountObj</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>numberOfActiveEmployee</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>partnerAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>partnerAccountName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>partnerOwnerSlackId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>slackAccountMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ZPCompanySuspensionReason</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
