unpackaged/main/default/flows/Send_NPS_Reminder_7_Days_After_Sent_Date.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_NPS_Reminder</name>
        <label>Send NPS Reminder</label>
        <locationX>308</locationX>
        <locationY>288</locationY>
        <actionName>Contact.NPS_Qualtrics_Survey_Reminder</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Update_Survey_Response</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Contact__r.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Contact.NPS_Qualtrics_Survey_Reminder</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <description>Send Email Alert NPS Reminder 7 Days After Customer Survey Response Record is created</description>
    <interviewLabel>Send NPS Reminder 7 Days After Sent Date {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Send NPS Reminder</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Survey_Response</name>
        <label>Update Survey Response</label>
        <locationX>308</locationX>
        <locationY>408</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Survey_Status__c</field>
            <value>
                <stringValue>Reminder Sent</stringValue>
            </value>
        </inputAssignments>
        <object>Customer_Survey_Response__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>NPS_Survey_Sent_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Contact__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Survey_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Sent</stringValue>
            </value>
        </filters>
        <object>Customer_Survey_Response__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <scheduledPaths>
            <name>Send_Reminder_7_Days_After_Create</name>
            <connector>
                <targetReference>Send_NPS_Reminder</targetReference>
            </connector>
            <label>Send Reminder 7 Days After Create</label>
            <maxBatchSize>50</maxBatchSize>
            <offsetNumber>7</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <timeSource>RecordTriggerEvent</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
