unpackaged/main/default/flows/Slack_Notifications_Cases.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Post_message_0_0</name>
        <label>Post message</label>
        <locationX>402</locationX>
        <locationY>984</locationY>
        <actionName>slackv2__invokePostMessage</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Update_Case</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>message</name>
            <value>
                <elementReference>SpanishMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>messageDestinationId</name>
            <value>
                <elementReference>MessageDestinationId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>slackv2__invokePostMessage</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Post_message_0_0_0_0</name>
        <label>Post message</label>
        <locationX>50</locationX>
        <locationY>984</locationY>
        <actionName>slackv2__invokePostMessage</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>message</name>
            <value>
                <elementReference>Message</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>messageDestinationId</name>
            <value>
                <elementReference>MessageDestinationId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>slackv2__invokePostMessage</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Complete_Case_Slack_Message</name>
        <label>Send Complete Case Slack Message</label>
        <locationX>754</locationX>
        <locationY>984</locationY>
        <actionName>slackv2__invokePostMessage</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>message</name>
            <value>
                <elementReference>Complex_Case_Message</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>messageDestinationId</name>
            <value>
                <elementReference>MessageDestinationId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>slackv2__invokePostMessage</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Customer_Care_Escalations_Message</name>
        <label>Send Customer Care Escalations Message</label>
        <locationX>1106</locationX>
        <locationY>1344</locationY>
        <actionName>slackv2__invokePostMessage</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>message</name>
            <value>
                <elementReference>CustomerCareEscalationsMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>messageDestinationId</name>
            <value>
                <elementReference>MessageDestinationId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>slackv2__invokePostMessage</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Gustie_Escalations_Message</name>
        <label>Send Gustie Escalations Message</label>
        <locationX>1458</locationX>
        <locationY>1344</locationY>
        <actionName>slackv2__invokePostMessage</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>message</name>
            <value>
                <elementReference>CustomerCareEscalationsMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>messageDestinationId</name>
            <value>
                <elementReference>MessageDestinationId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>slackv2__invokePostMessage</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Assign_Gustie_Escalations_Message_Destination_Id</name>
        <label>Assign Gustie Escalations Message Destination Id</label>
        <locationX>1546</locationX>
        <locationY>1128</locationY>
        <assignmentItems>
            <assignToReference>MessageDestinationId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Gustie_Escalation_Loop.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Gustie_Escalation_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Message_Desitination_Ids</name>
        <label>Assign Message Desitination Ids</label>
        <locationX>138</locationX>
        <locationY>768</locationY>
        <assignmentItems>
            <assignToReference>MessageDestinationId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_to_find_id.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_to_find_id</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Message_Desitination_Ids_0</name>
        <label>Assign Message Desitination Ids</label>
        <locationX>490</locationX>
        <locationY>768</locationY>
        <assignmentItems>
            <assignToReference>MessageDestinationId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_to_find_id_0.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_to_find_id_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Message_Desitination_Ids_0_0</name>
        <label>Assign Message Desitination Ids</label>
        <locationX>842</locationX>
        <locationY>768</locationY>
        <assignmentItems>
            <assignToReference>MessageDestinationId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Complex_Case_loop.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Complex_Case_loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Message_Destination_Ids_Customer_Care_Escalations</name>
        <label>Assign Message Destination Ids - Customer Care Escalations</label>
        <locationX>1194</locationX>
        <locationY>1128</locationY>
        <assignmentItems>
            <assignToReference>MessageDestinationId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Customer_Care_Escalations_Loop.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Customer_Care_Escalations_Loop</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>Get_complex_case_slack_channel</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Get complex case slack channel</label>
        <locationX>754</locationX>
        <locationY>528</locationY>
        <assignNextValueToReference>currentItem_Get_complex_case_slack_channel</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Salesforce_Message_Destination</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Get_complex_case_slack_channel.Name</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>Complex Case Slack Channel</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Complex_Case_loop</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Get_Customer_Care_Escalations_Slack_Channel</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Get Customer Care Escalations Slack Channel</label>
        <locationX>1106</locationX>
        <locationY>888</locationY>
        <assignNextValueToReference>currentItem_Get_Customer_Care_Escalations_Slack_Channel</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Salesforce_Message_Destination</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Get_Customer_Care_Escalations_Slack_Channel.Name</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>Customer Care Escalations</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Customer_Care_Escalations_Loop</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Get_Gustie_Escalation_Slack_Channel</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Get Gustie Escalation Slack Channel</label>
        <locationX>1458</locationX>
        <locationY>888</locationY>
        <assignNextValueToReference>currentItem_Get_Gustie_Escalation_Slack_Channel</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Salesforce_Message_Destination</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Get_Gustie_Escalation_Slack_Channel.Name</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>Engagement Gustie Escalations</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Gustie_Escalation_Loop</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Get_solved_tax_res_case</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Get #solved tax res case</label>
        <locationX>50</locationX>
        <locationY>528</locationY>
        <assignNextValueToReference>currentItem_Get_complex_case_slack_channel</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Salesforce_Message_Destination</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Get_complex_case_slack_channel.Name</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>Solved Tax Res Cases</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Loop_to_find_id</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Get_spanish_swat_team</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Get #spanish_swat_team</label>
        <locationX>402</locationX>
        <locationY>528</locationY>
        <assignNextValueToReference>currentItem_Get_complex_case_slack_channel</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Salesforce_Message_Destination</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Get_complex_case_slack_channel.Name</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>spanish_swat_team</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Loop_to_find_id_0</targetReference>
        </connector>
    </collectionProcessors>
    <constants>
        <name>NonEnglishPreferredQueue</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Non_English_Preferred</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Notification_for_Tax_Res</name>
        <label>Notification for Tax Res/Benefit Care/Payroll Care</label>
        <locationX>886</locationX>
        <locationY>408</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Post_Notification_for_Tax_Res</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Record_Type_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Tax Res</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Confirm_Case_Reason__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>IRS/State Notice</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Root_Cause__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Client</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Solved</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_solved_tax_res_case</targetReference>
            </connector>
            <label>Post Notification for Tax Res</label>
        </rules>
        <rules>
            <name>Post_Notifications_for_BenefitCare_PayrollCare</name>
            <conditionLogic>(1 OR 2) AND 3 AND 4 and 5</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Record_Type_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Benefits Care</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Record_Type_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Payroll Care</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Slack_Notification_Sent__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SuppliedEmail</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>brandon.scott@gusto.com</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Owner:Group.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>NonEnglishPreferredQueue</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_spanish_swat_team</targetReference>
            </connector>
            <label>Post Notifications for Benefit Care/Payroll Care</label>
        </rules>
        <rules>
            <name>Complex_Case</name>
            <conditionLogic>1 AND 2 AND 3 AND (4 OR 5)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Handle_Time_Seconds_New__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>5400.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Solved</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Payroll Care</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Benefits Care</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_complex_case_slack_channel</targetReference>
            </connector>
            <label>Complex Case</label>
        </rules>
        <rules>
            <name>Escalation_Origin</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Escalation</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Owner:Group.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Core &amp; Complete Escalations</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Owner:Group.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Dedicated Support Escalations</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Captain_Permission_Set</targetReference>
            </connector>
            <label>Escalation Origin</label>
        </rules>
    </decisions>
    <decisions>
        <name>Post_Slack_Notification</name>
        <label>Post Slack Notification?</label>
        <locationX>1282</locationX>
        <locationY>768</locationY>
        <defaultConnector>
            <targetReference>Get_Gustie_Escalation_Slack_Channel</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>User_is_Vendor_Captain</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Captain_Permission_Set_Assignments</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$User.Vendor__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Customer_Care_Escalations_Slack_Channel</targetReference>
            </connector>
            <label>User is Vendor/Captain</label>
        </rules>
    </decisions>
    <description>case escalations added</description>
    <environments>Default</environments>
    <formulas>
        <name>Handle_Time_In_Minutes</name>
        <dataType>Number</dataType>
        <expression>{!$Record.Handle_Time_Seconds_New__c}/60</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Slack Notifications - Cases {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Slack Notifications - Cases</label>
    <loops>
        <name>Complex_Case_loop</name>
        <label>Complex Case loop</label>
        <locationX>754</locationX>
        <locationY>648</locationY>
        <collectionReference>Get_complex_case_slack_channel</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Message_Desitination_Ids_0_0</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Send_Complete_Case_Slack_Message</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Customer_Care_Escalations_Loop</name>
        <label>Customer Care Escalations Loop</label>
        <locationX>1106</locationX>
        <locationY>1008</locationY>
        <collectionReference>Get_Customer_Care_Escalations_Slack_Channel</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Message_Destination_Ids_Customer_Care_Escalations</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Send_Customer_Care_Escalations_Message</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Gustie_Escalation_Loop</name>
        <label>Gustie Escalation Loop</label>
        <locationX>1458</locationX>
        <locationY>1008</locationY>
        <collectionReference>Get_Gustie_Escalation_Slack_Channel</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Gustie_Escalations_Message_Destination_Id</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Send_Gustie_Escalations_Message</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_to_find_id</name>
        <label>Loop to find id</label>
        <locationX>50</locationX>
        <locationY>648</locationY>
        <collectionReference>Get_solved_tax_res_case</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Message_Desitination_Ids</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Post_message_0_0_0_0</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_to_find_id_0</name>
        <label>Loop to find id_0</label>
        <locationX>402</locationX>
        <locationY>648</locationY>
        <collectionReference>Get_spanish_swat_team</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Message_Desitination_Ids_0</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Post_message_0_0</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Captain_Permission_Set</name>
        <label>Get Captain Permission Set</label>
        <locationX>1282</locationX>
        <locationY>528</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Captain_Permission_Set_Assignments</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Engagement_Captain</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PermissionSet</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Captain_Permission_Set_Assignments</name>
        <label>Get Captain Permission Set Assignments</label>
        <locationX>1282</locationX>
        <locationY>648</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Post_Slack_Notification</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AssigneeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>PermissionSetId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Captain_Permission_Set.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PermissionSetAssignment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Salesforce_Message_Destination</name>
        <label>Get Salesforce Message Destination</label>
        <locationX>886</locationX>
        <locationY>288</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Notification_for_Tax_Res</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>slackv2__Message_Destination__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Case</name>
        <label>Update Case</label>
        <locationX>402</locationX>
        <locationY>1104</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Slack_Notification_Sent__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Non_English_Preferred_Language__c</field>
            <value>
                <stringValue>Spanish</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Slack_Notification_Sent__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>166</locationX>
        <locationY>0</locationY>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>(1 AND 2 AND 3 and 9) OR ((4 OR 5) AND 6 AND 7 AND 8) OR (10 AND 11 AND 12 AND (4 OR 5)) OR (13 AND (4 OR 5))</filterLogic>
        <filters>
            <field>Confirm_Case_Reason__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>State Notice</stringValue>
            </value>
        </filters>
        <filters>
            <field>Root_Cause__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Client</stringValue>
            </value>
        </filters>
        <filters>
            <field>Record_Type_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Tax Res</stringValue>
            </value>
        </filters>
        <filters>
            <field>Record_Type_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Benefits Care</stringValue>
            </value>
        </filters>
        <filters>
            <field>Record_Type_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Payroll Care</stringValue>
            </value>
        </filters>
        <filters>
            <field>Slack_Notification_Sent__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>OwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>00G1M000005u3eA</stringValue>
            </value>
        </filters>
        <filters>
            <field>SuppliedEmail</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>brandon.scott@gusto.com</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Solved</stringValue>
            </value>
        </filters>
        <filters>
            <field>Handle_Time_Seconds_New__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <numberValue>5400.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Solved</stringValue>
            </value>
        </filters>
        <filters>
            <field>Origin</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Escalation</stringValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>Get_Salesforce_Message_Destination</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>Complex_Case_Message</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Confirm Case Reason: {!$Record.Confirm_Case_Reason__c}
AHT (minutes): {!Handle_Time_In_Minutes}
Number of EEs: {!$Record.Account.NumberOfEmployees}
Case Owner Role: {!$Record.Case_Owner_Role__c}</text>
    </textTemplates>
    <textTemplates>
        <name>CustomerCareEscalationsMessage</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>New Escalation Case created:
Created By: {!$Record.CreatedBy.FirstName} {!$Record.CreatedBy.LastName}</text>
    </textTemplates>
    <textTemplates>
        <name>Message</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Sub Root Cause: {!$Record.Sub_Root_Cause__c}
Agency Information: {!$Record.Agency_Information__r.Name}
Company Name: {!$Record.Account.Name}
Number of Employees: {!$Record.Account.NumberOfEmployees}
First Month Payroll: {!$Record.Account.Joined_Date_Panda__c}</text>
    </textTemplates>
    <textTemplates>
        <name>SpanishMessage</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>*Spanish Case Created:  {!$Record.CaseNumber} @here *
Subject: {!$Record.Subject}
Case Record Type: {!$Record.RecordType.Name}
Routing Case Reason: {!$Record.Routing_Case_Reason__c}</text>
    </textTemplates>
    <variables>
        <name>currentItem_Get_complex_case_slack_channel</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>slackv2__Message_Destination__c</objectType>
    </variables>
    <variables>
        <name>currentItem_Get_Customer_Care_Escalations_Channel</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>slackv2__Message_Destination__c</objectType>
    </variables>
    <variables>
        <name>currentItem_Get_Customer_Care_Escalations_Channel_0</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>slackv2__Message_Destination__c</objectType>
    </variables>
    <variables>
        <name>currentItem_Get_Customer_Care_Escalations_Slack_Channel</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>slackv2__Message_Destination__c</objectType>
    </variables>
    <variables>
        <name>currentItem_Get_Gustie_Escalation_Slack_Channel</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>slackv2__Message_Destination__c</objectType>
    </variables>
    <variables>
        <name>MessageDestinationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
